#lista{position:relative ;width:250px; background-color:#EAEAEA; color:#000000; border:1px dotted; border-color:#000000; z-index:1;	display:none;
margin:0px 0px 0px 0px;}
.resaltado{background-color:#FFFFFF;color:#000000;cursor:pointer;}
.normal{background-color:#EAEAEA;color:#000000;}