#TituloPlomo
{
   COLOR: #010356;
    FONT-FAMILY: Arial, Helvetica, Sans-Serif;
    FONT-SIZE: 12pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    TEXT-TRANSFORM: none
}

#TituloPlomoGRL
{
    COLOR: #034500;
    FONT-FAMILY: Arial, Helvetica, Sans-Serif;
    FONT-SIZE: 12pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    TEXT-TRANSFORM: none
}
#Layer1 {
    position:absolute;
	left:16px;
	top:150px;
	width:788px;
	height:212px;
	z-index:0;
}


#Layer3 {
    padding-top: 30px;
    padding-left: 20px;
	left:30px;
	width:439px;
	height:62px;
	z-index:0;
    
}

#Layer2 {	
    position:absolute;
	left:831px;
	top:55px;
	width:132px;
	height:116px;
	z-index:0;
}
#subtitulo
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 12pt;
}


