body {
	background-image: url(../img/fnr13.png);
	margin: 0px;
	padding: 0px;
	font-family: 'Alef', sans-serif;
	
}
#logo {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}
#container {
	margin-top: 10px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
fieldset {
	border: solid darkred;
}
legend {
	font-size: 22px;
	color: darkred;
	font-weight: 900;
}
label {
	display: block;
	font-weight: 700;
	font-size: 14px;
}
input[type=text], textarea, select {
	width: 460px;
	height: 30px;
	border: 1px darkred solid;
	font-family: 'Alef', sans-serif;
	font-weight: 700;
}
textarea {
	height: 60px;
}
#boton {
	width: 460px;
	height: 45px;
	background-color: darkred;
	border: 1px solid;
	color: #FFF;
	font-family: 'Alef', sans-serif;
	font-size: large;
	font-weight: 700;
}/* CSS Document */
#loading, #pdf {width: 450px; height: 250px;font-family: 'Alef', sans-serif; font-weight:700; text-align:center;  padding-top:150px; display:none; margin-left:auto; margin-right:auto; }


