
#menuh {
        font: 80%  Arial, Helvetica, sans-serif;
        margin-top: 0px;
        margin-bottom: 50px;
         width:100%;
       
}
#menuh ul, li {
        list-style-type: none;
         padding: 1px;
/*         border: 1px solid #ACCFE8;*/
}
#menuh ul {
        margin: 0;
        padding: 0px;
}
#menuh li {
       float: left;
}
#menuh a {
        text-decoration: none;
        color: #0F169C;
        background: #D3D5FE;
        display: block;
        padding: 3px 10px;
        text-align: center;
        border: 1px solid #ACCFE8;
        border-width: 1px 1px 1px 0;
        border-radius: 5px;
        
}

#menuh a#primero {
        border-left: 1px solid #ACCFE8;
        background: #010356;
        color: #FFF;
        
}

#menuh a:hover {
        background: #F1F2FF;
}
