/*#container {
margin-left: 660px;
margin-top: 193px;
float:rigth;
width: 405px;
height: 510px;

}*/

#widget li {
background-repeat: no-repeat;
clear: left;
overflow: hidden;
position: relative;
top: 0px;
padding-left: 15px;
padding-bottom: 1em;
font-family: Arial;  
height: auto; /* Change this to fit your needs. The plugin will access this value if you don't pass a parameter in when you call it. */
}
#widget {
    
overflow: auto;
background: #FFF;
padding: 5px;
border: 1px solid #ccc;
height: 292px; /* You should adjust this height for your project. */
float: rigth;
/*min-width: 257px;*/
width: 395px;
/*-moz-border-radius-bottomright: 2px;*/
}


#container  #titulo {
    font-weight: bold;
    border: 1px solid #ccc;
    background: #D70000;
     /*background-color: #292929;*/
     margin: 0px;
     margin-top: 24px;
     color: white;
     width: 400px;
     height: 30px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16px;
     padding-top: 5px;
     padding-left: 5px;
}
#container  #tituloGRL {
    font-weight: bold;
    border: 1px solid #ccc;
    background: #99cc33;
     /*background-color: #292929;*/
     margin: 0px;
     margin-top: 24px;
     color: white;
     width: 400px;
     height: 30px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16px;
     padding-top: 5px;
     padding-left: 5px;
}


ul, li, h4 {
margin: 0; padding: 0;
list-style: none;
}

a {
text-decoration: none;
color: #292929;
}

a:hover {
/*text-decoration: underline;*/
}

small {
color: gray;
font-weight: normal;
font-size: 11px;
display: block;
}


#bienvenido {
  font-size: 12px;
  font-weight: normal;
  color: #000;
  font-family: Arial;  
}



h4 {
padding-top: .3em;
font-size: x-small;
font-weight: normal;
}

.titulo {
    
  text-transform: uppercase;
  font-size: x-small;
  font-weight: bold;
  color: #010356;
  font-family: Arial;  
}

li p {
color: #474747;
margin-top: .0em;
}