body {
 /*background-color: #E2F47C;*/
 font-family: Arial;
}
#global {
 width:100%; height:800px;
 margin: 0 auto 0 auto;
 /*background-color: #ffbbbb;*/
}
#cabecera {
 width:100%;
 margin: 10 auto 0 10;
/* background-color: #B40068;*/
}
#navegacion {
 position: absolute;
 width:100%;
 margin: 10 auto 10 10;
/* background-color: #B4CD00;*/
}
#principal {
 width:720;
 margin: 60 auto 0 10;
/* background-color: #ffCD68;*/
 float: left;
}

#principal_1 {
 width:720;
 margin: 60 auto 0 10;
/* background-color: #ffCD68;*/
 float: left;
}
.anuncios1 {
 width:auto;
 margin: 60 auto 0 auto;
/* background-color: #B4ff68;*/
 float: left;
}
#pie {
 width:100%;
 margin: 0 auto 0 auto;
 background-color: #B4C355;
 float: left;
}

.Estilo4 {color: #FFFFFF}
.Estilo5 {
	font-size: x-small;
	color: #FFFFFF;
	font-weight: bold;
}
a:link {
	color: #EF3A41;
}
a:visited {
	color: #EF3A41;
}
a:hover {
	color: #EF3A41;
}
a:active {
	color: #EF3A41;
}