body {
 /*background-color: #E2F47C;*/
 font-family: Arial;
}
#global {
 width:100%; height:800px;
 margin: 0 auto 0 auto;
 /*background-color: #ffbbbb;*/
}
#cabecera {
 width:100%;
 margin: 10 auto 0 10;
 padding-top: 20px;
 padding-bottom: 20px;
/* background-color: #B40068;*/
}
#navegacion {
 width:100%;
 margin: 10 auto 10 10;
/* background-color: #B4CD00;*/
}


#navegacion {
        font: 80%  Arial, Helvetica, sans-serif;
        margin-top: 0px;
        margin-bottom: 50px;
         width:100%;
       
}
#navegacion ul, li {
        list-style-type: none;
         padding: 1px;
/*         border: 1px solid #ACCFE8;*/
}
#navegacion ul {
        margin: 0;
        padding: 0px;
}
#navegacion li {
       float: left;
}
#navegacion a {
        text-decoration: none;
        color: #0F169C;
        background: #D3D5FE;
        display: block;
        padding: 3px 10px;
        text-align: center;
        border: 1px solid #ACCFE8;
        border-width: 1px 1px 1px 0;
        border-radius: 5px;
        
}

#navegacion a#primero {
        border-left: 1px solid #ACCFE8;
        background: #010356;
        color: #FFF;
        
}

#navegacion a:hover {
        background: #F1F2FF;
}



#principal {
 width:720;
 margin: 0 auto 0 10;
/* background-color: #ffCD68;*/
 float: left;
}
.anuncios1 {
 width:auto;
 margin: 0 auto 0 auto;
/* background-color: #B4ff68;*/
 float: left;
}
#pie {
 width:100%;
 margin: 0 auto 0 auto;
 padding-top: 20px;
/* background-color: #B4C355;*/
 float: right;
}

.Estilo4 {color: #FFFFFF}
.Estilo5 {
	font-size: x-small;
	color: #FFFFFF;
	font-weight: bold;
}
a:link {
	color: #EF3A41;
}
a:visited {
	color: #EF3A41;
}
a:hover {
	color: #EF3A41;
}
a:active {
	color: #EF3A41;
}