
body {

    font-family: Arial, Helvetica, sans-serif;
    
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#reconfirme {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    display: none;
    padding-bottom: 2px;
    width: 404px;
}

#resumen {

    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    display: none;
    padding-bottom: 2px;
    width: 604px;
}

#resumen-header {

    border-bottom: 1px solid #FFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 18px 18px 14px;
    font-size: 70%;
}


#reconfirme-header {

    border-bottom: 1px solid #CCCCCC;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 18px 18px 14px;
    font-size: 60%;
}

.modal_close {
    display: block;
    height: 14px;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 14px;
    z-index: 2;
}

#reconfirme-header h2 {
    color: #444444;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 3px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);

}

#reconfirme-header p {
    color: #444444;
    font-size: 1.3em;
    margin: 0;
    text-shadow: none;

}

#reconfirme .txt-fld {
    border-bottom: 1px solid #EEEEEE;
    padding: 14px 20px;
    position: relative;
    text-align: right;
    width: 364px;
    font-size: 60%;
}

#reconfirme .txt-fld label {
    color: #222222;
    display: block;
    float: left;
    font-size: 1.3em;
    padding-top: 8px;
    text-align: left;
    width: 90px;
}

#reconfirme .txt-fld select.good_input {
    background: 236px center #D3D5FE;
}

#reconfirme .txt-fld select {
    background: none repeat scroll 0 0 #F7F7F7;
    border-color: #CCCCCC #E7E6E6 #E7E6E6 #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #222222;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    outline: medium none;
    padding: 8px;
    width: 244px;
}

#reconfirme .btn-fld {
    overflow: hidden;
    padding: 12px 20px 12px 130px;
    width: 254px;
    font-size: 60%;
}

button {
    background: none repeat scroll 0 0 #010356;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    overflow: visible;
    padding: 7px 10px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    width: auto;
}

