#panel {
    float: right;
	background: #FFF;
    width: 270px;
	height: 440px;
	display: none;
	margin: 0 auto;
	padding: 0;

}
.slide {
	margin: 0;
	padding: 0;
}
.btn-slide {

	text-align: center;
	width: 144px;
	height: 5px;
	padding: 0px 0px 0 0;
	margin: 0 auto;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
	color: #000;
	text-decoration: none;
}
.active {
	background-position: right 12px;
}