@charset "utf-8";
/* CSS Document */

body{
 font-family: Arial;
 font-size:12px;
}

p, h1, form, button{border:0; margin:0; padding:0;}

.spacer{clear:both; height:1px;}

/* ----------- Login Form ----------- */
.login{
margin:0 auto;
width:350px;
padding:20px;
margin-top:200px;
background-color:#FFFFFF;

}

/* ----------- stylized ----------- */
#stylized{
 border:solid 3px #CAC4C5;
}

#stylized h1 {
 font-size:14px;
 font-weight:bold;
 font-style: italic;
 margin-bottom:0px;
 margin-top: 0px;
 color:#666666;
}

#stylized p {
 font-size:11px;
 color:#666666;
 margin-bottom:25px;
 border-bottom:solid 1px #010356;
 padding-bottom:15px;
 margin-top: 35px;
}

#stylized p1 {
 position: absolute;
 font-size:11px;
 color:#666666;
 margin-left: 35px;

}

#stylized label{
 font-weight:bold;
 text-align:left;
 width:140px;
 float:left;
}

#cantidad{
 float:left;
 font-size:12px;
 /*padding:4px 2px;*/
 border:solid 1px lightgray;
 width:90px;
 margin:2px 0 10px 10px;
}
#pass{
 float:left;
 font-size:12px;
 /*padding:4px 2px;*/
 border:solid 1px lightgray;
 width:180px;
 margin:2px 0 5px 10px;
}
#rut{
 float:left;
 font-size:12px;
 /*padding:4px 2px;*/
 border:solid 1px lightgray;
 width:180px;
 margin:2px 0 5px 10px;
}
#contrasena{
 float:left;
 font-size:12px;
 /*padding:4px 2px;*/
 border:solid 1px lightgray;
 width:180px;
 margin:2px 0 10px 10px;
}

#stylized button{
 clear:both;
 margin-left:208px;
 width:125px;
 height:31px;
 background:#AF1517;
 text-align:center;
 line-height:31px;
 color:#FFFFFF;
 font-size:11px;
 font-weight:bold;
}

.button2{
 clear:both;
 margin-left:208px;
 width:125px;
 height:31px;
 background:#17028E;
 text-align:center;
 line-height:31px;
 color:#FFFFFF;
 font-size:11px;
 font-weight:bold;
}

.logo{
 float: left;
 position: absolute;
 margin:0px 0 10px 280px;

}