
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:84px;
	width:407px;
	height:91px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:24px;
	width:180px;
	height:62px;
	z-index:14;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso Producto</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
<script type="text/JavaScript">

function Popup()
{
 miPopup = window.open("../PHP/Ingreso_Ubicacion.php","miwin","top=200,left=350,width=550,height=200,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	
}
function Refrescar()
{
document.form1.submit();
}

function cerrar()
{
window.close();
}

function Aceptar()
{
document.form1.enviar.value='1';
document.form1.submit();
}


</script>
</head>

<body>
<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="393" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2" class='celdalazul'>Tarjetas a Activar</td>
		<tr>
		<td width='158' class='celdalazul'>ID Tarjeta  </td> <td width='345' class='celdalCELEST'><label><input name='ID0' type='text' class='seleccionTurist_180' value="{ID}" maxlength="12" readonly="" >
		</label></td>
		</tr>
      </tr>
      <tr>
        {FILAS}
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><label>
          <input type="hidden" name="enviar">
        </label></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><span class="celdalCELEST">
          <input name="Submit" type="button" class="BotonTurist_Celest" value="Aceptar" onClick="Aceptar()" />
          <label>
          <input name="Submit2" type="submit" class="BotonTurist_Celest" value="Cancelar" onClick="cerrar()">
          </label>
          <label>
          <input name="cantidad" type="hidden" id="cantidad" value="{cantidad}">
          </label>
        </span></td>
      </tr>
    </table>
  </form>
</div>

<div class="TituloPlomo" id="Layer3">
  <table width="200" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td><p><strong>Activacion de  Tarjeta  </strong></p>
      </td>
    </tr>
    
    <tr>
      <td height="22" class="TituloFecha">{fecha}</td>
    </tr>
  </table>
</div>
</body>
</html>
