
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:84px;
	width:903px;
	height:91px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:24px;
	width:389px;
	height:62px;
	z-index:14;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso Producto</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
<script type="text/JavaScript">

function Popup()
{
 miPopup = window.open("../PHP/Ingreso_Ubicacion.php","miwin","top=200,left=350,width=550,height=200,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	
}
function Refrescar()
{
document.form1.submit();
}

function cerrar()
{
window.close();
}

function Aceptar()
{
document.form1.enviar.value='1';
document.form1.submit();
}
function Buscar_Anterior(id,name)
{
alert(id);
document.form1.anterior.value='1';
alert(document.form1.anterior.value);
document.form1.ID_anterior.value=id;
document.form1.name_anterior.value=name;
document.form1.ID_1.value=id;
alert(document.form1.ID_1.value);
document.form1.submit();
}

function Copiar()
{
document.form1.ID_ant1.value=document.form1.ID_1.value;
}

</script>
</head>

<body>
<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="814" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="6" class='celdalazul'>Tarjetas a Activar</td>
	  <tr>
		<td width='122' class='celdalazul'>ID Tarjeta Anterior hjkhjhkjkjkjhkjh </td>
		<td width='131' class='celdalCELEST'><label>
		  <input name="ID0" type="text" class="seleccionTurist_90" id="ID0" value="{ID}" onChange="Buscar_Anterior(this.value,this.name)">
		</label></td>
		<td width='117' class='celdalazul'>ID Tarjeta  </td> <td width='126' class='celdalCELEST'><label>
		  <input name="ID_ant0" type="text" class="seleccionTurist_90" id="ID_ant0" value="{ID_ant}">
		</label></td>
	    <td width='103' class='celdalazul'>Precio</td>
	    <td width='106' class='celdalCELEST'><label>
	      <input name="ID_1" type="text" id="ID_1" value="{ID_1}"  onBlur="Copiar()">
	      <input name="ID_2" type="text" id="ID_2" value="{ID_2}">
	      <input name="ID_3" type="text" id="ID_3" value="{ID_3}">
	      <input name="ID_4" type="text" id="ID_4" value="{ID_4}">
        </label></td>
	  </tr>
      <tr>
        <td>{FILAS}{FILAS2}{FILAS3}{FILAS4}        
        <td>
        
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td width="41">&nbsp;</td>
        <td width="68"><label>
          <input type="hidden" name="enviar">
        </label></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><span class="celdalCELEST">
          <input name="Submit" type="button" class="BotonTurist_Celest" value="Aceptar" onClick="Aceptar()" />
          <input name="Submit2" type="submit" class="BotonTurist_Celest" value="Cancelar" onClick="cerrar()">
        </span></td>
        <td><label>
          <input name="anterior" type="hidden" class="seleccionTurist_80" id="anterior">
		   <input name="name_anterior" type="hidden" id="name_anterior">
		   <input name="ID_anterior" type="hidden" class="seleccionTurist_80" id="anterior">
        </label></td>
        <td><span class="celdalCELEST">
          <label></label>
          <label>
          <input name="cantidad" type="hidden" id="cantidad" value="{cantidad}">
          </label>
        </span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </form>
</div>

<div class="TituloPlomo" id="Layer3">
  <table width="353" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="353"><p><strong>Activaci&oacute;n de  Tarjeta en Turistik </strong>ddd</p>
      </td>
    </tr>
    
    <tr>
      <td height="22" class="TituloFecha">{fecha}</td>
    </tr>
  </table>
</div>
</body>
</html>
