
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:84px;
	width:709px;
	height:91px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:24px;
	width:389px;
	height:62px;
	z-index:14;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso Producto</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
<script type="text/JavaScript">

function Popup()
{
 miPopup = window.open("../PHP/Ingreso_Ubicacion.php","miwin","top=200,left=350,width=550,height=200,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	
}
function Refrescar()
{
document.form1.submit();
}

function cerrar()
{
window.close();
}

function Aceptar()
{
document.form1.enviar.value='1';
document.form1.submit();
}
function Buscar_Actual(id,name)
{
alert(id);
document.form1.actual.value='1';
alert(document.form1.anterior.value);
document.form1.ID_actual.value=id;
//document.form1.ID_1.value=id;
document.form1.submit();
}

function Buscar_Anterior(id,name)
{
alert(id);
document.form1.anterior.value='1';
alert(document.form1.anterior.value);
document.form1.ID_anterior.value=id;
//document.form1.ID_1.value=id;
document.form1.submit();
}

function Copiar()
{
document.form1.ID_ant1.value=document.form1.ID_1.value;
}

</script>
</head>

<body>
<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="687" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="6" class='celdalazul'>Tarjetas a Activar</td>
	  <tr>
		<td width='82' class='celdalazul'>ID Tarjeta </td>
		<td width='134' class='celdalCELEST'><label>
		  <input name="ID0" type="text" class="seleccionTurist_130" id="ID0" value="{ID0}" onChange="Buscar_Actual(this.value,this.name)">
		</label></td>
		<td width='127' class='celdalazul'>ID Tarjeta Anterior </td> 
		<td width='129' class='celdalCELEST'><label>
		  <input name="ID_ant0" type="text" class="seleccionTurist_130" id="ID_ant0" value="{ID_ant0}"  onChange="Buscar_Anterior(this.value,this.name)">
		</label></td>
	    <td width='69' class='celdalazul'>Precio</td>
	    <td width='102' class='celdalCELEST'><label>&nbsp;</label></td>
	  </tr>
	  <tr>
	    <td class='celdalazul'>ID Tarjeta </td>
	    <td class='celdalCELEST'><input name="ID1" type="text" class="seleccionTurist_130" id="ID1" value="{ID1}" onChange="Buscar_Actual(this.value,this.name)" ></td>
	    <td class='celdalazul'>ID Tarjeta Anterior </td>
	    <td class='celdalCELEST'><input name="ID_ant1" type="text" class="seleccionTurist_130" id="ID_ant1" value="{ID_ant1}" onChange="Buscar_Anterior(this.value,this.name)"></td>
	    <td class='celdalazul'>Precio</td>
	    <td class='celdalCELEST'>&nbsp;</td>
      </tr>
	  <tr>
	    <td class='celdalazul'>ID Tarjeta </td>
	    <td class='celdalCELEST'><input name="ID2" type="text" class="seleccionTurist_130" id="ID2" value="{ID2}" onChange="Buscar_Actual(this.value,this.name)"></td>
	    <td class='celdalazul'>ID Tarjeta Anterior </td>
	    <td class='celdalCELEST'><input name="ID_ant2" type="text" class="seleccionTurist_130" id="ID_ant2" value="{ID_ant2}" onChange="Buscar_Anterior(this.value,this.name)"></td>
	    <td class='celdalazul'>Precio</td>
	    <td class='celdalCELEST'>&nbsp;</td>
      </tr>
	  <tr>
	    <td class='celdalazul'>ID Tarjeta </td>
	    <td class='celdalCELEST'><input name="ID3" type="text" class="seleccionTurist_130" id="ID3" value="{ID3}" onChange="Buscar_Actual(this.value,this.name)"></td>
	    <td class='celdalazul'>ID Tarjeta Anterior </td>
	    <td class='celdalCELEST'><input name="ID_ant3" type="text" class="seleccionTurist_130" id="ID_ant3" value="{ID_ant3}" onChange="Buscar_Anterior(this.value,this.name)"></td>
	    <td class='celdalazul'>Precio</td>
	    <td class='celdalCELEST'>&nbsp;</td>
      </tr>
	  <tr>
	    <td class='celdalazul'>ID Tarjeta </td>
	    <td class='celdalCELEST'><input name="ID4" type="text" class="seleccionTurist_130" id="ID4" value="{ID4}" onChange="Buscar_Actual(this.value,this.name)" ></td>
	    <td class='celdalazul'>ID Tarjeta Anterior </td>
	    <td class='celdalCELEST'><input name="ID_ant4" type="text" class="seleccionTurist_130" id="ID_ant4" value="{ID_ant4}" onChange="Buscar_Anterior(this.value,this.name)"></td>
	    <td class='celdalazul'>Precio</td>
	    <td class='celdalCELEST'>&nbsp;</td>
      </tr>
      <tr>
        <td>
        <td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td width="7">&nbsp;</td>
        <td width="37"><label>
          <input type="hidden" name="enviar">
        </label></td>
      </tr>
      <tr>
        <td><span class="celdalCELEST">
          <input name="Submit" type="button" class="BotonTurist_Celest" value="Aceptar" onClick="Aceptar()" />
        </span></td>
        <td><span class="celdalCELEST">
          <input name="Submit2" type="submit" class="BotonTurist_Celest" value="Cancelar" onClick="cerrar()">
        </span></td>
        <td><label>
          <input name="anterior" type="hidden" class="seleccionTurist_80" id="anterior">
		   <input type="hidden" name="actual">
		   <input name="ID_anterior" type="hidden" class="seleccionTurist_80" id="ID_anterior">
		   <input name="ID_actual" type="hidden" class="seleccionTurist_80" id="ID_actual">
        </label></td>
        <td><span class="celdalCELEST">
          <label></label>
          <label>
          <input name="cantidad" type="hidden" id="cantidad" value="{cantidad}">
          </label>
        </span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </form>
</div>

<div class="TituloPlomo" id="Layer3">
  <table width="353" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="353"><p><strong>Activaci&oacute;n de  Tarjeta en Turistik </strong></p>
      </td>
    </tr>
    
    <tr>
      <td height="22" class="TituloFecha">{fecha}</td>
    </tr>
  </table>
</div>
</body>
</html>
