<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:164px;
	width:698px;
	height:72px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:60px;
	width:447px;
	height:62px;
	z-index:14;
}
#Layer4 {
	position:absolute;
	left:16px;
	top:200px;
	width:306px;
	height:74px;
	z-index:21; visibility:hidden;
}
#Layer5 {
	position:absolute;
	left:16px;
	top:235px;
	width:306px;
	height:74px;
	z-index:21;
}
-->
</style>
<script type="text/JavaScript">

function asociar()
{
 miPopup = window.open("../PHP/Asociar_Tipo_Evento.php","miwin","top=200,left=350,width=340,height=260,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	
}
function Eliminar()
{
alert('Esta seguro de desasociar el tipo de evento');
}
function Aceptar()
{
document.form1.escondida2.value=1;
document.form1.submit();
}

</script>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso de Tarjeta</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
</head>

<body>
<br />
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>


<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="496" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td colspan="2" class="celdalazul">Seleccione la Serie </td>
      </tr>
      <tr>
        <td width="142" class="celdalazul">N&uacute;mero de Serie </td>
        <td width="354" class="celdalCELEST"><label>
          <select name="serie" class="seleccionTurist_180" id="serie" {DESHABILIT}>
          <option value="0x">--Seleccionar--</option>
           <!-- START BLOCK : SERIE -->
		  <option value="{SERIE_POS}" {SELECCIONAR}>{SERIE_POS}</option>
		   <!-- END BLOCK : SERIE -->
          </select>
          &nbsp;
          <input name="serie2" type="hidden" class="seleccionTurist_180" id="serie" {SERIE}>
        &nbsp;
        <input name="Submit" type="button" class="BotonTurist_Celest" value="Asociar" onclick="asociar()" />
        <input name="escondida" type="hidden" id="escondida" {ESCONDIDA}/>
		<input name="escondida2" type="hidden" id="escondida2" {ESCONDIDA2}/>
        <input name="perfil" type="hidden" id="perfil" {PERFIL_TABLA}>
        <input name="desc_perfil" type="hidden" id="desc_perfil" value="{desc_perfil}" />
        </label></td>
      </tr>
      
      
      

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </form>
</div>

<div class="TituloPlomo" id="Layer3">
  <table width="435" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/SAGEM.jpg" width="80" height="80" /></td>
      <td width="18">&nbsp;</td>
      <td width="337">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Asignaci&oacute;n de Perfil de POS a N&ordm; Serie</strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>
<div id="{LAYER}">
  <table width="500" border="0" cellspacing="0">
    <tr>
      <td width="447" class="celdalazul">Perfil de POS</td>
    </tr>
    <tr>
      <td class="celdalCELEST">{desc_perfil}</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><input name="Submit2" type="submit" class="BotonTurist_Celest" value="Aceptar" onclick="Aceptar()" /></td>
    </tr>
  </table>
</div>
</body>
</html>
