
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:84px;
	width:300px;
	height:111px;
	z-index:15;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:24px;
	width:180px;
	height:62px;
	z-index:14;
}
#Layer4 {
	position:absolute;
	left:16px;
	top:108px;
	width:285px;
	height:23px;
	z-index:13;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Asociar Servicios</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
<script type="text/JavaScript">

function cancelar()
{
window.close();
}

function Popup()
{
 miPopup = window.open("../PHP/Ingreso_Ubicacion.php","miwin","top=200,left=350,width=550,height=200,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	
}
function Refrescar()
{
	document.form1.submit();
}
function calendario()
{
	miPopup2 = window.open("../PHP/Calendario_FF.php","miwin2","top=200,left=350,width=270,height=230,scrollbars=yes,titlebar=no,location=no");
	miPopup2.focus();	
}
function cerrar()
{
	window.close();
}

function ponPrefijo()
	{
		if((document.form1.cantidad.value==0)|| (document.form1.cantidad.value=='') )
			{
				alert('Tiene que Seleccionar un Servicio');
			}
		else
			{	
				//alert('Servicio Asociado');
				opener.document.form1.escondida.value='1';
				document.form1.escondida2.value='1';
				document.form1.submit();
				window.opener.document.form1.submit();
				alert('Ingresado');
				window.opener.document.form1.submit();
				//	self.close();
			}
	}



var checkboxActivados = '?'; 
var cantidad=0;

function activarValor (check,name,valor) 
{
if(check==true)
	{	
		cantidad=cantidad+1;
		checkboxActivados = checkboxActivados+'/'+valor;	
		document.form1.arreglo.value=checkboxActivados;
		document.form1.cantidad.value=cantidad;
	}
	
else
	{
	    cantidad=cantidad-1;

		checkboxActivados=checkboxActivados.replace(valor,'');
		checkboxActivados=checkboxActivados.replace('//','/');

		/* checkboxActivados = checkboxActivados+','valor;*/
		document.form1.arreglo.value=checkboxActivados;
		document.form1.cantidad.value=cantidad;
	}	
//window.opener.document.form1.submit();
}

function activarValor2 (check,name,valor) 
{
if(check==true)
{
//alert(check);
}

}

</script>
</head>

<body>
<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="285" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2" class="celdalazul">Descripcion
        <label>Servicio</label></td>
      </tr>
      
      <tr>
	    <!-- START BLOCK : tabla -->
        <td width="31" class="celdalCELEST"><label>
        <input type="checkbox" name="check{CODIGO_SERV}" value="{CODIGO_SERV}" onClick="activarValor(this.checked,this.name,this.value)" >
        </label></td>
        <td width="254" class="celdalCELEST"><label>{CODIGO_SERV}-{DESCRIPCION_SERV} 
          
        </label></td>
      </tr>
	    <!-- END BLOCK : tabla -->
      <tr>
        <td>&nbsp;</td>
        <td><span class="celdalCELEST">
          <input name="arreglo" type="hidden" id="arreglo">
          <label>
          <input name="cantidad" type="hidden" id="cantidad">
          </label>
          <label>          </label>
          <input name="escondida2" type="hidden" id="escondida2">
        </span></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><label>
          <input name="Submit" type="button" class="BotonTurist_Celest" value="Aceptar" onClick="ponPrefijo()">
          <input name="Cancelar" type="submit" class="BotonTurist_Celest" id="Cancelar" value="Cancelar" onClick="cancelar()">
        </label></td>
      </tr>
    </table>
  </form>
</div>

<div class="TituloPlomo" id="Layer3">
  <table width="200" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td><p class="TituloPlomo"><strong>Asociar Servicio</strong></p>      </td>
    </tr>
    
    <tr>
      <td height="22" class="TituloFecha">{fecha}</td>
    </tr>
  </table>
</div>
<div id="Layer4">
  <table width="285" border="0" cellpadding="0" cellspacing="0" class="celdalCELEST">
    <tr>
      <td width="285" class="celdalCELEST"><div align="center">No existen Servicios disponibles </div></td>
    </tr>
  </table>
</div>
</body>
</html>
