
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:159px;
	width:580px;
	height:102px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:60px;
	width:578px;
	height:62px;
	z-index:14;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso de Tarjeta</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
<script language="jscript">

function Distribuidor()
{
 miPopup = window.open("../PHP/Ingreso_Cliente.php?flag=1","miwin","top=200,left=350,width=830,height=460,scrollbars=no,titlebar=no,location=no");
 miPopup.focus();	
}


function Aceptar()
{
if(document.form1.folio.value=='')
{
alert('Ingrese el Folio de la Tarjeta, que desea cambiar el estado a Despachada');
return;
}
if(document.form1.folio.value.length!='12')
{
alert('Ingrese el Folio nuevamente, el largo del folio tiene que se 12');
return;
}

	document.form1.guardar.value='1';	
	document.form1.submit();

			
}
function pres_num()
{
	if(event.keyCode!=44)
	{
		if((event.keyCode<48) || (event.keyCode>57))
		{
				event.returnValue = false;
			}		
	}
}	

</script>
</head>

<body>
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>


<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="506" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td width="150" class="celdalazul">Folio Tarjeta </td>
        <td width="356" class="celdalCELEST"><label>
          <input name="folio" type="text" class="seleccionTurist_180" id="folio" onkeypress="pres_num()" maxlength="12" {CANTIDAD}>
          <input name="guardar" type="hidden" id="guardar">
          <input name="consulta" type="hidden" id="consulta">
        </label></td>
      </tr>
      
      

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><div align="right">
          <input name="Submit" type="button" class="BotonTurist_Celest" value="Aceptar" onClick="Aceptar()" >
        </div></td>
        <td><label></label></td>
      </tr>
    </table>
  </form>
</div>

<div class="TituloPlomo" id="Layer3">
  <table width="535" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/tarjeta3.jpg" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="442">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Reiniciar Tarjeta en Estado Activado </strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
</body>
</html>
