<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingresar Tarjetas para Reservar</title>
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:23px;
	top:148px;
	width:495px;
	height:191px;
	z-index:1;
}
-->
</style>
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
</head>
<script type="text/JavaScript">

function Aceptar()
{
if(document.form1.distribuidor.value=='0x')
{
alert('Seleccione el Distribuidor, con el que desea asociar las Tarjetas');
return;
}
document.form1.guardar.value='1';
document.form1.submit();
}
/*
function close()
{
document.form1.cerrar.value='1';
}
*/

function Cancelar_boton()
{
window.opener.document.form1.submit();
window.close();
}
</script>
<body>
<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="482" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="131" class="celdalazul">Distribuidor a Asociar Tarjetas </td>
        <td width="351" class="celdalCELEST"><label>
          <select name="distribuidor" class="seleccionTurist_320" id="distribuidor" onChange="submit()">
            <option value="0x">--Seleccionar--</option>
            <!-- START BLOCK : DISTRIBUIDOR-->
			<option value="{CODIGO_DIST}" {SELECCIONAR}>{NOMBRE_FANTASIA_DIST}</option>
            <!-- END BLOCK : DISTRIBUIDOR-->	
          </select>
        </label></td>
      </tr>
      <tr>
        <td class="celdalazul">Folio Inicial </td>
        <td class="celdalCELEST"><input name="Folio_Inicial" type="text" id="Folio_Inicial" value="{Folio_Inicial}"  />
        <input name="codigo" type="hidden" class="seleccionTurist_90" id="codigo" value="{Distribuidor}" /></td>
      </tr>
      <tr>
        <td class="celdalazul">Folio Final </td>
        <td class="celdalCELEST"><input name="Folio_Final" type="text" id="Folio_Final" value="{Folio_Final}"  />
          <label>
          <input name="guardar" type="hidden" id="guardar" value="{guardar}" />
        </label></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2"><label>
          <input name="Submit" type="button" class="BotonTurist_Celest" value="Aceptar" onclick="Aceptar()" />
        </label>          <label>
          <input name="cancelar" type="hidden" id="cancelar" value="{CANCELAR}" />
          <input name="cerrar" type="hidden" id="cerrar" value="{CERRAR}" />
        </label></td>
      </tr>
    </table>
  </form>
</div>
<div id="Layer2" style="position:absolute; left:27px; top:54px; width:400px; height:82px; z-index:2">
  <div class="TituloPlomo" id="Layer3">
    <table width="381" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="82" rowspan="4"><img src="../Imagenes/101px-Crystal_Clear_kuser280x80.png" width="80" height="80" /></td>
        <td width="13">&nbsp;</td>
        <td width="286">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="TituloPlomo"><strong>Cambio de Distribuidor </strong></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><span class="TituloFecha">{fecha}</span></td>
      </tr>
      <tr>
        <td class="TituloFecha">&nbsp;</td>
        <td height="22" class="TituloFecha">&nbsp;</td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>
