<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Documento sin t&iacute;tulo</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function Aceptar()
{
	if(document.form1.fecha.value=='')
	{
		alert('Ingrese fecha de Inicio de la excursion');
		document.form1.fecha.focus();
		return;
	}
	if(document.form1.fecha_f.value=='')
	{
		alert('Ingrese fecha de Fin de la excursion');
		document.form1.fecha_f.focus();
		return;
	}
document.form1.guardar.value='1';
document.form1.submit();
}

function Agregar()
	{
	document.form1.submit();
	codigo=document.form1.codigo_exc.value;
 	miPopup = window.open("../PHP/Ingreso_capacidad.php?codigo="+codigo,"miwin","top=200,left=350,width=470,height=460,scrollbars=yes,titlebar=no,location=no");
 	miPopup.focus();	
	}
//-->
</script>
<link href="../estilos1.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="Layer2" style="position:absolute; left:8px; top:280px; width:878px; height:180px; z-index:2">
  <table width="836" border="0" cellpadding="0" cellspacing="0">
    <tr class="celdalazul">
      <td class="celdalazul">Nombre Proveedor </td>
      <td class="celdalazul">Vehiculo</td>
      <td class="celdalazul">Capacidad</td>
      <td class="celdalazul"><div align="center" style="cursor:hand " onclick="Agregar()"><strong>[+]</strong></div></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>
<form name="form1" method="post" action="">
<div id="Layer1" style="position:absolute; left:8px; top:125px; width:880px; height:57px; z-index:1">
  <table width="878" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="140" class="celdalazul"><span class="celdalazul">Nombre Excursi&oacute;n</span></td>
      <td colspan="3" class="celdalCELEST"><input name="nombre" type="text" class="seleccionTurist_320" id="nombre" value="{nombre}">
        <span class="celdalazul">
        <input name="codigo_eo" type="text" id="codigo_eo" value="{codigo_eo}">
        <input name="codigo_exc" type="text" id="codigo_exc" value="{codigo_exc}">
</span></td>
    </tr>
    <tr>
      <td height="27" class="celdalazul"><span class="celdalazul">Rango Fecha Inicial </span></td>
      <td width="160" class="celdalCELEST"><input name="fecha" type="text" id="fecha" value="{fecha}">
        <img src="../Imagenes/icono_calendario.gif" width="16" height="15" style="cursor:hand " onclick="Fecha()" /></td>
      <td width="126" class="celdalazul">Rango Fecha Final</td>
      <td width="452" class="celdalCELEST"><input name="fecha_f" type="text" id="fecha_f" value="{fecha_f}">
        <img src="../Imagenes/icono_calendario.gif" width="16" height="15" style="cursor:hand " onclick="Fecha_F()" />
        <input name="guardar" type="text" value="{guardar}"></td>
    </tr>
    <tr>
      <td height="27" >&nbsp;</td>
      <td >&nbsp;</td>
      <td >&nbsp;</td>
      <td >&nbsp;</td>
    </tr>
    <tr>
      <td height="27" >&nbsp;</td>
      <td >&nbsp;</td>
      <td >&nbsp;</td>
      <td ><input name="Submit" type="button" class="BotonTurist_Celest" value="Aceptar" onclick="Aceptar()" {VISIBLE3}></td>
    </tr>
  </table>
</div>

  <div class="TituloPlomo" id="Layer3">
    <table width="482" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="80" rowspan="4"><img src="../Imagenes/foto_camara80x80png.png" width="80" height="80" /></td>
        <td width="13">&nbsp;</td>
        <td width="389">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><strong>Ingresar definici&oacute;n de Excursiones </strong></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><span class="TituloFecha">{fechas}</span></td>
      </tr>
      <tr>
        <td class="TituloFecha">&nbsp;</td>
        <td height="22" class="TituloFecha">&nbsp;</td>
      </tr>
    </table>
  </div>
</form>
</body>
</html>
