<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:2;
}

#Layer1 {
	position:absolute;
	left:17px;
	top:115px;
	width:853px;
	height:102px;
	z-index:1;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:60px;
	width:180px;
	height:62px;
	z-index:0;
}
-->
</style>
<script type="text/JavaScript">
function Imprimir()
{
document.form1.consultar.value='1';
document.form1.submit();
 //miPopup = window.open("../PHP/pdfComprobante.php","miwin","top=200,left=350,width=650,height=650,scrollbars=yes,titlebar=no,location=no");
 //miPopup.focus();	
}
</script>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Activacion de Tarjeta</title>
<style type="text/css">
<!--
#Layer4 {	position:absolute;
	left:692px;
	top:178px;
	width:132px;
	height:116px;
	z-index:7;
}
#Layer5 {	position:absolute;
	left:211px;
	top:105px;
	width:132px;
	height:116px;
	z-index:7;
}
#Layer6 {	position:absolute;
	left:577px;
	top:152px;
	width:132px;
	height:72px;
	z-index:7;
}
.Estilo3 {color: #010356; font-size: 12px;}
.Estilo4 {font-size: 10pt}
.Estilo5 {font-size: 10}
.Estilo6 {font-size: 12px}
.Estilo7 {font-size: 14px}
.Estilo8 {font-size: 10pt; font-weight: bold; }
-->
</style>
</head>

<body>
<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <div align="left"></div>
    <table width="766" border="0" align="center" cellpadding="0" cellspacing="0">
      
      <tr>
        <td colspan="4"><div align="center" class="Estilo3"><strong><br />
          CONFIRMACION DE ACTIVACION </strong><br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div></td>
      </tr>
      <tr>
        <td width="25" rowspan="6" class="celdalCELEST">&nbsp;</td>
        <td colspan="2" class="celdalCELEST">&nbsp;</td>
        <td width="24" rowspan="6" class="celdalCELEST">&nbsp;</td>
      </tr>
      <tr>
        <td width="165" class="celdalazul">Distribuidor</td>
        <td width="552" class="celdalCELEST"><span class="Estilo4"> <span class="Estilo5"> <span class="Estilo6"> <span class="Estilo7"> <span class="Estilo6">
          <label><strong>{DISTRIBUIDOR}&nbsp;</strong></label>
        </span> </span> </span> </span> </span></td>
      </tr>
      <tr>
        <td class="celdalazul">ID de Tarjeta </td>
        <td class="celdalCELEST"><label>{ID}&nbsp;&nbsp;</label></td>
      </tr>
      
      <tr>
        <td class="celdalazul">Pasajero</td>
        <td class="celdalCELEST"><label>{PASAJERO_TAR}&nbsp;</label></td>
      </tr>
      <tr>
        <td class="celdalazul">Precio</td>
        <td class="celdalCELEST"><label>{PRECIO}&nbsp;</label></td>
      </tr>
      
      <tr>
        <td class="celdalazul">Estado </td>
        <td class="celdalCELEST">ACTIVADA&nbsp;</td>
      </tr>
      

      <tr>
        <td colspan="4" class="celdalCELEST"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          <p class="celdalCELEST"><br />
            <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;________________________________  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;________________________________ <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FIRMA CAJERO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FIRMA PASAJERO </p></td>
      </tr>
      
      

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="2"><div align="right"></div>          <label>
        &nbsp;
        <input name="Submit2" type="button" class="BotonTurist_Celest" value="Imprimir" onclick="Imprimir()" />
          <input name="consultar" type="hidden" id="consultar" />
        </label></td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <div align="left"></div>
    <div align="center"></div>
  </form>
</div>

<div class="TituloPlomo" id="Layer3">
  <table width="200" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td><strong>Activaci&oacute;n de Tarjeta </strong></td>
    </tr>
    <tr>
      <td height="22" class="TituloFecha">{fecha}</td>
    </tr>
  </table>
</div>
<div id="Layer5"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
<div id="Layer6">
  <table width="200" border="0" cellpadding="0" cellspacing="0" class="Estilo4">
    <tr>
      <td class="Estilo8">{DISTRIBUIDOR_NOMBRE}</td>
    </tr>
    <tr>
      <td class="Estilo8">{RAZON_SOCIAL_DIST}</td>
    </tr>
    <tr>
      <td class="Estilo4">&nbsp;</td>
    </tr>
  </table>
</div>
</body>
</html>
