<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:160px;
	width:697px;
	height:39px;
	z-index:9;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:60px;
	width:439px;
	height:62px;
	z-index:0;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso Cliente</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
</head>
<script>
function NuevoTipoUsuario()
	{
		miPopup = window.open("../PHP/Mantenedor_TipoUsuario.php?flag=1","cue","top=200,left=400,width=550,height=250,scrollbars=yes,titlebar=no,location=no");
		miPopup.focus();
	}
	
function BuscarMenus()
	{
		//alert(document.form1.tipo_usuario.value);
		if (document.form1.tipo_usuario.value==0)
			{
				alert("Debe Seleccionar el Tipo Usuario que desea asociar el Menu");
				document.form1.tipo_usuario.focus();
				return;
			}
		document.form1.guardar.value=1;
		document.form1.submit();
	}
function AsociarMenu()
	{
		document.form1.guardarmenu.value=1;
		document.form1.submit();
	}

function ModificarNombreMenu(CODIGOMENU)
	{
		//alert(CODIGOMENU);
		miPopup = window.open("../PHP/Modificar_nombre_Menu.php?CODIGOMENU="+CODIGOMENU,"dd","top=200,left=400,width=550,height=250,scrollbars=yes,titlebar=no,location=no");
		miPopup.focus();
	}	
//var checkboxActivados = 0; 
//var cantidad=0;
//function activarValor(check,nombre,valor)
//	{
//		if(check==true)
//			{	
//				cantidad=cantidad+1;
//				checkboxActivados = checkboxActivados+'/'+valor;	
//				document.form1.arreglo.value=checkboxActivados;
//				document.form1.cantidad.value=cantidad;
//			}
//		else
//			{
//		 		cantidad=cantidad-1;
				//alert(checkboxActivados);
//				checkboxActivados=checkboxActivados.replace(valor,'');
//				checkboxActivados=checkboxActivados.replace('//','/');
				//alert(checkboxActivados);
				/* checkboxActivados = checkboxActivados+','valor;*/
//				document.form1.arreglo.value=checkboxActivados;
//				document.form1.cantidad.value=cantidad;
//			}
//	}
function checkAll(is_checked) 
	{
  		for (i=0;i<document.getElementsByName("checksol[]").length;i++) 
			{
    			document.getElementsByName("checksol[]")[i].checked = is_checked;
  			}
	}
</script>
<body> <form id="form1" name="form1" method="post" action="">
<div id="Layer1">
 
    <table width="672" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td width="120" class="celdalazul">Tipo Usuario </td>
        <td width="552" class="celdalCELEST"><label><select name="tipo_usuario" class="seleccionT3"  >
            <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
            <!-- START BLOCK : tipousuario -->
            <option value="{CODIGOTIPOUSAURIO}" class="seleccion2" {SELECCIONAR}>{DESCRIOPCIONTIPOUSAURIO}</option>
            <!-- END BLOCK : tipousuario -->
          </select>
        &nbsp;<img src="../Imagenes/120px-Crystal_Clear_action_build19x19.png" width="19" height="19"  onclick="BuscarMenus()" alt="Buscar Menus" style="cursor:hand"/>&nbsp;&nbsp; <img src="../Imagenes/nuevo.png" width="34" height="11"  onclick="NuevoTipoUsuario()" alt="Nuevo Tipo Usuario" style="cursor:hand"/>
        <input type="hidden" name="guardar" value="0"/>
        </label></td>
      </tr>
    </table>

</div>

<div id="tablageneral" style="position:absolute; left:16px; top:201px; width:695px; height:306px; z-index:3; border:0pt black solid ; overflow:auto">
  <table width="672" border="0" cellspacing="0">
    <tr>
      <td width="96" class="celdalazul">Seleccionar</td>
      <td colspan="2" class="celdalazul">Titulo Menu </td>
      </tr>
    <tr>
      <td colspan="3" class="celdalazul"><input type="checkbox" onClick="checkAll(this.checked);">
        Seleccionar Todos los Menus </td>
      </tr>
	   <!-- START BLOCK : menus -->
    <tr>
      <td class="celdalCELEST">
       
          <input type="checkbox" name="checksol[]" value="{CODIGOMENU}"  {CHECKEADO}  />      </td>
      <td width="548" class="celdalCELEST">&nbsp;{imagenMENU}{DESCRIPCIONMENU}</td>
      <td width="22" class="celdalCELEST"><img src="../Imagenes/modify.gif" width="16" height="16" onclick="ModificarNombreMenu({CODIGOMENU})" alt="Modificar Nombre Menu" style="cursor:hand"  /></td>
    </tr>
   
	<!-- END BLOCK : menus -->
  </table>
  <input type="hidden" name="guardarmenu"  value="0"/>
   <input name="arreglo" type="hidden" id="arreglo">
  <input name="cantidad" type="hidden" id="cantidad">
</div>
<div id="tablageneral" style="position:absolute; left:16px; top:201px; width:697px; height:58px; z-index:3; border:0pt black solid ;">
  <table width="672" border="0" cellspacing="0">
    <tr>
      <td class="celdalazul">Seleccionar Titulo Menu </td>
      </tr>
    <tr>
      <td class="celdalazul"><input type="checkbox" onClick="checkAll(this.checked);">
        Seleccionar Todos los Menus </td>
      </tr>
    </table>
  </div> 
<div class="TituloPlomo" id="Layer3">
  <table width="381" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="82" rowspan="4"><img src="../Imagenes/menu_80x80.png" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="286">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Asociar Men&uacute; </strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<div id="boton" style="position:absolute; left:15px; top:518px; width:101px; height:28px; z-index:3; border:0pt black solid ;">
  <input name="Submit" type="button" class="BotonAzul2" value="Asociar Menu" onclick="AsociarMenu()" />
</div>
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
  </form>
</body>
</html>
