<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:119px;
	width:795px;
	height:180px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:60px;
	width:180px;
	height:62px;
	z-index:14;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso Usuario</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
<script type="text/JavaScript">

function Popup()
{
 miPopup = window.open("../PHP/Ingreso_Ubicacion.php","miwin","top=200,left=350,width=550,height=200,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	
}
</script>
</head>

<body>
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>


<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="788" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="117" class="celdalazul">Usuario </td>
        <td width="269" class="celdalCELEST"><input name="textfield9" type="text" class="seleccionTurist_180" /></td>
        <td width="131" class="celdalazul">Distribucion</td>
        <td width="271" class="celdalCELEST"><label>
          <select name="select4" class="seleccionTurist_250">
            <option>--Seleccionar--</option>
          </select>
        </label></td>
      </tr>
      <tr>
        <td class="celdalazul">Rut Usuario </td>
        <td class="celdalCELEST"><label>
          <input name="textfield" type="text" class="seleccionTurist_180" />
        </label></td>
        <td class="celdalazul">Tipo de Usuario </td>
        <td class="celdalCELEST"><select name="select3" class="seleccionTurist_250">
          <option>--Seleccionar--</option>
                </select></td>
      </tr>
      
      

      
      
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <table width="502" border="0" cellspacing="0">
      
      <tr>
        <td width="232"><input name="Submit" type="submit" class="BotonTurist_Celest" value="Enviar" /></td>
        <td width="205">&nbsp;</td>
        <td width="59">&nbsp;</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </form>
</div>

<div class="TituloPlomo" id="Layer3">
  <table width="200" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td><p><strong>Consultar Usuario </strong><strong></strong></p>
      </td>
    </tr>
    
    <tr>
      <td height="22" class="TituloFecha">{fecha}</td>
    </tr>
  </table>
</div>
<div id="layermenu" style="position:absolute; left:3px; top:2px; width:807px; height:42px; z-index:18; border:0pt black solid;">
  <script language="JavaScript"  src="../Menu/menu.js" type="text/javascript"></script>
  <script language="JavaScript" src="../Menu/menu_items.js" type="text/javascript"></script>
  <script language="JavaScript" src="../Menu/menu_tpl.js" type="text/javascript"></script>
  <script language="JavaScript" type="text/javascript">
	</script>
  <script language="JavaScript" type="text/javascript"><!--//
new menu (MENU_ITEMS, MENU_POS);
</script>
</div>
</body>
</html>
