<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Consulta Emisores</title>
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<script>
function SERVICIOS()
		{	
			location.replace("../PHP/Servicios.php");
		}
function MOVIMIENTOS()
		{	
		location.replace("../PHP/RealizaMov.php");
		}
function ASOCIAR()
		{	
		alert("Seguro de Asociar el Comercio 'nombre' al Emisor 'emisor' ");
		}
function TRANSACCION()
		{	
		location.replace("../PHP/Transaccion.php");
	//	submit();
		}
function CONFIGURACION()
	{	
     	location.replace("../Configuracion/Alarmas.php");
     //		submit();
	}
	
function SubmitFormulario()
{

document.form1.submit();
}

function Paginador(dato)
{
form1.pag.value = dato;
form1.submit();
}
</script>
<style type="text/css">
<!--
a:link {
	color: #000066;
	text-decoration: none;
}
a:visited {
	color: #000066;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #000066;
}
a:active {
	text-decoration: none;
	color: #000066;
}
.Estilo1 {font-weight: bold}
#Layer1 {
	position:absolute;
	left:19px;
	top:463px;
	width:979px;
	height:22px;
	z-index:11;
}
#Layer2 {
	position:absolute;
	left:874px;
	top:3px;
	width:132px;
	height:116px;
	z-index:12;
}
.Estilo2 {font-weight: bold}
.Estilo3 {color: #010356}
-->
</style></head>

<body>

<div id="Layer1">
  <table width="968" border="0" cellspacing="0">
    <tr>
	 <!-- START BLOCK : tablageneral -->
      <td width="159" class="celdalazul">Total</td>
      <td width="805" class="celdalCELEST"><strong>{paginador}&nbsp; </strong></td>
	    <!-- END BLOCK : tablageneral -->  
    </tr>
  </table>
</div>
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
<form id="form1" name="form1" method="post" action="">
<div id="layermenu" style="position:absolute; left:3px; top:2px; width:807px; height:42px; z-index:10; border:0pt black solid;">
<script language="JavaScript"  src="../Menu/menu.js"></script>
<script language="JavaScript" src="../Menu/menu_items.js"></script>
<script language="JavaScript" src="../Menu/menu_tpl.js"></script>
<script language="JavaScript">
	</script>
<script language="JavaScript"><!--//
new menu (MENU_ITEMS, MENU_POS);
</script>	
</div>


<input name="pag" type="hidden" value="" />

<p align="left" class="Estilo2 Titulo Estilo1">
  <label></label>
  </p>
<p align="left" class="Estilo2 Titulo Estilo1">&nbsp;</p>
<p align="left" class="Estilo2 Titulo Estilo1">
<div class="TituloPlomo" id="titulo" style="position:absolute; left:23px; top:60px; width:84px; height:26px; z-index:3; border:0pt black solid;"><strong>Corporaciones</strong></div>
</p>
<div id="fecha" style="position:absolute; left:21px; top:87px; width:84px; height:26px; z-index:3; border:0pt black solid;">
<table width='555' border='0' cellpadding='0' cellspacing='0'>
<tr>
<td width='748' class='textonormal Estilo3'>
{fecha}</td>
</tr>
<tr>
  <td class='textonormal'>&nbsp;</td>
</tr>
</table>
</div>
<div id="tabaluno" style="position:absolute; left:20px; top:126px; width:1034px; height:78px; z-index:3; border:0pt black solid;">
  <table width="964" border="0" cellspacing="0">
    <tr>
      <td width="86" class="celdalazul">Emisor</td>
      <td width="245" class="celdalCELEST"><strong class="celdalceleste">
	  <select name="emisor" class="seleccion2" onchange="SubmitFormulario()">
	  <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
	  <!-- START BLOCK : emisor -->
       <option value="{CODIGO}" class="seleccion2" {SELECCIONAR}>{RSOCIAL}</option>
	   <!-- END BLOCK : emisor -->
	  </select>
	
	 
	 <!-- START BLOCK : modificar -->
		<a href="../PHP/modificar_emisor.php?codigo={CODIGOEMISOR}"></a>&nbsp;
	<!-- END BLOCK : modificar -->
	
	
	
	
	  <a href="../Comercio/modificar_emisor.php">	  </a></td>
      <td width="97" class="celdalazul">Comercio</td>
      <td width="583" class="celdalCELEST">
        <select name="comercio" class="seleccion35" onchange="SubmitFormulario()">
	  <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
	  <!-- START BLOCK : comercio -->
       <option value="{CODIGOCOM}" class="seleccion2" {SELECCIONAR}>{RSOCIALCOM}</option>
	   <!-- END BLOCK : comercio -->
	  </select>	<input name="codigo_comercio" type="hidden" class="seleccionT" value="{CODIGOCOM}"  />
	  <!-- START BLOCK : CODcomercio -->
&nbsp;	  <a href="../PHP/ModificarComercio.php?codigo={CODIGOCOMERCIO}&codigoEmisor={CODIGOEMISOR}"><img src="../imagenes/modify.gif" alt="Modificar Comercio" width="16" height="16" border="0" /></a>	  <label></label></td>
<!-- END BLOCK : CODcomercio -->
    </tr>
    <tr>
      <td colspan="2" class="celdalCELEST"></td>
      <td class="celdalazul">Sucursal</td>
      <td class="celdalCELEST"><strong>
	  
	   <select name="sucursal" class="seleccion35" onchange="SubmitFormulario()" >
	  <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
	  <!-- START BLOCK : sucursal -->
       <option value="{CODSUC}" class="seleccion2" {SELECCIONAR1}>[{CODIGO_SUC_EXTERNO_CRS}]-{RSOCIALSUC}</option>
	   <!-- END BLOCK : sucursal -->
	  </select>
	   &nbsp;
	 
<!-- START BLOCK : CODsucursal -->
<a href="../PHP/ModificarSucursal.php?codigo={CODIGOCOM}&codigoEmisor={CODIGOEMISOR}&codigoSucursal={CODSUC}"><img src="../imagenes/modify.gif" alt="Modificar Sucursal" width="16" height="16" border="0" /></a>
 <!-- END BLOCK : CODsucursal --></td>
    </tr>
    <tr>
      <td colspan="2" class="celdalceleste"></td>
      <td>&nbsp;</td>
      <td><div align="right"><a href="{LINK}"></a></div></td>
    </tr>
  </table>
</div> 
 
 <div id="cerodiv" style="position:absolute; left:19px; top:207px; width:1037px; height:226px; z-index:3; border:0pt black solid;">
  <table width="967" border="0" cellspacing="0">
    <tr>
      <td width="161" class="celdalazul">Nombre Emisor</td>
      <td width="508" class="celdalazul">Nombre Comercio</td>
	  <td width="345" class="celdalazul">Nombre Sucursal</td>
     </tr>
	 
    </table>
  </div>
  
<div id="cerodiv" style="position:absolute; left:20px; top:206px; width:1035px; height:255px; z-index:3; border:0pt black solid; overflow:auto">
  <table width="967" border="0" cellspacing="0">
    <tr>
      <td class="celdalazul">C&oacute;digo - Nombre Emisor</td>
      <td class="celdalazul">C&oacute;digo - Nombre Comercio</td>
	  <td class="celdalazul">Nombre Sucursal</td>
     </tr>
	  <!-- START BLOCK : tablageneral2 -->
	 <tr>
	   <td width='159' class='celdalCELEST'>{COD_EMISORASOCc} - {EMISORASOCc}&nbsp;</td>
	   <td width='511' class='celdalCELEST'>{COD_COMERCIOASOCc} - {COMERCIOASOCc}&nbsp;</td>
	   <td width='343' class='celdalCELEST'>{COD_SUCURSALASOCc} - {SUCURSALASOCc}&nbsp;</td>
	 </tr>
	  <!-- END BLOCK : tablageneral2 -->
    </table>
  </div>
	
  
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</form>
</body>
</html>
