<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Descuentos</title>
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:73px;
	width:398px;
	height:155px;
	z-index:1;
}
-->
</style>
<script type="text/JavaScript">
var checkboxActivados = '0/'; 
var cantidad=0;

function activarValor (check,name,valor) 
	{
		if(check==true)
			{	
				cantidad=cantidad+1;
				//checkboxActivados = checkboxActivados+'/'+valor;	
				checkboxActivados = checkboxActivados+valor+'/';	
				document.form1.arreglo.value=checkboxActivados;
				document.form1.cantidad.value=cantidad;
			}
		else
			{
	    		cantidad=cantidad-1;
				//	alert(checkboxActivados);
				checkboxActivados=checkboxActivados.replace(valor,'');
				checkboxActivados=checkboxActivados.replace('//','/');
				//		alert(checkboxActivados);
				/* checkboxActivados = checkboxActivados+','valor;*/
				document.form1.arreglo.value=checkboxActivados;
				document.form1.cantidad.value=cantidad;
			}	
	}
function cerrar()
	{
		window.close();
		window.opener.document.form1.submit();
	}

function ponPrefijo()
	{
		if((document.form1.cantidad.value==0)|| (document.form1.cantidad.value=='') )
			{
				alert('Tiene que Seleccionar un Descuento');
			}
		else
			{	
				//alert('Servicio Asociado');
				//opener.document.form1.escondida.value='1';
				document.form1.escondida2.value='1';
				opener.document.form1.submit();
				document.form1.submit();
				opener.document.form1.submit();
				window.opener.document.form1.submit();
			}
	}

</script>
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer3 {	position:absolute;
	left:14px;
	top:12px;
	width:402px;
	height:62px;
	z-index:14;
}
-->
</style>
</head>

<body>
 <form id="form1" name="form1" method="post" action="">
<div id="divtabla" style="position:absolute; left:12px; top:91px; width:412px; height:171px; z-index:3; border:0pt black solid; overflow:auto">
 
    <table width="390" border="0" cellpadding="0" cellspacing="0">
      

      <tr>
        <td class="celdalazul">Seleccionar</td>
        <td class="celdalazul">Descripci&oacute;n</td>
      </tr>
      <tr>
	    <!-- START BLOCK : DESCUENTO -->
        <td width="80" class="celdalCELEST"><label>
          <div align="center">
            <input type="checkbox" name="check{CODIGO_DESC}" value="{CODIGO_DESC}" onClick="activarValor(this.checked,this.name,this.value)" />
          </div>
        </label></td>
		
        <td width="310" class="celdalCELEST">{DESCRIPCION_DESC}</td>
      </tr>
      
      
	  <!-- END BLOCK : DESCUENTO -->
    </table>
    <p>
      <label></label>
      <label></label>
    </p>

</div>
<div id="divtabla" style="position:absolute; left:12px; top:91px; width:412px; height:36px; z-index:3; border:0pt black solid;">
<table width="390" border="0" cellpadding="0" cellspacing="0">
      

      <tr>
        <td width="81" class="celdalazul">Seleccionar</td>
        <td width="309" class="celdalazul">Descripci&oacute;n</td>
      </tr>
      <tr>
	  </tr>
    </table>
</div>
<div id="boton" style="position:absolute; left:133px; top:289px; width:167px; height:31px; z-index:3; border:0pt black solid;">
<input name="Submit" type="button" class="BotonTurist_Celest" value="Aceptar" onClick="ponPrefijo()"/>
<input name="Submit2" type="submit" class="BotonTurist_Celest" value="Cancelar" onclick="cerrar()" />
</div>

 <div class="TituloPlomo" id="Layer3">
   <table width="337" border="0" cellpadding="0" cellspacing="0">
     <tr>
       <td width="242"><p>&nbsp;</p></td>
     </tr>
     <tr>
       <td><strong>Descuentos</strong></td>
     </tr>
     <tr>
       <td><span class="TituloFecha">{fecha}</span></td>
     </tr>
     <tr>
       <td height="22" class="TituloFecha"><span class="celdalCELEST">
         <input name="codigo_tabla" type="hidden" value="{codigo_tabla}" />
         <input name="escondida2" type="hidden" id="escondida2" />
         <input name="cantidad" type="hidden" id="cantidad" />
         <input name="arreglo" type="hidden" id="arreglo" />
       </span></td>
     </tr>
   </table>
</div>
 </form>
</body>
</html>
