<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:11px;
	top:149px;
	width:839px;
	height:63px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:12px;
	top:60px;
	width:278px;
	height:62px;
	z-index:14;
}
-->
</style>
<script language="JavaScript" type="text/JavaScript">
<!--
function Fecha()
	{
 		miPopup = window.open("../PHP/Calendario_Consulta_Excursion.php","miwin","top=200,left=350,width=270,height=210,scrollbars=yes,titlebar=no,location=no");
 		miPopup.focus();	
	}
function Fecha_F()
	{
 		miPopup = window.open("../PHP/Calendario_Consulta_Excursion_F.php","miwin","top=200,left=350,width=270,height=210,scrollbars=yes,titlebar=no,location=no");
 		miPopup.focus();	
	}
function consulta()
{
document.form1.consultar.value='1';
document.form1.submit();
}
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso Usuario</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
<script type="text/JavaScript">

function Popup()
{
 miPopup = window.open("../PHP/Ingreso_Ubicacion.php","miwin","top=200,left=350,width=550,height=200,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	
}
</script>
</head>

<body>
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>


<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="799" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="93" class="celdalazul">Hotel</td>
        <td width="307" class="celdalCELEST"><label>
          <select name="hotel" id="hotel" class="seleccionTurist_300" >
            <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
            <!-- START BLOCK : hotel -->
            <option value="{CODIGO_HL}" class="seleccion2" {SELECCIONAR_HL}>{DESCRIPCION_HL}</option>
            <!-- END BLOCK : hotel -->
          </select>
          <input name="consultar" type="hidden" id="consultar" />
        </label></td>
        <td width="107" class="celdalazul">Nacionalidad</td>
        <td width="297" class="celdalCELEST"><select name="nacionalidad" id="nacionalidad" class="seleccionTurist_200" >
            <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
            <!-- START BLOCK : nacionalidad -->
            <option value="{CODIGO_NAC}" class="seleccion2" {SELECCIONAR_NAC}>{PAIS_NAC}</option>
            <!-- END BLOCK : nacionalidad -->
        </select></td>
      </tr>
      <tr>
        <td class="celdalazul">Fecha Inicial </td>
        <td class="celdalCELEST"><input name="fecha" type="text" id="fecha" value="{fecha}" size="10"/>
        <img src="../Imagenes/icono_calendario.gif" width="16" height="15" style="cursor:hand " onclick="Fecha()" />
        <input name="pag" type="hidden" id="pag" /></td>
        <td class="celdalazul">Fecha Final</td>
        <td class="celdalCELEST"><input name="fecha_f" type="text" id="fecha_f" value="{fecha_f}" size="10"/>
          <img src="../Imagenes/icono_calendario.gif" width="16" height="15" style="cursor:hand " onclick="Fecha_F()" /> <img src="../Imagenes/120px-Crystal_Clear_action_build19x19.png" width="19" height="19" onclick="consulta()" style="cursor:hand " /></td>
      </tr>
    </table>
  </form>
</div>

<div class="TituloPlomo" id="Layer3">
  <table width="482" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/IMG_6584.jpg" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="389">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Consulta Hotel Nacionalidad</strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha_com}</span></td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<div id="Layer4" style="position:absolute; left:10px; top:217px; width:959px; height:464px; z-index:15">
  <table width="957" border="0" cellpadding="0" cellspacing="0">
    <tr >
      <td width="51" class="celdalazul_peque">Fecha</td>
      <td class="celdalazul_peque" width="153">Excursi&oacute;n</td>
      <td class="celdalazul_peque" width="111">Hotel</td>
      <td width="73" class="celdalazul_peque">Nacionalidad</td>
      <td class="celdalazul_peque" width="209">Pasajero</td>
      <td width="65" class="celdalazul_peque">Pasaporte</td>
      <td width="60" class="celdalazul_peque" >Tel&eacute;fono</td>
      <td width="65" class="celdalazul_peque">Voucher</td>
      <td width="110" class="celdalazul_peque">Lugar</td>
    </tr>
	<!-- START BLOCK : tabla -->
    <tr >
      <td class="celdalCELEST_peque">{fecha_tabla}</td>
      <td class="celdalCELEST_peque">{nombre_eo}</td>
      <td class="celdalCELEST_peque">{hotel}</td>
      <td class="celdalCELEST_peque">{nacion}&nbsp;</td>
      <td class="celdalCELEST_peque">{pasajero}</td>
      <td class="celdalCELEST_peque">{pasaporte}&nbsp;</td>
      <td class="celdalCELEST_peque">{telefono}</td>
      <td class="celdalCELEST_peque">{voucher}&nbsp;</td>
      <td class="celdalCELEST_peque">{lugar}</td>
    </tr>
	<!-- END BLOCK : tabla -->
  </table>
</div>
</body>
</html>
