<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:160px;
	width:796px;
	height:39px;
	z-index:2;
}

#Layer5 {
	position:absolute;
	left:16px;
	top:273px;
	width:900px;
	height:269px;
	z-index:5;
}
#Layer6 {
	position:absolute;
	left:16px;
	top:273px;
	width:902px;
	height:24px;
	z-index:5;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:60px;
	width:482px;
	height:62px;
	z-index:3;
}
#Layer7 {
	position:absolute;
	left:15px;
	top:296px;
	width:887px;
	height:22px;
	z-index:2;
}
-->
</style>
<script type="text/JavaScript">
function Aceptar()
	{
		if(document.form1.ID.value=='')
			{
		
			}
		if(document.form1.ID.value!='')
			{
				document.form1.fecha.value='';
				document.form1.fecha_f.value='';
				document.form1.distribuidor.value='0';
				document.form1.estado.value='0';
			}
		if((document.form1.estado.value!='0x') && (document.form1.distribuidor.value=='0x'))
		{
		alert('Seleccione el Distribuidor');
		return;
		}	
		if((document.form1.estado.value=='0x') && (document.form1.distribuidor.value!='0x'))
		{
		alert('Seleccione el Estado');
		return;
		}	
		document.form1.submit();
	}

function Fecha()
	{
 		miPopup = window.open("../PHP/Calendario_Consulta_Tarjeta.php","miwin","top=200,left=350,width=270,height=260,scrollbars=yes,titlebar=no,location=no");
 		miPopup.focus();	
	}
function Fecha_F()
	{
 		miPopup = window.open("../PHP/Calendario_Consulta_Tarjeta_F.php","miwin","top=200,left=350,width=270,height=260,scrollbars=yes,titlebar=no,location=no");
 		miPopup.focus();	
	}
function Tarjeta(fol)
{

 miPopup = window.open("../PHP/Eliminar_Tarjeta.php?folio="+fol,"miwin","top=200,left=350,width=270,height=135,scrollbars=yes,titlebar=no,location=no");
}

function Limpiar()
{
document.form1.ID.value='';
document.form1.fecha.value='';
document.form1.fecha_f .value='';
document.form1.fecha_f .value='';
document.form1.distribuidor.value='0x';
document.form1.estado.value='0x';
}


function pres_fecha()
		{
			if(event.keyCode!=13)
				{
					if(event.keyCode==47)
						{
						}		
					else
						{
						if((event.keyCode<48) || (event.keyCode>57))
							{
							event.returnValue = false;
							}
						}
				}
		}
		
function fechas(caja,valor)
{ 
   if (caja)
   {  
      borrar = caja;
      if ((caja.substr(2,1) == "/") && (caja.substr(5,1) == "/"))
      {      
         for (i=0; i<10; i++)
	     {	
            if (((caja.substr(i,1)<"0") || (caja.substr(i,1)>"9")) && (i != 2) && (i != 5))
			{
               borrar = '';
               break;  
			}  
         }
	     if (borrar)
	     { 
	      a = caja.substr(6,4);
			    m = caja.substr(3,2);
			    d = caja.substr(0,2);
			    if((a < 1900) || (a > 2050) || (m < 1) || (m > 12) || (d < 1) || (d > 31))
			       borrar = '';
			    else
			    { 
			       if((a%4 != 0) && (m == 2) && (d > 28))	   
			          borrar = ''; 
				   else	
				   {
			          if ((((m == 4) || (m == 6) || (m == 9) || (m==11)) && (d>30)) || ((m==2) && (d>29)))
				         borrar = '';	      				  	 
				   }  
			    } 
        } 
      } 	    			
	  else
	     borrar = '';
	  if (borrar == '')
			  {
			   if(valor== '1')
			     {
			     alert('Fecha Inicial Erronea');
			     document.form1.fecha.value='';
			     document.form1.fecha.focus();
			     }
			    if(valor== '2')
			     {
			     alert('Fecha Final Erronea');
			     document.form1.fecha_f.value='';
			     document.form1.fecha_f.focus();
			     } 
				}
   }    
} 

</script>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Consulta Tarjeta</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
</head>

<body>
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
<div id="Layer5" style="position:absolute; overflow:auto"; border=0pt black solid; >
  <table width="882" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="89" class="celdalazul">N&ordm;</td>
      <td width="134" class="celdalazul">ID Tarjeta </td>
      <td width="139" class="celdalazul">Producto</td>
      <td width="153" class="celdalazul">Distribuidor</td>
      <td width="146" class="celdalazul">Fecha  Creaci&oacute;n </td>
      <td width="155" class="celdalazul">Estado</td>
      <td width="66" class="celdalazul">&nbsp;</td>
    </tr>
    <tr>
     
      <!-- START BLOCK : tabla -->
      <td class="celdalCELEST">{NUMERO_TAR}&nbsp;</td>
      <td class="celdalCELEST">{FOLIO_TAR}</td>
      <td class="celdalCELEST">{NOMBRE_PROD}</td>
      <td class="celdalCELEST">{NOMBRE_DIST}&nbsp;</td>
      <td class="celdalCELEST">{FECHA_CREACION_TAR}</td>
      <td class="celdalCELEST">{DESCRIPCION_EST}</td>
      <td class="celdalCELEST"><div align="center">{IMAGEN}&nbsp;</div></td>
    </tr>
    <!-- END BLOCK : tabla -->
  </table>
  <p>&nbsp;</p>
</div>
<div id="Layer6" style="position:absolute"; border=0pt black solid;>
  <table width="880" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="93" class="celdalazul">N&ordm;</td>
      <td width="135" class="celdalazul">ID Tarjeta </td>
      <td width="140" class="celdalazul">Producto</td>
      <td width="148" class="celdalazul">Distribuidor</td>
      <td width="146" class="celdalazul">Fecha  Creaci&oacute;n </td>
      <td width="155" class="celdalazul">Estado</td>
      <td width="63" class="celdalazul">&nbsp;</td>
    </tr>
  </table>
</div>

<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="783" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td width="173" class="celdalazul">ID Tarjeta </td>
        <td width="186" class="celdalCELEST"><label>
          <input name="ID" type="text" class="seleccionTurist_180" id="ID" value="{ID}" maxlength="12" />
        </label></td>
        <td width="154" class="celdalazul">Distribuidor</td>
        <td width="270" class="celdalCELEST"><label>
          <select name="distribuidor" class="seleccionTurist_250" id="distribuidor" >
            <option value="0x" >--Seleccionar--</option>
            <!-- START BLOCK : DISTRIBUIDOR -->
            <option value="{COD_DIST}" {SELECCIONAR}>{DESCRIPCION_DIST}</option>
            <!-- END BLOCK : DISTRIBUIDOR -->
          </select>
        </label></td>
      </tr>
      <tr>
        <td class="celdalazul">Fecha Inicio de Creaci&oacute;n</td>
        <td class="celdalCELEST"><input name="fecha" type="text" class="seleccionTurist_90" readonly="" id="fecha" value="{FECHA}" onKeyPress="pres_fecha();" onChange="fechas(this.value,1);" />
        <img src="../Imagenes/icono_calendario.gif" width="16" height="15" onclick="Fecha()" style="cursor:hand"></td>
        <td class="celdalazul">Fecha Final de Creaci&oacute;n </td>
        <td class="celdalCELEST"><input name="fecha_f" type="text" class="seleccionTurist_90" readonly="" id="fecha_f" value="{FECHA_F}" onKeyPress="pres_fecha();" onChange="fechas(this.value,2);" />
        <img src="../Imagenes/icono_calendario.gif" width="16" height="15" onclick="Fecha_F()" style="cursor:hand" />
        <input name="eliminar" type="hidden" id="eliminar" />
        <input name="folio" type="hidden" id="folio" /></td>
      </tr>
      <tr>
        <td class="celdalazul">Estado</td>
        <td colspan="3" class="celdalCELEST"><select name="estado" class="seleccionTurist_180" id="estado">
          <option value="0x">--Seleccionar--</option>
          <!-- START BLOCK : ESTADO -->
          <option value="{COD_EST}" {SELECCIONAR}>{DESCRIPCION_EST}</option>
          <!-- END BLOCK : ESTADO -->
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;<img src="../Imagenes/120px-Crystal_Clear_action_build19x19.png" alt="Consultar Tarjeta" width="19" height="19" onclick="Aceptar()" style="cursor:hand" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>
        &nbsp;
        <input name="Submit" type="button" class="BotonTurist_Celest" value="Limpiar" onclick="Limpiar()" />
        </label></td>
      </tr>
    </table>
  </form>
</div>

<div class="TituloPlomo" id="Layer3">
  <table width="327" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/tarjeta3.jpg" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="234">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Consulta de Tarjeta </strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<div class="celdalCELEST" id="Layer7">
  <table width="880" border="0" cellpadding="0" cellspacing="0" class="celdalCELEST">
    <tr>
      <td width="880" class="celdalCELEST"><div align="center" class="celdalCELEST">No Existen Registros </div></td>
    </tr>
  </table>
</div>
<div id="Layer4"></div>
</body>
</html>
