<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<script type="text/JavaScript">
function Ver(codigo)
{
//document.form1.escondida.value=1;
miPopup3 = window.open("../PHP/Consultar_Reserva_Detalle.php?codigo="+codigo,"miwin","top=200,left=350,width=770,height=300,scrollbars=yes,titlebar=no,location=no");
miPopup3.focus();

//document.form1.submit();
}

function Consultar()
{
if(document.form1.servicio.value=='0x')
{
alert('Seleccione el Servicio');
return;
}
document.form1.consultar.value='1';
document.form1.submit();
}

function Eliminar()
{
alert('Esta seguro de eliminar la reserva');
}

function Calendario()
{
 miPopup = window.open("../PHP/Calendario_Consulta_Reserva.php","miwin","top=200,left=350,width=270,height=260,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	

}

</script>
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:17px;
	top:147px;
	width:783px;
	height:98px;
	z-index:1;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:63px;
	width:484px;
	height:62px;
	z-index:2;
}
#Layer4 {
	position:absolute;
	left:17px;
	top:260px;
	width:518px;
	height:214px;
	z-index:16;
}
#Layer2 {	position:absolute;
	left:831px;
	top:48px;
	width:132px;
	height:116px;
	z-index:12;
}
#Layer5 {	position:absolute;
	left:18px;
	top:260px;
	width:501px;
	height:23px;
	z-index:17;
}
#Layer6 {	position:absolute;
	left:486px;
	top:251px;
	width:461px;
	height:116px;
	z-index:12; 
	visibility:hidden;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Consular Reserva</title>
<style type="text/css">

</style>
</head>

<body>
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>

<div id="Layer5">
  <table width="494" border="0" cellspacing="0">
    <tr>
      <td width="82" class="celdalazul">Horario </td>
      <td width="65" class="celdalazul">Fecha</td>
      <td width="152" class="celdalazul">N&ordm; Reserva Disponibles </td>
      <td width="154" class="celdalazul">N&ordm; Reserva Confirmada </td>
      <td width="31" class="celdalazul">&nbsp;</td>
    </tr>
  </table>
</div>
<form id="form1" name="form1" method="post" action="">
<div id="Layer1">
  
    <table width="437" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      
      <tr>
        <td width="176" class="celdalazul">Servicio</td>
        <td width="360" class="celdalCELEST"><label>
            <select name="servicio" class="seleccionTurist_250" id="servicio">
              <option value="0x">--Seleccionar--</option>
			    <!-- START BLOCK : SERVICIO -->
              <option value="{CODIGO_SERV}" {SELECCIONAR_serv}>{CODIGO_SERV}-{DESCRIPCION_SERV}</option>
			    <!-- END BLOCK : SERVICIO -->
            </select>
          &nbsp;        </label></td>
      </tr>
      
      
      
      <tr>
        <td class="celdalazul">Fecha </td>
        <td class="celdalCELEST"><label>
          <input name="fecha" type="text" class="seleccionTurist_90" id="fecha" value="{FECHA}" /> 
        <img src="../Imagenes/icono_calendario.gif" width="16" height="15" onclick="Calendario()" style="cursor:hand" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        
        <input name="Submit" type="button" class="BotonTurist_Celest" value="Consultar" onclick="Consultar()"  />
        <input name="consultar" type="hidden" id="consultar" value="{consultar}" />
        <input name="escondida" type="hidden" id="escondida" value="{escondida}" />
        </label></td>
      </tr>
      
      

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>

</div>

<div class="TituloPlomo" id="Layer3">
  <table width="321" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="83" rowspan="4"><img src="../Imagenes/calendario80x80.png" width="80" height="80" /></td>
      <td width="13" rowspan="4">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="225"><strong>Consultar Reserva </strong></td>
    </tr>
    
    <tr>
      <td height="22" class="TituloFecha">{fecha}</td>
    </tr>
    <tr>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<div id="Layer4" style="overflow:auto">
  <table width="494" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="82" class="celdalazul">Horario </td>
      <td width="64" class="celdalazul">Fecha</td>
      <td width="159" class="celdalazul">N&ordm; Reserva Disponibles </td>
      <td width="162" class="celdalazul">N&ordm; Reserva Confirmada </td>
      <td width="27" class="celdalazul">&nbsp;</td>
    </tr>
    <tr>
	<!-- START BLOCK : TABLA -->
      <td class="celdalCELEST"><div align="center">{HORA_PLAN}</div></td>
      <td class="celdalCELEST">{FECHA}</td>
      <td class="celdalCELEST"><div align="center">{RESTA_TOTAL}</div></td>
      <td class="celdalCELEST"><div align="center">{RESTA}</div></td>
      <td class="celdalCELEST"><div align="center"><img src="../Imagenes/120px-Crystal_Clear_action_build19x19.png" width="19" height="19" style="cursor:hand" onclick="Ver({CODIGO_RES})" /></div></td>
    </tr>
	<!-- END BLOCK : TABLA -->
  </table>
  <p>&nbsp;</p>
</div>
</form>
</body>
</html>
