<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<script type="text/JavaScript">
function Ver_Reserva()
{
//document.form1.escondida.value=1;
miPopup = window.open("../PHP/Consulta_Reserva_Detalle.php","miwin","top=200,left=350,width=270,height=260,scrollbars=yes,titlebar=no,location=no");
miPopup.focus();	
//document.form1.submit();
}

function Consultar()
{
document.form1.consultar.value='1';
document.form1.submit();
}

function Eliminar()
{
alert('Esta seguro de eliminar la reserva');
}

function Calendario()
{
 miPopup = window.open("../PHP/Calendario_Consulta_Reserva.php","miwin","top=200,left=350,width=270,height=260,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	

}

</script>
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:17px;
	top:147px;
	width:783px;
	height:98px;
	z-index:1;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:33px;
	width:484px;
	height:62px;
	z-index:2;
}
#Layer4 {
	position:absolute;
	left:18px;
	top:141px;
	width:568px;
	height:214px;
	z-index:16;
}
#Layer2 {	position:absolute;
	left:831px;
	top:48px;
	width:132px;
	height:116px;
	z-index:12;
}
#Layer5 {	position:absolute;
	left:18px;
	top:261px;
	width:501px;
	height:23px;
	z-index:17;
}
#Layer6 {	position:absolute;
	left:486px;
	top:251px;
	width:461px;
	height:116px;
	z-index:12; 
	visibility:hidden;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Consular Reserva</title>
<style type="text/css">

</style>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<div class="TituloPlomo" id="Layer3">
  <table width="321" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="83" rowspan="4"><img src="../Imagenes/calendario80x80.png" width="80" height="80" /></td>
      <td width="13" rowspan="4">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="225"><strong>Consultar Reserva </strong></td>
    </tr>
    
    <tr>
      <td height="22" class="TituloFecha">{fecha}</td>
    </tr>
    <tr>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<div id="Layer4" style="overflow:auto">
  <table width="681" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="73" class="celdalazul">ID Tarjeta </td>
      <td width="139" class="celdalazul">N&ordm; Pasajero </td>
      <td width="258" class="celdalazul">Nombre Pasajero </td>
      <td width="211" class="celdalazul">Distribuidor</td>
    </tr>
    <tr>
	<!-- START BLOCK : TABLA -->
      <td class="celdalCELEST">{FOLIO}</td>
      <td class="celdalCELEST">{PASAJERO_TAR}&nbsp;</td>
      <td class="celdalCELEST">{NOMBRE_TAR}&nbsp;</td>
      <td class="celdalCELEST">{NOMBRE_DIST}&nbsp;</td>
    </tr>
	<!-- END BLOCK : TABLA -->
  </table>
  <p>&nbsp;</p>
</div>
</form>
</body>
</html>
