<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Reserva Excursiones</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" type="text/JavaScript">
<!--
window.moveTo(0,0); 
window.resizeTo(screen.availWidth,screen.availHeight); 

function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function Cancelar()
{
window.parent.close();
}

function Aceptar()
{
document.form1.guardar.value='1';
document.form1.submit();
}

function Modificar(codigo)
{
var user;
//alert('1');
user=document.form1.usuario.value;
miPopup = window.open("../PHP/Modificar_Estado_Reserva_Boleta.php?codigo="+codigo+"&usuario="+user+"","miwin","top=200,left=350,width=350,height=200,scrollbars=no,titlebar=no,location=no");
}

function Modificar_simple(codigo)
{
var user;
//alert('1');
user=document.form1.usuario.value;
miPopup = window.open("../PHP/Modificar_Estado_Reserva.php?codigo="+codigo+"&usuario="+user+"","miwin","top=200,left=350,width=280,height=200,scrollbars=no,titlebar=no,location=no");
}

function Modifica(codigo)
{
var user;
//alert('2');
user=document.form1.usuario.value;
miPopup = window.open("../PHP/Modificar_Lista_Reservas.php?codigo_re="+codigo+"&usuario="+user+"","miwin","top=200,left=350,width=450,height=300,scrollbars=no,titlebar=no,location=no");
}

function imprime()
{
document.getElementById("imprimirpag").style.visibility = 'hidden';
window.print();
window.close();
}

function VerCalendarioInicio()
	{
 		miPopup = window.open("../PHP/Calendario_Excursion.php","miwin","top=200,left=350,width=270,height=260,scrollbars=yes,titlebar=no,location=no");
 		miPopup.focus();	
	}		
function VerCalendarioFinal()
	{
 		miPopup = window.open("../PHP/Calendario_Consulta_Excursion_F.php","miwin","top=200,left=350,width=270,height=260,scrollbars=yes,titlebar=no,location=no");
 		miPopup.focus();	
	}	
function Consulta()
{
if(document.form1.sucursal.value=='0x')
{
alert('Seleccione una sucursal');
return;
}
if(document.form1.fecha.value=='')
{
alert('Seleccione fecha de Inicio');
return;
}
if(document.form1.fecha_f.value=='')
{
alert('Seleccione fecha de Final');
return;
}

document.form1.consultita.value='1';
document.form1.submit();
}	
	
//-->
</script>
<link href="../estilos1.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.Estilo1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
-->
</style>
</head>

<body>

 <div id="Layer1" style="position:absolute; left:13px; top:212px; width:991px; height:240px; z-index:1">
  <form name="form2" method="post" action="">
    <table width="978" border="0" cellpadding="0" cellspacing="0">
      <tr class="celdalazul">
        <td width="265" class="celdalazul_peque"
		><div align="center">Pasajero
          
        </div></td>
        <td class="celdalazul_peque" width="111"><div align="center"># Reserva</div></td>
        <td width="110" class="celdalazul_peque"><div align="center">Agente 
        Reserva </div></td>
        <td width="57" class="celdalazul_peque"><p align="center">Estado</p>        </td>
        <td width="127" class="celdalazul_peque"><div align="center">Boleta Exenta</div></td>
        <td width="127" class="celdalazul_peque"><div align="center">Boleta Afecta</div></td>
        <td width="94" class="celdalazul_peque"><div align="center">Fecha 
          Documento</div></td>
        <td width="115" class="celdalazul_peque"><div align="center">Cierre 
        Reservas </div></td>
        <td width="99" class="celdalazul_peque"><div align="center">Agente 
        Cierre </div></td>
      </tr>
	  	<!-- START BLOCK : tabla -->
      <tr class="celdalcelesteRojo">
        <td {estilo}>{M0}{M1}{M2}{pasajero}</td>
        <td {estilo}>{voucher}&nbsp;</td>
        <td {estilo}>{user}&nbsp;</td>
        <td {estilo}>{tipo}</td>
        <td {estilo}>{boleta}&nbsp;</td>
        <td {estilo}>{boleta_ttk}&nbsp;</td>
        <td {estilo}>{fech_b}&nbsp;</td>
        <td {estilo}>{FI0}{FI1}{FI2} {cierre}</td>
        <td {estilo}>{login}&nbsp;</td>
      </tr>
	  <!-- END BLOCK : tabla -->
    </table>
   </form>
</div>
<div id="Layer2" style="position:absolute; left:17px; top:49px; width:500px; height:89px; z-index:2">
  <table width="493" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/IMG_6902.jpg" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="400">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="Estilo1">Consulta Listado de Pasajeros por Sucursal </span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<div id="Layer4" style="position:absolute; left:754px; top:34px; width:128px; height:80px; z-index:4"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
<div id="Layer3" style="position:absolute; left:16px; top:148px; width:544px; height:55px; z-index:5">
  <form name="form1" method="post" action="">
    <table width="524" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="97" class="celdalazul_peque">Fecha Inicial </td>
        <td width="148" class="celdalCELEST"><input name="fecha" type="text" class="seleccionTurist_90" id="fecha" value="{fecha}">
        <img src="../Imagenes/icono_calendario.gif" width="16" height="15"  onclick="VerCalendarioInicio()" style="cursor:hand" alt="Seleccionar Fecha" />
      </td>
        <td width="109" class="celdalazul_peque">Fecha Final </td>
        <td width="170" class="celdalCELEST"><input type="text" name="fecha_f" class="seleccionTurist_90" id="fecha_f" value="{fecha_f}">
        <img src="../Imagenes/icono_calendario.gif" width="16" height="15"  onclick="VerCalendarioFinal()" style="cursor:hand" alt="Seleccionar Fecha" /></td>
      </tr>
      <tr>
        <td class="celdalazul_peque">Sucursal</td>
        <td colspan="3" class="celdalCELEST"><select name="sucursal" class="seleccionTurist_180" >
            <option value="0x" class="seleccion2" >--(SELECCIONAR)--</option>
            <!-- START BLOCK : sucursal -->
            <option value="{CODIGO}" class="seleccion2" {SELECCIONAR_suc}>{DESCRIPCION}</option>
            <!-- END BLOCK : sucursal -->
          </select>
            <!--<img src="../Imagenes/icono_excel.gif" alt="Genera Excel_Reporte" width="17" height="17" border="0">-->
            <input name="consultita" type="hidden" id="consultita" value="{consultita}">
            <input name="Submit" type="button" class="BotonTurist_Celest" value="Consultar" onclick="Consulta()" />
            <input name="usuario" type="hidden" id="usuario" value="{usuario}">
        </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>
