<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Documento sin t&iacute;tulo</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" type="text/JavaScript">
<!--
function aceptar()
{

document.form1.guardar.value='1';
document.form1.submit();

}
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
</head>

<body>
<div id="Layer1" style="position:absolute; left:9px; top:23px; width:348px; height:246px; z-index:1">
  <form name="form1" method="post" action="">
    <table width="200" border="1">
      <tr>
        <td>correosss</td>
        <td><input name="nota" type="text" id="nota"></td>
      </tr>
    </table>
    <input name="guardar" type="text" id="guardar">
    <p>
      <input type="button" name="Submit" value="Aceptar" onClick="aceptar()">
    </p>
  </form>
</div>
</body>
</html>
