
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:18px;
	top:226px;
	width:702px;
	height:102px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:27px;
	width:367px;
	height:62px;
	z-index:14;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>DETALLE</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:793px;
	top:49px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
</head>
<script>
function Filtrar()
	{
		document.form1.filtrar.value=1;
		document.form1.submit();
	}

function Paginador(dato)
	{
		form1.pag.value = dato;
		form1.submit();
	}
function ModificarMasterPines(CODIGO)
	{
		miPopup = window.open("../PHP/Modificar_Master_Pines2.php?CODIGO="+CODIGO,"modificarmaster","top=200,left=400,width=500,height=300,scrollbars=yes,titlebar=no,location=no");
		miPopup.focus();
	}	
</script>
<body style="overflow-x:hidden">
  <form id="form1" name="form1" method="post" action="">
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
<div id="EXCEL" style="position:absolute; left:415px; top:173px; width:57px; height:20px; z-index:3; border:0pt black solid;">
<a href="GenerarExcelDetalle.php?CODIGOPRODUCTOREAL={CODIGOPRODUCTOREAL}&CODIGODISTRIBUIDORREAL={CODIGODISTRIBUIDORREAL}&CODIGOESTADOREAL={CODIGOESTADOREAL}"><img src="../Imagenes/icono_excel.gif" alt="Exportar a Excel" width="17" height="17" border="0" style="cursor:hand"></a></div>
<div id="divtabla1" style="position:absolute; left:22px; top:120px; width:397px; height:63px; z-index:3; border:0pt black solid;">
  <table width="387" border="0" cellspacing="0">
    <tr>
      <td width="179" class="celdalazul">Producto</td>
      <td width="204" class="celdalCELEST">{CODIGOPROD}&nbsp;</td>
    </tr>
    <tr>
      <td class="celdalazul">Distribuidor</td>
      <td class="celdalCELEST">&nbsp;{CODIGODIST}</td>
    </tr>
    <tr>
      <td class="celdalazul">Estado Tarjeta </td>
      <td class="celdalCELEST">&nbsp;{CODIGOEST}</td>
    </tr>
  </table>
</div>
<div id="divtabla" style="position:absolute; left:22px; top:216px; width:900px; height:72px; z-index:3; border:0pt black solid;">

    <table width="900" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td width="92" class="celdalazul">Folio Tarjeta </td>
        <td width="76" class="celdalazul">Creacion </td>
        <td width="81" class="celdalazul">Activaci&oacute;n </td>
        <td width="83" class="celdalazul">Expiraci&oacute;n</td>
        <td width="127" class="celdalazul">Creador Tarjeta </td>
        <td width="85" class="celdalazul">Recepci&oacute;n </td>
        <td width="127" class="celdalazul">Receptor Tarjeta </td>
        <td width="140" class="celdalazul">Activacion Tarjeta </td>
        <td width="89" class="celdalazul">Pasajero</td>
      </tr>
	  <!-- START BLOCK : detalle -->
      <tr>
        <td class="celdalCELEST" {CLASES} >&nbsp;{FOLIO}</td>
        <td class="celdalCELEST" {CLASES} >&nbsp;{CREACION}</td>
        <td class="celdalCELEST" {CLASES} >&nbsp;{ACTIVACION}</td>
        <td class="celdalCELEST" {CLASES} >&nbsp;{EXPIRACION}</td>
        <td class="celdalCELEST" {CLASES} >&nbsp;{USUARIOCREACION}</td>
        <td class="celdalCELEST" {CLASES} >&nbsp;{RECEPCION}</td>
        <td class="celdalCELEST" {CLASES} >&nbsp;{USUARIORECEPTOR}</td>
        <td class="celdalCELEST" {CLASES} >&nbsp;{USUARIOACTIVADOR}</td>
        <td class="celdalCELEST" {CLASES} >&nbsp;{PASAJERO}</td>
      </tr>
	    <!-- END BLOCK : detalle -->
    </table>

</div>
<div class="TituloPlomo" id="Layer3">
  <table width="350" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/PF_Money_Mac_os_x80x80.jpg" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="257">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloPlomo"><strong>Detalle Inventario Stock </strong></span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<input name="pag" type="hidden" value="" />
 </form>
</body>
</html>


