<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Reserva Excursiones</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" type="text/JavaScript">
<!--
window.moveTo(0,0); 
window.resizeTo(screen.availWidth,screen.availHeight); 

function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function Aceptar()
{
document.form1.guardar.value='1';
document.form1.submit();
}

function Modificar(codigo)
{
var user;
user=document.form1.usuario.value;
miPopup = window.open("../PHP/Modificar_Estado_Reserva.php?codigo="+codigo+"&usuario="+user+"","miwin","top=200,left=350,width=200,height=200,scrollbars=no,titlebar=no,location=no");
}

function AsociarMenu()
	{
		document.form1.guardarmenu.value=1;
		document.form1.submit();
	}

function Cancelar()
{
window.parent.close();
}
	
function imprime()
{
document.getElementById("imprimirpag").style.visibility = 'hidden';
document.getElementById("cobra").style.visibility = 'hidden';
window.print();
window.close();
}
//-->
</script>
<link href="../estilos1.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.Estilo1 {font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
-->
</style>
</head>

<body>

 <div id="Layer1" style="position:absolute; left:6px; top:124px; width:1037px; height:240px; z-index:1">
  <form name="form1" method="post" action="">
    <table width="984" border="0" cellpadding="0" cellspacing="0">
      <tr class="celdalazul_peque">
        <td class="celdalazul_peque" width="65">Fecha
        <input name="usuario" type="hidden" id="usuario" value="{usuario}"></td>
        <td class="celdalazul_peque">Excursion</td>
        <td class="celdalazul_peque">Comisi&oacute;n</td>
        <td class="celdalazul_peque" width="94">Pasajero</td>
        <td class="celdalazul_peque"># Reserva</td>
        <td class="celdalazul_peque" width="95">Lugar de Salida </td>
        <td class="celdalazul_peque">Telefono</td>
        <td class="celdalazul_peque" width="95">Hotel</td>
        <td class="celdalazul_peque">Nac.</td>
        <td class="celdalazul_peque" width="87">Pasaporte</td>
        <td class="celdalazul_peque" width="111">Agente Reserva </td>
        <td class="celdalazul_peque"><p>Estado</p>        </td>
        <td class="celdalazul_peque">Cierre<br> 
        Reservas </td>
        <td class="celdalazul_peque">Agente Cierre </td>
        <td class="celdalazul_peque" width="30">Pagar</td>
      </tr>
	  	<!-- START BLOCK : tabla -->
      <tr class="celdalcelesteRojo">
        <td width="65" {estilo}>{fecha_tabla}</td>
        <td width="89" {estilo}>{exc}&nbsp;</td>
        <td {estilo}>&nbsp;{monto}</td>
        <td {estilo}>{pasajero}</td>
        <td {estilo}>{voucher}&nbsp;</td>
        <td {estilo}>{lugar}&nbsp;</td>
        <td {estilo}>{telefono}</td>
        <td {estilo} width="95">{hotel}&nbsp;</td>
        <td {estilo}>{nacion}&nbsp;</td>
        <td {estilo} width="87">{pasaporte}&nbsp;</td>
        <td {estilo}>{user}&nbsp;</td>
        <td {estilo}>{tipo}</td>
        <td {estilo}  width="80">{FI0}{FI1}{FI2} {cierre}</td>
        <td {estilo}>{login}&nbsp;</td>
        <td {estilo}><div align="center">
          {check}{check2}{check3}&nbsp;{COB}        </div></td>
      </tr>
	  <!-- END BLOCK : tabla -->
    </table>
    <p>
      <input name="Submit" type="submit" class="BotonTurist_Celest" value="Imprimir" onClick="imprime();" id="imprimirpag">
      <input name="Submit2" type="button" class="BotonTurist_Celest" value="Pagar" onclick="AsociarMenu()" id="cobra">
      <input name="Submit22" type="submit" class="BotonTurist_Celest" value="Cancelar" onClick="Cancelar()">	  
      <input type="hidden" name="guardarmenu"  value="0"/>
   <input name="arreglo" type="hidden" id="arreglo">
  <input name="cantidad" type="hidden" id="cantidad"></td>
      <br>
      <input name="cargar" type="hidden" id="cargar" value="{cargar}">
    </p>
    <p>&nbsp;    </p>
  </form>
</div>
<div id="Layer2" style="position:absolute; left:8px; top:30px; width:500px; height:89px; z-index:2">
  <table width="493" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/IMG_6770-2.jpg" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="400">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="Estilo1">Listado de Pasajeros Por Pagar </span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">
	  
    </tr>
  </table>
</div>
<div id="Layer4" style="position:absolute; left:754px; top:4px; width:128px; height:80px; z-index:4"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
</body>
</html>
