
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:18px;
	top:226px;
	width:702px;
	height:102px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:27px;
	width:367px;
	height:62px;
	z-index:14;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>DETALLE RESERVAS</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:397px;
	top:18px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
</head>
<script>
function Filtrar()
	{
		document.form1.filtrar.value=1;
		document.form1.submit();
	}

function Paginador(dato)
	{
		form1.pag.value = dato;
		form1.submit();
	}
function ModificarMasterPines(CODIGO)
	{
		miPopup = window.open("../PHP/Modificar_Master_Pines2.php?CODIGO="+CODIGO,"modificarmaster","top=200,left=400,width=500,height=300,scrollbars=yes,titlebar=no,location=no");
		miPopup.focus();
	}	
</script>
<body style="overflow-x:hidden">
  <form id="form1" name="form1" method="post" action="">
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
<div id="divtabla" style="position:absolute; left:25px; top:201px; width:367px; height:72px; z-index:3; border:0pt black solid;">

    <table width="360" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td width="92" class="celdalazul">Folio Tarjeta </td>
        <td width="154" class="celdalazul">Semana</td>
        <td width="114" class="celdalazul">Hora</td>
      </tr>
	  <!-- START BLOCK : detalle -->
      <tr>
        <td class="celdalCELEST">&nbsp;{FOLIO}</td>
        <td class="celdalCELEST" >&nbsp;{SEMANA}</td>
        <td class="celdalCELEST" >&nbsp;{HORA}</td>
      </tr>
	    <!-- END BLOCK : detalle -->
    </table>

</div>
<div class="TituloPlomo" id="Layer3">
  <table width="350" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/PF_Money_Mac_os_x80x80.jpg" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="257">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloPlomo"><strong>Detalle Reservas </strong></span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha"><div id="EXCEL" style="position:absolute; left:340px; top:76px; width:21px; height:20px; z-index:3; border:0pt black solid;"> 
        <div id="divtabla1" style="position:absolute; left:-335px; top:27px; width:368px; height:63px; z-index:3; border:0pt black solid;">
          <table width="360" border="0" cellspacing="0">
            <tr>
              <td width="94" class="celdalazul">Servicio</td>
              <td width="262" class="celdalCELEST">&nbsp;{CODIGOSERVICIO2}</td>
            </tr>
            <tr>
              <td class="celdalazul">Fecha</td>
              <td class="celdalCELEST">{FECHA2}&nbsp;</td>
            </tr>
          </table>
        </div>
        <a href="GenerarExcelDetalleReservas.php?CODIGOSERVICIO2={CODIGOSERVICIO2}&FECHA2={FECHA2}"><img src="../Imagenes/icono_excel.gif" alt="Exportar a Excel" width="17" height="17" border="0" style="cursor:hand"></a></div></td>
    </tr>
  </table>
</div>
<input name="pag" type="hidden" value="" />
 </form>
</body>
</html>



