<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Reserva Excursiones</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script type="text/javascript" src="../../js/jquery-1.3.2.js"></script>
<script language="javascript">
function busca_codigo(codigo){

miPopup = window.open("../PHP/ver_reagendado.php?codigo="+codigo+"","miwin","top=300,left=150,width=1150,height=220,scrollbars=no,resizable=no,titlebar=no,location=0");
miPopup.focus();
}
</script>
<script language="JavaScript" type="text/JavaScript">
<!--
window.moveTo(0,0); 
window.resizeTo(screen.availWidth,screen.availHeight); 

function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function Cancelar()
{
window.parent.close();
}

function Aceptar()
{
document.form1.guardar.value='1';
document.form1.submit();
}




function cargar(a)
{

	$.post("dimensiona_popup.php",{ voucher: a } ,function(data)
    {
        var vou = a;
        miPopup = window.open("../PHP/Agrupar_Reservas.php?v="+vou+"","miwin","top=250,left=350,width=520,height="+data+",scrollbars=no,titlebar=no,location=no");
	  	
    });
}




function Modificar_embarque(codigo)
{
var user;
user=document.form1.usuario.value;
miPopup = window.open("../PHP/Modificar_Estado_Embarque.php?codigo="+codigo+"&usuario="+user+"","miwin","top=300,left=350,width=500,height=180,scrollbars=no,titlebar=no,location=no");
}

function Add_boleta(codigo)
{
var user;
//alert('1');
user=document.form1.usuario.value;
miPopup = window.open("../PHP/add_boleta.php?codigo="+codigo+"&usuario="+user+"","miwin","top=300,left=350,width=400,height=250,scrollbars=no,titlebar=no,location=no");
}

function Modifica(codigo)
{
var user;
//alert('2');
user=document.form1.usuario.value;
miPopup = window.open("../PHP/Modificar_Lista_Reservas.php?codigo_re="+codigo+"&usuario="+user+"","miwin","top=300,left=350,width=450,height=350,scrollbars=no,titlebar=no,location=no");
}

function imprime()
{
document.getElementById("imprimirpag").style.visibility = 'hidden';
window.print();
window.close();
}
//-->
</script>
<link href="../estilos1.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.Estilo1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
-->
</style>
</head>

<body>

 <div id="Layer1" style="position:absolute; left:13px; top:176px; width:991px; height:240px; z-index:1">
  <form name="form1" method="post" action="">
  
    <table width="1200" border="0" cellpadding="0" cellspacing="0">
      <tr class="celdalazul">
      
      <td class="celdalazul_peque" width="40"><div align="center">N&deg;</div></td>
        <td width="89" class="celdalazul_peque">
         <div align="center">Apellido Pasajero</div></td>
         <td width="89" class="celdalazul_peque">
        <div align="center">Nombre Pasajero
          <input name="usuario" type="hidden" id="usuario" value="{usuario}"></div></td>
        <td class="celdalazul_peque" width="60"><div align="center">Tipo Pax.</div></td>
        <td class="celdalazul_peque" width="60"><div align="center"># Reserva</div></td>
        <td class="celdalazul_peque" width="240"><div align="center">Lugar de Salida </div></td>
        <td width="51" class="celdalazul_peque"><div align="center">Telefono</div></td>
        <td class="celdalazul_peque"><div align="center">Hotel</div></td>
        <td class="celdalazul_peque" width="50"><div align="center">Nacion.</div></td>
        <td class="celdalazul_peque" width="50">Observaci&oacute;n</td>
        <td class="celdalazul_peque" width="75"><div align="center">Pasaporte</div></td>
        <td class="celdalazul_peque"><div align="center">Agente <br>Reserva </div></td>
        <td class="celdalazul_peque"><p align="center">Estado</p></td>
        <td class="celdalazul_peque"  width="80" ><p align="center">Valor<br />a pagar</p></td>
        <td class="celdalazul_peque"><div align="center">Boleta Exenta</div></td>
        <td class="celdalazul_peque"><div align="center">Boleta Afecta</div></td>
        <td class="celdalazul_peque"><div align="center">Fecha Documento<br>Boleta</div></td>
        <td class="celdalazul_peque"><div align="center">Estado<br>Reservas </div></td>
        <td width="63" class="celdalazul_peque"><div align="center">Agente <br>de Ventas</div></td>
        <td class="celdalazul_peque" width="50">Factura</td>
        <td class="celdalazul_peque" width="50">Fecha Factura</td>
        <td class="celdalazul_peque" width="50">Monto Pagado</td>
        <td class="celdalazul_peque" width="50">Sucursal Venta</td>
        <td class="celdalazul_peque" width="50">Estado Embarque</td>
        <td class="celdalazul_peque" >Reag.</td>
      </tr>
      
		
	  
	  	<!-- START BLOCK : tabla -->
      <tr class="celdalcelesteRojo">
        <td {estilo}>{contador}</td>
        <td {estilo}>{apellido}</td>
        <td {estilo}>{M0}{M1}{M2}{pasajero}</td>
        <td {estilo}>{tipo_pax}</td>
        <td {estilo}>{voucher}&nbsp;</td>
        <td {estilo}>{lugar}&nbsp;</td>
        <td {estilo}>{telefono}</td>
        <td {estilo}><div align="center">{H0}</div></td>
        <td {estilo}>{nacion}&nbsp;</td>
        <td {estilo}>{observ}&nbsp;</td>
        <td {estilo} width="75">{pasaporte}&nbsp;</td>
        <td {estilo}>{user}&nbsp;</td>
        <td {estilo}>{tipo}</td>
        <td {estilo}>{deuda}</td>
        <td {estilo}>{boleta}&nbsp;</td>
        <td {estilo}>{boleta_ttk}&nbsp;</td>
        <td {estilo}>{fech_b}&nbsp;</td>
        <td {estilo}>{FI0}{FI1}{FI2} {cierre}</td>
        <td {estilo}>{login}&nbsp;</td>
        <td {estilo}>{factura}&nbsp;</td>
        <td {estilo}>{fechafactura}&nbsp;</td>
        <td {estilo}>{montopagado}&nbsp;</td>
        <td {estilo}>{sucursal_venta}&nbsp;</td>
        <td {estilo}>{EMB1}{EMB2}{EMB3}{estado_emb}&nbsp;</td>
        <td {estilo}>
            <a style="cursor: pointer;text-decoration:underline" title="Haz click para visualizar el servicio que fue reagendado" onclick="busca_codigo({M1})" >{VER}</a>
            <a title="Haz click para reagendar" href="reagendar_step_1.php?codigo={M1}"  >{REAGENDA}</a>
        </td>
            <input name="codigo" type="hidden" value="{M1}" id="codigo">
      </tr>
      
	  <!-- END BLOCK : tabla -->
    </table>

   </form>
</div>
<div id="Layer2" style="position:absolute; left:17px; top:19px; width:500px; height:89px; z-index:2">
  <table width="493" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/IMG_6902.jpg" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="400">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="Estilo1">Listado de Pasajeros</span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<div id="Layer4" style="position:absolute; left:754px; top:4px; width:128px; height:80px; z-index:4"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
<div id="Layer3" style="position:absolute; left:14px; top:118px; width:416px; height:55px; z-index:5">
  <table width="352" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="88" class="celdalazul_peque">Fecha</td>
      <td width="264" class="celdalCELEST">{fecha_tabla}</td>
    </tr>
    <tr>
      <td class="celdalazul_peque">Excursion</td>
      <td class="celdalCELEST">{exc_}        
      </td>
    </tr>
  </table>
</div>
</body>
</html>
