
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:18px;
	top:226px;
	width:702px;
	height:102px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:27px;
	width:561px;
	height:62px;
	z-index:14;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>DETALLE REPORTE COMISIONES GENERALES</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:793px;
	top:49px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
</head>
<script>
function Filtrar()
	{
		document.form1.filtrar.value=1;
		document.form1.submit();
	}

function Paginador(dato)
	{
		form1.pag.value = dato;
		form1.submit();
	}
function ModificarMasterPines(CODIGO)
	{
		miPopup = window.open("../PHP/Modificar_Master_Pines2.php?CODIGO="+CODIGO,"modificarmaster","top=200,left=400,width=500,height=300,scrollbars=yes,titlebar=no,location=no");
		miPopup.focus();
	}	
</script>
<body style="overflow-x:hidden">
  <form id="form1" name="form1" method="post" action="">
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
<div id="EXCEL" style="position:absolute; left:519px; top:175px; width:57px; height:20px; z-index:3; border:0pt black solid;">
<a href="GenerarExcelDetalleComisionesGenerales.php?CODIGODISTRIBUIDORREAL={CODIGODISTRIBUIDORREAL}&CODIGOVENDEDORREAL={CODIGOVENDEDORREAL}&CODIGOPROMOTORREAL={CODIGOPROMOTORREAL}&MODO={MODO}&PERFIL={PERFIL}"><img src="../Imagenes/icono_excel.gif" alt="Exportar a Excel" width="17" height="17" border="0" style="cursor:hand"></a></div>
<div id="divtabla1" style="position:absolute; left:22px; top:120px; width:490px; height:63px; z-index:3; border:0pt black solid;">
  <table width="487" border="0" cellspacing="0">
    
    <tr>
      <td width="179" class="celdalazul">Distribuidor</td>
      <td width="304" class="celdalCELEST">{CODIGODIST}&nbsp;</td>
    </tr>
    
    <tr>
      <td class="celdalazul">Vendedor</td>
      <td class="celdalCELEST">&nbsp;{CODIGOVEND}</td>
    </tr>
    <tr>
      <td class="celdalazul">Promotor </td>
      <td class="celdalCELEST">{CODIGOPROM}&nbsp;</td>
    </tr>
  </table>
</div>
<div id="divtabla" style="position:absolute; left:20px; top:205px; width:1084px; height:323px; z-index:3; border:0pt black solid; overflow:auto">

    <table width="989" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td width="78" class="celdalazul">Modalidad</td>
        <td width="56" class="celdalazul">Tipo</td>
        <td width="75" class="celdalazul">Folio Tarjeta </td>
        <td width="101" class="celdalazul">Folio Anterior </td>
        <td width="57" class="celdalazul">Precio</td>
        <td width="95" class="celdalazul">Ingreso Turistik  </td>
        <td width="142" class="celdalazul">Comisi&oacute;n Distribuidor </td>
        <td width="126" class="celdalazul">Comisi&oacute;n Vendedor </td>
        <td width="130" class="celdalazul">Comision Promotor </td>
        <td width="75" class="celdalazul">Producto</td>
        <td width="54" class="celdalazul">Fecha</td>
      </tr>
	  <!-- START BLOCK : detallecomision -->
      <tr>
        <td class="celdalCELEST"  >{MODALIDAD}&nbsp;</td>
        <td class="celdalCELEST"  >&nbsp;{VENTA}</td>
        <td class="celdalCELEST"  >&nbsp;{FOLIO}</td>
        <td class="celdalCELEST"  >&nbsp;{FOLIOANTERIOR}</td>
        <td class="celdalCELEST" >&nbsp;{PRECIO}</td>
        <td class="celdalCELEST"  >&nbsp;{INGRESO}</td>
        <td class="celdalCELEST"  >&nbsp;{COMISIONDISTRIBUIDOR}</td>
        <td class="celdalCELEST"  >&nbsp;{COMISIONVENDEDOR}</td>
        <td class="celdalCELEST"  >&nbsp;{COMISIONPROMOTOR}</td>
        <td class="celdalCELEST"  >&nbsp;{PRODUCTO}</td>
        <td class="celdalCELEST"  >&nbsp;{FECHA}</td>
      </tr>
	    <!-- END BLOCK : detallecomision -->
    </table>

</div>
<div class="TituloPlomo" id="Layer3">
  <table width="490" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/PF_Money_Mac_os_x80x80.jpg" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="397">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloPlomo"><strong>Detalle Reporte de Comisiones Generales </strong></span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<input name="pag" type="hidden" value="" />
 </form>
</body>
</html>



