<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Reserva Excursiones</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" type="text/JavaScript">
<!--
window.moveTo(0,0); 
window.resizeTo(screen.availWidth,screen.availHeight); 

function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function Cancelar()
{
window.parent.close();
}

function Aceptar()
{
document.form1.guardar.value='1';
document.form1.submit();
}

function Modificar(codigo)
{
var user;
user=document.form1.usuario.value;
miPopup = window.open("../PHP/Modificar_Estado_Reserva.php?codigo="+codigo+"&usuario="+user+"","miwin","top=200,left=350,width=200,height=200,scrollbars=no,titlebar=no,location=no");
}

function imprime()
{
document.getElementById("imprimirpag").style.visibility = 'hidden';
window.print();
window.close();
}
//-->
</script>
<link href="../estilos1.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.Estilo1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
-->
</style>
</head>

<body>

 <div id="Layer1" style="position:absolute; left:13px; top:135px; width:981px; height:240px; z-index:1">
  <form name="form1" method="post" action="">
    <table width="978" border="0" cellpadding="0" cellspacing="0">
      <tr class="celdalazul">
        <td class="celdalazul_peque" width="48"><div align="center">Fecha
          <input name="usuario" type="hidden" id="usuario" value="{usuario}">
        </div></td>
        <td class="celdalazul_peque" width="60">Excursion</td>
        <td class="celdalazul_peque"
		><div align="center">Pasajero</div></td>
        <td class="celdalazul_peque"><div align="center"># Reserva</div></td>
        <td class="celdalazul_peque" width="95"><div align="center">Lugar de Salida </div></td>
        <td class="celdalazul_peque"><div align="center">Telefono</div></td>
        <td class="celdalazul_peque" width="95"><div align="center">Hotel</div></td>
        <td class="celdalazul_peque"><div align="center">Nacion.</div></td>
        <td class="celdalazul_peque" width="70"><div align="center">Pasaporte</div></td>
        <td class="celdalazul_peque"><div align="center">Agente Reserva </div></td>
        <td class="celdalazul_peque" width="72"><p align="center">Estado</p>        </td>
        <td class="celdalazul_peque" width="73"><div align="center">Cierre <br>
        Reservas </div></td>
        <td class="celdalazul_peque"><div align="center">Agente Cierre </div></td>
      </tr>
	  	<!-- START BLOCK : tabla -->
      <tr class="celdalcelesteRojo">
        <td {estilo} width="48">{fecha_tabla}</td>
        <td {estilo} width="60"><span class="celdalCELEST">{exc_}</span></td>
        <td {estilo}>{pasajero}</td>
        <td {estilo}>{voucher}&nbsp;</td>
        <td {estilo}>{lugar}&nbsp;</td>
        <td {estilo}>{telefono}</td>
        <td {estilo} width="95">{hotel}&nbsp;</td>
        <td {estilo}>{nacion}&nbsp;</td>
        <td {estilo} width="70">{pasaporte}&nbsp;</td>
        <td {estilo}>{user}&nbsp;</td>
        <td {estilo}>{tipo}</td>
        <td {estilo} width="73">{FI0}{FI1}{FI2} {cierre}</td>
        <td {estilo}>{login}&nbsp;</td>
      </tr>
	  <!-- END BLOCK : tabla -->
    </table>
    <p>
      <input name="Submit" type="submit" class="BotonTurist_Celest" id="imprimirpag" value="Imprimir" onClick="imprime();">
      <input name="Submit2" type="submit" class="BotonTurist_Celest" value="Cancelar" onClick="Cancelar()">
</p>
  </form>
</div>
<div id="Layer2" style="position:absolute; left:17px; top:19px; width:500px; height:89px; z-index:2">
  <table width="493" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/IMG_6902.jpg" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="400">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="Estilo1">Listado de Pasajeros</span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha"></td>
    </tr>
  </table>
</div>
<div id="Layer4" style="position:absolute; left:754px; top:4px; width:128px; height:80px; z-index:4"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
</body>
</html>
