<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Reserva Excursiones</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" type="text/JavaScript">
<!--
window.moveTo(0,0); 
window.resizeTo(screen.availWidth,screen.availHeight); 

function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function Cancelar()
{
window.parent.close();
}

function Aceptar()
{
document.form1.guardar.value='1';
document.form1.submit();
}

function Modificar_embarque(codigo)
{
var user;
user=document.form1.usuario.value;
miPopup = window.open("../PHP/Modificar_Estado_Embarque.php?codigo="+codigo+"&usuario="+user+"","miwin","top=300,left=350,width=500,height=180,scrollbars=no,titlebar=no,location=no");
}

function Modificar(codigo)
{
var user;
//alert('1');
user=document.form1.usuario.value;
miPopup = window.open("../PHP/Modificar_Estado_Reserva_Boleta.php?codigo="+codigo+"&usuario="+user+"","miwin","top=200,left=350,width=350,height=200,scrollbars=no,titlebar=no,location=no");
}

function Modificar_simple(codigo)
{
var user;
//alert('1');
user=document.form1.usuario.value;
miPopup = window.open("../PHP/Modificar_Estado_Reserva.php?codigo="+codigo+"&usuario="+user+"","miwin","top=200,left=350,width=280,height=200,scrollbars=no,titlebar=no,location=no");
}

function Modifica(codigo)
{
var user;
//alert('2');
user=document.form1.usuario.value;
miPopup = window.open("../PHP/Modificar_Lista_Reservas.php?codigo_re="+codigo+"&usuario="+user+"","miwin","top=200,left=350,width=450,height=300,scrollbars=no,titlebar=no,location=no");
}

function imprime()
{
document.getElementById("imprimirpag").style.visibility = 'hidden';
window.print();
window.close();
}



function changeContent(tablecell)
{

var edited = document.form1.edited.value;
	if(edited != 'no'){
		return;
	}
	document.form1.edited.value = 'si';
    var id_reserva =tablecell.parentElement.id;
	//miPopup = window.open("../PHP/Actualiza_Hora_Transfer.php?id_reserva="+tablecell.parentElement.id+"");
    tablecell.innerHTML = "<INPUT type=text name=newname onBlur=\"javascript:submitNewName(this, "+id_reserva+");\" value=\""+tablecell.innerHTML+"\">";
    tablecell.firstChild.focus();
}

function submitNewName(textfield, id_reserva)
{
if (textfield.value.length>4) {alert("Ingrese hora en formato correcto: HHMM.");return}
if (textfield.value.length!=4) {alert("Ingrese hora en formato correcto: HHMM.");return}
a=textfield.value.charAt(0)
b=textfield.value.charAt(1)
c=textfield.value.charAt(2)
if (a>2) {
	alert("Ingrese hora en formato correcto: HHMM.");
	return
} else if(a<=2){
	if(b >4 && a > 1){
		alert("Ingrese hora en formato correcto: HHMM.");
		return
	}
}

if (c>5) {
	alert("Los minutos superan el valor permitido; ingrese hora en formato HHMM.");
	return
}

  textfield.parentNode.innerHTML= textfield.value;
  miPopup = window.open("../PHP/Actualiza_Hora_Transfer.php?id_reserva="+id_reserva+"&hora="+textfield.value+"");
  document.form1.edited.value = 'si';
}



function changeContentVuelo(tablecell)
{

	var edited = document.form1.edited.value;
	if(edited != 'no'){
		return;
	}
	document.form1.edited.value = 'si';
    var id_reserva =tablecell.parentElement.id;
	//miPopup = window.open("../PHP/Actualiza_Hora_Transfer.php?id_reserva="+tablecell.parentElement.id+"");
    tablecell.innerHTML = "<INPUT type=text name=newname onBlur=\"javascript:submitNewNameVuelo(this, "+id_reserva+");\" value=\""+tablecell.innerHTML+"\">";
    tablecell.firstChild.focus();
	
}

function submitNewNameVuelo(textfield, id_reserva)
{
  textfield.parentNode.innerHTML= textfield.value;
  miPopup = window.open("../PHP/Actualiza_Vuelo_Transfer.php?id_reserva="+id_reserva+"&vuelo="+textfield.value+"");
  document.form1.edited.value = 'no';
}





//-->
</script>


          

<link href="../estilos1.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.Estilo1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
-->
</style>
</head>

<body>

 <div id="Layer1" style="position:absolute; left:13px; top:176px; width:991px; height:240px; z-index:1">
  <form name="form1" method="post" action="">
    <table width="978" border="0" cellpadding="0" cellspacing="0">
      <tr class="celdalazul">
        
		<td class="celdalazul_peque" width="10"><div align="center">Hora</div></td>
		<td width="51" class="celdalazul_peque"><div align="center">Vuelo</div></td>
        <td class="celdalazul_peque" width="60"><div align="center"># Reserva</div></td>
		<td width="89" class="celdalazul_peque"
		><div align="center">Pasajero
          <input name="usuario" type="hidden" id="usuario" value="{usuario}">
		  <input name="edited" type="hidden" id="edited" value="no">
        </div></td>
		<td class="celdalazul_peque"><div align="center">Lugar de Destino</div></td>
		 <td class="celdalazul_peque"><p align="center">Cantidad</p>        </td>
        <td class="celdalazul_peque" width="50">Observaci&oacute;n</td>
        <td class="celdalazul_peque"><div align="center">Agente <br>
        Reserva </div></td>
        <td class="celdalazul_peque"><p align="center">Estado</p>        </td>
        <td class="celdalazul_peque"><div align="center">Boleta</div></td>
        <td class="celdalazul_peque"><div align="center">Fecha<br>
          Boleta</div></td>
        <td class="celdalazul_peque"><div align="center">Cierre <br>
        Reservas </div></td>
        <td width="63" class="celdalazul_peque"><div align="center">Agente <br>
        Cierre </div></td>
        <td class="celdalazul_peque" width="50">Sucursal Venta</td>
        <td class="celdalazul_peque" width="50">Estado Embarque</td>
        <td class="celdalazul_peque" >Reag.</td>
      </tr>
	  	<!-- START BLOCK : tabla -->
      <tr class="celdalcelesteRojo" id="{id_row}">
	   <td {estilo} onDblClick="javascript:changeContent(this);">{hora}&nbsp;</td>
	   <td {estilo} onDblClick="javascript:changeContentVuelo(this);">{vuelo}&nbsp;</td>
        <td {estilo}>{voucher}&nbsp;</td>
		<td {estilo}>{M0}{M1}{M2}{pasajero}</td>
		<td {estilo}>{lugar}&nbsp;</td>
		<td {estilo}>{cantidad}&nbsp;</td>
        <td {estilo}>{observ}&nbsp;</td>
        <td {estilo}>{user}&nbsp;</td>
        <td {estilo}>{tipo}</td>
        <td {estilo}>{boleta}&nbsp;</td>
        <td {estilo}>{fech_b}&nbsp;</td>
        <td {estilo}>{FI0}{FI1}{FI2} {cierre}</td>
        <td {estilo}>{login}&nbsp;</td>
        <td {estilo}>{sucursal_venta}&nbsp;</td>
        <td {estilo}>{EMB1}{EMB2}{EMB3}{estado_emb}&nbsp;</td>
        <td {estilo}>
            <a style="cursor: pointer" title="Haz click para visualizar el servicio que fue reagendado" style="text-decoration:underline" onclick="busca_codigo({M1})" >{VER}</a>
            <a title="Haz click para reagendar" href="reagendar_step_1.php?codigo={M1}"  >{REAGENDA}</a>
        </td>
            <input name="codigo" type="hidden" value="{M1}" id="codigo">
      </tr>
	  <!-- END BLOCK : tabla -->
    </table>
   </form>
</div>
<div id="Layer2" style="position:absolute; left:17px; top:19px; width:500px; height:89px; z-index:2">
  <table width="493" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/IMG_6902.jpg" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="400">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="Estilo1">Listado de Pasajeros</span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<div id="Layer4" style="position:absolute; left:754px; top:4px; width:128px; height:80px; z-index:4"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
<div id="Layer3" style="position:absolute; left:14px; top:118px; width:416px; height:55px; z-index:5">
  <table width="352" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="88" class="celdalazul_peque">Fecha</td>
      <td width="264" class="celdalCELEST">{fecha_tabla}        <input name="consulta_promotor" type="hidden" id="consulta_promotor">
          <input name="cantidad_promotor" type="hidden" id="cantidad_promotor" value="<? echo $num_rows?>">
          <input name="consultita" type="hidden" id="consultita" value="<? echo $_POST['consultita']?>"></td>
    </tr>
    <tr>
      <td class="celdalazul_peque">Excursion</td>
      <td class="celdalCELEST">
{exc_}        
  <!--<img src="../Imagenes/icono_excel.gif" alt="Genera Excel_Reporte" width="17" height="17" border="0">-->
      </td>
    </tr>
  </table>
</div>
</body>
</html>
