<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Eliminar Tarjeta</title>
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:17px;
	top:15px;
	width:167px;
	height:85px;
	z-index:1;
}
-->
</style>
<script type="text/JavaScript">
function opener(estado)
{
	if(estado=='SI')
		{
			//alert('Tarjeta Eliminada');
			document.form1.escondida.value='SI';
			document.form1.submit();	
		//	window.opener.document.form1.submit();
		//	self.close();
		}
	else
		{
			self.close();
		}
	
}
</script>


<link href="../Sheets.css" rel="stylesheet" type="text/css" />
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="144" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2" class="celdalazul"> Eliminar la Tarjeta ? </td>
      </tr>
      <tr>
        <td width="28" class="celdalCELEST"><label>
          <input name="SI" type="radio" value="radiobutton" onclick="opener(this.name)" />
        </label></td>
        <td width="116" class="celdalCELEST">&nbsp;SI
        <input name="escondida" type="hidden" id="escondida" {ESCONDIDA}></td>
      </tr>
      <tr>
        <td class="celdalCELEST"><label>
          <input name="NO" type="radio" value="radiobutton" onclick="opener(this.name)" />
        </label></td>
        <td class="celdalCELEST">&nbsp;NO</td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>
