<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:119px;
	width:580px;
	height:102px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:60px;
	width:180px;
	height:62px;
	z-index:14;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Documento sin t&iacute;tulo</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:874px;
	top:3px;
	width:132px;
	height:116px;
	z-index:12;
}
-->
</style>
</head>

<body>
<div id="layermenu" style="position:absolute; left:3px; top:2px; width:807px; height:42px; z-index:10; border:0pt black solid;">
  <script language="JavaScript"  src="../Menu/menu.js" type="text/javascript"></script>
  <script language="JavaScript" src="../Menu/menu_items.js" type="text/javascript"></script>
  <script language="JavaScript" src="../Menu/menu_tpl.js" type="text/javascript"></script>
  <script language="JavaScript" type="text/javascript">
	</script>
  <script language="JavaScript" type="text/javascript"><!--//
new menu (MENU_ITEMS, MENU_POS);
</script>
</div>
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>


<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="506" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td width="143" class="celdalazul">Folio</td>
        <td width="298" class="celdalCELEST"><input name="textfield" type="text" class="seleccionT3" /></td>
      </tr>
      <tr>
        <td class="celdalazul">Producto</td>
        <td class="celdalCELEST"><label>
          <input name="textfield9" type="text" class="seleccionTurist_320" />
        </label></td>
      </tr>
      <tr>
        <td class="celdalazul">Fecha de Env&iacute;o </td>
        <td class="celdalCELEST"><label>
          <input name="textfield2" type="text" class="seleccionTurist_180" />
          <img src="../Imagenes/icono_calendario.gif" width="16" height="15" /></label></td>
      </tr>
      <tr>
        <td class="celdalazul">Estado Activaci&oacute;n </td>
        <td class="celdalCELEST"><label>
          <select name="select">
          </select>
        </label></td>
      </tr>
      <tr>
        <td class="celdalazul">Fecha Expiraci&oacute;n </td>
        <td class="celdalCELEST"><label>
          <input name="textfield4" type="text" class="seleccionTurist_180" />
          <img src="../Imagenes/icono_calendario.gif" width="16" height="15" /></label></td>
      </tr>
      <tr>
        <td class="celdalazul">Distribuidor</td>
        <td class="celdalCELEST"><label>
          <input name="textfield5" type="text" class="seleccionTurist_320" />
        </label></td>
      </tr>
      <tr>
        <td class="celdalazul">Pre - Activaci&oacute;n</td>
        <td class="celdalCELEST"><label>
          <select name="select2">
            <option value="0">--Seleccionar--</option>
            <option value="1">Si</option>
            <option value="2">No</option>
          </select>
        </label></td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><div align="right">
          <input name="Submit" type="submit" class="BotonTurist_Celest" value="Enviar" />
        </div></td>
        <td><label></label></td>
      </tr>
    </table>
  </form>
</div>

<div class="TituloPlomo" id="Layer3">
  <table width="200" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td><strong>Entrega de Tarjeta </strong></td>
    </tr>
    
    <tr>
      <td height="22" class="TituloFecha">{fecha}</td>
    </tr>
  </table>
</div>
</body>
</html>
