<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Reserva Excursiones</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" type="text/JavaScript">
<!--
window.moveTo(0,0); 
window.resizeTo(screen.availWidth,screen.availHeight); 
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

//-->
</script>
<style type="text/css">
<!--
.Estilo1 {	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
-->
</style>
</head>

<body>

 <div id="Layer1" style="position:absolute; left:5px; top:124px; width:1191px; height:240px; z-index:1">
  <form name="form1" method="post" action="">
    <table width="984" border="0" cellpadding="0" cellspacing="0">
      <tr class="celdalazul_peque">
        <td class="celdalazul_peque" width="50">Fecha
        <input name="usuario" type="hidden" id="usuario" value="{usuario}"></td>
        <td class="celdalazul_peque">Excursion</td>
        <td class="celdalazul_peque">Valor NETO </td>
        <td class="celdalazul_peque">Pasajero</td>
        <td class="celdalazul_peque" width="60"># Reserva</td>
        <td class="celdalazul_peque">Lugar de Salida </td>
        <td class="celdalazul_peque">Telefono</td>
        <td class="celdalazul_peque">Hotel</td>
        <td class="celdalazul_peque">Nac.</td>
        <td class="celdalazul_peque" width="50">Pasaporte</td>
        <td class="celdalazul_peque">Agente Reserva </td>
        <td class="celdalazul_peque"><p>Estado</p>        </td>
        <td class="celdalazul_peque">#Factura</td>
        <td class="celdalazul_peque" width="60">Cierre<br> 
        Reservas </td>
        <td class="celdalazul_peque">Agente Cierre </td>
		 <td class="celdalazul_peque">Observaciones</td>
        <td class="celdalazul_peque">Facturada</td>
      </tr>
	  	<!-- START BLOCK : tabla -->
      <tr class="celdalcelesteRojo">
        <td width="50" {estilo}>{fecha_tabla}</td>
        <td {estilo}>{excursion_desc}</td>
        <td {estilo}>{neto}</td>
        <td {estilo}>{pasajero}</td>
        <td {estilo}>{voucher}&nbsp;</td>
        <td {estilo}>{lugar}&nbsp;</td>
        <td {estilo}>{telefono}</td>
        <td {estilo}>{hotel}&nbsp;</td>
        <td {estilo}>{nacion}&nbsp;</td>
        <td {estilo} width="60">{pasaporte}&nbsp;</td>
        <td {estilo}>{user}&nbsp;</td>
        <td {estilo}>{tipo}</td>
        <td {estilo}>{facturar}&nbsp;</td>
        <td {estilo}>{cierre}</td>
        <td {estilo}>{login}&nbsp;</td>
		<td {estilo}>{observaciones}&nbsp;</td>
        <td {estilo}></td>
      </tr>
	  <!-- END BLOCK : tabla -->
    </table>
     </form>
</div>
</body>
</html>
