<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:17px;
	top:160px;
	width:580px;
	height:102px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:60px;
	width:445px;
	height:62px;
	z-index:14;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso de Tarjeta</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
</head>
<script>


function Ingresar()
	{	
		if(document.form1.descripcion.value=='')
			{
				alert("Debe Ingresar la Descripción");
				document.form1.descripcion.focus();
				return;
			}
			
		if (document.form1.hotel.value=='0x')
			{
				alert("Debe seleccionar si desea que la descripción se ingrese como hotel");
				document.form1.hotel.focus();
				return;
			}
		if (document.form1.lugar.value=='0x')
			{
				alert("Debe seleccionar si desea que la descripción se ingrese como lugar de recogida");
				document.form1.lugar.focus();
				return;
			}
 		if (document.form1.telefono.value=='')
			{
				alert("Ingrese numero de telefono");
				document.form1.telefono.focus();
				return;
			}
		document.form1.guardar.value=1;
		document.form1.submit();
		//window.opener.location.reload()
		//window.close();		
	}
function validarP(e) 
{ // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) 
        return true; // 3
    patron = /\d/; // Solo acepta n?meros
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}
	
function Ingresar_mant()
	{	
		if(document.form1.descripcion.value=='')
			{
				alert("Debe Ingresar la Descripción");
				document.form1.descripcion.focus();
				return;
			}
			
		if (document.form1.hotel.value=='0x')
			{
				alert("Debe seleccionar si desea que la descripción se ingrese como hotel");
				document.form1.hotel.focus();
				return;
			}
		if (document.form1.lugar.value=='0x')
			{
				alert("Debe seleccionar si desea que la descripción se ingrese como lugar de recogida");
				document.form1.lugar.focus();
				return;
			}
 		if (document.form1.telefono.value=='')
			{
				alert("Ingrese numero de telefono");
				document.form1.telefono.focus();
				return;
			}
		document.form1.guardar_mant.value=1;
		document.form1.submit();
	}
    
    function cambiar()
    {
        var lugar = document.form1.lugar.value;
        if (lugar == 0)
        {
            document.form1.minutos.style.display='none'; 
           
        } 
        else
        {
             document.form1.minutos.style.display='block'; 
        }
    }
	
</script>
<body>
  <form id="form1" name="form1" method="post" action="">
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>


<div id="Layer1">

    <table width="573" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td width="206" class="celdalazul">Descripci&oacute;n</td>
        <td width="367" class="celdalCELEST"><label>
          <input name="descripcion" type="text" id="descripcion"  value="{descripcion}" size="50" maxlength="100" />
        </label></td>
      </tr>
      <tr>
        <td class="celdalazul">Ingreso como Hotel </td>
        <td class="celdalCELEST"><label>
          <select name="hotel" class="seleccionTurist_130" id="hotel"  >
            <option value="0x" class="seleccion2" >-SELECCIONAR-</option>
            <!-- START BLOCK : hotel -->
            <option value="{CODIGO}" class="seleccion2" {SELECCIONAR}>{DESCRIPCION}</option>
            <!-- END BLOCK : hotel -->
          </select>
        </label></td>
      </tr>
      <tr>
        <td class="celdalazul">Ingreso como lugar de recogida</td>
        <td class="celdalCELEST"><select name="lugar" class="seleccionTurist_130" id="lugar" onchange="cambiar()"  >
            <option value="0x" class="seleccion2" >-SELECCIONAR-</option>
            <!-- START BLOCK : lugar -->
            <option value="{CODIGO_L}" class="seleccion2" {SELECCIONAR_L}>{DESCRIPCION_L}</option>
            <!-- END BLOCK : lugar -->
          </select>&nbsp;
          <input name="esconde" type="hidden" id="esconde" value="{esconde}" /></td>
      </tr>
      <tr>
        <td class="celdalazul">Telefono</td>
        <td class="celdalCELEST"><input name="telefono" type="text" class="seleccionTurist_90" onkeypress="return validarP(event);" id="telefono" value="{TELEFONO}" /></td>
      </tr>
      
      <tr>
        <td class="celdalazul">Tiempo Recogida (Min)</td>
        <td class="celdalCELEST"><input name="minutos" type="text" style="display:none" class="seleccionTurist_90" onkeypress="return validarP(event);" id="minutos" value="0" /></td>
      </tr>
      <tr>
        <td><div align="right"></div></td>
        <td><label></label></td>
      </tr>
    </table>
</div>

<div class="TituloPlomo" id="Layer3">
  <table width="425" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/120px-Crystal_Clear_action_lock80x80.png" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="332">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Ingreso Hotel / Lugar de Recogida</strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<div id="boton" style="position:absolute; left:178px; top:300px; width:204px; height:28px; z-index:3; border:0pt black solid ;">
  {boton_popup}
  <input type="hidden" name="guardar" value="0" />
  <input type="hidden" name="guardar_mant" value="0" />
</div>
  </form>
</body>
</html>
