<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:2;
}

#Layer1 {
	position:absolute;
	left:8px;
	top:59px;
	width:607px;
	height:102px;
	z-index:1;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:60px;
	width:180px;
	height:62px;
	z-index:0;
}
-->
</style>
<script type="text/JavaScript">
/*function Imprimir()
{
document.form1.consultar.value='1';
document.form1.submit();
 //miPopup = window.open("../PHP/pdfComprobante.php","miwin","top=200,left=350,width=650,height=650,scrollbars=yes,titlebar=no,location=no");
 //miPopup.focus();	
}*/
</script>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Activacion de Tarjeta</title>
<style type="text/css">
<!--
#Layer4 {	position:absolute;
	left:692px;
	top:178px;
	width:132px;
	height:116px;
	z-index:7;
}
#Layer5 {	position:absolute;
	left:29px;
	top:115px;
	width:132px;
	height:116px;
	z-index:7;
}
#Layer6 {	position:absolute;
	left:403px;
	top:150px;
	width:132px;
	height:72px;
	z-index:7;
}
.Estilo3 {color: #010356; font-size: 12px;}
.Estilo4 {font-size: 10pt}
.Estilo5 {font-size: 10}
.Estilo6 {font-size: 12px}
.Estilo7 {font-size: 14px}
.Estilo8 {font-size: 10pt; font-weight: bold; }
-->
</style>
</head>

<body onload='javascript:window.print();;javascript:window.close()'>
<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <div align="left"></div>
    <table width="595" border="1" align="center" cellpadding="0" cellspacing="0">
      
      <tr>
        <td colspan="2"><div align="center" class="Estilo3">
          <p><strong><br />
            CONFIRMACION DE ACTIVACION </strong><br />
            <br />
            <br />
            </p>
          <p><br />
            </p>
          <p><br />
                <br />
              <br />  
              <br />  
              <br />
              <br />
              <br />
              <br />
          </p>
          </div></td>
      </tr>
      
      <tr>
        <td width="96" class="celdacca_plomo"><div align="left">Distribuidor</div></td>
        <td width="587" class="celdalceleste"><span class="Estilo4"> <span class="Estilo5"> <span class="Estilo6"> <span class="Estilo7"> <span class="Estilo6">
          <label><strong>{DISTRIBUIDOR}&nbsp;</strong></label>
        </span> </span> </span> </span> </span></td>
      </tr>
      <tr>
        <td class="celdacca_plomo"><div align="left">ID de Tarjeta </div></td>
        <td class="celdalceleste"><label>{ID}&nbsp;&nbsp;</label></td>
      </tr>
      
      <tr>
        <td class="celdacca_plomo"><div align="left">Pasajero</div></td>
        <td class="celdalceleste"><label>{PASAJERO_TAR}&nbsp;</label></td>
      </tr>
      <tr>
        <td class="celdacca_plomo"><div align="left">Precio</div></td>
        <td class="celdalceleste"><label>{PRECIO}&nbsp;</label></td>
      </tr>
      
      <tr>
        <td class="celdacca_plomo"><div align="left">Estado </div></td>
        <td class="celdalceleste">ACTIVADA&nbsp;</td>
      </tr>
      

      <tr class="celdalceleste">
        <td colspan="2" class="celdalceleste"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          <p class="celdalceleste"><br />
            <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;____________________________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;________________________________ <br />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FIRMA CAJERO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FIRMA PASAJERO </p></td>
      </tr>
    </table>
    <div align="left"></div>
    <div align="center"></div>
  </form>
</div>

<div id="Layer5"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
<div id="Layer6">
  <table width="200" border="0" cellpadding="0" cellspacing="0" class="Estilo4">
    <tr>
      <td class="Estilo8">{DISTRIBUIDOR_NOMBRE}</td>
    </tr>
    <tr>
      <td class="Estilo8">{RAZON_SOCIAL_DIST}</td>
    </tr>
    <tr>
      <td class="Estilo4">&nbsp;</td>
    </tr>
  </table>
</div>
</body>
</html>
