<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingresar Tarjetas para Reservar</title>
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:27px;
	top:20px;
	width:368px;
	height:191px;
	z-index:1;
}
-->
</style>

<link href="../estilos1.css" rel="stylesheet" type="text/css" />
</head>
<script type="text/JavaScript">

function Aceptar()
{
document.form1.guardar.value='1';
document.form1.submit();
}
/*
function close()
{
document.form1.cerrar.value='1';
}
*/

function Cancelar_boton()
{
window.opener.document.form1.submit();
window.close();
}
</script>
<body>
<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="302" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" class="TituloPlomo"><strong>Realizar Reserva</strong></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
       
	   {FILA}
	  
       
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2"><label>
          <input name="Submit" type="button" class="BotonTurist_Celest" value="Aceptar" onclick="Aceptar()" />
        </label>          <label>
          <input name="Submit2" type="button" class="BotonTurist_Celest" value="Cerrar" onclick="Cancelar_boton()" />
          <input name="guardar" type="hidden" id="guardar" value="{GUARDAR}" />
          <input name="cancelar" type="hidden" id="cancelar" value="{CANCELAR}" />
          <input name="cerrar" type="hidden" id="cerrar" value="{CERRAR}" />
        </label></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>
