<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:17px;
	top:66px;
	width:589px;
	height:498px;
	z-index:1;
}
#Layer3 {
	position:absolute;
	left:16px;
	top:65px;
	width:484px;
	height:62px;
	z-index:2;
}
#Layer2 {	position:absolute;
	left:831px;
	top:48px;
	width:132px;
	height:116px;
	z-index:12;
}

-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Incluir Reservas</title>
</head>
<body>
<div id="layermenu" style="position:absolute; left:3px; top:2px; width:807px; height:42px; z-index:15; border:0pt black solid;">
<script type="text/JavaScript">
function pres_num()
{
	if(event.keyCode!=44)
	{
		if((event.keyCode<48) || (event.keyCode>57))
		{
				event.returnValue = false;
			}		
	}
}	

function Buscar()
{
	if(document.form1.ID.value=='')
	{
		alert('Ingrese el Folio de la Tarjeta');
		document.form1.ID.focus();
		return;
	}
	var largo=document.form1.ID.value.length;
	if(largo!='12')
	{
	alert('Ingrese nuevamente el ID, el largo del campo es :' +largo);
	}
	document.form1.buscar.value='1';
	
	document.form1.submit();
}
function Buscar_Actual(id,name)
{
	document.form1.actual.value='1';
	document.form1.ID_actual.value=id;
	document.form1.name_actual.value=name;
	document.form1.submit();
}


</script>
</div>
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="321" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="83" rowspan="4"><img src="../Imagenes/calendario80x80.png" width="80" height="80" /></td>
        <td width="13" rowspan="4">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="225"><strong>Incluir Reserva</strong></td>
      </tr>
      <tr>
        <td height="22" class="TituloFecha">{fecha}</td>
      </tr>
      <tr>
        <td height="22" class="TituloFecha">&nbsp;</td>
      </tr>
      <tr>
        <td height="22" colspan="3">&nbsp;</td>
      </tr>
    </table>
    <table width="572" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="celdalazul"><p>N&ordm; de Cupos a Pre-Reservar</p></td>
        <td class="celdalCELEST"><label></label>
            <label>
            <input name="pre_reserva" type="text" class="seleccionTurist_25" id="pre_reserva" value="{PRERESERVA}" onKeyPress="pres_num()"  onblur="submit();" />
          </label></td>
      </tr>
      <tr>
        <td width="227" class="celdalazul">Folio de la Tarjeta</td>
        <td width="345" class="celdalCELEST"><label>
          <input name="ID" type="text" class="seleccionTurist_180" id="ID" value="{ID}" maxlength="12"  />
          &nbsp;<img src="../Imagenes/120px-Crystal_Clear_action_build19x19.png" width="19" height="19" onClick="Buscar()" style="cursor:hand" />        
          <input name="buscar" type="hidden" id="buscar" value="{BUSCAR}" />
        </label></td>
      </tr>
      
      
      <tr>
        <td class="celdalazul">Servicio </td>
        <td class="celdalCELEST"><label>
          <select name="servicio" class="seleccionTurist_320" id="servicio" onChange="submit()">
            <option value="0x">--Seleccionar--</option>
            <!-- START BLOCK : SERVICIO-->
			<option value="{CODIGO_SERV}" {SELECCIONAR}>{DESCRIPCION_SERV}</option>
            <!-- END BLOCK : SERVICIO-->	
          </select>
          <input name="cupo" type="hidden" id="cupo" value="{CUPO}" />
          <input name="guardar" type="hidden" id="guardar" value="{GUARDAR}" />
          <input name="plan" type="hidden" id="plan" value="{PLAN}" />
          <input name="fecha" type="hidden" id="fecha" />
         <input name="actual" type="hidden" class="seleccionTurist_80" id="actual">
          <input name="name_actual" type="hidden" id="name_actual">
          <input name="ID_actual" type="hidden" class="seleccionTurist_80" id="ID_actual"></label></td>
      </tr>     
      <tr>
        <td colspan="2">
          <div align="left">          </div>          
         
          <table width="535" border="0" align="left" cellpadding="0" cellspacing="0">
            <tr>
              <td width="535">          	
			<iframe name="calendario" src="Calendario_Reservar.php?prereserva={PRERESERVA}&codigo_ID={codigoID}&dia={NUEVO_DIA}&nuevo_mes={NUEVO_MESES}&nuevo_ano={NUEVO_ANO}&servicio={SERVICIO}" height="400" width="750" frameborder="0" >			  </td>
            </tr>
          </table>        </td>
      </tr>
    </table>
  </form>
</div>

</body>
</html>
