<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:17px;
	top:147px;
	width:580px;
	height:152px;
	z-index:1;
}
#Layer3 {
	position:absolute;
	left:16px;
	top:65px;
	width:484px;
	height:62px;
	z-index:2;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Incluir Reservas</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:48px;
	width:132px;
	height:116px;
	z-index:12;
}
-->
</style>
</head>

<body>
<div id="layermenu" style="position:absolute; left:3px; top:2px; width:807px; height:42px; z-index:15; border:0pt black solid;">
<script type="text/JavaScript">
function pres_num()
{
	if(event.keyCode!=44)
	{
		if((event.keyCode<48) || (event.keyCode>57))
		{
				event.returnValue = false;
			}		
	}
}	

function Buscar()
{
	if(document.form1.ID.value=='')
	{
		alert('Ingrese el Folio de la Tarjeta');
		document.form1.ID.focus();
		return;
	}
	document.form1.buscar.value='1';
	document.form1.target="reserva" 
	//document.form1.submit() 


	document.form1.submit();
	
}

function Aceptar()
{
if(document.form1.ID.value=='')
{
	alert('Ingrese el Folio de la Tarjeta');
	document.form1.ID.focus();
	return;
}
if(document.form1.servicio.value=='')
{
	alert('Seleccione el servicio');
	document.form1.servicio.focus();
	return;
}
if(document.form1.horario.value=='')
{
	alert('Seleccione el horario');
	document.form1.horario.focus();
	return;
}

if(document.form1.cupo.value=='0')
{
alert('No hay disponobilidad para reservar');
return;
}
/*
if((document.form1.pre_reserva.value) > (document.form1.cupo.value))
{
	alert('No puede realizar pre- reserva mayor a los cupos disponibles');
	document.form1.pre_reserva.focus();
	return;
}
*/

document.form1.guardar.value='1';
document.form1.submit();


var reserva=document.form1.pre_reserva.value;
var planificacion=document.form1.plan.value;
//miPopup = window.open("../PHP/Incluir_Reserva_Folio.php?reserva="+reserva+"&plan="+planificacion,"miwin","top=200,left=350,width=460,height=260,titlebar=no,location=no");
miPopup=window.open("../PHP/Incluir_Reserva_Folio.php?reserva="+reserva+"&plan="+planificacion,"1","fullscreen,scrollbars");
miPopup.focus();

}
</script>
  <script language="JavaScript"  src="../Menu/menu.js" type="text/javascript"></script>
  <script language="JavaScript" src="../Menu/menu_items.js" type="text/javascript"></script>
  <script language="JavaScript" src="../Menu/menu_tpl.js" type="text/javascript"></script>
  <script language="JavaScript" type="text/javascript">
	</script>
  <script language="JavaScript" type="text/javascript">
new menu (MENU_ITEMS, MENU_POS);
</script>
</div>
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>


<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="564" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="221" class="celdalazul">Folio de la Tarjeta</td>
        <td width="328" class="celdalCELEST"><label>
          <input name="ID" type="text" class="seleccionTurist_180" id="ID" value="{ID}" />
          &nbsp;<img src="../Imagenes/120px-Crystal_Clear_action_build19x19.png" width="19" height="19" onclick="Buscar()" style="cursor:hand" />        
          <input name="buscar" type="hidden" id="buscar" value="{BUSCAR}" />
        </label></td>
      </tr>
      
      <tr>
        <td class="celdalazul">Servicio </td>
        <td class="celdalCELEST"><label>
          <select name="servicio" class="seleccionTurist_320" id="servicio" onchange="submit()">
            <option value="0x">--Seleccionar--</option>
            <!-- START BLOCK : SERVICIO-->
			<option value="{CODIGO_SERV}" {SELECCIONAR}>{DESCRIPCION_SERV}</option>
            <!-- END BLOCK : SERVICIO-->	
          </select>
        </label></td>
      </tr>
      
      <tr>
        <td class="celdalazul"><p>N&ordm; de Cupos a Pre-Peservar</p></td>
        <td class="celdalCELEST"><label></label>
            <label>
            <input name="pre_reserva" type="text" class="seleccionTurist_25" id="pre_reserva" value="{PRERESERVA}" onkeypress="pres_num()" />
          </label></td>
      </tr>
      <tr>
        <td class="celdalazul">Cupos Disponibles </td>
        <td class="celdalCELEST">{CUPOS}&nbsp;
        <input name="cupo" type="hidden" id="cupo" value="{CUPO}" />
        <input name="guardar" type="hidden" id="guardar" value="{GUARDAR}" />
        <label>
        <input name="plan" type="hidden" id="plan" value="{PLAN}" />
        <input name="fecha" type="text" id="fecha" />
        </label></td>
      </tr>
    </table>
  </form>
</div>

<div class="TituloPlomo" id="Layer3">
  <table width="321" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="83" rowspan="4"><img src="../Imagenes/calendario80x80.png" width="80" height="80" /></td>
      <td width="13" rowspan="4">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td width="225"><strong>Incluir Reserva </strong></td>
    </tr>
    
    <tr>
      <td height="22" class="TituloFecha">{fecha}</td>
    </tr>
    <tr>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
</body>
</html>
