<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Cuentas Contables</title>
<link href="../estilos.css" rel="stylesheet" type="text/css" />
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer3 {position:absolute;
	left:14px;
	top:50px;
	width:316px;
	height:46px;
	z-index:14;
}
#Layer2 {position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
</head>
<script>
function salir()
	{
		window.close();
	}

			
function IngresarSerie()
	{
	 	if (document.form1.serie.value=='')
			{
				alert("Debe Ingresar la Serie del Equipo");
				document.form1.serie.focus();
				return;
			}
		var largo=document.form1.serie.value.length;
		if(largo!=16)
		{
		alert('Ingrese nuevamente la Serie, el largo de esta es:'+largo);
		return;
		}
		
		
		document.form1.guardar.value=1;
		document.form1.submit();
}

</script>
<body>
<form id="form1" name="form1" method="post" action="">
  <div class="TituloPlomo" id="Layer3">
    <table width="312" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="82" rowspan="4"><img src="../Imagenes/SAGEM.jpg" width="80" height="80" /></td>
        <td width="13" rowspan="4">&nbsp;</td>
        <td width="217"><p>&nbsp;</p></td>
      </tr>
      <tr>
        <td height="22" class="TituloPlomo"><strong>Ingresar Serie POS  </strong><strong></strong></td>
      </tr>
      <tr>
        <td height="22" class="TituloFecha">{fecha}</td>
      </tr>
      <tr>
        <td height="22" class="TituloFecha">&nbsp;</td>
      </tr>
    </table>
  </div>
  <p>&nbsp;</p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>
<div id="segundodiv" style="position:absolute; left:13px; top:165px; width:503px; height:47px; z-index:3; border:0pt black solid;">
  <table width="493" border="0" cellspacing="0">
    
    <tr>
      <td width="121" class="celdalazul">Serie</td>
      <td width="368" class="celdalCELEST"><label>
        <input name="serie" type="text" class="seleccionTurist_250" id="serie" maxlength="16" />
      </label></td>
    </tr>
  </table>
  <div id="tercerdiv" style="position:absolute; left:517px; top:7px; width:219px; height:23px; z-index:3; border:0pt black solid;">
   <input name="guardar" type="hidden" value="0" />
    <input name="button" type="button" class="BotonTurist_Celest" value="Ingresar"  onclick="IngresarSerie()"/>
  </div>
  <p>&nbsp;</p>
</div>
</form>
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
</body>
</html>
