<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:17px;
	top:107px;
	width:424px;
	height:48px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:13px;
	width:424px;
	height:62px;
	z-index:14;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Modificar Información Master de Pines</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
</head>
<script>

function pres_POS()
	{
	if((event.keyCode==241)||(event.keyCode==209)||(event.keyCode==161)||(event.keyCode==193)||(event.keyCode==201)||(event.keyCode==205)||(event.keyCode==211)||(event.keyCode==218)||(event.keyCode==243)||(event.keyCode==64)||(event.keyCode==42)||(event.keyCode==237)||(event.keyCode==233)||(event.keyCode==225)||(event.keyCode==250)||(event.keyCode==180))
		{
			event.returnValue = false;
		}	
	if(event.keyCode==39)
		{
			event.returnValue = false;
			return;
		}
	if(event.keyCode==34)
		{
			event.returnValue = false;
			return;
		}
		//event.returnValue = true;	
	}


function Ingresar_Boleta()
	{
		if (document.form1.boleta.value=='')
			{
				alert("Debe Ingresar el numero de Boleta");
				document.form1.boleta.focus();
				return;
			}
		document.form1.guardar.value=1;
		document.form1.submit();
	}
	
function Limpiar()
	{
		document.form1.caracteres.value='';
		document.form1.mes.value='0';
		document.form1.ano.value='0';
		document.form1.submit();
	}

</script>
<body>
  <form id="form1" name="form1" method="post" action="">
    <div id="Layer1">

    <table width="416" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td class="celdalazul">Voucher</td>
        <td class="celdalCELEST">{voucher}</td>
      </tr>
      <tr>
        <td width="150" class="celdalazul"># Boleta</td>
        <td width="266" class="celdalCELEST"><label>
          <input name="boleta" type="text" class="seleccionTurist_320" id="boleta" maxlength="18" onkeypress="pres_POS()" {CARACTERES} />
        </label></td>
      </tr>
      
      

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
</div>

<div class="TituloPlomo" id="Layer3">
  <table width="412" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/IMG_6584.jpg" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="257">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Ingresar N&uacute;mero de Boleta </strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<div id="boton" style="position:absolute; left:119px; top:191px; width:204px; height:28px; z-index:3; border:0pt black solid ;">
  <input name="Submit" type="button" class="BotonTurist_Celest" value="Ingresar" onclick="Ingresar_Boleta()" />
  <input type="hidden" name="guardar" value="0" />
   <input type="hidden" name="CODIGOMES"  value="codnulo" />
   <input type="hidden" name="CODIGOANNO" value="codnulo"/>
   <input type="hidden" name="CODIGOESTADO" value="codnulo"/>
</div>
  </form>
</body>
</html>
