<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:169px;
	width:870px;
	height:339px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:16px;
	top:60px;
	width:180px;
	height:62px;
	z-index:14;
}
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
<link href="../estilos1.css" rel="stylesheet" type="text/css">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso Comision</title>
<script type="text/JavaScript">


function pres_num(variable)
{
		if((event.keyCode<48) || (event.keyCode>57))
		{
				event.returnValue = false;
			}		
}	

function Aceptar()
	{
		if(document.form1.producto.value=='0x')
			{
				alert('Debe Seleccionar el Producto para asociar Comisiones');
				document.form1.producto.focus();
				return;
			}
		if(document.form1.categoria.value=='0x')
			{
				alert('Debe Seleccione una Categoria');
				document.form1.categoria.focus();
				return;
			}
		if (document.form1.descuento.value=='')
			{
				alert('Ingrese el Porcentaje de Descuento para la Segunda Transacción');
				document.form1.descuento.focus();
				return;
			}
		else
			{
				if(document.form1.descuento.value>100)
					{
						alert('El Valor es Porcentual del Descuento de la Segunda Transacción no puede superar el 100%');
						document.form1.descuento.value='';
						document.form1.descuento.focus();
						return;	
					}
			}
		if(document.form1.I_repartir.value=='')
			{
				alert('Ingrese el Porcentaje de las Comisiones a repartir de la Primera Transacción');
				document.form1.I_repartir.focus();
				return;
			}
		else
			{
				if(document.form1.I_repartir.value>100)
					{
						alert('El Valor es Porcentual de la Comisión a repartir de la Primera Transacción no puede superar el 100%');
						document.form1.I_repartir.value='';
						document.form1.I_repartir.focus();
						return;	
					}
			}

		if(document.form1.I_empresa.value=='')
			{
				alert('Ingrese el Porcentaje de la Comisión de la Empresa1');
				document.form1.I_empresa.focus();
				return;
			}
		else
			{
				if(document.form1.I_empresa.value>100)
					{
						alert('El Valor Porcentual de la Comisión de la Empresa1 no puede superar el 100%');
						document.form1.I_empresa.value='';
						document.form1.I_empresa.focus();
						return;	
					}
			}
		if(document.form1.I_vendedor.value=='')
			{
				alert('Ingrese el Porcentaje de la Comisión del Vendedor1');
				document.form1.I_vendedor.focus();
				return;
			}
		else
			{
				if(document.form1.I_vendedor.value>100)
					{
						alert('El Valor Porcentual de la Comisión del Vendedor1 no puede superar el 100%');
						document.form1.I_vendedor.value='';
						document.form1.I_vendedor.focus();
						return;	
					}
			}
		if(document.form1.I_promotor.value=='')
			{
				alert('Ingrese el Porcentaje de la Comisión del Promotor');
				document.form1.I_promotor.focus();
				return;
			}
		else
			{
				if(document.form1.I_promotor.value>100)
					{
						alert('El Valor Porcentual de la Comisión del Promotor no puede superar el 100%');
						document.form1.I_promotor.value='';
						document.form1.I_promotor.focus();
						return;	
					}
			}
		 if (document.form1.I_empresa.value!='' && document.form1.I_vendedor.value!='' && document.form1.I_promotor.value!='')
		 	{
				var suma=Number(document.form1.I_empresa.value) + Number(document.form1.I_vendedor.value) + Number(document.form1.I_promotor.value);
				if (suma > 100)
					{
						alert("La Suma de los Valores Porcentuales de las Comisiones Empresa 1,Vendedor 1 y Promotor 1 no puede superar el 100%");
						document.form1.I_empresa.value='';
						document.form1.I_vendedor.value='';
						document.form1.I_promotor.value='';
						document.form1.I_empresa.focus();
						return;	
					}
				else
					{
				
						if (suma < 100)
							{
								
								if (suma==100)
									{
									}
								else
									{
								
										alert("La Suma de los Valores Porcentuales de las Comisiones Empresa 1,Vendedor 1 y Promotor 1 debe completar el 100%");
										document.form1.I_empresa.value='';
										document.form1.I_vendedor.value='';
										document.form1.I_promotor.value='';
										document.form1.I_empresa.focus();
										return;	
									}	
							}
					}
			}

			if(document.form1.II_repartir.value=='')
				{
					alert('Ingrese el Porcentaje de la Comision a repartir de la Segunda Transacción');
					document.form1.II_repartir.focus();
					return;
				}
			else
				{
					if(document.form1.II_repartir.value>100)
						{
							alert('El Valor Porcentual de la Comisión a repartir de la Segunda Transacción no puede superar el 100%');
							document.form1.II_repartir.value='';
							document.form1.II_repartir.focus();
							return;	
						}
				}
			if(document.form1.asociado.value=='')
				{
					alert('Ingrese el Porcentaje a repartir para la Segunda Transacción asociado a la Primera Transacción');
					document.form1.asociado.focus();
					return;
				}
			else
				{
					if(document.form1.asociado.value>100)
						{
							alert('El Valor Porcentual a repartir para la Segunda Transacción asociado a la Primera Transacción no puede superar el 100%');
							document.form1.asociado.value='';
							document.form1.asociado.focus();
							return;	
						}
				}
			if(document.form1.II_empresa.value=='')
				{
					alert('Ingrese el Porcentaje de la Comisión de la Empresa 2');
					document.form1.II_empresa.focus();
					return;
				}
			else
				{
					if(document.form1.II_empresa.value>100)
						{
							alert('El Valor Porcentual de la Comisión de la Empresa 2 no puede superar el 100%');
							document.form1.II_empresa.value='';
							document.form1.II_empresa.focus();
							return;	
						}
				}

			if(document.form1.II_vendedor.value=='')
				{
					alert('Ingrese el Porcentaje de la Comisión del Vendedor 2');
					document.form1.II_vendedor.focus();
					return;
				}
			else
				{
					if(document.form1.II_vendedor.value>100)
						{
							alert('El Valor Porcentual de la Comisión del Vendedor 2 no puede superar el 100%');
							document.form1.II_vendedor.value='';
							document.form1.II_vendedor.focus();
							return;	
						}
				}
			
				
			if (document.form1.II_empresa.value!='' && document.form1.II_vendedor.value!='' && document.form1.asociado.value!='')
		 		{
					var suma=Number(document.form1.II_empresa.value) + Number(document.form1.II_vendedor.value) + Number(document.form1.asociado.value);
					if (suma > 100)
						{
							alert("La Suma de los Valores Porcentuales de la Primera Transaccion, Segunda Comision Empresa 2 y Segunda Comision Vendedor 2, no puede superar el 100%");
							document.form1.II_empresa.value='';
							document.form1.II_vendedor.value='';
							document.form1.asociado.value='';
							document.form1.II_empresa.focus();
							return;	
						}
					else
						{
							if (suma < 100)
								{
									if (suma == 100)
										{
										}
									else
										{
											alert("La Suma de los Valores Porcentuales de las Comisiones Empresa 2,Vendedor 2 y el Porcentaje asociado a la primera Transaccion debe completar el 100%");
											document.form1.II_empresa.value='';
											document.form1.II_vendedor.value='';
											document.form1.asociado.value='';
											document.form1.II_empresa.focus();
											return;	
										}
								}
						}
				}
			if (document.form1.porcentaje.value=='')
				{
					alert('Ingrese el Porcentaje de la Comisión para la Segunda Transacción Asociado a la Primera Transacción');
					document.form1.porcentaje.focus();
					return;
				}
			else
				{
					if(document.form1.porcentaje.value>100)
						{
							alert('El Valor Porcentual de la Comisión para la Segunda Transacción Asociado a la Primera Transacción no puede superar el 100%');
							document.form1.porcentaje.value='';
							document.form1.porcentaje.focus();
							return;	
						}
				}
			if (document.form1.empresa.value=='')
				{
					alert('Ingrese el Porcentaje de la Comisión de la Empresa 1 asociado a la Primera Transacción' );
					document.form1.empresa.value='';
					document.form1.empresa.focus();
					return;	
				}
			else
				{
					if(document.form1.empresa.value>100)
						{
							alert('El Valor Porcentual de la Comisión de la Empresa 1 asociado a la Primera Transacción no puede superar el 100%');
							document.form1.empresa.value='';
							document.form1.empresa.focus();
							return;	
						}
				}
			if (document.form1.vendedor.value=='')
				{
					alert('Ingrese el Porcentaje de la Comision del Vendedor 1 asociado a la Primera Transacción' );
					document.form1.vendedor.value='';
					document.form1.vendedor.focus();
					return;	
				}
			else
				{
					if(document.form1.vendedor.value>100)
						{
							alert('El Valor Porcentual de la Comision del Vendedor 1 asociado a la Primera Transacción no puede superar el 100%');
							document.form1.vendedor.value='';
							document.form1.vendedor.focus();
							return;	
						}
				}
			if (document.form1.promotor.value=='')
				{
					alert('Ingrese el Porcentaje de la Comision del Promotor 1 asociado a la Primera Transacción' );
					document.form1.promotor.value='';
					document.form1.promotor.focus();
					return;	
				}
			else
				{
					if(document.form1.promotor.value>100)
						{
							alert('El Valor Porcentual de la Comisión del Promotor 1 asociado a la Primera Transacción no puede superar el 100%');
							document.form1.promotor.value='';
							document.form1.promotor.focus();
							return;	
						}
				}
				
			if (document.form1.empresa.value!='' && document.form1.vendedor.value!='' && document.form1.promotor.value!='')
		 		{
					var suma=Number(document.form1.empresa.value) + Number(document.form1.vendedor.value) + Number(document.form1.promotor.value);
					if (suma > 100)
						{
							alert("La Suma de los Valores Porcentuales de las Comisiones de la Segunda Compra  Empresa 1,Vendedor 1 y Promotor 1 no puede superar el 100%");
						document.form1.empresa.value='';
						document.form1.vendedor.value='';
						document.form1.promotor.value='';
						document.form1.empresa.focus();
						return;	
						}
					else
						if (suma <100)
							{
								if (suma==100)
									{
									}
								else
									{
										alert("La Suma de los Valores Porcentuales de las Comisiones de la Segunda Compra, de Empresa 1,Vendedor 1 y Promotor 1 no completa el 100%");
										document.form1.empresa.value='';
										document.form1.vendedor.value='';
										document.form1.promotor.value='';
										document.form1.empresa.focus();
										return;	
									}
							}
						
				}
			document.form1.guardar.value='1';
			document.form1.submit();
	}

function Popup()
	{
 		miPopup = window.open("../PHP/Ingreso_Ubicacion.php","miwin","top=200,left=350,width=550,height=200,scrollbars=yes,titlebar=no,location=no");
 		miPopup.focus();	
	}

function ValidarValor(valor,valor_valida)
	{
	//alert (valor);
	//alert(valor_valida);
		if (valor_valida==1)
			{
				if(valor>100)
					{
						alert('El Valor es Porcentual de la Comisión a repartir de la Primera Transacción no puede superar el 100%');
						document.form1.I_repartir.value='';
						document.form1.I_repartir.focus();
						return;	
					}
			}
		else
			{
				if (valor_valida==2)
					{
						if(document.form1.I_empresa.value>100)
							{
								alert('El Valor Porcentual de la Comisión de la Empresa1 no puede superar el 100%');
								document.form1.I_empresa.value='';
								document.form1.I_empresa.focus();
								return;	
							}
					}
				else
					{
						if (valor_valida==3)
							{
								if(document.form1.I_vendedor.value>100)
									{
										alert('El Valor Porcentual de la Comisión del Vendedor1 no puede superar el 100%');
										document.form1.I_vendedor.value='';
										document.form1.I_vendedor.focus();
										return;	
									}
							}
						else
							{
								if (valor_valida==4)
									{
										if(document.form1.I_promotor.value>100)
											{
												alert('El Valor Porcentual de la Comisión del Promotor no puede superar el 100%');
												document.form1.I_promotor.value='';
												document.form1.I_promotor.focus();
												return;	
											}
									}
								else
									{
										if (valor_valida==5)
											{
												if(document.form1.II_repartir.value>100)
													{
														alert('El Valor Porcentual de la Comisión a repartir de la Segunda Transacción no puede superar el 100%');
														document.form1.II_repartir.value='';
														document.form1.II_repartir.focus();
														return;	
													}
											}
										else
											{
												if (valor_valida==6)
													{
														if(document.form1.II_empresa.value>100)
															{
																alert('El Valor Porcentual de la Comisión de la Empresa 2 no puede superar el 100%');
																document.form1.II_empresa.value='';
																document.form1.II_empresa.focus();
																return;	
															}
													}
												else
													{
														if (valor_valida==7)
															{
																if(document.form1.II_vendedor.value>100)
																	{
																		alert('El Valor Porcentual de la Comisión del Vendedor 2 no puede superar el 100%');
																		document.form1.II_vendedor.value='';
																		document.form1.II_vendedor.focus();
																		return;	
																	}
															}
														else
															{
																if (valor_valida==8)
																	{
																		if(document.form1.asociado.value>100)
																			{
																				alert('El Valor Porcentual a repartir para la Segunda Transacción asociado a la Primera Transacción no puede superar el 100%');
																				document.form1.asociado.value='';
																				document.form1.asociado.focus();
																				return;	
																			}
																	}
																else
																	{
																		if (valor_valida==9)
																			{
																				if(document.form1.descuento.value>100)
																					{
																						alert('El Valor Porcentual del Descuento de la Segunda Transacción no puede superar el 100%');
																						document.form1.descuento.value='';
																						document.form1.descuento.focus();
																						return;	
																					}
																			}
																		else
																			{
																				if (valor_valida==10)
																					{
																						if(document.form1.porcentaje.value>100)
																							{
																								alert('El Valor Porcentual de la Comisión para la Segunda Transacción Asociado a la Primera Transacción no puede superar el 100%');
																								document.form1.porcentaje.value='';
																								document.form1.porcentaje.focus();
																								return;	
																							}
																					}
																				else
																					{
																						if (valor_valida==11)
																							{
																							//alert("esta");
																								if(document.form1.empresa.value>100)
																									{
																												alert('El Valor Porcentual de la Comision de la Empresa 1 asociado a la Primera Transacción no puede superar el 100%');
																												document.form1.empresa.value='';
																												document.form1.empresa.focus();
																												return;	
																										}
																							}
																						else
																							{
																								if (valor_valida==12)
																											{
																												if(document.form1.vendedor.value>100)
																													{
																														alert('El Valor Porcentual de la Comision del Vendedor 1 asociado a la Primera Transacción no puede superar el 100%');
																														document.form1.vendedor.value='';
																														document.form1.vendedor.focus();
																														return;	
																													}
																											}
																								else
																									{
																										if (valor_valida==13)
																										{
																										if(document.form1.promotor.value>100)
						{
							alert('El Valor Porcentual de la Comision del Promotor 1 asociado a la Primera Transacción no puede superar el 100%');
							document.form1.promotor.value='';
							document.form1.promotor.focus();
							return;	
						}
																										}
																									}
																							}
																					}
																			}
																	}
															}
													}
											}
									}
							}
					}
			}
	
	}
function Categoria()
	{
		miPopup = window.open("../PHP/Ingreso_Categoria.php?flag=1","categoria","top=200,left=350,width=550,height=350,scrollbars=no,titlebar=no,location=no");
 		miPopup.focus();	
	}
</script>
</head>

<body style="overflow-x:hidden">
 <form id="form1" name="form1" method="post" action="">
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>


<div id="Layer1">
 
    <table width="855" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="4" class="celdalazul">Asociacion </td>
      </tr>
      <tr>
        <td width="148" class="celdalazul">Producto</td>
        <td width="258" class="celdalCELEST"><select name="producto" class="seleccionTurist_250" id="producto" onChange="submit();">
          <option value="0x">--Seleccionar--</option>
          <!-- START BLOCK : PRODUCTO -->
          <option value="{CODIGO_PROD}" {SELECCIONAR}>{NOMBRE_PROD}</option>
          <!-- END BLOCK : PRODUCTO -->
                        </select></td>
        <td width="169" class="celdalazul"><span class="celdalazul">Categor&iacute;a</span></td>
        <td width="280" class="celdalCELEST"><select name="categoria" class="seleccionTurist_250" id="select" >
          <option value="0x">--Seleccionar--</option>
          <!-- START BLOCK : CATEGORIA -->
          <option value="{CODIGO_CATE}" {seleccionar2}>[{CODIGO_CATE}]-{DESCRIPCION_CATE}</option>
          <!-- END BLOCK : CATEGORIA -->
        </select>
        <img src="../Imagenes/configurar19x19.png" width="19" height="19"  onclick="Categoria()" alt="Nueva Categoría" style="cursor:hand"/></td>
      </tr>
      <tr>
        <td class="celdalazul">Precio</td>
        <td class="celdalCELEST"><label>
          <input name="precio" type="text" class="seleccionTurist_180" id="precio" value="{PRECIO}" readonly="" />
        </label></td>
        <td class="celdalazul">% Descuento II Compra </td>
        <td class="celdalCELEST"><input name="descuento" type="text" class="seleccionTurist_180" id="descuento" value="{DESCUENTO}" onChange="ValidarValor(this.value,9)" onKeyPress="pres_num()"/></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <table width="397" border="0" align="left" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2" class="celdalazul">Primera Transacci&oacute;n - Sin Tarjeta Previa </td>
      </tr>
      <tr>
        <td width="157" class="celdalazul">% I Comision a repartir </td>
        <td width="240" class="celdalCELEST"><input name="I_repartir" type="text" class="seleccionTurist_180" id="I_repartir" onKeyPress="pres_num(this.name)" onChange="ValidarValor(this.value,1)"  /> 
        Total </td>
      </tr>
      <tr>
        <td class="celdalazul">% I  Comision Empresa 1  </td>
        <td class="celdalCELEST">
          <input name="I_empresa" type="text" class="seleccionTurist_180" id="I_empresa" onKeyPress="pres_num()" onChange="ValidarValor(this.value,2)"/></td>
      </tr>
      
      <tr>
        <td class="celdalazul">% I  Comision Vendedor 1 </td>
        <td class="celdalCELEST"><input name="I_vendedor" type="text" class="seleccionTurist_180" id="I_vendedor" onKeyPress="pres_num()" onChange="ValidarValor(this.value,3)"/></td>
      </tr>
      <tr>
        <td class="celdalazul">% I  Comision Promotor 1 </td>
        <td class="celdalCELEST">
          <input name="I_promotor" type="text" class="seleccionTurist_180" id="I_promotor" onKeyPress="pres_num()" onChange="ValidarValor(this.value,4)"/>     </td>
      </tr>
      
      
      
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <table width="457" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td>&nbsp;</td>
        <td colspan="2" class="celdalazul">Segunda Transacci&oacute;n - Con Tarjeta Previa </td>
      </tr>
      <tr>
        <td width="9">&nbsp;</td>
        <td width="159" class="celdalazul">% II Comision a repartir </td>
        <td width="289" class="celdalCELEST"><input name="II_repartir" type="text" class="seleccionTurist_180" id="II_repartir" onKeyPress="pres_num()" onChange="ValidarValor(this.value,5)" /> 
        Total </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="celdalazul">%  Primera Transaccion </td>
        <td class="celdalCELEST"><label>
          <input name="asociado" type="text" class="seleccionTurist_180" id="asociado" onChange="ValidarValor(this.value,8)"/>
        </label></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="celdalazul">% II Comision Empresa 2 </td>
        <td class="celdalCELEST"><input name="II_empresa" type="text" class="seleccionTurist_180" id="II_empresa" onKeyPress="pres_num()" onChange="ValidarValor(this.value,6)"/></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td class="celdalazul">% II  Comision Vendedor 2</td>
        <td class="celdalCELEST"><input name="II_vendedor" type="text" class="seleccionTurist_180" id="II_vendedor" onKeyPress="pres_num()" onChange="ValidarValor(this.value,7)"/></td>
      </tr>
      
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <table width="854" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td width="157" class="celdalazul"><p>% Comision de la Segunda 
        Compra<br />
        </p>        </td>
        <td width="252" class="celdalCELEST">
          <input name="porcentaje" type="text" class="seleccionTurist_180" id="porcentaje" onChange="ValidarValor(this.value,10)" onKeyPress="pres_num()"/>       </td>
        <td width="158" class="celdalazul">% Vendedor 1 </td>
        <td width="287" class="celdalCELEST"><input name="vendedor" type="text" class="seleccionTurist_180" id="vendedor" onKeyPress="pres_num()" onChange="ValidarValor(this.value,12)"/></td>
      </tr>
      
      <tr>
        <td class="celdalazul">% Empresa 1 </td>
        <td class="celdalCELEST"><input name="empresa" type="text" class="seleccionTurist_180" id="empresa" onKeyPress="pres_num()" onChange="ValidarValor(this.value,11)"   />
        <input type="hidden" name="guardar" /></td>
        <td class="celdalazul">% Promotor 1 </td>
        <td class="celdalCELEST"><input name="promotor" type="text" class="seleccionTurist_180" id="promotor" onKeyPress="pres_num()" onChange="ValidarValor(this.value,13)"/></td>
      </tr>
    </table>
    <p>&nbsp;</p>
</div>
<div style="position:absolute; left:381px; top:512px; width:99px; height:27px; z-index:3; border:0pt black solid;">
  <input name="Submit" type="button" class="BotonTurist_Celest" value="Aceptar" onClick="Aceptar()" />
</div>
<div class="TituloPlomo" id="Layer3">
  <table width="345" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="82" rowspan="4"><label><img src="../Imagenes/Comision_80x80.png" width="80" height="80" /></label></td>
      <td width="13">&nbsp;</td>
      <td width="250">&nbsp;</td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloPlomo"><strong>Ingreso Comisiones</strong></td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">{fecha}</td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
</form>
</body>
</html>
