<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Ingreso Capacidad</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" type="text/JavaScript">
<!--
function Buscar()
{
document.form1.buscar.value='1';
document.form1.submit();
}

function ponPrefijo(proveedor)
{
if(document.form1.vehiculo.value=='')
{
alert('Ingrese el Vehiculo');
document.form1.vehiculo.focus();
return;
}
if(document.form1.capacidad.value=='')
{
alert('Ingrese la capacidad del vehiculo');
document.form1.capacidad.focus();
return;
}

document.form1.proveedor.value=proveedor;
document.form1.guardar.value='1';
document.form1.submit();
}

function pres_num()
		{
					if(event.keyCode==47)
						{
						}		
					else
						{
						if((event.keyCode<48) || (event.keyCode>57))
							{
							event.returnValue = false;
							}
						}
		}	
		
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
<link href="../estilos1.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="Layer1" style="position:absolute; left:8px; top:12px; width:420px; height:63px; z-index:1">

  <table width="419" border="0" cellpadding="0" cellspacing="0">
	<form name="form1" method="post" action="">
    <tr>

      <td width="92" class="celdalazul">Vehiculo</td>
      <td width="327" class="celdalCELEST">
        <input name="vehiculo" type="text" class="seleccionTurist_250" id="vehiculo" value="{vehiculo}">
&nbsp; <input name="buscar" type="hidden" id="buscar">
<input name="proveedor" type="hidden" id="proveedor">
<input type="hidden" name="guardar"></td>
    </tr>
    <tr>
      <td class="celdalazul">Capacidad</td>
      <td class="celdalCELEST"><input name="capacidad" type="text" id="capacidad" value="{capacidad}" onKeyPress="pres_num()"></td>
    </tr>
	</form>
  </table>	
</div>
<div id="Layer2" style="position:absolute; left:9px; top:86px; width:392px; height:26px; z-index:2">
  <table width="375" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="375" class="celdalazul">Nombre Proveedor</td>
    </tr>
  </table>
</div>
<div id="Layer3" style="position:absolute; left:7px; overflow:auto; top:85px; width:430px; height:336px; border=0pt black solid; z-index:3">
  <table width="419" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td colspan="2" class="celdalazul">Nombre Proveedor</td>
    </tr>
    <tr class="celdalCELEST">
      <!-- START BLOCK : tabla -->
      <td width="37" class="celdalCELEST"><input name="radio" type="radio" value="{COD_DATOS}" onClick="ponPrefijo(this.value)"/></td>
      <td width="382" class="celdalCELEST"> {NOMBRE} </td>
    </tr>
    <!-- END BLOCK : tabla -->
  </table>
</div>
</body>
</html>
