<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:19px;
	top:164px;
	width:450px;
	height:21px;
	z-index:9;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:60px;
	width:439px;
	height:62px;
	z-index:0;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso Cliente</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
</head>
<script>
function IngresarColor()
	{
		if (document.form1.descripcion.value=='')
			{
				alert("Debe Ingresar la Descripción para el Color que desea ingresar");
				document.form1.descripcion.focus();
				return;
			}
		document.form1.guardar.value=1;
		document.form1.submit();
	}
function Salir()
	{
		window.close();
	}
</script>
<body>
<form id="form1" name="form1" method="post" action="">
<div id="Layer1">
  
    <table width="428" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td width="152" class="celdalazul">Descripci&oacute;n Color </td>
        <td width="276" class="celdalCELEST"><label>
          <input name="descripcion" type="text" class="seleccionTurist_250" id="descripcion" />
        </label></td>
      </tr>
      

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><div align="right"></div></td>
        <td><label></label></td>
      </tr>
    </table>

</div>
<div id="boton" style="position:absolute; left:190px; top:213px; width:211px; height:25px; z-index:3; border:0pt black solid;">
      <input name="Submit" type="button" class="BotonTurist_Celest" value="Ingresar"  onclick="IngresarColor()"/>
            <input type="hidden" name="guardar" />
      
            <input name="Submit2" type="button" class="BotonTurist_Celest" value="Salir"  onclick="Salir()" />
 
</div>
<div class="TituloPlomo" id="Layer3">
  <table width="381" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="82" rowspan="4"><img src="../Imagenes/color_80x80.png" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="286">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Ingreso Color Tarjeta </strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
</form>
</body>

</html>
