<%@LANGUAGE="JAVASCRIPT" CODEPAGE="1252"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script>
function NoAtras(){
history.go(1)
}

</script>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Documento sin t&iacute;tulo</title>
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:291px;
	top:104px;
	width:330px;
	height:385px;
	z-index:1;
}
-->
</style>
</head>



<body >



<div id="Layer1"><img src="../Imagenes/turistik_332_360.jpg" width="302" height="360" /></div>
 



</body>
</html>
