<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>TIPOS USUARIOS</title>
<link href="../estilos.css" rel="stylesheet" type="text/css" />
<script>
function ponPrefijo(cod,pref)
	{
		//alert(pref);
		//alert(cod);
		opener.document.form1.operador.value = pref;
		opener.document.form1.codigo_operador.value = cod;
		window.close();	
	}
</script>
<link href="../estilos1.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
#Layer3 {position:absolute;
	left:13px;
	top:18px;
	width:316px;
	height:46px;
	z-index:14;
}
-->
</style>
<body style="overflow-x:hidden">

<form id="form1" name="form1" method="post" action="">
<p>&nbsp;  </p>
<div class="TituloPlomo" id="Layer3">
  <table width="312" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="82" rowspan="4"><img src="../Imagenes/Tipo_usuario_80x80.png" width="80" height="80" /></td>
      <td width="13" rowspan="4">&nbsp;</td>
      <td width="217"><p>&nbsp;</p></td>
    </tr>
    <tr>
      <td height="22" class="TituloPlomo"><strong>Tipo Operador </strong><strong></strong></td>
    </tr>
    <tr>
      <td height="22" class="TituloFecha">{fecha}</td>
    </tr>
    <tr>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<p>
  <input type="hidden" name="modificar" value="1"/>
  <input type="hidden" name="bandera" />
  <input type="hidden" name="modificardos" value="<?php echo $modificardos?>"/>
  <input type="hidden" name="ingreso" value="0" />
</p>
<p>&nbsp;</p>
<div id="tercerdiv" style="position:absolute; left:13px; top:111px; width:317px; height:94px; z-index:3; border:0pt black solid;">
  <table width="311" border="0" cellspacing="0">
    <tr>
      <td colspan="2" class="celdalazul">Descripción Operador </td>
      </tr>
    <tr>
	<!-- START BLOCK : tipo_operador -->
      <td width="36" class="celdalCELEST">
        <input name="radio" type="radio" value="{CODIGO_OPERADOR}" onClick="ponPrefijo(this.value,'{DESCRIPCION}')"/>
      </td>
	<td width="214" class="celdalCELEST">{DESCRIPCION}</td>
      </tr>
	<!-- END BLOCK : tipo_operador -->
  </table>
  </div>
  </p>
  <input name="eliminar" type="hidden" />
   <input name="codigoeliminar" type="hidden" />
</form>
</body>
</html>


