<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>PERFILES</title>
<link href="../estilos.css" rel="stylesheet" type="text/css" />
<script>
function ponPrefijo(pref,cod)
	{
		//alert(pref);
		//alert(cod);
		opener.document.form1.CODIGOPERFIL.value = pref;
		opener.document.form1.perfil.value = cod;
		window.close();	
	}
</script>
<link href="../estilos1.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
#Layer3 {	position:absolute;
	left:11px;
	top:16px;
	width:381px;
	height:62px;
	z-index:0;
}
-->
</style>
<body style="overflow-x:hidden">

<form id="form1" name="form1" method="post" action="">
  <div class="TituloPlomo" id="Layer3">
   <table width="381" border="0" cellpadding="0" cellspacing="0">
     <tr>
       <td width="82" rowspan="4"><img src="../Imagenes/SAGEM.jpg" width="80" height="80"></td>
       <td width="13">&nbsp;</td>
       <td width="286">&nbsp;</td>
     </tr>
     <tr>
       <td>&nbsp;</td>
       <td class="TituloPlomo"><strong>Perfiles</strong></td>
     </tr>
     <tr>
       <td>&nbsp;</td>
       <td><span class="TituloFecha">{fecha}</span></td>
     </tr>
     <tr>
       <td class="TituloFecha">&nbsp;</td>
       <td height="22" class="TituloFecha">&nbsp;</td>
     </tr>
   </table>
 </div>
  <input type="hidden" name="modificar" value="1"/>
<input type="hidden" name="bandera" />
<input type="hidden" name="modificardos" value="<?php echo $modificardos?>"/>
<input type="hidden" name="ingreso" value="0" />
  
  <p>&nbsp;</p>
<div id="tercerdiv" style="position:absolute; left:11px; top:108px; width:314px; height:94px; z-index:3; border:0pt black solid;">
  <table width="305" border="0" cellspacing="0">
    <tr>
      <td colspan="2" class="celdalazul">Descripción Perfiles </td>
      </tr>
    <tr>
	<!-- START BLOCK : bloqueperfil -->
      <td width="36" class="celdalCELEST">
        <input name="radio" type="radio" value="{CODIGOPERFIL}" onClick="ponPrefijo(this.value,'{DESCRIPCIONPERFIL}')"/>
      </td>
	<td width="214" class="celdalCELEST">{DESCRIPCIONPERFIL}</td>
      </tr>
	<!-- END BLOCK : bloqueperfil -->
  </table>
  </div>
  </p>
  <input name="eliminar" type="hidden" />
   <input name="codigoeliminar" type="hidden" />
</form>
</body>
</html>




