<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso Distribuidor</title>
<style type="text/css">
<!--
#Layer3 {	position:absolute;
	left:20px;
	top:20px;
	width:379px;
	height:62px;
	z-index:14;
}
-->
</style>
</head>

<body>
<div id="tablageneral" style="position:absolute; left:20px; top:119px; width:815px; height:251px; z-index:3; border:0pt black solid;"></div>
<div class="TituloPlomo" id="Layer3">
  <table width="312" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="82" rowspan="4"><img src="../Imagenes/Crystal_Clear_app_Login_Manager80x80_marco.png" width="80" height="80" /></td>
      <td width="13" rowspan="4">&nbsp;</td>
      <td width="217"><p>&nbsp;</p></td>
    </tr>
    <tr>
      <td height="22" class="TituloPlomo"><strong>Ingreso Usuario </strong><strong></strong></td>
    </tr>
    <tr>
      <td height="22" class="TituloFecha">{fecha}</td>
    </tr>
    <tr>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
</body>
</html>
