<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Tipo Usuario</title>
<link href="../estilos.css" rel="stylesheet" type="text/css" />
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer3 {position:absolute;
	left:12px;
	top:44px;
	width:316px;
	height:46px;
	z-index:14;
}
-->
</style>
</head>
<script>
function salir()
	{
		window.close();
	}

			
function IngresarTipo()
	{
	 	if (document.form1.descripciontipo.value.length=='0')
			{
				alert("Debe Ingresar la Descripción del Tipo de Usuario");
				document.form1.descripciontipo.focus();
				return;
			}
		if (document.form1.tipo_usuario.value=='0')
			{
				alert("Debe Seleccionar Perfil");
				document.form1.tipo_usuario.focus();
				return;
			}	
		document.form1.guardar.value=1;
		document.form1.submit;
}
function pres_comillas()
	{
		if(event.keyCode==39)
			{
				event.returnValue = false;
				return;
			}
		if(event.keyCode==34)
			{
				event.returnValue = false;
				return;
			}
		event.returnValue = true;
	}		
</script>
<body>
<form id="form1" name="form1" method="post" action="">
  <div class="TituloPlomo" id="Layer3">
    <table width="312" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="82" rowspan="4"><img src="../Imagenes/Tipo_usuario_80x80.png" width="80" height="80" /></td>
        <td width="13" rowspan="4">&nbsp;</td>
        <td width="217"><p>&nbsp;</p></td>
      </tr>
      <tr>
        <td height="22" class="TituloPlomo"><strong>Tipo Usuario </strong><strong></strong></td>
      </tr>
      <tr>
        <td height="22" class="TituloFecha">{fecha}</td>
      </tr>
      <tr>
        <td height="22" class="TituloFecha">&nbsp;</td>
      </tr>
    </table>
  </div>
  <p>&nbsp;</p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>
<div id="segundodiv" style="position:absolute; left:11px; top:144px; width:503px; height:47px; z-index:3; border:0pt black solid;">
  <table width="493" border="0" cellspacing="0">
    
    <tr>
      <td width="121" class="celdalazul">Descripci&oacute;n Tipo </td>
      <td width="368" class="celdalCELEST"><label>
        <input name="descripciontipo" type="text" class="seleccionTurist_320"  onkeypress="pres_comillas()" maxlength="40"/>
      </label></td>
    </tr>
    <tr>
      <td class="celdalazul">Perfil</td>
      <td class="celdalCELEST"><select name="tipo_usuario" class="seleccionTurist_180"   >
            <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
            <!-- START BLOCK : tipousuario -->
            <option value="{CODIGOTIPOUSAURIO}" class="seleccion2" {SELECCIONAR}>{DESCRIPCIONUSUARIO}</option>
            <!-- END BLOCK : tipousuario -->
          </select>&nbsp;</td>
    </tr>
  </table>
  <div id="tercerdiv" style="position:absolute; left:117px; top:80px; width:219px; height:23px; z-index:3; border:0pt black solid;">
   <input name="guardar" type="hidden" value="0" />
    <input name="button" type="submit" class="BotonTurist_Celest" value="Ingresar"  onclick="IngresarTipo()"/>
    <input name="Submit" type="button" class="BotonTurist_Celest" value="Cancelar" onclick="salir()"  {VISIBILIDADBOTON} />
   
  </div>
  <p>&nbsp;</p>
</div>
</form>
</body>
</html>
