<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Tipo Grupo</title>
<link href="../estilos.css" rel="stylesheet" type="text/css" />
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer3 {position:absolute;
	left:12px;
	top:51px;
	width:316px;
	height:46px;
	z-index:14;
}
-->
</style>
</head>
<script>
function salir()
	{
		window.close();
	}

			
function IngresarTipo()
	{
	 	if (document.form1.descripciontipogrupo.value.length=='0')
			{
				alert("Debe Ingresar la Descripción del Tipo de grupo que desea ingresar");
				document.form1.descripciontipogrupo.focus();
				return;
			}
			
		document.form1.guardar.value=1;
		document.form1.submit;
}

</script>
<body oncontextmenu="return false">
<form id="form1" name="form1" method="post" action="">
  <div class="TituloPlomo" id="Layer3">
    <table width="312" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="82" rowspan="4"><img src="../Imagenes/Tipo_Grupo_80x80.png" width="80" height="80" /></td>
        <td width="13" rowspan="4">&nbsp;</td>
        <td width="217"><p>&nbsp;</p></td>
      </tr>
      <tr>
        <td height="22" class="TituloPlomo"><strong>Tipo Grupo </strong></td>
      </tr>
      <tr>
        <td height="22" class="TituloFecha">{fecha}</td>
      </tr>
      <tr>
        <td height="22" class="TituloFecha">&nbsp;</td>
      </tr>
    </table>
  </div>
  <p>&nbsp;</p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>
<div id="segundodiv" style="position:absolute; left:11px; top:154px; width:503px; height:47px; z-index:3; border:0pt black solid;">
  <table width="493" border="0" cellspacing="0">
    
    <tr>
      <td width="150" class="celdalazul">Descripci&oacute;n Tipo Grupo </td>
      <td width="339" class="celdalCELEST"><label>
        <input name="descripciontipogrupo" type="text" class="seleccionTurist_320" maxlength="100" />
      </label></td>
    </tr>
  </table>
  <div id="tercerdiv" style="position:absolute; left:171px; top:58px; width:219px; height:23px; z-index:3; border:0pt black solid;">
   <input name="guardar" type="hidden" value="0" />
    <input name="button" type="submit" class="BotonTurist_Celest" value="Ingresar"  onclick="IngresarTipo()"/>
    <input name="Submit" type="button" class="BotonTurist_Celest" value="Cancelar" onclick="salir()" />
   
  </div>
  <p>&nbsp;</p>
</div>
</form>
</body>
</html>
