<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:18px;
	top:119px;
	width:454px;
	height:102px;
	z-index:9;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:26px;
	width:439px;
	height:62px;
	z-index:0;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Modificar Información Proveedor</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
</head>
<script>
function ModificarProveedor()
	{
		if (document.form1.nombre.value=='')
			{
				alert("Debe Ingresar el Nombre del Proveedor que desea modificar");
				document.form1.nombre.focus();
				return;
			}
		if (document.form1.direccion.value=='')
			{
				alert("Debe Ingresar la Dirección del Proveedor que desea modificar");
				document.form1.direccion.focus();
				return;
			}
		if (document.form1.comuna.value=='')
			{
				alert("Debe Ingresar la Comuna a la cual pertenece el Proveedor");
				document.form1.comuna.focus();
				return;
			}
		
		if (document.form1.ciudad.value=='')
			{
				alert("Debe Ingresar la Ciudad a la cual pertenece el Proveedor");
				document.form1.ciudad.focus();
				return;
			}
		if (document.form1.telefono.value=='')
			{
				alert("Debe Ingresar el Telefono del Proveedor que desea modificar ");
				document.form1.telefono.focus();
				return;
			}
		document.form1.guardar.value=1;
		document.form1.submit();
	}
function pres_num()
	{
		if((event.keyCode<48) || (event.keyCode>57))
			{
				event.returnValue = false;
			}		
	}
function ModificarEstado()
	{
		miPopup = window.open("../PHP/ListaEstadosProveedor.php","estado","top=200,left=400,width=300,height=200,scrollbars=yes,titlebar=no,location=no");
		miPopup.focus();
	}
</script>
<body>
<form id="form1" name="form1" method="post" action="">
<div id="Layer1">
  
    <table width="448" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td width="170" class="celdalazul">Nombre Proveedor </td>
        <td width="278" class="celdalCELEST"><label>
          <input name="nombre" type="text" class="seleccionTurist_250" id="nombre" maxlength="39" {NOMBRE} />
        </label></td>
      </tr>
      <tr>
        <td class="celdalazul">Direcci&oacute;n Proveedor </td>
        <td class="celdalCELEST"><input name="direccion" type="text" class="seleccionTurist_250" id="direccion" maxlength="39" {DIRECCION} /></td>
      </tr>
      

      <tr>
        <td class="celdalazul">Comuna</td>
        <td class="celdalCELEST"><label>
          <input name="comuna" type="text" class="seleccionTurist_180" id="comuna" maxlength="39"  {COMUNA} />
        </label></td>
      </tr>
      <tr>
        <td class="celdalazul">Ciudad</td>
        <td class="celdalCELEST"><input name="ciudad" type="text" class="seleccionTurist_180" id="ciudad" maxlength="39" {CIUDAD} /></td>
      </tr>
      <tr>
        <td class="celdalazul">T&eacute;lefono</td>
        <td class="celdalCELEST"><input name="telefono" type="text" class="seleccionTurist_180" id="telefono" onkeypress="pres_num();" maxlength="11" {TELEFONO} /></td>
      </tr>
      <tr>
        <td class="celdalazul">Estado</td>
        <td class="celdalCELEST"><label>
          <input name="estado" type="text" class="seleccionTurist_180" id="estado"  {ESTADO} readonly="" />
          <img src="../Imagenes/modify.gif" width="16" height="16" onclick="ModificarEstado()" alt="Modificar Estado Proveedor" style="cursor:hand"/></label></td>
      </tr>
      
      <tr>
        <td><div align="right"></div></td>
        <td><label></label></td>
      </tr>
    </table>

</div>
<div id="boton" style="position:absolute; left:183px; top:316px; width:200px; height:25px; z-index:3; border:0pt black solid;">
                  <input name="Submit2" type="button" class="BotonTurist_Celest" value="Modificar" onclick="ModificarProveedor()" />
                  <input type="hidden" name="guardar" value="0" />
                 
                  <input type="hidden" name="CODIGOESTADO" value="codnulo"/>
</div>
<div class="TituloPlomo" id="Layer3">
  <table width="381" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="82" rowspan="4"><img src="../Imagenes/Proveedor_80x80.png" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="286">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Modificar Informaci&oacute;n  Proveedor </strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
</form>
</body>
</html>
