<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Ingreso Capacidad</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
<script language="JavaScript" type="text/JavaScript">


function ponPrefijo(estado)
{
    if(document.getElementById("observacion").value == '')
    {
        alert("Ingrese observacion para anular");
        document.getElementById("observacion").focus();
        document.getElementById("radio").disabled = false;
        
    }
    else
    {
        document.form1.estado.value=estado;
        document.form1.guardar.value='1';
        document.form1.submit();       
    }

}

</script>
<link href="../estilos1.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="Layer3" style="position:absolute; left:5px; overflow:auto; top:7px; width:430px; height:156px; border=0pt black solid; z-index:3">
  <form name="form1" method="post" action="">
    <table width="229" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2" class="celdalazul">Estado Cierre Reserva <span class="celdalCELEST">
          <input name="buscar" type="hidden" id="buscar2"/>
          <input name="estado" type="hidden" value="3" id="estado"/>  
          <input type="hidden" name="guardar"/>
        </span></td>

      </tr>
      <tr class="celdalCELEST">
        <!-- START BLOCK : tabla -->
        <td width="32" class="celdalCELEST"><input name="radio" id="radio" type="radio" value="{COD_CIERRE}" onClick="ponPrefijo(this.value)"/></td>
        <td width="436" class="celdalCELEST"> {GLOSA_CIERRE} </td>
      </tr>
      
      <tr class="celdalCELEST">
        <td width="32" class="celdalCELEST">Observacion</td>
        <td width="436" class="celdalCELEST"><textarea name="observacion" id="observacion"></textarea></td>
      </tr>
    </table>
  </form>
</div>

</body>
</html>
