<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:164px;
	width:510px;
	height:72px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:60px;
	width:447px;
	height:62px;
	z-index:14;
}
#Layer4 {
	position:absolute;
	left:16px;
	top:200px;
	width:306px;
	height:74px;
	z-index:21; visibility:hidden;
}
#Layer5 {
	position:absolute;
	left:16px;
	top:235px;
	width:306px;
	height:74px;
	z-index:21;
}
-->
</style>
<script type="text/JavaScript">


function Eliminar()
{
alert('Esta seguro de desasociar el tipo de evento');
}
function Aceptar()
{
document.form1.escondida2.value=1;
document.form1.submit();
}

function Cargar()
	{
		if (document.form1.serie.value=='0x')	
			{
				alert("Debe Seleccionar alguna Serie");
				document.form1.serie.focus();
				return;
			}
		document.form1.modificar.value=1;
		document.form1.submit();
	}
function ModificarPerfil()
	{
		miPopup = window.open("../PHP/ListaPerfiles.php","miwin","top=200,left=350,width=340,height=260,scrollbars=yes,titlebar=no,location=no");
 		miPopup.focus();	
	}
function ModificarTipoPerfil()
	{
		if (document.form1.perfil.value=='')
			{
				alert("Debe Ingresar el Perfil que desea Modificar");
				document.form1.perfil.focus();
				return;
			}
		document.form1.guardar.value=1;
		document.form1.submit();
	}
</script>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso de Tarjeta</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
</head>

<body>
  <form id="form1" name="form1" method="post" action="">
<br />
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>


<div id="Layer1">

    <table width="496" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td colspan="2" class="celdalazul">Seleccione la Serie </td>
      </tr>
      <tr>
        <td width="142" class="celdalazul">N&uacute;mero de Serie </td>
        <td width="354" class="celdalCELEST"><label>
          <select name="serie" class="seleccionTurist_180" id="serie" {DESHABILIT}>
          <option value="0x">--Seleccionar--</option>
           <!-- START BLOCK : SERIE -->
		  <option value="{SERIE_POS}" {SELECCIONAR}>{SERIE_POS}</option>
		   <!-- END BLOCK : SERIE -->
          </select>
&nbsp;          <img src="../Imagenes/120px-Crystal_Clear_action_build19x19.png" width="19" height="19" onclick="Cargar()" style="cursor:hand"  alt="Filtrar"/>&nbsp;&nbsp;
          <input type="hidden" name="modificar"  value="0"/>
        </label></td>
      </tr>
    </table>
 
</div>
<div id="divtabla" style="position:absolute; left:16px; top:219px; width:515px; height:43px; z-index:3; border:0pt black solid;">
<table width="496" border="0" cellspacing="0">
    <tr>
      <td width="144" class="celdalazul">Perfil</td>
      <td width="348" class="celdalCELEST"><label>
        <input name="perfil" type="text" class="seleccionTurist_250" readonly="" id="perfil" {PERFIL} />
        <img src="../Imagenes/modify.gif" width="16" height="16"  onclick="ModificarPerfil()" alt="Seleccionar Nuevo Perfil" style="cursor:hand"/></label>
        <input type="hidden" name="CODIGO"  value="{VARIABLE}"/></td>
    </tr>
  </table>
</div>
<div class="TituloPlomo" id="Layer3">
  <table width="435" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/SAGEM.jpg" width="80" height="80" /></td>
      <td width="18">&nbsp;</td>
      <td width="337">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Modificaci&oacute;n  de Asignaci&oacute;n de Perfil</strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>
 
  <div id="tercerdiv" style="position:absolute; left:16px; top:261px; width:126px; height:23px; z-index:3; border:0pt black solid;">
    <input name="button" type="submit" class="BotonTurist_Celest" value="Modificar"  onclick="ModificarTipoPerfil()"/>
  
      <input type="hidden" name="CODIGOPERFIL" value="codnulo" />
    
      <input type="hidden" name="guardar" value="0" />
  </div>
</form>
</body>
</html>

