<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:159px;
	width:788px;
	height:37px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:60px;
	width:367px;
	height:62px;
	z-index:14;
}

#Layer4 {
	position:absolute;
	left:17px;
	top:245px;
	width:805px;
	height:293px;
	z-index:20;
}
#Layer5 {
	position:absolute;
	left:17px;
	top:318px;
	width:786px;
	height:22px;
	z-index:12;
}
#Layer6 {
	position:absolute;
	left:17px;
	top:269px;
	width:817px;
	height:22px;
	z-index:14;
}
#Layer7 {
	position:absolute;
	left:18px;
	top:257px;
	width:817px;
	height:268px;
	z-index:10;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Modificar Tarjeta</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
<script language="jscript">
function Eliminar()
{
if(document.form1.ID_origen.value=='')
{
alert('Ingrese el Folio de la Tarjeta Inicial');
document.form1.ID_origen.focus();
return;
}
$A=confirm('Esta seguro de Eliminar?');
if($A)
{
document.form1.eliminar.value=1;
document.form1.submit();
}


}
function Buscar()
{

	if(document.form1.ID_origen.value=='')
		{
			alert('Ingrese la Tarjeta Inicial del rango')
			document.form1.ID_origen.focus();
			return;
		}
    if(document.form1.ID_origen.value.length!='12')
	{
		alert('Ingrese nuevamente los 12 digitos de la Tarjeta Inicial ');
		document.form1.ID_origen.focus();
			return;
		
	}
	if(document.form1.ID_origen.value=='')
	{
		if(document.form1.ID_destino.value=='')
			{
				alert('Ingrese nuevamente los 12 digitos de la  Tarjeta Final')
				document.form1.ID_destino.focus();
				return;
			}
		if(document.form1.ID_destino.value.length!='12')
		{
			alert('Ingrese nuevamente los 12 digitos de la  Tarjeta Final');
			document.form1.ID_destino.focus();
			return;
			
		}			
	}
	if(document.form1.ID_destino.value=='')
	{
	document.form1.ID_destino.value=document.form1.ID_origen.value;
	}
	else
	{
	if(document.form1.ID_destino.value.length!='12')
		{
			alert('Ingrese nuevamente los 12 digitos de la  Tarjeta Final');
			document.form1.ID_destino.focus();
			return;
			
		}			
	}
	document.form1.buscar.value='1';	
	document.form1.submit();

			
}
function pres_num()
{
	if(event.keyCode!=44)
	{
		if((event.keyCode<48) || (event.keyCode>57))
		{
				event.returnValue = false;
			}		
	}
}	

</script>
</head>

<body>
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>


<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="786" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td colspan="4" class="celdalazul">Rango de Tarjetas </td>
      </tr>
      <tr>
        <td width="140" class="celdalazul">Tarjeta Inicial</td>
        <td width="192" class="celdalCELEST"><input name="ID_origen" type="text" class="seleccionTurist_90" id="ID_origen"  value="{ID_origen}" size="12" maxlength="12" /></td>
        <td width="140" class="celdalazul"><span class="celdalazul">Tarjeta Final </span></td>
        <td width="314" class="celdalCELEST"><input name="ID_destino" type="text" class="seleccionTurist_90" id="ID_destino"  value="{ID_destino}" size="12" maxlength="12" />
        <input name="buscar" type="hidden" id="buscar" />
&nbsp;        <img src="../Imagenes/120px-Crystal_Clear_action_build19x19.png" width="19" height="19" style="cursor:hand" onclick="Buscar()" />&nbsp;&nbsp;&nbsp;
<input name="eliminar" type="hidden" id="eliminar" value="{ELIMINAR}" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="Submit2" type="button" class="BotonTurist_Celest" value="Eliminar" onclick="Eliminar()" /></td>
      </tr>
    </table>
  </form>
</div>

<div class="TituloPlomo" id="Layer3">
  <table width="350" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/tarjeta3.jpg" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="257">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Eliminar Tarjetas </strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<div id="Layer4" style="position:absolute; overflow:auto">
  <table width="785" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="109" class="celdalazul">ID Tarjeta </td>
      <td width="191" class="celdalazul">Producto</td>
      <td width="235" class="celdalazul">Distribuidor</td>
      <td width="134" class="celdalazul">Fecha  Creaci&oacute;n </td>
      <td width="116" class="celdalazul">Estado</td>
    </tr>
    <tr>
      <!-- START BLOCK : tabla -->
      <td {ESTILO}>{FOLIO_TAR}</td>
      <td {ESTILO} >{NOMBRE_PROD}</td>
      <td {ESTILO}>{NOMBRE_DIST}</td>
      <td {ESTILO}>{FECHA_CREACION_TAR}</td>
      <td {ESTILO}>{DESCRIPCION_EST}</td>
    </tr>
    <!-- END BLOCK : tabla -->
  </table>
</div>
<div id="Layer6" style="position:absolute; left: 18px; top: 537px;"; border="0pt" black="black" solid;="solid;">
  <form id="form2" name="form2" method="post" action="">
    <table width="785" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="784" colspan="2" class="celdalazul">Total de Tarjetas: {TOTAL} </td>
      </tr>
    </table>
  </form>
</div>
<div id="Layer6" style="position:absolute; left: 19px; top: 245px;"; border="0pt" black="black" solid;="solid;">
  <table width="785" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="111" class="celdalazul">ID Tarjeta </td>
      <td width="189" class="celdalazul">Producto</td>
      <td width="236" class="celdalazul">Distribuidor</td>
      <td width="132" class="celdalazul">Fecha  Creaci&oacute;n </td>
      <td width="117" class="celdalazul">Estado</td>
    </tr>
  </table>
</div>
<div id="Layer6">
  <table width="785" border="0" cellpadding="0" cellspacing="0" class="celdalCELEST">
    <tr>
      <td width="785" class="celdalCELEST"><div align="center" class="celdalCELEST">No Existen Tarjetas Creadas para el Rango </div></td>
    </tr>
  </table>
</div>
<div id="Layer7">
  <table width="785" border="1" cellpadding="1" cellspacing="1" class="celdal_BORD_CELEST">
    <tr>
      <td width="785" class="celdal_BORD_CELEST"><div align="center" class="celdal_BORD_CELEST">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      </div></td>
    </tr>
  </table>
</div>
</body>
</html>
