<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:159px;
	width:580px;
	height:124px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:17px;
	top:60px;
	width:354px;
	height:62px;
	z-index:14;
}
#Layer4 {
	position:absolute;
	left:16px;
	top:257px;
	width:518px;
	height:71px;
	z-index:19;
	visibility:hidden;
}
#Layer5 {
	position:absolute;
	left:16px;
	top:327px;
	width:911px;
	height:157px;
	z-index:19;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso Producto</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
.Estilo2 {font-size: 9}
.Estilo3 {font-size: 9pt}
-->
</style>
<script type="text/JavaScript">

function Popup()
{
 miPopup = window.open("../PHP/Horario_Evento.php","miwin","top=200,left=350,width=460,height=260,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	
}
function Calendario_Inicio()
{
 miPopup = window.open("../PHP/Calendario_Mod_Evento_Inicio.php","miwin2","top=200,left=350,width=270,height=260,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	
}
function Calendario_Final()
{
 miPopup = window.open("../PHP/Calendario_Mod_Evento_Final.php","miwin2","top=200,left=350,width=270,height=260,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	
}

function Aceptar()
{
document.form1.escondido.value='1';
}
function Ver(name)
{

<!--alert(name.substring(8,10));-->
document.form2.c.value='c'+name.substring(8,10);
document.form2.c5.value='1';
document.form2.submit();
}

function algo()
{
alert('algo');
document.form2.c5.checked;
document.form2.c6.value='si';
document.form2.submit();
}

function Visible_metricas_xtra()
{
	document.form1.variablemetricas.value="Si";
	document.form1.submit();
}

function Visible_metricas_2_xtra()
{
	document.form1.variablemetricas.value="No";
	document.form1.submit();
}
</script>
</head>

<body>
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>


<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="503" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="158" class="celdalazul">Codigo del Evento </td>
        <td width="345" class="celdalCELEST"><label>
          <select name="select2" class="seleccionTurist_180">
            <option value="0">--Seleccionar--</option>
          </select>
&nbsp;<img src="../Imagenes/120px-Crystal_Clear_action_build19x19.png" width="19" height="19" /> </label></td>
      </tr>
      <tr>
        <td class="celdalazul">Descripcion del Evento </td>
        <td class="celdalCELEST"><label>
          <input name="textfield" type="text" class="seleccionT3" />
        </label></td>
      </tr>
      
      <tr>
        <td class="celdalazul">Region</td>
        <td class="celdalCELEST"><label>
          <select name="select" class="seleccionTurist_180">
            <option value="1">--Seleccionar--</option>
            <option value="1">I Region</option>
            <option value="1">II Region </option>
            <option value="1">III Region</option>
			<option value="1">IV Region</option>
			<option value="1">V Region</option>
			<option value="1">VI Region</option>
			<option value="1">VII Region</option>
			<option value="1">VIII Region</option>
			<option value="1">IX Region</option>
			<option value="1">X Region</option>
			<option value="1">XI Region</option>
			<option value="1">XII Region</option>
			<option value="1">XIII Region</option>
			<option value="1">XIV Region</option>
          </select>
          &nbsp;&nbsp;
          <input type="hidden" name="escondido" {ESCONDIDO}/>
        </label></td>
      </tr>
      <tr>
        <td class="celdalazul">Fecha Inicio </td>
        <td class="celdalCELEST"><label>
          <input name="fechaI" type="text" class="seleccionTurist_90" id="fechaI" />
          <img src="../Imagenes/icono_calendario.gif" alt="Calendaio" width="16" height="15" style="cursor:hand" onclick="Calendario_Inicio()" /></label></td>
      </tr>
      <tr>
        <td class="celdalazul">Fecha Final </td>
        <td class="celdalCELEST"><input name="fechaF" type="text" class="seleccionTurist_90" id="fechaF" /> 
        <img src="../Imagenes/icono_calendario.gif" alt="Calendario" width="16" height="15"  style="cursor:hand" onclick="Calendario_Final()" /></td>
      </tr>
      
      

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </form>
</div>

<div class="TituloPlomo" id="Layer3">
  <table width="329" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="81" rowspan="4"><img src="../Imagenes/PF_RapidWeaver80x80.jpg" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="235"><p>&nbsp;</p>      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Modificar </strong><strong>Evento</strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<div id=Layer5>
  <form id="form2" name="form2" method="post" action="">
    <table width="893" height="20" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="7" class="celdalazul">Dias</td>
      </tr>
      <tr>
        <td width="73" class="celdalazul">Lunes</td>
        <td width="72" class="celdalazul">Martes</td>
        <td width="73" class="celdalazul">Miercoles</td>
        <td width="71" class="celdalazul"><label>Jueves</label></td>
        <td width="71" class="celdalazul">Viernes</td>
        <td width="71" class="celdalazul">Sabado</td>
        <td width="71" class="celdalazul">Domingo</td>
      </tr>
      <tr>
        <td class="celdalCELEST"><label>
          <div align="center">
            <input name="checkbox" type="checkbox" value="checkbox" checked="checked" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <div align="center">
            <input type="checkbox" name="checkbox2" value="checkbox" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <div align="center">
            <input name="checkbox3" type="checkbox" value="checkbox" checked="checked" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <div align="center">
            <input type="checkbox" name="checkbox4" value="checkbox" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <div align="center">
            <input name="checkbox5" type="checkbox" value="checkbox" checked="checked" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <div align="center">
            <input type="checkbox" name="checkbox6" value="checkbox" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <div align="center">
            <input type="checkbox" name="checkbox7" value="checkbox" />
          </div>
        </label></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <table width="895" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="21" class="celdalazul">Horario y Reservas </td>
      </tr>
      <tr>
        <td width="49" class="celdalazul Estilo3">&nbsp;</td>
        <td width="44" class="celdalazul Estilo3">5:00</td>
        <td width="40" class="celdalazul Estilo2">6:00</td>
        <td width="37" class="celdalazul Estilo2">7:00</td>
        <td width="37" class="celdalazul Estilo2">8:00</td>
        <td width="38" class="celdalazul Estilo2">9:00</td>
        <td width="42" class="celdalazul Estilo2">10:00</td>
        <td width="42" class="celdalazul Estilo2">11:00</td>
        <td width="43" class="celdalazul Estilo2">12:00</td>
        <td width="44" class="celdalazul Estilo2">13:00</td>
        <td width="43" class="celdalazul Estilo2">14:00</td>
        <td width="42" class="celdalazul Estilo2">15:00</td>
        <td width="46" class="celdalazul Estilo2">16:00</td>
        <td width="41" class="celdalazul Estilo2">17:00</td>
        <td width="43" class="celdalazul Estilo2">18:00</td>
        <td width="41" class="celdalazul Estilo2">19:00</td>
        <td width="45" class="celdalazul Estilo2">20:00</td>
        <td width="43" class="celdalazul Estilo2">21:00</td>
        <td width="43" class="celdalazul Estilo2">22:00</td>
        <td width="41" class="celdalazul Estilo2">23:00</td>
        <td width="51" class="celdalazul Estilo2">24:00</td>
      </tr>
      <tr>
        <td class="celdalCELEST">Horas</td>
        <td class="celdalCELEST"><label>
          <label>
          <input type="hidden" name="c" />
          </label>
          <input name="c5" type="hidden" id="c5" {C5}>
          <div align="center">
            <input name="checkbox5" type="checkbox" id="checkbox5" onclick="Ver(this.name)" value="checkbox" checked="checked" {CHECK} {f55} />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <input name="c6" type="hidden" id="c6" />
          <div align="center">
            <input name="checkbox6" type="checkbox" id="checkbox6" value="checkbox" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <input name="c7" type="hidden" id="c7" />
          <div align="center">
            <input name="checkbox7" type="checkbox" id="checkbox7" value="checkbox" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <input name="c8" type="hidden" id="c8" />
          <div align="center">
            <input name="checkbox8" type="checkbox" id="checkbox8" value="checkbox" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <input name="c9" type="hidden" id="c9" />
          <div align="center">
            <input name="checkbox9" type="checkbox" id="checkbox9" value="checkbox" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <input name="c10" type="hidden" id="c10" />
          <div align="center">
            <input name="checkbox10" type="checkbox" id="checkbox10" value="checkbox" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <input name="c11" type="hidden" id="c11" />
          <div align="center">
            <input name="checkbox11" type="checkbox" id="checkbox11" value="checkbox" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <input name="c12" type="hidden" id="c12" />
          <div align="center">
            <input name="checkbox12" type="checkbox" id="checkbox12" value="checkbox" checked="checked" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <input name="c13" type="hidden" id="c13" />
          <div align="center">
            <input name="checkbox13" type="checkbox" id="checkbox13" value="checkbox" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <input name="c14" type="hidden" id="c14" />
          <div align="center">
            <input name="checkbox14" type="checkbox" id="checkbox14" value="checkbox" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <input name="c15" type="hidden" id="c15" />
          <div align="center">
            <input name="checkbox15" type="checkbox" id="checkbox15" value="checkbox" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <input name="c16" type="hidden" id="c16" />
          <div align="center">
            <input name="checkbox16" type="checkbox" id="checkbox16" value="checkbox" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <input name="c17" type="hidden" id="c17" />
          <div align="center">
            <input name="checkbox17" type="checkbox" id="checkbox17" value="checkbox" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <input name="c18" type="hidden" id="c18" />
          <div align="center">
            <input name="checkbox18" type="checkbox" id="checkbox18" value="checkbox" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <input name="c19" type="hidden" id="c19" />
          <div align="center">
            <input name="checkbox19" type="checkbox" id="checkbox19" value="checkbox" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <input name="c20" type="hidden" id="c20" />
          <div align="center">
            <input name="checkbox20" type="checkbox" id="checkbox20" value="checkbox" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <input name="c21" type="hidden" id="c21" />
          <div align="center">
            <input name="checkbox21" type="checkbox" id="checkbox21" value="checkbox" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <input name="c22" type="hidden" id="c22" />
          <div align="center">
            <input name="checkbox22" type="checkbox" id="checkbox22" value="checkbox" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <input name="c23" type="hidden" id="c23" />
          <div align="center">
            <input name="checkbox23" type="checkbox" id="checkbox23" value="checkbox" />
          </div>
        </label></td>
        <td class="celdalCELEST"><label>
          <input name="c24" type="hidden" id="c24" />
          <div align="center">
            <input name="checkbox24" type="checkbox" id="checkbox24" value="checkbox" />
          </div>
        </label></td>
      </tr>
      <tr>
        <td class="celdalCELEST">Reservas</td>
        <td class="celdalCELEST"><label>
          <input name="reserva5" type="text" class="seleccionTurist_25" id="reserva5" value="33" size="4" maxlength="4"  {VISIBLE5} >
        </label></td>
        <td class="celdalCELEST"><div align="center">
          <input name="reserva6" type="text" class="seleccionTurist_25" id="reserva6" size="4" maxlength="4" style="visibility:hidden">
        </div></td>
        <td class="celdalCELEST"><div align="center">
          <input name="reserva7" type="text" class="seleccionTurist_25" id="reserva7" size="4" maxlength="4" style="visibility:hidden" />
        </div></td>
        <td class="celdalCELEST"><div align="center">
          <input name="reserva8" type="text" class="seleccionTurist_25" id="reserva8" maxlength="4"  style="visibility:hidden"/>
        </div></td>
        <td class="celdalCELEST"><div align="center">
          <input name="reserva9" type="text" class="seleccionTurist_25" id="reserva9" maxlength="4"  style="visibility:hidden"/>
        </div></td>
        <td class="celdalCELEST"><div align="center">
          <input name="reserva10" type="text" class="seleccionTurist_25" id="reserva10" maxlength="4"  style="visibility:hidden"/>
        </div></td>
        <td class="celdalCELEST"><div align="center">
          <input name="reserva11" type="text" class="seleccionTurist_25" id="reserva11" maxlength="4" style="visibility:hidden"/>
        </div></td>
        <td class="celdalCELEST"><div align="center">
          <input name="reserva12" type="text" class="seleccionTurist_25" id="reserva12" value="6" maxlength="4" />
        </div></td>
        <td class="celdalCELEST"><div align="center">
          <input name="reserva13" type="text" class="seleccionTurist_25" id="reserva13" style="visibility:hidden" maxlength="4"/>
        </div></td>
        <td class="celdalCELEST"><div align="center">
          <input name="reserva14" type="text" class="seleccionTurist_25" id="reserva14" maxlength="4" style="visibility:hidden"/>
        </div></td>
        <td class="celdalCELEST"><div align="center">
          <input name="reserva15" type="text" class="seleccionTurist_25" id="reserva15" maxlength="4" style="visibility:hidden"/>
        </div></td>
        <td class="celdalCELEST"><div align="center">
          <input name="reserva16" type="text" class="seleccionTurist_25" id="reserva16" maxlength="4" style="visibility:hidden"/>
        </div></td>
        <td class="celdalCELEST"><div align="center">
          <input name="reserva17" type="text" class="seleccionTurist_25" id="reserva17" maxlength="4" style="visibility:hidden"/>
        </div></td>
        <td class="celdalCELEST"><div align="center">
          <input name="reserva18" type="text" class="seleccionTurist_25" id="reserva18" maxlength="4" style="visibility:hidden"/>
        </div></td>
        <td class="celdalCELEST"><div align="center">
          <input name="reserva19" type="text" class="seleccionTurist_25" id="reserva19" maxlength="4" style="visibility:hidden"/>
        </div></td>
        <td class="celdalCELEST"><div align="center">
          <input name="reserva20" type="text" class="seleccionTurist_25" id="reserva20" maxlength="4" style="visibility:hidden"/>
        </div></td>
        <td class="celdalCELEST"><div align="center">
          <input name="reserva21" type="text" class="seleccionTurist_25" id="reserva21" maxlength="4" style="visibility:hidden"/>
        </div></td>
        <td class="celdalCELEST"><div align="center">
          <input name="reserva22" type="text" class="seleccionTurist_25" id="reserva22" maxlength="4" style="visibility:hidden"/>
        </div></td>
        <td class="celdalCELEST"><div align="center">
          <input name="reserva23" type="text" class="seleccionTurist_25" id="reserva23" maxlength="4" style="visibility:hidden"/>
        </div></td>
        <td class="celdalCELEST"><div align="center">
          <input name="reserva24" type="text" class="seleccionTurist_25" id="reserva24" maxlength="4" style="visibility:hidden"/>
        </div></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="21"><label>
          <input name="Submit" type="submit" class="BotonTurist_Celest" value="Aceptar" />
        </label></td>
      </tr>
    </table>
    <p>&nbsp;</p>
  </form>
</div>
</body>
</html>
