<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:169px;
	width:836px;
	height:102px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:60px;
	width:290px;
	height:62px;
	z-index:0;
}
#Layer4 {
	position:absolute;
	left:17px;
	top:374px;
	width:843px;
	height:95px;
	{VISIBLE_FORM}
	
}
#Layer5 {
	position:absolute;
	left:17px;
	top:350px;
	width:296px;
	height:95px;
	z-index:14;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Modificar Producto</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:48px;
	width:126px;
	height:116px;
	z-index:12;
}
-->
</style>
<script type="text/JavaScript">
function Limpiar()
{
document.form1.NOMBRE_PRODUCTO.value='';
document.form1.p_nacional.value='';
document.form1.estado.value='';
document.form1.p_internacional.value='';
document.form1.color.value='';
document.form1.duracion.value='';
document.form1.duracion_desc.value='';
document.form1.descripcionPOS.value='';
document.form1.descripcion.value='';
document.form1.vigencia.value='';
document.form1.escondida.value='';
document.form1.eliminar.value='';
document.form1.eliminado.value='';
document.form1.nombre.value='';
document.form1.submit();
}
function Estado()
{
 miPopup = window.open("../PHP/Seleccionar_Estado.php","miwin","top=200,left=350,width=400,height=230,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	
}

function Color()
{
 miPopup = window.open("../PHP/Seleccionar_Color.php","miwin","top=200,left=350,width=400,height=230,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	
}
function Popup()
{
 miPopup = window.open("../PHP/Ingreso_Ubicacion.php","miwin","top=200,left=350,width=400,height=230,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	
}
function Asociar()
{
var producto=document.form1.codigo.value;
 miPopup = window.open("../PHP/Ingreso_Ubicacion.php?codigo="+producto,"miwin","top=200,left=350,width=400,height=230,scrollbars=yes,titlebar=no,location=no");

 miPopup.focus();	
}
function Ver()
{
if(document.form1.nombre.value=='0x')
{
alert('Seleccione el Nombre del Producto');
return;
}
document.form1.escondida.value='1';
document.form1.modificar.value='1';
document.form1.submit();
document.form1.submit();
}
function PopupModificar()
{
 miPopup = window.open("../PHP/Modificar_Productos_Popup.php","miwin","top=200,left=350,width=400,height=230,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	
}

function PopupAsociar()
{
 miPopup = window.open("../PHP/Ingreso_Ubicacion.php","miwin","top=200,left=350,width=400,height=230,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	
}
function Actualizar()
{
document.form1.submit();
document.form1.buscar.value=1;
document.form1.submit();
}
function Eliminar(codigo)
{
alert(codigo);
	var a=confirm('Esta seguro de eliminar la reserva');
	if(a)
	{
	document.form1.eliminar.value='1';
		document.form1.eliminado.value=codigo;
		document.form1.submit();
	}
}


function pres_num()
	{
		if(event.keyCode!=44)
			{
				if((event.keyCode<48) || (event.keyCode>57))
					{
						event.returnValue = false;
					}		
			}
	}	
	
function pres_num_3()
	{
		if((event.keyCode<48) || (event.keyCode>57))
					{
						event.returnValue = false;
					}		
	}	
</script>
</head>

<body>

<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>


<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="831" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="139" class="celdalazul">Nombre del Producto</td>
        <td colspan="3" class="celdalCELEST"><select name="nombre" class="seleccionTurist_320" id="nombre"  onchange="Actualizar();"  >
          <option value="0x">--Seleccionar--</option>
		  <!--START BLOCK : producto -->
          <option value="{CODIGO_PRODUCTO}" {SELECCIONAR}>[ {CODIGO_PRODUCTO} ] - {NOMBRE_PRODUCTO}</option>
		  <!--END BLOCK : producto -->		  
        </select>
&nbsp;
<input name="codigo" type="hidden" id="codigo" value="{codigo}" />
<label>
<input name="eliminar" type="hidden" id="eliminar" />
</label></td>
      </tr>
      
      
      <tr>
        <td class="celdalazul">Nombre del Producto</td>
        <td class="celdalCELEST"><input name="NOMBRE_PRODUCTO" type="text" class="seleccionTurist_320" id="NOMBRE_PRODUCTO" value="{NOMBRE_PRODUCTO}" /></td>
        <td class="celdalazul">Estado</td>
        <td class="celdalCELEST"><label>
          <input name="estado" type="text" class="seleccionTurist_90" id="estado" value="{estado}"  readonly="true"/>
          <img src="../Imagenes/modify.gif" alt="Seleccionar Estado" width="16" height="16" style="cursor:hand" onclick="Estado()" />        
          <input name="codigo_estado" type="hidden" class="seleccionTurist_90" id="codigo_estado" value="{codigo_estado}" />
        </label></td>
      </tr>
      <tr>
        <td class="celdalazul">Precio [Peso]</td>
        <td width="330" class="celdalCELEST"><label>
          <input name="p_nacional" type="text" class="seleccionTurist_90" id="p_nacional" value="{P_NACIONAL}" onKeyPress="pres_num_3()" />
          <input name="eliminado" type="hidden" id="eliminado" />
        </label></td>
        <td width="126" class="celdalazul">Precio [Dolar] </td>
        <td width="236" class="celdalCELEST"><input name="p_internacional" type="text" class="seleccionTurist_90" id="p_internacional" value="{P_INTERNACIONAL}" onKeyPress="pres_num()"/>
          <label>
          <input name="modificar" type="hidden" id="modificar" />
        </label></td>
      </tr>
      
      <tr>
        <td class="celdalazul">Periodo de Vigencia </td>
        <td class="celdalCELEST"><label>
          <input name="vigencia" type="text" class="seleccionTurist_90" id="vigencia" value="{VIGENCIA}" onKeyPress="pres_num_3()" />
          D&iacute;as
          <input name="escondida" type="hidden" id="escondida" value="{escondida}" {ESCONDIDA}>
          <input name="asociar" type="hidden" id="asociar" {asociar} />
          <input name="buscar" type="hidden" id="buscar" value="{BUSCAR}" />
        </label></td>
        <td class="celdalazul">Color</td>
        <td class="celdalCELEST"><input name="color" type="text" class="seleccionTurist_90" id="color" value="{COLOR}"  readonly="true"/>
        &nbsp;&nbsp;<img src="../Imagenes/modify.gif" alt="Seleccionar Color" width="16" height="16" style="cursor:hand" onclick="Color()" />
        <label>
        <input name="codigo_color" type="hidden" class="seleccionTurist_90" id="codigo_color" value="{codigo_color}" />
        </label></td>
      </tr>
      
      
      <tr>
        <td class="celdalazul">Descripci&oacute;n</td>
        <td class="celdalCELEST"><label>
          <textarea name="descripcion" class="seleccionTurist_250" id="descripcion">{DESCRIPCION}</textarea>
        </label></td>
        <td class="celdalazul">Duraci&oacute;n Producto </td>
        <td class="celdalCELEST"><input name="duracion" type="text" class="seleccionTurist_90" id="duracion" value="{DURACION}" onKeyPress="pres_num_3()" />
          D&iacute;as </td>
      </tr>
      <tr>
        <td class="celdalazul">Descripcion del POS </td>
        <td class="celdalCELEST"><input name="descripcionPOS" type="text" class="seleccionTurist_250" id="descripcionPOS" value="{DESCRIPCION_POS_PROD}" maxlength="20" /></td>
        <td class="celdalazul">Duraci&oacute;n Descuento</td>
        <td class="celdalCELEST"><input name="duracion_desc" type="text" class="seleccionTurist_90" id="duracion_desc" value="{DURACION_DESCUENTO_PROD}" onKeyPress="pres_num_3()" />
        D&iacute;as
            <input name="Submit2" type="button" class="BotonTurist_Celest" value="Modificar" onclick="Ver()" /></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </form>
</div>



<div class="TituloPlomo" id="Layer3">
  <table width="281" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/120px-Crystal_Clear_app_lphoto80x80.png" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="188">&nbsp;</td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloPlomo"><strong>Modificar Producto </strong></td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">{fecha}</td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<div id="Layer4">
  <table width="833" border="0" cellspacing="0">
    <tr>
      <td width="40" class="celdalazul">Codigo</td>
      <td class="celdalazul">Decripcion del Servicio </td>
      <td width="158" class="celdalazul">Descripcion POS </td>
      <td width="60" class="celdalazul">Cantidad</td>
      <td width="60" class="celdalazul">Precio</td>
      <td width="40"class="celdalazul"><div align="center"><span class="celdalCELEST">
          <input name="Submit3" type="submit" class="BotonPeque&ntilde;o_Azul" value="[+]" {visible} onclick="Asociar()" />
      </span></div></td>
    </tr>
    <tr>
      <!-- START BLOCK : tabla -->
      <td width="40" class="celdalCELEST">{CODIGO_SERV} </td>
      <td width="159" class="celdalCELEST">{DESCRIPCION_SERV}</td>
      <td width="158" class="celdalCELEST">{DESCRIPCION_POS_SERV}&nbsp;</td>
      <td width="60" class="celdalCELEST">{CANTIDAD_SERV}&nbsp;</td>
      <td width="60" class="celdalCELEST">{PRECIO_SERV}&nbsp;</td>
      <td width="40" class="celdalCELEST"><div align="center">{IMAGEN}{CODIGO_IRPS}{IMAGEN2}&nbsp;</div></td>
    </tr>
    <!-- END BLOCK : tabla -->
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="6"><input name="Submit" type="button" class="BotonTurist_Celest" value="Aceptar" onclick="Limpiar()" />
          <input name="Cancelar" type="button" class="BotonTurist_Celest" id="Cancelar" value="Cancelar" onclick="Cancelar()" /></td>
    </tr>
    <tr>
      <td colspan="6"></td>
    </tr>
    <tr>
      <td colspan="6"></td>
    </tr>
    <tr>
      <td colspan="6"></td>
    </tr>
  </table>
</div>
</body>
</html>
