<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Cuentas Contables</title>
<link href="../estilos.css" rel="stylesheet" type="text/css" />
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer3 {position:absolute;
	left:14px;
	top:50px;
	width:409px;
	height:46px;
	z-index:14;
}
#Layer2 {position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
</head>
<script>
function salir()
	{
		window.close();
	}


function TipoCuenta()
	{
		miPopup = window.open("../PHP/Ingresar_Tipo_Cuenta.php","cue","top=200,left=400,width=550,height=200,scrollbars=yes,titlebar=no,location=no");
		miPopup.focus();
	}
	
function Filtrar()
	{
		document.form1.filtrar.value=1;
		document.form1.submit();
	}
	
function Paginador(dato)
	{
		form1.pag.value = dato;
		form1.submit();
	}
function ModificarSerie(SERIE,ESTADO,PATENTE,MODO)
	{
		miPopup = window.open("../PHP/Modificar_Serie_POS2.php?MODO="+MODO+"&PATENTE="+PATENTE+"&SERIE="+SERIE+"&ESTADO="+ESTADO,"modificarseriepos","top=200,left=400,width=500,height=300,scrollbars=yes,titlebar=no,location=no");
		miPopup.focus();
	}
	
function Activar(is_checked)
{
    if(is_checked==true)
    {
		alert('Visualizacion de todas las Series')
        document.form1.variableEstadoComision1.value='verdadero';
		document.form1.submit();	   
	}
	else
	{
		alert('Apagar Visualizacion de las Series Activas')
	    document.form1.variableEstadoComision1.value='falso';
		document.form1.submit();			
	}
}
</script>
<body>
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
<form id="form1" name="form1" method="post" action="">
  <div class="TituloPlomo" id="Layer3">
    <table width="351" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="82" rowspan="4"><img src="../Imagenes/SAGEM.jpg" width="80" height="80" /></td>
        <td width="13" rowspan="4">&nbsp;</td>
        <td width="256"><p>&nbsp;</p></td>
      </tr>
      <tr>
        <td height="22" class="TituloPlomo"><strong>Modificar Serie POS </strong><strong></strong></td>
      </tr>
      <tr>
        <td height="22" class="TituloFecha">{fecha}</td>
      </tr>
      <tr>
        <td height="22" class="TituloFecha">&nbsp;</td>
      </tr>
    </table>
  </div>
  <p>&nbsp;</p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>

<div id="segundodiv" style="position:absolute; left:15px; top:199px; width:615px; height:306px; z-index:3; border:0pt black solid; overflow:auto">
  <table width="566" border="0" cellspacing="0">
    
    <tr>
      <td width="118" class="celdalazul">Serie</td>
      <td width="249" class="celdalazul">Caracteristica / Patente </td>
      <td width="249" class="celdalazul">Modo</td>
      <td width="115" class="celdalazul">Estado</td>
      <td width="76" class="celdalazul">&nbsp;</td>
    </tr>
	 <!-- START BLOCK : serie -->
    <tr>
      <td width="118"{CLASES} >{SERIE}</td>
      <td width="249"{CLASES} >&nbsp;{PATENTE}</td>
      <td width="249"{CLASES} >{MODO}</td>
      <td width="115"{CLASES} >{ESTADO}</td>
      <td width="76"{CLASES} ><img src="../Imagenes/modify.gif" width="16" height="16"  alt="Modificar Serie" style="cursor:hand" onclick="ModificarSerie('{SERIE}',{CODIGOESTADO},'{PATENTE}','{MODO}')"/></td>
    </tr>
	 <!-- END BLOCK : serie -->
  </table>
  <p>&nbsp;</p>
</div>
<div id="segundodiv" style="position:absolute; left:14px; top:199px; width:621px; height:32px; z-index:3; border:0pt black solid;">
<table width="568" border="0" cellspacing="0">
    
    <tr>
      <td width="200" class="celdalazul">Serie</td>
      <td width="200" class="celdalazul">Caracteristica/Patente</td>
      <td width="219" class="celdalazul">Modo</td>
      <td width="125" class="celdalazul">Estado</td>
      <td width="76" class="celdalazul"><label>
        <input type="checkbox" name="checkbox" value="checkbox" onClick="Activar(this.checked)" title="Ver Todas las Series" style=" cursor:hand" {x}/>
      </label></td>
      </tr>
	</table>
</div>
<div style="position:absolute; left:16px; top:464px; width:591px; height:38px; z-index:3; border:0pt black solid;">
          <table width="564" border="0" cellspacing="0">
            <tr>
              <!-- START BLOCK : tablageneral -->
              <td width="123" class="celdalazul">Total</td>
              <td width="433" class="celdalCELEST"><strong>{paginador}&nbsp; </strong></td>
              <!-- END BLOCK : tablageneral -->
            </tr>
    </table>
  </div>
<div id="layer" style="position:absolute; left:15px; top:154px; width:480px; height:44px; z-index:3; border:0pt black solid;">
  <table width="477" border="0" cellspacing="0">
    <tr>
      <td width="127" class="celdalazul">Serie</td>
      <td width="346" class="celdalCELEST"><label>
        <input name="serie" type="text" class="seleccionTurist_250" id="serie" />
        <img src="../Imagenes/120px-Crystal_Clear_action_build19x19.png" width="19" height="19" alt="Activar Filtros" style="cursor:hand" onclick="Filtrar()" />
        <input type="hidden" name="filtrar" value="0" />
		 <input type="hidden" name="variableEstadoComision1" value="{variableEstadoComision1}" />
      </label>        <label>
      <input name="pag" type="hidden" id="pag" />
      </label></td>
      </tr>
  </table>
</div>
</form>
</body>
</html>
