<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:18px;
	top:226px;
	width:702px;
	height:102px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:60px;
	width:367px;
	height:62px;
	z-index:14;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso de Tarjeta</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
</head>
<script>
function Filtrar()
	{
		document.form1.filtrar.value=1;
		document.form1.submit();
	}

function Paginador(dato)
	{
		form1.pag.value = dato;
		form1.submit();
	}
function ModificarMasterPines(CODIGO)
	{
		miPopup = window.open("../PHP/Modificar_Master_Pines2.php?CODIGO="+CODIGO,"modificarmaster","top=200,left=400,width=500,height=300,scrollbars=yes,titlebar=no,location=no");
		miPopup.focus();
	}	
</script>
<body>
  <form id="form1" name="form1" method="post" action="">
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>


<div id="divtabla" style="position:absolute; left:16px; top:240px; width:718px; height:205px; z-index:3; border:0pt black solid; overflow:auto">

    <table width="697" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td width="86" class="celdalazul">C&oacute;digo </td>
        <td width="176" class="celdalazul"><label>Caracteres</label></td>
        <td width="128" class="celdalazul">Mes</td>
        <td width="283" class="celdalazul">A&ntilde;o</td>
        <td width="24" class="celdalazul">&nbsp;</td>
      </tr>
	  <!-- START BLOCK : masterpines -->
      <tr>
        <td {CLASES} >&nbsp;{CODIGO}</td>
        <td {CLASES} >&nbsp;{CARACTERES}</td>
        <td {CLASES} >&nbsp;{MES}</td>
        <td {CLASES} >&nbsp;{ANNO}</td>
        <td {CLASES} ><img src="../Imagenes/modify.gif" width="16" height="16"  alt="Modificar Master de Pines" onclick="ModificarMasterPines({CODIGO})" style="cursor:hand"/></td>
      </tr>
	    <!-- END BLOCK : masterpines -->
    </table>

</div>
<div id="divtabla" style="position:absolute; left:16px; top:240px; width:716px; height:28px; z-index:3; border:0pt black solid;">
<table width="697" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td width="83" class="celdalazul">C&oacute;digo </td>
        <td width="180" class="celdalazul"><label>Caracteres</label></td>
        <td width="126" class="celdalazul">Mes</td>
        <td width="308" class="celdalazul">A&ntilde;o</td>
      </tr>
    </table>
</div>
<div class="TituloPlomo" id="Layer3">
  <table width="350" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/120px-Crystal_Clear_action_lock80x80.png" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="257">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Modificaci&oacute;n Master de Pines </strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<div id="tercerdiv" style="position:absolute; left:18px; top:149px; width:700px; height:74px; z-index:3; border:0pt black solid;">
    <table width="697" border="0" cellspacing="0">
      <tr>
        <td width="155" class="celdalazul">Caracteres</td>
        <td width="173" class="celdalCELEST">
            <input name="caracteres" type="text" class="seleccionTurist_180" maxlength="8" />        </td>
        <td width="164" class="celdalazul">Mes</td>
        <td width="166" class="celdalCELEST"><select name="mes" class="Selecciont2"  >
          <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
          <!-- START BLOCK : bloquemes -->
          <option value="{CODIGOMES}" class="seleccion2" {SELECCIONAR}>{DESCRIPCIONMES}</option>
          <!-- END BLOCK : bloquemes -->
        </select></td>
      </tr>
      <tr>
        <td class="celdalazul">A&ntilde;o</td>
        <td colspan="3" class="celdalCELEST">
		<select name="ano" class="Selecciont2t"  >
            <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
            <!-- START BLOCK : bloqueano -->
            <option value="{CODIGOANO}" class="seleccion2" {SELECCIONAR}>{DESCRIPCIONANO}</option>
            <!-- END BLOCK : bloqueano -->
          </select>
		<div style="position:absolute; left:2px; top:307px; width:719px; height:38px; z-index:3; border:0pt black solid;">
          <table width="696" border="0" cellspacing="0">
            <tr>
              <!-- START BLOCK : tablageneral -->
              <td width="159" class="celdalazul">Total</td>
              <td width="805" class="celdalCELEST"><strong>{paginador}&nbsp; </strong></td>
              <!-- END BLOCK : tablageneral -->
            </tr>
          </table>
        </div>
          <img src="../Imagenes/120px-Crystal_Clear_action_build19x19.png" width="19" height="19" alt="Buscar" style="cursor:hand" onclick="Filtrar()" />
            <input type="hidden" name="filtrar" value="0" /></td>
      </tr>
    </table>
</div>
<input name="pag" type="hidden" value="" />
 </form>
</body>
</html>

