<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:14px;
	top:174px;
	width:1081px;
	height:61px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:16px;
	top:60px;
	width:180px;
	height:62px;
	z-index:14;
}
#Layer4 {
	position:absolute;
	left:12px;
	top:445px;
	width:955px;
	height:22px;
	z-index:11;
}
-->
</style>
<link href="../estilos1.css" rel="stylesheet" type="text/css">
<head>

<title>Ingreso Comision</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:12;
}
-->
</style>
<script type="text/JavaScript">

function Modificar(codigo,producto,categoria,precio)
	{
		//var producto= document.form1.producto.value;
		//var categoria= document.form1.categoria.value;
		//alert(codigo);
		//alert(producto);
		miPopup = window.open("../PHP/Modificar_Comision_Detalle.php?producto="+producto+"&categoria="+categoria+"&codigo="+codigo+"&precio="+precio,"miwin","top=200,left=350,width=900,height=460,scrollbars=yes,titlebar=no,location=no");

}

function pres_num(variable)
{

	if(event.keyCode!=44)
	{
		if((event.keyCode<48) || (event.keyCode>57))
		{
				event.returnValue = false;
			}		
	}
	
}	
function Aceptar()
	{
		if(document.form1.producto.value=='0x')
{
alert('Seleccione el Producto a asociar las comisiones');
document.form1.producto.focus();
return;
}
if(document.form1.categoria.value=='0x')
{
alert('Seleccione la categoria');
document.form1.categoria.focus();
return;
}

if(document.form1.I_repartir.value=='')
{
	alert('Ingrese el Porcentaje de las comisiones de la Primera Transaccion');
	document.form1.I_repartir.focus();
	return;
}
else
{
	if(document.form1.I_repartir.value>100)
	{
		alert('El valor es porcentual no puede superar el 100%');
		document.form1.I_repartir.value='';
		document.form1.I_repartir.focus();
		return;	
	}
}

if(document.form1.I_empresa.value=='')
{
	alert('Ingrese el Porcentaje de la comision de la Empresa');
	document.form1.I_empresa.focus();
	return;
}
else
{
	if(document.form1.I_empresa.value>100)
	{
		alert('El valor es porcentual no puede superar el 100%');
		document.form1.I_empresa.value='';
		document.form1.I_empresa.focus();
		return;	
	}
}
if(document.form1.I_vendedor.value=='')
{
	alert('Ingrese el Porcentaje de la comision del Vendedor');
	document.form1.I_vendedor.focus();
	return;
}
else
{
	if(document.form1.I_vendedor.value>100)
	{
		alert('El valor es porcentual no puede superar el 100%');
		document.form1.I_vendedor.value='';
		document.form1.I_vendedor.focus();
		return;	
	}
}
if(document.form1.I_promotor.value=='')
{
	alert('Ingrese el Porcentaje de la comision del Promotor');
	document.form1.I_promotor.focus();
	return;
}
else
{
	if(document.form1.I_promotor.value>100)
	{
		alert('El valor es porcentual no puede superar el 100%');
		document.form1.I_promotor.value='';
		document.form1.I_promotor.focus();
		return;	
	}
}

if(document.form1.II_repartir.value=='')
{
alert('Ingrese el Porcentaje de las comisiones de la Segunda Transaccion');
document.form1.II_repartir.focus();
return;
}
else
{
	if(document.form1.II_repartir.value>100)
	{
		alert('El valor es porcentual no puede superar el 100%');
		document.form1.II_repartir.value='';
		document.form1.II_repartir.focus();
		return;	
	}
}

if(document.form1.II_empresa.value=='')
{
	alert('Ingrese el Porcentaje de la comision de la Empresa');
	document.form1.II_empresa.focus();
	return;
}
else
{
	if(document.form1.II_empresa.value>100)
	{
		alert('El valor es porcentual no puede superar el 100%');
		document.form1.II_empresa.value='';
		document.form1.II_empresa.focus();
		return;	
	}
}

if(document.form1.II_vendedor.value=='')
{
	alert('Ingrese el Porcentaje de la comision del Vendedor');
	document.form1.II_vendedor.focus();
	return;
}
else
{
	if(document.form1.II_vendedor.value>100)
	{
		alert('El valor es porcentual no puede superar el 100%');
		document.form1.II_vendedor.value='';
		document.form1.II_vendedor.focus();
		return;	
	}
}
if(document.form1.II_promotor.value=='')
{
	alert('Ingrese el Porcentaje de la comision del Promotor');
	document.form1.II_promotor.focus();
	return;
}
else
{
	if(document.form1.II_promotor.value>100)
	{
		alert('El valor es porcentual no puede superar el 100%');
		document.form1.II_promotor.value='';
		document.form1.II_promotor.focus();
		return;	
	}
}
document.form1.guardar.value='1';
document.form1.submit();
}

function Popup()
{
 miPopup = window.open("../PHP/Ingreso_Ubicacion.php","miwin","top=200,left=350,width=550,height=200,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	
}

function pres_num()
	{
		if(event.keyCode!=44)
			{
				if((event.keyCode<48) || (event.keyCode>57))
					{
						event.returnValue = false;
					}		
			}
	}	
function Filtrar()
	{
		//if (document.form1.producto.value=='0x' && document.form1.categoria.value=='0x' && document.form1.precio.value=='')
		//if (document.form1.producto.value=='0x' && document.form1.precio.value=='')
		if (document.form1.producto.value=='0x')
			{
				alert("Debe Ingresar algun Filtro para la Consulta");
				document.form1.producto.focus();
				return;
			}
		document.form1.filtrar.value=1;
		document.form1.submit();
	}
	
function Paginador1(dato,dato1,dato2)
	{	
		/*alert(dato);
	alert(dato1);
	alert(dato2);*/
		document.form1.pag.value = dato;
		document.form1.filtrar.value = dato1;
		document.form1.producto.value = dato2;
		form1.submit();
	}
function Paginador2(dato,dato1,dato2,dato3)
	{	
		//alert(dato);
	//alert(dato1);
	//alert(dato2);
		document.form1.pag.value = dato;
		document.form1.filtrar.value = dato1;
		document.form1.producto.value = dato2;
		document.form1.categoria.value = dato3;
		form1.submit();
	}
function Paginador3(dato,dato1,dato2,dato3,dato4)
	{	
		//alert(dato);
	//alert(dato1);
	//alert(dato2);
		document.form1.pag.value = dato;
		document.form1.filtrar.value = dato1;
		document.form1.producto.value = dato2;
		document.form1.categoria.value = dato3;
		document.form1.precio.value = dato4;
		form1.submit();
	}
function Paginador4(dato,dato1,dato2)
	{	
	//	alert(dato);
	//alert(dato1);
	//alert(dato2);
		document.form1.pag.value = dato;
		document.form1.filtrar.value = dato1;
		document.form1.categoria.value = dato2;
		form1.submit();
	
	}

function Paginador5(dato,dato1,dato2,dato3)
	{	
	/*alert(dato);
	alert(dato1);
	alert(dato2);*/
		document.form1.pag.value = dato;
		document.form1.filtrar.value = dato1;
		document.form1.categoria.value = dato2;
		document.form1.precio.value = dato3;
		form1.submit();
		
	}	
function Paginador6(dato,dato1,dato2)
	{	
	/*alert(dato);
	alert(dato1);
	alert(dato2);*/
		document.form1.pag.value = dato;
		document.form1.filtrar.value = dato1;
		document.form1.precio.value = dato2;
		form1.submit();
	}	
	
function Paginador7(dato,dato1,dato2,dato3)
	{	
	/*alert(dato);
	alert(dato1);
	alert(dato2);*/
		document.form1.pag.value = dato;
		document.form1.filtrar.value = dato1;
		document.form1.producto.value = dato2;
		document.form1.precio.value = dato3;
		form1.submit();
	}
	
function Paginador8(dato,dato1)
	{	
	/*alert(dato);
	alert(dato1);
	alert(dato2);*/
		document.form1.pag.value = dato;
		document.form1.filtrar.value = dato1;
		form1.submit();
	}		
</script>
</head>

<body style="overflow-x:hidden">
 <form id="form1" name="form1" method="post" action="">
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
 

<div id="Layer1">

    <table width="967" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td width="147" class="celdalazul">Producto</td>
        <td width="845" class="celdalCELEST"><select name="producto" class="seleccionTurist_250" id="producto" onChange="Filtrar();">
          <option value="0x">--Seleccionar--</option>
          <!-- START BLOCK : PRODUCTO -->
          <option value="{CODIGO_PROD}" {SELECCIONAR}>[{CODIGO_PROD}]-{NOMBRE_PROD}</option>
          <!-- END BLOCK : PRODUCTO -->
                        </select>
          <!--<img src="../Imagenes/120px-Crystal_Clear_action_build19x19.png" width="19" height="19"  alt="Filtrar" style="cursor:hand" onClick="Filtrar()"/>-->
          <input type="hidden" name="filtrar" value="0" />
        <input name="pag" type="hidden" value="" /></td>
      </tr>
    </table>
    
   </div>
<div id="divtabla" style="position:absolute; left:14px; top:224px; width:996px; height:225px; z-index:3; border:0pt black solid; overflow:auto">
<table width="971" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td colspan="2" class="celdalazul"><br>
        <br></td>
        <td colspan="4" class="celdalazul"><div align="center">Sin Tarjeta Previa <br>
        </div></td>
        <td colspan="4" class="celdalazul"><div align="center">Con Tarjeta Previa </div></td>
        <td colspan="2" class="celdalazul">&nbsp;</td>
      </tr>
      <tr>
	  
        <td width="67" class="celdalazul"><p align="center">Precio<br /></p></td>
		<td width="67" class="celdalazul">Categor&iacute;a</td>
		<td width="66" class="celdalazul"><label><div align="center"> % I Comision a Repartir </div></label></td>
        <td width="81" class="celdalazul"> <p align="center">% I Comision Distribuidor </p>        </td>
        <td width="88" class="celdalazul"><div align="center">% I Comision Vendedor </div></td>
        <td width="110" class="celdalazul"><div align="center">% I Comision Promotor </div></td>
        <td width="111" class="celdalazul"><div align="center">% I Comision a Repartir Venta Actual </div></td>
        <td width="137" class="celdalazul"><div align="center">%Comision Distribuidor </div></td>
        <td width="106" class="celdalazul"><p align="center">%Comision Vendedor  </p>        </td>
        <td width="87" class="celdalazul"><div align="center">%Comision Promotor </div></td>
        <td width="95" class="celdalazul">Fecha Ingreso </td>
        <td width="23" class="celdalazul">&nbsp;</td>
      </tr>
	   
      <tr>
	  <!-- START BLOCK : COMISION -->
        <td {ESTILO} width="67" >{PRECIO_PROD_COMI}&nbsp;</td>
        <td {ESTILO} width="67" >{CODIGOCATEGORIA}</td>
        <td {ESTILO} width="66" ><div align="right">{I_TRANSAC_COMISION_COMI}%&nbsp;</div></td>
        <td {ESTILO} width="81" ><div align="right">{I_TRANSAC_EMPRESA_COMI} %&nbsp;</div></td>
        <td {ESTILO} width="88" ><div align="right">{I_TRANSAC_VENDEDOR_COMI}%&nbsp;</div></td>
        <td {ESTILO} width="110" ><div align="right">{I_TRANSAC_PROMOTOR_COMI}%&nbsp;</div></td>
        <td {ESTILO} width="111" ><div align="right">{II_TRANSAC_COMISION_COMI}%&nbsp;</div></td>
        <td {ESTILO} width="137" ><div align="right">{II_TRANSAC_EMPRESA_COMI}%&nbsp;</div></td>
        <td {ESTILO} width="106" ><div align="right">{II_TRANSAC_VENDEDOR_COMI}%&nbsp;</div></td>
        <td {ESTILO} width="87" ><div align="right">{II_TRANSAC_PROMOTOR_COMI}%&nbsp;</div></td>
        <td {ESTILO} width="95" >{FECHA}&nbsp;</td>
        <td {ESTILO} width="23" >{IMAGERN1}{CODIGO_COMI}{IMAGERN2}{CODIGOPRODUCTO}{IMAGERN5}&nbsp;</td>
      </tr>
      <!-- END BLOCK : COMISION -->
    </table>
</div>
<div class="TituloPlomo" id="Layer3">
  <table width="345" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="82" rowspan="4"><label><img src="../Imagenes/Comision_80x80.png" width="80" height="80" /></label></td>
      <td width="13">&nbsp;</td>
      <td width="250">&nbsp;</td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloPlomo"><strong>Modificar Comisi&oacute;n</strong></td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">{fecha}</td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>

</form>
</body>
</html>
