<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:169px;
	width:703px;
	height:102px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:60px;
	width:372px;
	height:62px;
	z-index:0;
}
#Layer4 {
	position:absolute;
	left:17px;
	top:400px;
	width:296px;
	height:95px;
	{VISIBLE_FORM}
	
}
#Layer5 {
	position:absolute;
	left:17px;
	top:350px;
	width:296px;
	height:95px;
	z-index:14;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso Producto</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:51px;
	width:126px;
	height:116px;
	z-index:12;
}
-->
</style>
<script type="text/JavaScript">
function Modificar(codigo)
{
 miPopup = window.open("../PHP/Modificar_Descuento_Detalle.php?codigo="+codigo,"miwin","top=200,left=350,width=550,height=350,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	
}

function Popup()
{
 miPopup = window.open("../PHP/Ingreso_Ubicacion.php","miwin","top=200,left=350,width=400,height=230,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	
}
function Asociar()
{
 miPopup = window.open("../PHP/Ingreso_Ubicacion.php","miwin","top=200,left=350,width=400,height=230,scrollbars=yes,titlebar=no,location=no");

 miPopup.focus();	
}
function Ver()
{
document.form1.escondida.value='1';
document.form1.submit();
}
</script>
</head>

<body>

<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>


<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
  <div id="layermenu" style="position:absolute; left:-9px; top:-176px; width:807px; height:42px; z-index:10; border:0pt black solid;">
  <script language="JavaScript"  src="../Menu/menu.js" type="text/javascript"></script>
  <script language="JavaScript" src="../Menu/menu_items.js" type="text/javascript"></script>
  <script language="JavaScript" src="../Menu/menu_tpl.js" type="text/javascript"></script>
  <script language="JavaScript" type="text/javascript">
	</script>
  <script language="JavaScript" type="text/javascript">
new menu (MENU_ITEMS, MENU_POS);
</script>
<script language='JavaScript'  src='../utils.js'></script>
</div>
  <table width="702" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="228" class="celdalazul">Descripci&oacute;n </td>
        <td width="162" class="celdalazul"><span class="celdalazul">Proveedor</span></td>
        <td width="70" class="celdalazul"><span class="celdalazul">Precio</span></td>
        <td width="70" class="celdalazul"><span class="celdalazul">Cantidad</span></td>
        <td width="70" class="celdalazul">Tope</td>
        <td width="70" class="celdalazul">Porcentaje</td>
        <td width="32" class="celdalazul">&nbsp;</td>
      </tr>
	  <!-- START BLOCK :  DESCUENTO -->
      <tr>
        <td {ESTILO}>{DESCRIPCION_DESC}&nbsp;</td>
        <td {ESTILO}><label>{NOMBRE}&nbsp;</label></td>
        <td {ESTILO}>{PRECIO_DESC}&nbsp;</td>
        <td {ESTILO}>{CANTIDAD_DESC}&nbsp;</td>
        <td {ESTILO}>{TOPE_DESC}&nbsp;</td>
        <td {ESTILO}>{PORCENTAJE_DESC}&nbsp;</td>
        <td {ESTILO}><img src="../Imagenes/modify.gif" alt="Modificar Descuento" width="16" height="16" style="cursor:hand" onclick="Modificar({CODIGO_DESC})" /></td>
		 <!-- END BLOCK :  DESCUENTO -->
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      
      
      <tr>
        <td><input name="Submit2" type="submit" class="BotonTurist_Celest" value="Aceptar" onclick="Ver()" />
        &nbsp;</td>
        <td><label></label></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </form>
</div>



<div class="TituloPlomo" id="Layer3">
  <table width="345" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="82" rowspan="4"><label><img src="../Imagenes/descuento.jpg" width="81" height="80" /></label></td>
      <td width="13">&nbsp;</td>
      <td width="250">&nbsp;</td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloPlomo"><strong>Modificar Descuento </strong></td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">{fecha}</td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
</body>
</html>
