
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Modificar Pasajero</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="../estilos1.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.Estilo1 {	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
-->
</style>
<script language="JavaScript" type="text/JavaScript">
<!--
function Cambia()
{
miPopup = window.open("../PHP/Lista_Nacionalidad.php","miwin1","top=200,left=350,width=400,height=400,scrollbars=no,titlebar=no,location=no");
}

function Mod()
{
document.form1.guardar.value='1';
document.form1.submit();

}


function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
</head>

<body>
<div id="Layer2" style="position:absolute; left:17px; top:19px; width:500px; height:89px; z-index:2">
  <table width="493" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/IMG_6902.jpg" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="400">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="Estilo1">Modificar  de Pasajero</span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<form name="form1" method="post" action="">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <div id="Layer1" style="position:absolute; left:18px; top:119px; width:492px; height:164px; z-index:3">
    <table width="393" border="0" cellpadding="0" cellspacing="0">
      <tr>
	  	 
        <td class="celdalazul">Pasajero</td>
        <td class="celdalCELEST">{pasajero}&nbsp;
        <input name="codigo_nac" type="hidden" value="{codigo_nac}">
        <input type="hidden" name="guardar">
        <input name="codigo_re" type="hidden" id="codigo_re" value="{codigo_re}"/></td>
        <input name="voucher" type="hidden" id="voucher" value="{voucher}"/></td>
        <input name="lugar" type="hidden" id="lugar" value="{lugar}"/></td>
      </tr>
      
      <tr style="display:none;">
        <td width="141" class="celdalazul">Nacionalidad</td>
        <td width="252" class="celdalCELEST"><input name="nacionalidad" type="text" class="seleccionTurist_200" value="{nacionalidad}" readonly>
        <img src="../Imagenes/modify.gif" width="16" height="16" onClick="Cambia()" style="cursor:hand "></td>
      </tr>
      <tr>
        <td class="celdalazul">Pasaporte o RUT</td>
        <td class="celdalCELEST"><input name="pasaporte" type="text" class="seleccionTurist_200" value="{pasaporte}">
        </td>
			  
      </tr>
      
      <tr>
        <td class="celdalazul">Lugar Recogida</td>
        <td class="celdalCELEST">
            <select name="hotel" id="hotel" class="seleccionTurist_200" >
                  <!-- START BLOCK : hotel -->
                  <option value="{CODIGO_HL}" class="seleccion2" {SELECCIONAR_HL}>{DESCRIPCION_HL}</option>
                  <!-- END BLOCK : hotel -->
            </select>
        </td>	  
      </tr>
      <tr>
        <td class="celdalazul">Habitacion:</td>
        <td class="celdalCELEST"><input name="habitacion" type="text" class="seleccionTurist_200" readonly="" id="habitacion" value="{habitacion}" maxlength="100"></td>
      </tr>
      <tr>
        <td class="celdalazul">Observaci&oacute;n</td>
        <td class="celdalCELEST"><input name="observacion" type="text" class="seleccionTurist_200" id="observacion" value="{observacion}" maxlength="100"></td>
      </tr>
      <tr style="display:none;">
        <td class="celdalazul">Boleta</td>
        <td class="celdalCELEST"><input type="text" name="boleta" class="seleccionTurist_200" id="boleta" value="{boleta}" {bloqueo}></td>
      </tr>
      <tr>
        <td class="celdalazul">Telefono:</td>
        <td class="celdalCELEST"><input name="telefono" type="text" class="seleccionTurist_200" readonly="" id="telefono" value="{telefono}" maxlength="100"></td>
      </tr>

    </table>
    <br/>
    <input name="Modificar" type="button" class="BotonTurist_Celest" id="Modificar" value="Modificar" onClick="Mod()">  
    <br/>
  </div>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</form>
</body>
</html>
