<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Ingreso Capacidad</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
<script language="JavaScript" type="text/JavaScript">


function busca_codigo(){

var codigo=document.form1.codigo.value;
var user=document.form1.user.value;
miPopup = window.open("../PHP/reagendar_step_1.php?codigo="+codigo+"&usuario="+user+"");
miPopup.focus();
}
<!--
function Buscar()
{
document.form1.buscar.value='1';
document.form1.submit();
}

function ponPrefijo(estado)
{
document.form1.estado.value=estado;
document.form1.guardar.value='1';
document.form1.submit();
}
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
<link href="../estilos1.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="Layer3" style="position:absolute; left:5px; overflow:auto; top:7px; width:430px; height:156px; border=0pt black solid; z-index:3">
  <form name="form1" method="post" action="">
    <table width="229" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2" class="celdalazul">Estado de Embarque <span class="celdalCELEST">
          <input name="buscar" type="hidden" id="buscar2">
          <input name="estado" type="hidden" value="{EMBARQUE}" id="estado">  
          <input type="hidden" name="guardar">
        </span></td>

      </tr>
      <tr class="celdalCELEST">
        <!-- START BLOCK : tabla -->
        <td width="32" class="celdalCELEST"><input name="radio" type="radio" value="{COD_EMBARQUE}" onClick="ponPrefijo(this.value)"/></td>
        <td width="436" class="celdalCELEST"> {NOMBRE_EMBARQUE} </td>
        
      </tr>
 
    </table>
    
    <table width="229" {TABLA_OBS_EMBARQUE} >
      <tr class="celdalCELEST">
        <td width="32" class="celdalCELEST">Observacion Embarque:</td>       
      </tr> 
      <tr class="celdalCELEST">
        <td width="436" class="celdalCELEST"><textarea name="observacion" rows="3"  maxlength="99" cols="24">{OBS_EMBARQUE}</textarea></td>        
      </tr> 
    </table>
    
    <input type="hidden" name="cod_cierre" value="{COD_CIERRE}"/>
  </form>

</div>
</body>
</html>
