<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:19px;
	top:164px;
	width:450px;
	height:21px;
	z-index:9;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:60px;
	width:439px;
	height:62px;
	z-index:0;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso Cliente</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
</head>
<script>
function Modificar_Color(CODIGO,DESCRIPCION,ECOLOR)
	{
		miPopup = window.open("../PHP/Modificar_Color2.php?CODIGO="+CODIGO+"&DESCRIPCION="+DESCRIPCION+"&ECOLOR="+ECOLOR,"modificarcolordos","top=200,left=400,width=500,height=250,scrollbars=yes,titlebar=no,location=no");
		miPopup.focus();
	}

</script>
<body>
<form id="form1" name="form1" method="post" action="">
<div id="divtabla" style="position:absolute; left:19px; top:152px; width:499px; height:253px; z-index:3; border:0pt black solid; overflow:auto">
  
    <table width="428" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td width="135" class="celdalazul">C&oacute;digo Color </td>
        <td width="180" class="celdalazul"><label>Descripci&oacute;n Color </label></td>
        <td width="93" class="celdalazul">Estado</td>
        <td width="20" class="celdalazul">&nbsp;</td>
      </tr>
       <!-- START BLOCK : colores -->
      <tr>
        <td {CLASES} >&nbsp;{CODIGOCOLOR}</td>
        <td {CLASES} >&nbsp;{DESCRIPCIONCOLOR}</td>
        <td {CLASES} >&nbsp;{ESTADOCOLOR2}</td>
        <td {CLASES} ><img src="../Imagenes/modify.gif" width="16" height="16" onclick="Modificar_Color({CODIGOCOLOR},'{DESCRIPCIONCOLOR}',{ESTADOCOLOR})" alt="Modificar Color" style="cursor:hand" /></td>
      </tr>
	   <!-- END BLOCK : colores -->
      <tr>
        <td><div align="right"></div></td>
        <td><label></label></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>

</div>
<div id="divtabla" style="position:absolute; left:19px; top:152px; width:430px; height:28px; z-index:3; border:0pt black solid;">
 <table width="428" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td width="104" class="celdalazul">C&oacute;digo Color </td>
        <td class="celdalazul"><label>Descripci&oacute;n Color </label></td>
      </tr>
    </table>
</div>
<div class="TituloPlomo" id="Layer3">
  <table width="381" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="82" rowspan="4"><img src="../Imagenes/color_80x80.png" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="286">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Modificar Color Tarjeta </strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
</form>
</body>

</html>

