
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:84px;
	width:361px;
	height:160px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:24px;
	width:180px;
	height:62px;
	z-index:14;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso Producto</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
<script type="text/JavaScript">

function Popup()
{
 miPopup = window.open("../PHP/Ingreso_Ubicacion.php","miwin","top=200,left=350,width=550,height=200,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	
}
function Refrescar()
{
document.form1.submit();
}
function calendario()
{
miPopup2 = window.open("../PHP/Calendario_FF.php","miwin2","top=200,left=350,width=270,height=230,scrollbars=yes,titlebar=no,location=no");
 miPopup2.focus();	
}
function cerrar()
{
opener.document.form1.asociar.value='1';
window.close();
opener.document.form1.submit();
}
function ponPrefijo()
{
alert('Tipo Evento asociado');
opener.document.form1.escondida.value='1';
window.close();
opener.document.form1.submit();
}

</script>
</head>

<body>
<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="348" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2" class="celdalazul">Descripcion Servicio
          <label></label></td>
      </tr>
      
      <tr>
        <td width="40" class="celdalCELEST"><label>
          <input name="radiobutton" type="radio" value="radiobutton" onClick="cerrar()">
        </label></td>
        <td width="245" class="celdalCELEST"><label>10-203 City Santiago</label></td>
      </tr>
      
      <tr>
        <td class="celdalCELEST"><label>
        
          <div align="left">
            <input name="radiobutton" type="radio" value="radiobutton" onClick="cerrar()">
            </div>
        </label></td>
        <td class="celdalCELEST"><label>13-220 Vi&ntilde;a Valpara&iacute;so </label></td>
      </tr>
      <tr>
        <td class="celdalCELEST"><label>
        
          <div align="left">
            <input name="radiobutton" type="radio" value="radiobutton" onClick="cerrar()" >
            </div>
        </label></td>
        <td class="celdalCELEST">13-225 Almuerzo Vi&ntilde;a Valpara&iacute;so</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </form>
</div>

<div class="TituloPlomo" id="Layer3">
  <table width="200" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td><p><strong>Modificar </strong><strong>Servicio</strong></p>
      </td>
    </tr>
    
    <tr>
      <td height="22" class="TituloFecha">{fecha}</td>
    </tr>
  </table>
</div>
</body>
</html>
