<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>EXCURSIONES</title>
<link href="../estilos.css" rel="stylesheet" type="text/css" />
<script>
function Aceptar()
{
document.form1.guardar.value=1;
document.form1.submit();
}

function pres_num()
		{
					if(event.keyCode==47)
						{
						}		
					else
						{
						if((event.keyCode<48) || (event.keyCode>57))
							{
							event.returnValue = false;
							}
						}
		}	
	
</script>
<link href="../estilos1.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
#Layer3 {	position:absolute;
	left:13px;
	top:20px;
	width:381px;
	height:62px;
	z-index:0;
}
-->
</style>
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
<body style="overflow-x:hidden">

<form id="form1" name="form1" method="post" action="">
  <div class="TituloPlomo" id="Layer3">
   <table width="381" border="0" cellpadding="0" cellspacing="0">
     <tr>
       <td width="82" rowspan="4"><img src="../Imagenes/grupo_80x80.png" width="80" height="80"></td>
       <td width="13">&nbsp;</td>
       <td width="286">&nbsp;</td>
     </tr>
     <tr>
       <td>&nbsp;</td>
       <td class="TituloPlomo"><strong>Excursiones</strong></td>
     </tr>
     <tr>
       <td>&nbsp;</td>
       <td><span class="TituloFecha">{fecha}</span></td>
     </tr>
     <tr>
       <td class="TituloFecha">&nbsp;</td>
       <td height="22" class="TituloFecha">&nbsp;</td>
     </tr>
   </table>
 </div>
  <input type="hidden" name="modificar" value="1"/>
<input type="hidden" name="bandera" />
<input type="hidden" name="modificardos" value="<?php echo $modificardos?>"/>
<input type="hidden" name="ingreso" value="0" />
  
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p><br>
</p>
  <p>&nbsp;  </p>
  <div id="tercerdiv" style="position:absolute; left:11px; top:130px; width:415px; height:87px; z-index:3; border:0pt black solid;">
  <table width="288" border="0" cellspacing="0">
    <tr>
      <td colspan="2" class="celdalazul"><input name="guardar" type="hidden" id="guardar"></td>
      </tr>
    <tr>
      <td width="108" class="celdalazul">Vehiculo</td>
      <td width="176" class="celdalCELEST"><input name="vehiculo" type="text" class="seleccionTurist_130" id="vehiculo" value="{VEHICULO}" maxlength="50"></td>
      </tr>
    <tr>
      <td class="celdalazul">Capacidad</td>
      <td class="celdalCELEST"><input name="capacidad" type="text" class="seleccionTurist_130" id="capacidad" onKeyPress="pres_num()" value="{CAPACIDAD}" maxlength="4"></td>
    </tr>
  </table>
  <br>
  <input name="Submit" type="button" class="BotonTurist_Celest" value="Modificar" onClick="Aceptar()">
  </div>
  </p>
  <input name="eliminar" type="hidden" />
   <input name="codigoeliminar" type="hidden" />
   <input name="fecha_ini" type="hidden" value="{FECHA_INI}">
   <input name="fecha_fin" type="hidden" value="{FECHA_FIN}">
   <input name="estado" type="hidden" id="estado" value="{ESTADO}">
</form>
</body>
</html>




