<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:19px;
	top:164px;
	width:450px;
	height:21px;
	z-index:9;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:60px;
	width:439px;
	height:62px;
	z-index:0;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso Cliente</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
</head>
<script>
function Modificar_Banco(CODIGO)
	{
		miPopup = window.open("../PHP/Modificar_Banco2.php?CODIGO="+CODIGO,"modificargrupodos","top=200,left=400,width=500,height=250,scrollbars=yes,titlebar=no,location=no");
		miPopup.focus();
	}
function Paginador(dato)
	{
		form1.pag.value = dato;
		form1.submit();
	}
</script>
<body>
<form id="form1" name="form1" method="post" action="">
<div id="divtabla" style="position:absolute; left:19px; top:166px; width:499px; height:240px; z-index:3; border:0pt black solid; overflow:auto">
  
    <table width="428" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td width="135" class="celdalazul">C&oacute;digo Banco </td>
        <td width="180" class="celdalazul"><label>Descripci&oacute;n Banco </label></td>
        <td width="93" class="celdalazul">Estado</td>
        <td width="20" class="celdalazul">&nbsp;</td>
      </tr>
       <!-- START BLOCK : categorias -->
      <tr>
        <td {CLASES} >&nbsp;{CODIGOBANCO}</td>
        <td {CLASES} >&nbsp;{DESCRIPCIONBANCO}</td>
        <td {CLASES} >&nbsp;{ESTADOGRUPO2}</td>
        <td {CLASES} ><img src="../Imagenes/modify.gif" width="16" height="16" onclick="Modificar_Banco({CODIGOBANCO})" alt="Modificar Banco" style="cursor:hand" /></td>
      </tr>
	   <!-- END BLOCK : categorias -->
      <tr>
        <td><div align="right"></div></td>
        <td><label></label></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>

</div>
<div id="divtabla" style="position:absolute; left:19px; top:166px; width:499px; height:27px; z-index:3; border:0pt black solid;">
  
    <table width="428" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td width="135" class="celdalazul">C&oacute;digo Banco </td>
        <td width="180" class="celdalazul"><label>Descripci&oacute;n Banco </label></td>
        <td width="93" class="celdalazul">Estado</td>
        <td width="20" class="celdalazul">&nbsp;</td>
      </tr>
    </table>
  </div>
<div class="TituloPlomo" id="Layer3">
  <table width="381" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="82" rowspan="4"><img src="../Imagenes/Archivero.png" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="286">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Modificar Banco </strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha"><input type="hidden" name="pag" /></td>
    </tr>
  </table>
</div>
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
<div style="position:absolute; left:18px; top:415px; width:504px; height:38px; z-index:3; border:0pt black solid;">
  <table width="433" border="0" cellspacing="0">
    <tr>
      <!-- START BLOCK : tablageneral -->
      <td width="124" class="celdalazul">Total</td>
      <td width="305" class="celdalCELEST"><strong>{paginador}&nbsp; </strong></td>
      <!-- END BLOCK : tablageneral -->
    </tr>
  </table>
</div>
</form>

</body>

</html>


