<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:506px;
	width:717px;
	height:28px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:60px;
	width:432px;
	height:62px;
	z-index:14;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso Cliente</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
</head>
<script>
function Filtrar()
	{
		if (document.form1.rutdist.value!='')
			{
				 var rutCompleto = document.form1.rutdist.value;
		// Eliminamos los caracteres raros, espacios, puntos, guiones.
    	// Pasamos a minusculas, y separamos el rut y el digito verificador
    	rutCompl = rutCompleto.toLowerCase();
   		var dv=document.form1.dvdist.value;
    	var rut = rutCompl;
    	var valido = true;
    	// Primero comprobamos que el dv sea o un digito o una k
    	valido = valido && dv.match(/^[\dk]$/);
    	// luego vemos que el rut solo contenga digitos
   		 valido = valido && rut.match(/^\d+$/);
    	// y por ultimo aplicamos la regla de calculo del DV
   		 valido = valido && verificarDV(rut, dv);

    	if (valido)
			{}
    	else
			{
        		alert("El Rut no es Valido.Ingreselo Nuevamente");
        		document.form1.rutdist.value="";
				document.form1.dvdist.value="";
				document.form1.rutdist.focus();
   			 }
			}
		document.form1.filtrar.value=1;
		document.form1.submit();
	}
	
function Paginador(dato)
	{
		form1.pag.value = dato;
		form1.submit();
	}
	
function validar()
	{
    	// Primer paso: Obtener el rut que ingreso el usuario
   		 var rutCompleto = document.form1.rutdist.value;
		// Eliminamos los caracteres raros, espacios, puntos, guiones.
    	// Pasamos a minusculas, y separamos el rut y el digito verificador
    	rutCompl = rutCompleto.toLowerCase();
   		var dv=document.form1.dvdist.value;
    	var rut = rutCompl;
    	var valido = true;
    	// Primero comprobamos que el dv sea o un digito o una k
    	valido = valido && dv.match(/^[\dk]$/);
    	// luego vemos que el rut solo contenga digitos
   		 valido = valido && rut.match(/^\d+$/);
    	// y por ultimo aplicamos la regla de calculo del DV
   		 valido = valido && verificarDV(rut, dv);

    	if (valido)
			{}
    	else
			{
        		alert("El Rut no es Valido.Ingreselo Nuevamente");
        		document.form1.rutdist.value="";
				document.form1.dvdist.value="";
				document.form1.rutdist.focus();
   			 }
	
	}

function verificarDV(rut, dv)
	{
   		var multiplicador = 9;
    	var aux = rut;
    	var suma = 0;
    	while(aux > 0)
			{
        		var unidades = aux % 10 ;
        		aux = (aux - unidades) / 10;
        		suma += (multiplicador * unidades);
        		multiplicador--;
        		if (multiplicador < 4)
					{
            			multiplicador = 9;
       				 }
    		}
    	digito = suma % 11;
    	if (digito == 10)
			{
        		digito = "k";
    		}
    	if (dv == digito)
			{
        		return true;
    		}
    	else 
			{
       			 return false;
    		}
	} 
function pres_num()
	{
		if((event.keyCode<48) || (event.keyCode>57))
			{
				event.returnValue = false;
			}		
	}
function Modificar(CODIGO)
	{
	//alert(CODIGO);
		miPopup = window.open("../PHP/Modificar_Cliente2.php?CODIGO="+CODIGO,"modificar","top=200,left=400,width=850,height=500,scrollbars=yes,titlebar=no,location=no");
		miPopup.focus();
	}
</script>
<body>
  <form id="form1" name="form1" method="post" action="">
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>

<div id="tercerdiv" style="position:absolute; left:18px; top:156px; width:700px; height:74px; z-index:3; border:0pt black solid;">
  <table width="697" border="0" cellspacing="0">
    <tr>
      <td width="155" class="celdalazul">Rut Distribuidor </td>
      <td width="173" class="celdalCELEST">
          <input name="rutdist" type="text" class="seleccionTurist_80" id="rutdist" onKeyPress="pres_num();" maxlength="10" />
          -
       
          <input name="dvdist" type="text" class="seleccionT80_a" id="dvdist" maxlength="1" onChange="validar()"/>
        </td>
      <td width="164" class="celdalazul">Comuna</td>
      <td width="166" class="celdalCELEST">
          <input name="comunadist" type="text" class="seleccionTurist_80" id="comunadist" />
       </td>
    </tr>
    <tr>
      <td class="celdalazul">Ciudad</td>
      <td class="celdalCELEST">
          <input name="ciudaddist" type="text" class="seleccionTurist_80" id="ciudaddist" />
       
      </td>
      <td class="celdalazul">Pais</td>
      <td class="celdalCELEST"><label>
        <input name="paisdist" type="text" class="seleccionTurist_80" id="paisdist" />
      </label>          <img src="../Imagenes/120px-Crystal_Clear_action_build19x19.png" width="19" height="19" alt="Buscar" style="cursor:hand" onclick="Filtrar()" />
      <input type="hidden" name="filtrar" value="0" /></td>
    </tr>
  </table>
</div>

<div id="divtabla" style="position:absolute; left:16px; top:240px; width:940px; height:264px; z-index:3; border:0pt black solid; overflow:auto">

    <table width="939" border="0" cellspacing="0">
      <tr>
        <td width="262" class="celdalazul">Nombre Fantasia </td>
        <td width="104" class="celdalazul">Rut Distribuidor </td>
        <td width="160" class="celdalazul">Sucursal</td>
        <td width="127" class="celdalazul">Comuna</td>
        <td width="151" class="celdalazul">Ciudad </td>
        <td colspan="2" class="celdalazul">Pa&iacute;s</td>
      </tr>
	  <!-- START BLOCK : distribuidores -->
      <tr>
        <td width="262" {CLASES} >{NOMBRE}&nbsp;</td>
        <td width="104" {CLASES}>{RUT}-{DV}&nbsp;</td>
        <td width="160" {CLASES}>{SUCURSAL}&nbsp;</td>
        <td width="127" {CLASES}>{COMUNA}&nbsp;</td>
        <td width="151" {CLASES}>{CIUDAD}&nbsp;</td>
        <td width="93" {CLASES}>{PAIS}&nbsp;</td>
        <td width="28" {CLASES}><img src="../Imagenes/modify.gif" width="16" height="16" alt="Modificar Distribuidor" style="cursor:hand" onclick="Modificar('{CODIGODISTRIBUIDOR}')"/></td>
      </tr>
	  <!-- END BLOCK : distribuidores -->
    </table>
</div>
<div id="divtabla2" style="position:absolute; left:15px; top:241px; width:943px; height:32px; z-index:3; border:0pt black solid;">

    <table width="941" border="0" cellspacing="0">
      <tr>
        <td width="263" class="celdalazul">Nombre Fantasia </td>
        <td width="104" class="celdalazul">Rut Distribuidor </td>
        <td width="160" class="celdalazul">Sucursal</td>
        <td width="123" class="celdalazul">Comuna</td>
        <td width="150" class="celdalazul">Ciudad </td>
        <td width="129" colspan="2" class="celdalazul">Pa&iacute;s</td>
      </tr>
    </table>
    </div>
<div class="TituloPlomo" id="Layer3">
  <table width="353" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="81" rowspan="4"><img src="../Imagenes/101px-Crystal_Clear_kuser280x80.png" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="259">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Modificar  Distribuidor </strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<div style="position:absolute; left:15px; top:503px; width:946px; height:38px; z-index:3; border:0pt black solid;">
  <table width="940" border="0" cellspacing="0">
    <tr>
	
      <!-- START BLOCK : tablageneral -->
      <td width="124" class="celdalazul">Total</td>
      <td width="812" class="celdalCELEST"><strong>{paginador}&nbsp; </strong></td>
	    <!-- END BLOCK : tablageneral -->  
	   
    </tr>
  </table>
</div>
  <input name="pag" type="hidden" value="" />
</form>
</body>
</html>
