<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Gesti&oacute;n de Reserva</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" type="text/JavaScript">


function Buscar()
{
document.form1.buscar.value='1';
document.form1.submit();
}


function ponPrefijo(estado)
{
document.form1.estado.value=estado;
document.form1.guardar.value='1';
document.form1.submit();
}
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);


</script>
<link href="../estilos1.css" rel="stylesheet" type="text/css">
</head>

<body>



<div id="Layer3" style="position:absolute; left:2px; overflow:auto; top:16px; width:391px; height:157px; border=0pt black solid; z-index:3">
  <form name="form1" method="post" action="">
  
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2" class="celdalazul">Estado Cierre Reserva <span class="celdalCELEST">
          <input name="buscar" type="hidden" id="buscar2">
          <input name="estado" type="hidden" id="estado">
          <input type="hidden" name="guardar">
        </span></td>
      </tr>

      <tr class="celdalCELEST">
        <!-- START BLOCK : tabla -->
        <td width="34" class="celdalCELEST"><input name="radio" type="radio" value="{COD_CIERRE}" onClick="ponPrefijo(this.value)"/></td>
        <td width="302" class="celdalCELEST"> {GLOSA_CIERRE}&nbsp;&nbsp;&nbsp; {palabra}{textbox} </td>
      </tr>

      <!-- END BLOCK : tabla -->
    </table>
  </form>
  <form name="form2" method="post" action="">
   <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr class="celdalCELEST">
        <td width="34" class="celdalCELEST"><input name="voucher" type="hidden" id="voucher" value="{COD}"></td>
        <td width="302" class="celdalCELEST"><a href="Agrupar_Reservas.php?v={COD}">Pagar</a></td>
      </tr>
  </form>
  </table>
  
</div>

</body>
</html>
