<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:159px;
	width:580px;
	height:102px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:60px;
	width:445px;
	height:62px;
	z-index:14;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso de Tarjeta</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
</head>
<script>

function pres_POS()
	{
	
	if((event.keyCode==95)||(event.keyCode==241)||(event.keyCode==209)||(event.keyCode==161)||(event.keyCode==193)||(event.keyCode==201)||(event.keyCode==205)||(event.keyCode==211)||(event.keyCode==218)||(event.keyCode==243)||(event.keyCode==64)||(event.keyCode==42)||(event.keyCode==237)||(event.keyCode==233)||(event.keyCode==225)||(event.keyCode==250)||(event.keyCode==180))
		{
			event.returnValue = false;
		}	
	if(event.keyCode==39)
		{
			event.returnValue = false;
			return;
		}
	if(event.keyCode==34)
		{
			event.returnValue = false;
			return;
		}
		//event.returnValue = true;	
	}
    
function validarP(e) 
{ // 1
    tecla = (document.all) ? e.keyCode : e.which; // 2
    if (tecla==8) 
        return true; // 3
    patron = /\d/; // Solo acepta n?meros
    te = String.fromCharCode(tecla); // 5
    return patron.test(te); // 6
}

function Ingresar()
	{	
		if(document.form1.descripcion.value=='')
			{
				alert("Debe Ingresar la Descripción");
				document.form1.descripcion.focus();
				return;
			}
			
		if (document.form1.hotel.value=='0')
			{
				alert("Debe seleccionar si desea que la descripción se ingrese como hotel");
				document.form1.hotel.focus();
				return;
			}
		if (document.form1.lugar.value=='0')
			{
				alert("Debe seleccionar si desea que la descripción se ingrese como lugar de recogida");
				document.form1.lugar.focus();
				return;
			}
 		if (document.form1.telefono.value=='')
			{
				alert("Ingrese numero de telefono");
				document.form1.telefono.focus();
				return;
			}
		document.form1.guardar.value=1;
		document.form1.submit();
	}
	
function Limpiar()
	{
		document.form1.caracteres.value='';
		document.form1.mes.value='0';
		document.form1.ano.value='0';
		document.form1.submit();
	}
	
function popup()
	{
 		miPopup = window.open("../PHP/Lista_Hoteles.php","miwin","top=200,left=350,width=470,height=460,scrollbars=yes,titlebar=no,location=no");
 		miPopup.focus();	
	}	

function popup1()
	{
 		miPopup = window.open("../PHP/Lista_Lugar.php","miwin","top=200,left=350,width=270,height=260,scrollbars=yes,titlebar=no,location=no");
 		miPopup.focus();	
	}	
function popup2()
	{
 		miPopup = window.open("../PHP/Lista_Hotel.php","miwin","top=200,left=350,width=270,height=260,scrollbars=yes,titlebar=no,location=no");
 		miPopup.focus();	
	}
function popup3()
	{
 		miPopup = window.open("../PHP/Lista_Estados.php","miwin","top=200,left=350,width=270,height=260,scrollbars=yes,titlebar=no,location=no");
 		miPopup.focus();	
	}

</script>
<body>
  <form id="form1" name="form1" method="post" action="">
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>


<div id="Layer1">

    <table width="573" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td width="206" class="celdalazul">Descripci&oacute;n
        <input name="codigo_descripcion" type="hidden" id="codigo_descripcion" value="{codigo_descripcion}" /></td>
        <td width="367" class="celdalCELEST"><label>
          <input name="descripcion" type="text" class="seleccionTurist_320" id="descripcion" onkeypress="pres_POS()" value="{descripcion}" />
          <img src="../Imagenes/120px-Crystal_Clear_action_build19x19_derecha.png" width="19" height="19" onclick="popup()" /> </label></td>
      </tr>
      <tr>
        <td class="celdalazul">Ingreso como Hotel </td>
        <td class="celdalCELEST"><label>
        <input name="cod_hotel" type="hidden" class="seleccionTurist_80" id="cod_hotel" value="{HOTEL}" />
        <input name="hotel" type="text" id="hotel" value="{DESC_HOTEL}" size="3" readonly="" />
        <img src="../Imagenes/modify.gif" width="16" height="16" onclick="popup2()" style="cursor:hand "/></label></td>
      </tr>
      <tr>
        <td class="celdalazul">Ingreso como lugar de recogida</td>
        <td class="celdalCELEST">
        <input name="cod_lugar" type="hidden" class="seleccionTurist_80" id="cod_lugar" value="{LUGAR}" />
        <input name="lugar" type="text" id="lugar" value="{DESC_LUGAR}" size="3" readonly="" />
        <img src="../Imagenes/modify.gif" width="16" height="16" onclick="popup1()" style="cursor:hand " /></td>
      </tr>
      <tr>
        <td class="celdalazul">Estado
        <input name="CODIGOESTADO" type="hidden" id="CODIGOESTADO" value="{CODIGOESTADO}" /></td>
        <td class="celdalCELEST"><input name="estado" type="text" class="seleccionTurist_90" id="estado" value="{ESTADO}" />
        <img src="../Imagenes/modify.gif" width="16" height="16" onclick="popup3()" style="cursor:hand " /></td>
      </tr>
      
      

      <tr>
        <td class="celdalazul">Telefono</td>
        <td class="celdalCELEST"><input name="telefono" type="text" class="seleccionTurist_90" onkeypress="return validarP(event);" id="telefono" value="{TELEFONO}" /></td>
      </tr>
      
      <tr>
        <td class="celdalazul">Tiempo Recogida (Min)</td>
        <td class="celdalCELEST"><input name="minutos" type="text" class="seleccionTurist_90" onkeypress="return validarP(event);" id="minutos" value="{MINUTOS}"/></td>
      </tr>
    </table>

</div>

<div class="TituloPlomo" id="Layer3">
  <table width="425" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/120px-Crystal_Clear_action_lock80x80.png" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="332">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Ingreso Hotel / Lugar de Recogida</strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<div id="boton" style="position:absolute; left:181px; top:340px; width:204px; height:28px; z-index:3; border:0pt black solid ;">
  <input name="Submit" type="button" class="BotonTurist_Celest" value="Modificar" onclick="Ingresar()" />
  <input type="hidden" name="guardar" value="0" />
</div>
  </form>
</body>
</html>
