<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:19px;
	top:164px;
	width:450px;
	height:21px;
	z-index:9;
}
#Layer3 {
	position:absolute;
	left:20px;
	top:18px;
	width:439px;
	height:62px;
	z-index:0;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Modificar Información Grupo</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
</head>
<script>
function ModificarEstado()
	{
		miPopup = window.open("../PHP/ListaEstadosGrupo.php","listaestadosgrupo","top=200,left=400,width=260,height=210,scrollbars=yes,titlebar=no,location=no");
		miPopup.focus();
	}
function Paginador(dato)
	{
		form1.pag.value = dato;
		form1.submit();
	}
function ModificarBanco()
	{
		if (document.form1.descripcion.value=='')
			{
				alert("Debe Ingresar la Descripción ");
				document.form1.descripcion.focus();
				return;
			}
		if (document.form1.estado.value=='')
			{
				alert("Debe Ingresar el Estado");
				document.form1.estado.focus();
				return;
			}
		document.form1.modificar.value=1;
		document.form1.submit();
		
	}
function Salir()
	{
		window.close();
	}
	
function pres_comillas()
{
	if(event.keyCode==39)
	{
	event.returnValue = false;
	return;
	}
	if(event.keyCode==34)
	{
	event.returnValue = false;
	return;
	}
	event.returnValue = true;
}	
</script>
<body>
<form id="form1" name="form1" method="post" action="">
<div id="divtabla" style="position:absolute; left:21px; top:116px; width:444px; height:89px; z-index:3; border:0pt black solid;">
  <table width="428" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td width="145" class="celdalazul">Descripci&oacute;n Pa&iacute;s </td>
        <td width="283" class="celdalCELEST"><label>
          <input name="descripcion" type="text" class="seleccionTurist_250" id="descripcion" onkeypress="pres_comillas()" value="{DESCRIPCION}" {DESCRIPCIONBANCO} />
        </label></td>
      </tr>
      <tr>
        <td class="celdalazul">Estado</td>
        <td class="celdalCELEST"><label>
          <input name="estado" type="text" class="seleccionTurist_180" id="estado" {ESTADOGRUPO}  readonly="true"/>
        <img src="../Imagenes/modify.gif" width="16" height="16" alt="Modificar Estado" style="cursor:hand" onclick="ModificarEstado()" /></label></td>
      </tr>
    </table>
  <input type="hidden" name="CODIGOESTADO" value="codnulo"/>
  <input type="hidden" name="modificar" value="0"/>
</div>
<div id="divtabla" style="position:absolute; left:158px; top:220px; width:174px; height:31px; z-index:3; border:0pt black solid;">

  <input name="Submit" type="button" class="BotonTurist_Celest" value="Modificar"  onclick="ModificarBanco()" />

  <input name="Submit2" type="button" class="BotonTurist_Celest" value="Salir" onclick="Salir()" />

</div>
<div class="TituloPlomo" id="Layer3">
  <table width="381" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="82" rowspan="4"><img src="../Imagenes/IMG_6770-2.jpg" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="286">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Modificar Informaci&oacute;n Nacionalidad </strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
</form>

</body>

</html>



