<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Modificar Nombre Menu</title>
<link href="../estilos.css" rel="stylesheet" type="text/css" />
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer3 {position:absolute;
	left:12px;
	top:17px;
	width:316px;
	height:46px;
	z-index:14;
}
-->
</style>
</head>
<script>
function salir()
	{
		window.close();
	}

			
function ModificarNombre()
	{
	//alert(document.form1.nombre.value);
	 	if (document.form1.nombre.value=='')
			{
				alert("Debe Ingresar el Nombre del menu que desea Modificar");
				document.form1.nombre.focus();
				return;
			}
	
		document.form1.guardar.value=1;
		document.form1.submit();
}

</script>
<body>
<form id="form1" name="form1" method="post" action="">
  <div class="TituloPlomo" id="Layer3">
    <table width="312" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="82" rowspan="4"><img src="../Imagenes/menu_80x80.png" width="80" height="80" /></td>
        <td width="13" rowspan="4">&nbsp;</td>
        <td width="217"><p>&nbsp;</p></td>
      </tr>
      <tr>
        <td height="22" class="TituloPlomo"><strong>Modificar </strong><strong>Nombre Menu </strong></td>
      </tr>
      <tr>
        <td height="22" class="TituloFecha">{fecha}</td>
      </tr>
      <tr>
        <td height="22" class="TituloFecha">&nbsp;</td>
      </tr>
    </table>
  </div>
  <p>&nbsp;</p>
 <p>&nbsp;</p>
 <p>&nbsp;</p>
<div id="segundodiv" style="position:absolute; left:11px; top:120px; width:503px; height:38px; z-index:3; border:0pt black solid;">
  <table width="493" border="0" cellspacing="0">
    
    <tr>
      <td width="121" class="celdalazul">Nombre Menu </td>
      <td width="368" class="celdalCELEST">
      <input name="nombre" type="text" class="seleccionTurist_250"  {VALORNOMBRE} />
      </td>
    </tr>
  </table>
  <div id="tercerdiv" style="position:absolute; left:130px; top:43px; width:219px; height:23px; z-index:3; border:0pt black solid;">
   <input name="guardar" type="hidden" value="0" />
    <input name="button" type="button" class="BotonTurist_Celest" value="Modificar"  onclick="ModificarNombre()"/>
    <input name="Submit" type="button" class="BotonTurist_Celest" value="Cancelar" onclick="salir()" />
   
  </div>
  <p>&nbsp;</p>
</div>
</form>
</body>
</html>
