<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Rango de Fechas</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
function Aceptar()
{
document.form1.aceptar.value=1;
form1.submit();
}
</script>
</head>

<body>
<div id="Layer1" style="position:absolute; left:11px; top:118px; width:325px; height:82px; z-index:1">
  <form name="form1" method="post" action="">
    <table width="290" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="117" class="celdalazul">Rango de D&iacute;as </td>
        <td width="173" class="celdalCELEST">
          <input name="bd" type="text" class="seleccionTurist_80" id="bd" value="{bd}">
          <input name="aceptar" type="hidden" id="aceptar">
</td>
      </tr>
    </table>
    <p>
      <input name="Submit" type="submit" class="BotonTurist_Azul" value="Enviar" onClick="Aceptar()">
    </p>
  </form>
  <blockquote>&nbsp;</blockquote>
</div>
<div class="TituloPlomo" id="Layer3">
  <table width="327" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/calendario80x80.png" width="80" height="80"></td>
      <td width="13">&nbsp;</td>
      <td width="234">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Rango de Fechas </strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
</body>
</html>
