<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:159px;
	width:620px;
	height:102px;
	z-index:1;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:60px;
	width:486px;
	height:62px;
	z-index:2;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Despacho de Tarjeta</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:48px;
	width:132px;
	height:116px;
	z-index:12;
}
-->
</style>
<script type="text/JavaScript">

function Fecha_Inicio()
{
 miPopup = window.open("../PHP/Calendario_Recepcion.php","miwin","top=200,left=350,width=270,height=260,scrollbars=yes,titlebar=no,location=no");
 miPopup.focus();	
}

function Distribuidor()
{
var digito=document.form1.digitos.value;
var ID_origen=document.form1.ID_origen.value;
var ID_destino=document.form1.ID_destino.value;
var ID_Iniciales=digito+ID_origen;
var ID_Final=digito+ID_destino;
var Distribuidor=document.form1.distribuidor.value;

 miPopup6 = window.open("../PHP/Cambio_Distribuidor.php?ID_Inicial="+ID_Iniciales+"&ID_Final="+ID_Final+"&Distribuidor="+Distribuidor,"miwin","top=200,left=350,width=540,height=260,scrollbars=yes,titlebar=no,location=no");
 miPopup6.focus();	
}

function pres_num()
{
	if(event.keyCode!=44)
	{
		if((event.keyCode<48) || (event.keyCode>57))
		{
				event.returnValue = false;
			}		
	}
}	

function Aceptar()
{
if(document.form1.distribuidor.value=='0')
	{
		alert('Seleccione el distribuidor');
		document.form1.distribuidor.focus();
		return;
	}
if(document.form1.fecha.value=='')
	{
		alert('Ingrese la fecha de la emision de la guia');
		document.form1.fecha.focus();
		return;
	}	
if(document.form1.preactivacion.value=='0x')
	{
		alert('Seleccione si se Pre-Activa la Tarjeta');
		document.form1.preactivacion.focus();
		return;
	}
if(document.form1.digitos.value=='')
	{
		alert('Ingrese los primeros 7 digitos del ID de las tarjetas');
		document.form1.digitos.focus();
		return;
	}
	
if(document.form1.digitos.value!='')
	{
		var largo =document.form1.digitos.value.length;
		if(largo!='7')
		alert('Ingrese nuevamente los 7 digitos, solo ingreso '+largo+'digitos');
	}	
				
if(document.form1.ID_origen.value=='')
	{
		alert('Ingrese el ID Origen de las tarjetas consecutivas a despachar');
		document.form1.ID_origen.focus();
		return;
	}
if(document.form1.ID_origen.value.length!='5')
	{
		alert('Ingrese nuevamente los 5 digitos del ID Inicial ');
		document.form1.ID_origen.focus();
		return;
	}
		
if(document.form1.ID_destino.value=='')
	{
		alert('Ingrese el ID Destino');
		document.form1.ID_destino.focus();
		return;
	}	
if(document.form1.ID_destino.value.length!='5')
	{
		alert('Ingrese nuevamente los 5 digitos del ID Destino ');
		document.form1.ID_destino.focus();
		return;
	}	
	
	if(document.form1.preactivacion.value=='1')
	{
		if(document.form1.distribuidor_c.value=='0x')
		{
		alert('Seleccione el distribuidor a quien cargar Comision');
		document.form1.distribuidor_c.focus();
		return;
		}
		if(document.form1.vendedor.value=='0x')
		{
		alert('Seleccione el Vendedor a quien cargar Comision');
		document.form1.vendedor.focus();
		return;
		}
	}
	if(document.form1.preactivacion.value=='0')
	{
		if(document.form1.distribuidor_c.value!='0x')
		{
		alert('No tiene que seleccione el distribuidor a quien cargar Comision');
		document.form1.distribuidor_c.focus();
		return;
		}
		if(document.form1.vendedor.value!='0x')
		{
		alert('No tiene que seleccione el Vendedor a quien cargar Comision');
		document.form1.vendedor.focus();
		return;
		}
	}
	
	
/*	
if(document.form1.VID_origen.value=='')
	{
		alert('Ingrese la validacion del ID Inicial de las tarjetas consecutivas a recepcionar');
		document.form1.VID_origen.focus();
		return;
	}

if(document.form1.VID_destino.value=='')
	{
		alert('Ingrese la validacion ID Destino de las tarjetas consecutivas a recepcionar');
		document.form1.VID_destino.focus();
		return;
	}
	
if(document.form1.ID_origen.value!=document.form1.VID_origen.value)			
	{
		alert('Ingrese nuevamente la Validacion del ID Inicial, ya que no coinciden');
		return;
	}
if(document.form1.ID_destino.value!=document.form1.VID_destino.value)			
	{
	alert('Ingrese nuevamente la Validacion del ID Final, ya que no coinciden');
	return;
	}
	*/
/*	
alert('destino:'+parseInt(document.form1.ID_destino.value));
alert('origen:'+parseInt(document.form1.ID_origen.value));

if(parseInt(document.form1.ID_destino.value)>parseInt(document.form1.ID_origen.value))
	{
	alert('Id Final no puede ser menor que el ID Inicial');
	return;
	}
*/	
document.form1.submit();
document.form1.escondida.value='1';	
document.form1.submit();
}

</script>
</head>

<body>
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>


<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="593" border="0" cellpadding="0" cellspacing="0">
      
      <tr>
        <td class="celdalazul">Distribuidor del Despacho </td>
        <td colspan="3" class="celdalCELEST"><select name="distribuidor" class="seleccionTurist_320" id="distribuidor" onChange="submit()">
          <option value="0">--Seleccionar--</option>
          <!-- START BLOCK : DISTRIBUIDOR -->
          <option value="{CODIGO_DIST}" {SELECCIONAR_D}>{DESCRIPCION_DIST}</option>
          <!-- END BLOCK : DISTRIBUIDOR -->
        </select></td>
      </tr>
      <tr>
        <td width="191" class="celdalazul">Fecha Recepci&oacute;n</td>
        <td colspan="3" class="celdalCELEST"><label>
          <input name="fecha_recepcion" type="text" class="seleccionTurist_180" id="fecha_recepcion" value="{fechaFormat}" readonly="" />
        </label></td>
      </tr>
      <tr>
        <td class="celdalazul">Fecha Guia Emitida </td>
        <td colspan="3" class="celdalCELEST"><input name="fecha" type="text" class="seleccionTurist_180" value="{FECHA}" readonly="" />
        <img src="../Imagenes/icono_calendario.gif" width="16" height="15"  style="cursor:hand" onClick="Fecha_Inicio()"  /></td>
      </tr>
      <tr>
        <td class="celdalazul">Pre - Activaci&oacute;n</td>
        <td colspan="3" class="celdalCELEST">
		<select name="preactivacion" class="seleccionTurist_180" id="cantidad" {DESHABILIT}>
          <option value="0x">--Seleccionar--</option>
           <!-- START BLOCK : CANTIDAD -->
		  <option value="{CODIGO_CANTIDAD}" {SELECCIONAR}>{DESCRIPCION_CANTIDAD}</option>
		   <!-- END BLOCK : CANTIDAD -->
        </select>
        <input name="escondida" type="hidden" /></td>
      </tr>
      <tr>
        <td class="celdalazul">Distribuidor a cargar Comisi&oacute;n </td>
        <td colspan="3" class="celdalCELEST"><label>
         <select name="distribuidor_c" class="seleccionTurist_320" id="distribuidor_c" onChange="submit()">
          <option value="0x">--Seleccionar--</option>
          <!-- START BLOCK : DISTRIBUIDOR_comision -->
          <option value="{CODIGO_DIST_C}" {SELECCIONADOR_C}>{DESCRIPCION_DIST_C}</option>
          <!-- END BLOCK : DISTRIBUIDOR_comision -->
        </select>
        </label></td>
      </tr>
      <tr>
        <td class="celdalazul">Vendedor a cargar Comisi&oacute;n </td>
        <td colspan="3" class="celdalCELEST"><select name="vendedor" class="seleccionTurist_320" id="vendedor">
            <option value="0x">--Seleccionar--</option>
              <!-- START BLOCK : USUARIO -->
			<option value="{COD_USUA}" {SELECCIONAR}>{DESCRIPCION_USUA}</option>
			  <!-- START BLOCK : USUARIO -->
        </select></td>
      </tr>
      <tr>
        <td colspan="4">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="4" class="celdalazul"><div align="left">Ingreso de Rangos</div></td>
      </tr>
      <tr>
        <td class="celdalazul">Siete digitos del Folio </td>
        <td colspan="3" class="celdalCELEST"><label>
          <input name="digitos" type="text" class="seleccionTurist_180" id="digitos" value="{DIGITOS}" size="12" maxlength="7" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          <img src="../Imagenes/ico_alpha_Replace_16x16.png" width="16" height="16" onClick="Distribuidor()" style="cursor:hand"></label></td>
      </tr>
      
      
      <tr>
        <td height="31" class="celdalazul">Cinco Ultimos Digitos Inicial </td>
        <td width="118" {ESTILO}><label>
          <input name="ID_origen" type="text" class="seleccionTurist_180" id="ID_origen" onKeyPress="pres_num()" value="{ID_ORIGEN}" size="12" maxlength="5" />
          <input name="VID_origen" type="hidden" class="seleccionTurist_180" id="VID_origen" size="12" maxlength="5" onKeyPress="pres_num()" />
        </label></td>
        <td width="172" class="celdalazul">Cinco Ultimos Digitos Final </td>
        <td width="112" {ESTILO}><input name="ID_destino" type="text" class="seleccionTurist_180" id="ID_destino" onKeyPress="pres_num()" value="{ID_DESTINO}" size="12" maxlength="5" />
        <input name="VID_destino" type="hidden" class="seleccionTurist_180" id="VID_destino" onKeyPress="pres_num()" size="12" maxlength="5" /></td>
      </tr>
      

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      
      <tr>
        <td><div align="right">
          <input name="Submit" type="button" class="BotonTurist_Celest" value="Aceptar" onClick="Aceptar()" >
        </div></td>
        <td><label></label></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </form>
</div>

<div class="TituloPlomo" id="Layer3">
  <table width="409" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="81" rowspan="4"><img src="../Imagenes/tarjeta3.jpg" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="315">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Despacho  de Tarjeta </strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
</body>
</html>
