<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Reporte Comisiones</title>
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:14px;
	top:167px;
	width:810px;
	height:58px;
	z-index:1;
}
-->
</style>
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer3 {	position:absolute;
	left:18px;
	top:60px;
	width:367px;
	height:62px;
	z-index:14;
}
#Layer2 {position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
#Layer4 {
	position:absolute;
	left:15px;
	top:283px;
	width:954px;
	height:252px;
	z-index:21;
}
-->
</style>
</head>

<body>
<div id="layermenu" style="position:absolute; left:3px; top:-8px; width:807px; height:42px; z-index:20; border:0pt black solid;">
  <script language="JavaScript"  src="../Menu/menu.js" type="text/javascript"></script>
  <script language="JavaScript" src="../Menu/menu_items.js" type="text/javascript"></script>
  <script language="JavaScript" src="../Menu/menu_tpl.js" type="text/javascript"></script>
  <script language="JavaScript" type="text/javascript">
	</script>
  <script language="JavaScript" type="text/javascript">
new menu (MENU_ITEMS, MENU_POS);
</script>
</div>
<div class="TituloPlomo" id="Layer3">
  <table width="350" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><img src="../Imagenes/PF_Money_Mac_os_x80x80.jpg" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="257">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Reporte de Comisiones Detalle </strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="790" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="106" class="celdalazul">N&ordm; Tarjeta </td>
        <td width="258" class="celdalCELEST"><label>
          <input name="textfield3" type="text" class="seleccionTurist_180" />
        </label></td>
        <td width="99" class="celdalazul">Distribuidor</td>
        <td width="327" class="celdalCELEST"><label>
          <select name="select2" class="seleccionTurist_250">
            <option value="0x">--Seleccionar--</option>
          </select>
        </label></td>
      </tr>
      <tr>
        <td class="celdalazul">Vendedor</td>
        <td class="celdalCELEST"><label>
          <select name="select3" class="seleccionTurist_250">
            <option value="0x">--Seleccionar--</option>
          </select>
        </label></td>
        <td class="celdalazul">Promotor</td>
        <td class="celdalCELEST"><label>
          <select name="select" class="seleccionTurist_250">
            <option value="0x">--Seleccionar--</option>
          </select>
        </label></td>
      </tr>
      <tr>
        <td class="celdalazul">Fecha Inicio </td>
        <td class="celdalCELEST"><label>
          <input name="textfield" type="text" class="seleccionTurist_90" />
          <img src="../Imagenes/icono_calendario.gif" width="16" height="15" /></label></td>
        <td class="celdalazul">Fecha Termino </td>
        <td class="celdalCELEST"><label>
          <input name="textfield2" type="text" class="seleccionTurist_90" />
          <img src="../Imagenes/icono_calendario.gif" width="16" height="15" />&nbsp;
          <input name="Submit" type="submit" class="BotonTurist_Celest" value="Consultar" />
        </label></td>
      </tr>
    </table>
  </form>
</div>
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
<div id="Layer4">
  <table width="952" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="67" class="celdalazul">N&ordm; Tarjeta </td>
      <td width="59" class="celdalazul">Compra</td>
      <td width="72" class="celdalazul">Precio Nac/Inter</td>
      <td width="134" class="celdalazul">Distribuidor</td>
      <td width="114" class="celdalazul">Vendedor</td>
      <td width="154" class="celdalazul">Promotor</td>
      <td width="74" class="celdalazul">Ingreso<br />
      Turistik</td>
      <td width="75" class="celdalazul">Comision Distribuidor </td>
      <td width="74" class="celdalazul">Comisi&oacute;n Vendedor <br /></td>
      <td width="71" class="celdalazul">Comision <br />
      Promotor</td>
      <td width="58" class="celdalazul">Fecha</td>
    </tr>
    <tr>
      <td class="celdalCELEST">10002100</td>
      <td class="celdalCELEST">I</td>
      <td class="celdalCELEST">$13.500</td>
      <td class="celdalCELEST">Distribuidor5</td>
      <td class="celdalCELEST">KRojas</td>
      <td class="celdalCELEST">MRosal</td>
      <td class="celdalCELEST">$6.210</td>
      <td class="celdalCELEST">$1.944</td>
      <td class="celdalCELEST">$1.134</td>
      <td class="celdalCELEST">$162</td>
      <td class="celdalCELEST">21/09/2007</td>
    </tr>
    <tr>
      <td class="celdalCELEST">10002100</td>
      <td class="celdalCELEST">II</td>
      <td class="celdalCELEST">-</td>
      <td class="celdalCELEST">Distribuidor5</td>
      <td class="celdalCELEST">KRojas</td>
      <td class="celdalCELEST">-</td>
      <td class="celdalCELEST">&nbsp;</td>
      <td class="celdalCELEST">$4.050</td>
      <td class="celdalCELEST">$0</td>
      <td class="celdalCELEST">-</td>
      <td class="celdalCELEST">21/09/2007</td>
    </tr>
  </table>
</div>
</body>
</html>
