
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:84px;
	width:300px;
	height:111px;
	z-index:15;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:24px;
	width:180px;
	height:62px;
	z-index:14;
}
#Layer4 {
	position:absolute;
	left:16px;
	top:108px;
	width:285px;
	height:23px;
	z-index:13;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Asociar Servicios</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
<script type="text/JavaScript">

function cancelar()
{
window.close();
}

function cerrar()
{
	window.close();
}

function SeleccionarValor (check,name,valor) 
{
opener.document.form1.codigo_reserva.value = valor;
opener.document.form1.reserva.value = name;
window.close();	

}		





</script>
</head>

<body>
<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="285" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2" class="celdalazul">Descripcion
          <label></label></td>
      </tr> 
      <tr>
        <td width="31" class="celdalCELEST"><label>
        <input type="radio" name="SI" value="1" onClick="SeleccionarValor(this.checked,this.name,this.value)" >
        <br>
        </label></td>
        <td width="254" class="celdalCELEST"><label>SI, INCUYE RESERVA </label></td>
      </tr>
      <tr>
        <td class="celdalCELEST"><input type="radio" name="NO" value="0" onClick="SeleccionarValor(this.checked,this.name,this.value)" ></td>
        <td class="celdalCELEST">NO, INCLUYE RESERVA </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><span class="celdalCELEST">
          <label></label>
          <label>          </label>
        </span></td>
      </tr>
      
      <tr>
        <td>&nbsp;</td>
        <td><label>
        <input name="Cancelar" type="submit" class="BotonTurist_Celest" id="Cancelar" value="Cancelar" onClick="cancelar()">
        </label></td>
      </tr>
    </table>
  </form>
</div>

<div class="TituloPlomo" id="Layer3">
  <table width="200" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td><p><strong>Seleccionar Reserva </strong><strong></strong></p>
      </td>
    </tr>
    
    <tr>
      <td height="22" class="TituloFecha">{fecha}</td>
    </tr>
  </table>
</div>
</body>
</html>
