
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:16px;
	top:84px;
	width:300px;
	height:111px;
	z-index:15;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:24px;
	width:180px;
	height:62px;
	z-index:14;
}
#Layer4 {
	position:absolute;
	left:16px;
	top:108px;
	width:285px;
	height:23px;
	z-index:13;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>SELECCIONAR PROVEEDOR</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
-->
</style>
<script type="text/JavaScript">

function ponPrefijo(pref,cod)
	{
		//alert(pref);
		//alert(cod);
		opener.document.form1.CODIGO_PROVEEDOR_OCULTO.value = pref;
		opener.document.form1.proveedor.value = cod;
		window.close();	
	}
</script>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
<div id="Layer1">
  
    <table width="285" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2" class="celdalazul">Descripci&oacute;n
          <label>del Proveedor </label></td>
      </tr>
      
      <tr>
	    <!-- START BLOCK : tabla -->
        <td width="31" class="celdalCELEST"><label>
        <input type="radio" name="{NOMBRE_PROV}" value="{CODIGO_PROV}" onClick="ponPrefijo(this.value,'{NOMBRE_PROV}')" >
        <br>
        </label></td>
        <td width="254" class="celdalCELEST"><label>{NOMBRE_PROV} 
          
        </label></td>
      </tr>
	    <!-- END BLOCK : tabla -->
      <tr>
        <td>&nbsp;</td>
        <td><span class="celdalCELEST">
          <label></label>
          <label>          </label>
        </span></td>
      </tr>
      
      <tr>
        <td>&nbsp;</td>
        <td><label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input name="Cancelar" type="submit" class="BotonTurist_Celest" id="Cancelar" value="Cancelar" onClick="cancelar()">
        </label></td>
      </tr>
    </table>
  
</div>
 <div class="TituloPlomo" id="Layer3">
  <table width="200" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td><p class="TituloPlomo"><strong>Seleccionar Proveedor </strong></p>      </td>
    </tr>
    
    <tr>
      <td height="22" class="TituloFecha">{fecha}</td>
    </tr>
  </table>
</div>
<div id="Layer4">
  <table width="285" border="0" cellpadding="0" cellspacing="0" class="celdalCELEST">
    <tr>
      <td width="285" class="celdalCELEST"><div align="center">No existen Servicios disponibles </div></td>
    </tr>
  </table>
</div>
</form>
</body>
</html>
