<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Reserva Excursiones</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" type="text/javascript" src="../../js/ajax.js"></script>
<script language="JavaScript" type="text/JavaScript">

<!--
window.moveTo(0,0); 
window.resizeTo(screen.availWidth,screen.availHeight); 


function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);

function Aceptar()
{
//vendedor()
if(document.form1.hotel.value=='0')
{
alert('Seleccione Hotel');
document.form1.hotel.focus();
return;
}
if(document.form1.habitacion.value=='')
{
alert('Ingrese Numero de Habitacion');
document.form1.habitacion.focus();
return;
}
if(document.form1.lugar.value=='0' && document.form1.otro_lugar.value=='')
{
alert('Seleccione un lugar de recogida o ingrese el lugar de recogida');
document.form1.lugar.focus();
return;
}
if(document.form1.lugar.value!='0' && document.form1.otro_lugar.value!='')
{
alert('Solo seleccione un lugar de recogida o ingrese el lugar de recogida, no ambas');
document.form1.lugar.focus();
return;
}


if(document.form1.telefono.value=='')
{
alert('Ingrese Telefono de Contacto');
document.form1.telefono.focus();
return;
}

if(document.form1.pasajero1.value=='')
{
alert('Ingrese Nombre de Pasajero');
document.form1.pasajero1.focus();
return;
}

if(document.form1.tipo.value=='0')
{
alert('Seleccione Tipo de Reserva');
document.form1.tipo.focus();
return;
}

if(document.form1.forma_pago.value=='0')
{
alert('Seleccione Forma de Pago');
document.form1.forma_pago.focus();
return;
}

document.form1.guardar.value = "1";
document.form1.submit();
}

function pres_num()
{
	if(event.keyCode!=44)
	{
		if((event.keyCode<48) || (event.keyCode>57))
		{
				event.returnValue = false;
			}		
	}
}

function SubmitFormulario()
{
document.form1.submit();
}

function Cancelar()
{
window.parent.close();
}

function busca_codigo()
	{
 		miPopup = window.open("../PHP/Codigo_Vendedor.php?esconde=1","miwin","top=200,left=350,width=670,height=460,scrollbars=yes,titlebar=no,location=no");
 		miPopup.focus();	
	}

function busca()
	{
 		miPopup = window.open("../PHP/Hotel_Lugar.php?esconde=1","miwin","top=200,left=350,width=670,height=460,scrollbars=yes,titlebar=no,location=no");
 		miPopup.focus();	
	}
	
function vendedor()
	{
	//document.form1.vendedores.value='1';
	document.form1.submit();
	}

function nacionalidad()
	{
 		miPopup = window.open("../PHP/Ingresar_Nacionalidad.php?esconde=1","miwin","top=200,left=350,width=670,height=460,scrollbars=yes,titlebar=no,location=no");
 		miPopup.focus();	
	}
	
/////////////////////////////////////////////////////////////////////////////////////////////////
	
function valida_precio(){
pre = document.form1.monto_paso.value;
bas = document.getElementById("basico").value;
premium = document.getElementById("premium").value;

if(document.getElementById("basico").checked == true){
//pre = pre.replace("$","");

pre = pre - bas;
document.form1.monto.value = pre;
document.getElementById('lbl_precio').innerHTML = "$"+pre+"&nbsp;";
largo = document.form1.monto.value.length;
switch(largo){
case 4:
document.getElementById('lbl_precio').innerHTML = "$"+pre+"&nbsp;&nbsp;&nbsp;";
break;
case 3:
document.getElementById('lbl_precio').innerHTML = "$"+pre+"&nbsp;&nbsp;&nbsp;&nbsp;";
break;
}
}else{  
document.getElementById('lbl_precio').innerHTML = "$"+document.form1.monto_paso.value+"&nbsp;";
document.form1.monto.value = document.form1.monto_paso.value;
}
if(document.getElementById("premium").checked == true){
//pre = pre.replace("$","");
pre = pre - premium;
document.form1.monto.value = pre;
document.getElementById('lbl_precio').innerHTML = "$"+pre+"&nbsp;";
  
largo = document.form1.monto.value.length;
switch(largo){
case 4:
document.getElementById('lbl_precio').innerHTML = "$"+pre+"&nbsp;&nbsp;&nbsp;";
break;
case 3:
document.getElementById('lbl_precio').innerHTML = "$"+pre+"&nbsp;&nbsp;&nbsp;&nbsp;";
break;
}
}else{
if(document.getElementById("basico").checked == false){
document.getElementById('lbl_precio').innerHTML = "$"+document.form1.monto_paso.value+"&nbsp;";
document.form1.monto.value = document.form1.monto_paso.value;
}}
}

function off(){
cod_excursion = document.getElementById('cod_excursion').value;
cod_usu = document.getElementById('cod_usuario').value;
if(cod_usu == "1" || cod_usu == "3"){
if(cod_excursion == "6" || cod_excursion == "20"){
//document.getElementById('descuento').style.display='none';
    document.getElementById("lbl_basico").style.visibility = 'hidden';          
    document.getElementById("lbl_premium").style.visibility = 'hidden'; 
    document.getElementById("lbl_nada").style.visibility = 'hidden';
}else{
//document.getElementById('descuento').style.display='block';
//document.getElementById('descuento_1').style.display='none';

    document.getElementById("basico").style.visibility = 'visible';          
    document.getElementById("premium").style.visibility = 'visible'; 
    document.getElementById("nada").style.visibility = 'visible'; 
    
    document.getElementById("lbl_basico").style.visibility = 'visible';          
    document.getElementById("lbl_premium").style.visibility = 'visible'; 
    document.getElementById("lbl_nada").style.visibility = 'visible';
  
}}}  
setTimeout ("off();hidden_load();", 10);

function alternar(check){
    document.getElementById("basico").checked = false;           
    document.getElementById("premium").checked = false;
    document.getElementById("nada").checked = false;
      
    check.checked = true;
}
/**************************************************************/


 function hidden_load(){
 ocultarFila(5,false);
 ocultarFila(6,false);
 ocultarFila(7,false);
 ocultarFila(8,false);
 ocultarFila(9,false);
 ocultarFila(10,false);
 ocultarFila(11,false);
 ocultarFila(12,false);
 ocultarFila(13,false);
 }

 function ocultarFila(num,ver) {
   dis= ver ? '' : 'none';
   tab=document.getElementById('tabla');
   tab.getElementsByTagName('tr')[num].style.display=dis;
 }

 function visible_2(){
 if(document.getElementById("pasajero23").value != "" && document.getElementById("nac1").value != "0"){
 ocultarFila(5,true)
 }}
 function visible_3(){
 if(document.getElementById("pasajero32").value != "" && document.getElementById("nac2").value != "0"){
 ocultarFila(6,true)
 }}
 function visible_4(){
 if(document.getElementById("pasajero43").value != "" && document.getElementById("nac3").value != "0"){
 ocultarFila(7,true)
 }}
 function visible_5(){
 if(document.getElementById("pasajero4").value != "" && document.getElementById("nac4").value != "0"){
 ocultarFila(8,true)
 }}
 function visible_6(){
 if(document.getElementById("pasajero62").value != "" && document.getElementById("nac5").value != "0"){
 ocultarFila(9,true)
 }}
 function visible_7(){
 if(document.getElementById("pasajero6").value != "" && document.getElementById("nac6").value != "0"){
 ocultarFila(10,true)
 }}
 function visible_8(){
 if(document.getElementById("pasajero7").value != "" && document.getElementById("nac7").value != "0"){
 ocultarFila(11,true)
 }}
 function visible_9(){
 if(document.getElementById("pasajero8").value != "" && document.getElementById("nac8").value != "0"){
 ocultarFila(12,true)
 }}
 function visible_10(){
 if(document.getElementById("pasajero102").value != "" && document.getElementById("nac9").value != "0"){
 ocultarFila(13,true)
 }}

</script>
<link href="../estilos1.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.Estilo1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.Estilo2 {font-size: 9pt}
-->
#alto{height:311px; color:"red"; position:absolute;}
</style>
</head>
   
<body onload="hidden_load()">
<div id="Layer1" style="position:absolute; left:4px; top:102px; width:997px; height:311px; z-index:1">
  <form name="form1" method="post">
    <table id="tabla" width="990" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="106" class="celdalazul_peque">Nombre Excursion </td>
        <td width="208" class="celdalCELEST">{nombre}&nbsp;</td>
        <td width="62" class="celdalazul_peque">Fecha de Excursi&oacute;n </td>
        <td class="celdalCELEST">{fecha}&nbsp;</td>
	<td class="celdalazul_peque">Precio Final Cliente</td>
	<td class="celdalCELEST" height=60px;>

	    	 	
           	  <input name="monto_paso" type="hidden" id="monto_paso" value="{monto}">
            	  <input name="monto" type="hidden" id="monto2" value="">
		 	
		  <div id="descuento" style="display:none;">
		  </div>
 		  <label id="lbl_precio">{precio}&nbsp;</label>

		  <input name="nada" type="checkbox" id="nada" value="0" onclick="alternar(this);valida_precio();" style="visibility:hidden;" checked /><label id="lbl_nada" style="visibility:visible;">Sin Dcto.</label><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  <input name="basico" type="checkbox" id="basico" value="2000" onclick="alternar(this);valida_precio();" style="visibility:hidden;" /><label id="lbl_basico" style="visibility:visible;">Dcto. Basico</label><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  <input name="premium" type="checkbox" id="premium" value="4000" onclick="alternar(this);valida_precio();" style="visibility:hidden;" /><label id="lbl_premium" style="visibility:visible;">Dcto. Premium</label><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  
		  
		  <br><input type="hidden" size="10" id="cod_excursion" name="cod_excursion" value="{excursion}"/>
			  <input type="hidden" size="10" id="cod_usuario" name="cod_usuario" value="{tipo_usu}"/>
		  
		 </td>
        <td width="62" class="celdalazul_peque">Buscar C&oacute;d. Socio	
        <td class="celdalCELEST"> &nbsp;&nbsp;&nbsp;<img src="../Imagenes/edit_group.png" width="22" height="22" onClick="busca_codigo()" alt="Consulta Codigo Vendedor" style="cursor:hand "></td>
      </tr>
      <tr>
        <td class="celdalazul_peque">Resumen Excursi&oacute;n </td>
        <td colspan="7" class="celdalCELEST"><div align="justify">{resumen}</div></td>
      </tr>
      <tr>
        <td class="celdalazul_peque">Lugar de Recogida</td>
        <td colspan="3" class="celdalCELEST"><select name="lugar" id="select" class="seleccionT3" >
          <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
          <!-- START BLOCK : lugar -->
          <option value="{CODIGO_L}" class="seleccion2" {SELECCIONAR_L}>{DESCRIPCION_L}</option>
          <!-- END BLOCK : lugar -->
        </select></td>
        <td class="celdalazul_peque">Otro lugar </td>
        <td colspan="3" class="celdalCELEST"><input name="otro_lugar" type="text" class="seleccionTurist_200" id="otro_lugar3" value="{otro_lugar}">
        <input name="vendedores" type="hidden" id="vendedores" value="{vendedores}"></td>
      </tr>
      <tr>
        <td class="celdalazul_peque">Hotel </td>
        <td class="celdalCELEST"><select name="hotel" id="hotel" class="seleccionTurist_200" >
          <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
          <!-- START BLOCK : hotel -->
          <option value="{CODIGO_HL}" class="seleccion2" {SELECCIONAR_HL}>{DESCRIPCION_HL}</option>
          <!-- END BLOCK : hotel -->
        </select></td>
        <td class="celdalazul_peque">Habitaci&oacute;n </td>
        <td class="celdalCELEST"><input name="habitacion" type="text" class="seleccionTurist_130" id="habitacion" value="{habitacion}" onKeyPress="pres_num()"></td>
        <td class="celdalazul_peque">Tel&eacute;fono </td>
        <td class="celdalCELEST"><input name="telefono" type="text" class="seleccionTurist_130" id="telefono" value="{telefono}" onKeyPress="pres_num()"></td>
        <td class="celdalazul_peque">C&oacute;d. Socio </td>
        <td class="celdalCELEST"><input name="codigo_v" type="text" class="seleccionTurist_90" id="codigo_v" value="{codigo_v}" maxlength="5" onKeyPress="pres_num()"</td>
      </tr>
      <tr>
        <td class="celdalazul_peque">Pasajero 1 </td>
        <td class="celdalCELEST"><input name="pasajero1" type="text" class="seleccionTurist_200" id="pasajero23" value="{pasajero1}" onblur="visible_2()"></td>
        <td class="celdalazul_peque">Pasaporte o RUT </td>
        <td width="128" class="celdalCELEST"><input name="pas1" type="text" class="seleccionTurist_180" id="pas1" value="{pas1}" onblur="visible_2()"></td>
        <td width="71" class="celdalazul_peque">Nacionalidad</td>
        <td width="138" class="celdalCELEST"><!--<input name="nac1" type="text" class="seleccionTurist_180" id="nas1" value="{nac1}">-->
		<select name="nac1" id="nac1" class="seleccionTurist_180" onblur="visible_2()">
            <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
            <!-- START BLOCK : nacionalidad -->
            <option value="{CODIGO_NAC}" class="seleccion2" {SELECCIONAR_NAC}>{PAIS_NAC}</option>
            <!-- END BLOCK : nacionalidad -->
          </select>	    </td>
<!--
        <td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Observaci&oacute;n</span></td>
        <td width="208" class="celdalCELEST"><input name="obs1" type="text" class="seleccionTurist_200" id="obs12" value="{obs1}"></td>
-->
        <td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Tarjeta TTS:   Cod.Autoriza:</span></td>
        <td width="208" class="celdalCELEST">
        <input name="tarjTTS1" size="1" type="text" onkeyup="cargaTTS();" class="seleccionTurist_90" id="tarjTTS1" ><div id="showTTS">{CODIGO_TTS}</div>
        <input name="codAuto1" size="1" type="text" class="seleccionTurist_90" id="codAuto1" >
        
        
        </td>       
        <!--
<td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Cod.Autoriza</span></td>
-->
        
      </tr>
      <tr>
        <td class="celdalazul_peque">Pasajero 2 </td>
        <td class="celdalCELEST"><input name="pasajero2" type="text" class="seleccionTurist_200" id="pasajero32" value="{pasajero2}" onblur="visible_3()"></td>
        <td class="celdalazul_peque">Pasaporte o RUT</td>
        <td class="celdalCELEST"><input name="pas2" type="text" class="seleccionTurist_180" id="pas2" value="{pas2}" onblur="visible_3()"></td>
        <td class="celdalazul_peque">Nacionalidad</td>
        <td class="celdalCELEST"><!--<input name="nac2" type="text" class="seleccionTurist_180" id="nac2" value="{nac2}"></td>-->
		<select name="nac2" id="nac2" class="seleccionTurist_180" onblur="visible_3()" >
            <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
            <!-- START BLOCK : nacionalidad2 -->
            <option value="{CODIGO_NAC}" class="seleccion2" {SELECCIONAR_NAC2}>{PAIS_NAC}</option>
            <!-- END BLOCK : nacionalidad2 -->
          </select>                
<!--
        <td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Observaci&oacute;n</span></td>
        <td width="208" class="celdalCELEST"><input name="obs1" type="text" class="seleccionTurist_200" id="obs12" value="{obs1}"></td>
-->
        <td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Tarjeta TTS:   Cod.Autoriza:</span></td>
        <td width="208" class="celdalCELEST">
        <input name="tarjTTS2" size="1" type="text" onkeyup="cargaTTS2();" class="seleccionTurist_90" id="tarjTTS2" ><div id="showTTS2">{CODIGO_TTS}</div>
        <input name="codAuto1" size="1" type="text" class="seleccionTurist_90" id="codAuto1" >
        
        
        </td>       
        <!--
<td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Cod.Autoriza</span></td>
-->
        
      </tr>
      <tr>
        <td class="celdalazul_peque">Pasajero 3 </td>
        <td class="celdalCELEST"><input name="pasajero3" type="text" class="seleccionTurist_200" id="pasajero43" value="{pasajero3}" onblur="visible_4()"></td>
        <td class="celdalazul_peque">Pasaporte o RUT</td>
        <td class="celdalCELEST"><input name="pas3" type="text" class="seleccionTurist_180" id="pas3" value="{pas3}" onblur="visible_4()"></td>
        <td class="celdalazul_peque">Nacionalidad</td>
        <td class="celdalCELEST"><!--<input name="nac3" type="text" class="seleccionTurist_180" id="nac3" value="{nac3}"></td>-->
          <select name="nac3" id="nac3" class="seleccionTurist_180" onblur="visible_4()" >
            <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
            <!-- START BLOCK : nacionalidad3 -->
            <option value="{CODIGO_NAC}" class="seleccion2" {SELECCIONAR_NAC3}>{PAIS_NAC}</option>
            <!-- END BLOCK : nacionalidad3 -->
          </select>                
<!--
        <td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Observaci&oacute;n</span></td>
        <td width="208" class="celdalCELEST"><input name="obs1" type="text" class="seleccionTurist_200" id="obs12" value="{obs1}"></td>
-->
        <td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Tarjeta TTS:   Cod.Autoriza:</span></td>
        <td width="208" class="celdalCELEST">
        <input name="tarjTTS3" size="1" type="text" onkeyup="cargaTTS();" class="seleccionTurist_90" id="tarjTTS3" ><div id="showTTS">{CODIGO_TTS}</div>
        <input name="codAuto1" size="1" type="text" class="seleccionTurist_90" id="codAuto1" >
        
        
        </td>       
        <!--
<td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Cod.Autoriza</span></td>
-->
        
      </tr>
      <tr>
        <td class="celdalazul_peque">Pasajero 4</td>
        <td class="celdalCELEST"><input name="pasajero4" type="text" class="seleccionTurist_200" id="pasajero4" value="{pasajero4}" onblur="visible_5()"></td>
        <td class="celdalazul_peque">Pasaporte o RUT</td>
        <td class="celdalCELEST"><input name="pas4" type="text" class="seleccionTurist_180" id="pas4" value="{pas4}" onblur="visible_5()"></td>
        <td class="celdalazul_peque">Nacionalidad</td>
        <td class="celdalCELEST"><!--<input name="nac4" type="text" class="seleccionTurist_180" id="nac4" value="{nac4}"></td>-->
		<select name="nac4" id="nac4" class="seleccionTurist_180" onblur="visible_5()" >
            <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
            <!-- START BLOCK : nacionalidad4 -->
            <option value="{CODIGO_NAC}" class="seleccion2" {SELECCIONAR_NAC4}>{PAIS_NAC}</option>
            <!-- END BLOCK : nacionalidad4 -->
          </select>                
<!--
        <td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Observaci&oacute;n</span></td>
        <td width="208" class="celdalCELEST"><input name="obs1" type="text" class="seleccionTurist_200" id="obs12" value="{obs1}"></td>
-->
        <td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Tarjeta TTS:   Cod.Autoriza:</span></td>
        <td width="208" class="celdalCELEST">
        <input name="tarjTTS4" size="1" type="text" onkeyup="cargaTTS();" class="seleccionTurist_90" id="tarjTTS4" ><div id="showTTS">{CODIGO_TTS}</div>
        <input name="codAuto1" size="1" type="text" class="seleccionTurist_90" id="codAuto1" >
        
        
        </td>       
        <!--
<td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Cod.Autoriza</span></td>
-->
        
      </tr>
      <tr>
        <td class="celdalazul_peque">Pasajero 5 </td>
        <td class="celdalCELEST"><input name="pasajero5" type="text" class="seleccionTurist_200" id="pasajero62" value="{pasajero5}" onblur="visible_6()"></td>
        <td class="celdalazul_peque">Pasaporte o RUT</td>
        <td class="celdalCELEST"><input name="pas5" type="text" class="seleccionTurist_180" id="pas5" value="{pas5}" onblur="visible_6()"></td>
        <td class="celdalazul_peque">Nacionalidad</td>
        <td class="celdalCELEST"><!--<input name="nac5" type="text" class="seleccionTurist_180" id="nac5" value="{nac5}"></td>-->
		<select name="nac5" id="nac5" class="seleccionTurist_180" onblur="visible_6()" >
            <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
            <!-- START BLOCK : nacionalidad5 -->
            <option value="{CODIGO_NAC}" class="seleccion2" {SELECCIONAR_NAC5}>{PAIS_NAC}</option>
            <!-- END BLOCK : nacionalidad5 -->
          </select>                
<!--
        <td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Observaci&oacute;n</span></td>
        <td width="208" class="celdalCELEST"><input name="obs1" type="text" class="seleccionTurist_200" id="obs12" value="{obs1}"></td>
-->
        <td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Tarjeta TTS:   Cod.Autoriza:</span></td>
        <td width="208" class="celdalCELEST">
        <input name="tarjTTS5" size="1" type="text" onkeyup="cargaTTS();" class="seleccionTurist_90" id="tarjTTS5" ><div id="showTTS">{CODIGO_TTS}</div>
        <input name="codAuto1" size="1" type="text" class="seleccionTurist_90" id="codAuto1" >
        
        
        </td>       
        <!--
<td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Cod.Autoriza</span></td>
-->
        
      </tr>
      <tr>
        <td class="celdalazul_peque">Pasajero 6</td>                                
        <td class="celdalCELEST"><input name="pasajero6" type="text" class="seleccionTurist_200" id="pasajero6" value="{pasajero6}" onblur="visible_7()"></td>
        <td class="celdalazul_peque">Pasaporte o RUT</td>
        <td class="celdalCELEST"><input name="pas6" type="text" class="seleccionTurist_180" id="pas6" value="{pas6}" onblur="visible_7()"></td>
        <td class="celdalazul_peque">Nacionalidad</td>
        <td class="celdalCELEST"><!--<input name="nac6" type="text" class="seleccionTurist_180" id="nac6" value="{nac6}"></td>-->
		<select name="nac6" id="nac6" class="seleccionTurist_180" onblur="visible_7()">
            <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
            <!-- START BLOCK : nacionalidad6 -->
            <option value="{CODIGO_NAC}" class="seleccion2" {SELECCIONAR_NAC6}>{PAIS_NAC}</option>
            <!-- END BLOCK : nacionalidad6 -->
          </select>                
<!--
        <td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Observaci&oacute;n</span></td>
        <td width="208" class="celdalCELEST"><input name="obs1" type="text" class="seleccionTurist_200" id="obs12" value="{obs1}"></td>
-->
        <td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Tarjeta TTS:   Cod.Autoriza:</span></td>
        <td width="208" class="celdalCELEST">
        <input name="tarjTTS6" size="1" type="text" onkeyup="cargaTTS();" class="seleccionTurist_90" id="tarjTTS6" ><div id="showTTS">{CODIGO_TTS}</div>
        <input name="codAuto1" size="1" type="text" class="seleccionTurist_90" id="codAuto1" >
        
        
        </td>       
        <!--
<td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Cod.Autoriza</span></td>
-->
        
      </tr>
      <tr>
        <td class="celdalazul_peque">Pasajero 7 </td>
        <td class="celdalCELEST"><input name="pasajero7" type="text" class="seleccionTurist_200" id="pasajero7" value="{pasajero7}" onblur="visible_8()"></td>
        <td class="celdalazul_peque">Pasaporte o RUT</td>
        <td class="celdalCELEST"><input name="pas7" type="text" class="seleccionTurist_180" id="pas7" value="{pas7}" onblur="visible_8()"></td>
        <td class="celdalazul_peque">Nacionalidad</td>
        <td class="celdalCELEST"><!--<input name="nac7" type="text" class="seleccionTurist_180" id="nac7" value="{nac7}"></td>-->
		<select name="nac7" id="nac7" class="seleccionTurist_180" onblur="visible_8()" >
            <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
            <!-- START BLOCK : nacionalidad7 -->
            <option value="{CODIGO_NAC}" class="seleccion2" {SELECCIONAR_NAC7}>{PAIS_NAC}</option>
            <!-- END BLOCK : nacionalidad7 -->
          </select>                
<!--
        <td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Observaci&oacute;n</span></td>
        <td width="208" class="celdalCELEST"><input name="obs1" type="text" class="seleccionTurist_200" id="obs12" value="{obs1}"></td>
-->
        <td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Tarjeta TTS:   Cod.Autoriza:</span></td>
        <td width="208" class="celdalCELEST">
        <input name="tarjTTS7" size="1" type="text" onkeyup="cargaTTS();" class="seleccionTurist_90" id="tarjTTS7" ><div id="showTTS">{CODIGO_TTS}</div>
        <input name="codAuto1" size="1" type="text" class="seleccionTurist_90" id="codAuto1" >
        
        
        </td>       
        <!--
<td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Cod.Autoriza</span></td>
-->
        
      </tr>
      <tr>
        <td class="celdalazul_peque">Pasajero 8 </td>
        <td class="celdalCELEST"><input name="pasajero8" type="text" class="seleccionTurist_200" id="pasajero8" value="{pasajero8}" onblur="visible_9()"></td>
        <td class="celdalazul_peque">Pasaporte o RUT</td>
        <td class="celdalCELEST"><input name="pas8" type="text" class="seleccionTurist_180" id="pas8" value="{pas8}" onblur="visible_9()"></td>
        <td class="celdalazul_peque">Nacionalidad</td>
        <td class="celdalCELEST"><!--<input name="nac8" type="text" class="seleccionTurist_180" id="nac8" value="{nac8}"></td>-->
		<select name="nac8" id="nac8" class="seleccionTurist_180" onblur="visible_9()" >
            <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
            <!-- START BLOCK : nacionalidad8 -->
            <option value="{CODIGO_NAC}" class="seleccion2" {SELECCIONAR_NAC8}>{PAIS_NAC}</option>
            <!-- END BLOCK : nacionalidad8 -->
          </select>                
<!--
        <td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Observaci&oacute;n</span></td>
        <td width="208" class="celdalCELEST"><input name="obs1" type="text" class="seleccionTurist_200" id="obs12" value="{obs1}"></td>
-->
        <td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Tarjeta TTS:   Cod.Autoriza:</span></td>
        <td width="208" class="celdalCELEST">
        <input name="tarjTTS8" size="1" type="text" onkeyup="cargaTTS();" class="seleccionTurist_90" id="tarjTTS8" ><div id="showTTS">{CODIGO_TTS}</div>
        <input name="codAuto1" size="1" type="text" class="seleccionTurist_90" id="codAuto1" >
        
        
        </td>       
        <!--
<td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Cod.Autoriza</span></td>
-->
        
      </tr>
      <tr>
        <td class="celdalazul_peque">Pasajero 9 </td>
        <td class="celdalCELEST"><input name="pasajero9" type="text" class="seleccionTurist_200" id="pasajero102" value="{pasajero9}" onblur="visible_10()"></td>
        <td class="celdalazul_peque">Pasaporte o RUT</td>
        <td class="celdalCELEST"><input name="pas9" type="text" class="seleccionTurist_180" id="pas9" value="{pas9}" onblur="visible_10()"></td>
        <td class="celdalazul_peque">Nacionalidad</td>
        <td class="celdalCELEST"><!--<input name="nac9" type="text" class="seleccionTurist_180" id="nac9" value="{nac9}"></td>-->
		<select name="nac9" id="nac9" class="seleccionTurist_180" onblur="visible_10()" >
            <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
            <!-- START BLOCK : nacionalidad9-->
            <option value="{CODIGO_NAC}" class="seleccion2" {SELECCIONAR_NAC9}>{PAIS_NAC}</option>
            <!-- END BLOCK : nacionalidad9 -->
          </select>                
<!--
        <td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Observaci&oacute;n</span></td>
        <td width="208" class="celdalCELEST"><input name="obs1" type="text" class="seleccionTurist_200" id="obs12" value="{obs1}"></td>
-->
        <td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Tarjeta TTS:   Cod.Autoriza:</span></td>
        <td width="208" class="celdalCELEST">
        <input name="tarjTTS9" size="1" type="text" onkeyup="cargaTTS();" class="seleccionTurist_90" id="tarjTTS9" ><div id="showTTS">{CODIGO_TTS}</div>
        <input name="codAuto1" size="1" type="text" class="seleccionTurist_90" id="codAuto1" >
        
        
        </td>       
        <!--
<td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Cod.Autoriza</span></td>
-->
        
      </tr>
      <tr>
        <td class="celdalazul_peque">Pasajero 10 </td>
        <td class="celdalCELEST"><input name="pasajero10" type="text" class="seleccionTurist_200" id="pasajero10" value="{pasajero9}"></td>
        <td class="celdalazul_peque">Pasaporte o RUT</td>
        <td class="celdalCELEST"><input name="pas10" type="text" class="seleccionTurist_180" id="pas10" value="{pas10}"></td>
        <td class="celdalazul_peque">Nacionalidad</td>
        <td class="celdalCELEST"><!--<input name="nac10" type="text" class="seleccionTurist_180" id="nac10" value="{nac10}"></td>-->
		<select name="nac10" id="nac10" class="seleccionTurist_180" >
            <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
            <!-- START BLOCK : nacionalidad10 -->
            <option value="{CODIGO_NAC}" class="seleccion2" {SELECCIONAR_NAC10}>{PAIS_NAC}</option>
            <!-- END BLOCK : nacionalidad10 -->
          </select>                
<!--
        <td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Observaci&oacute;n</span></td>
        <td width="208" class="celdalCELEST"><input name="obs1" type="text" class="seleccionTurist_200" id="obs12" value="{obs1}"></td>
-->
        <td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Tarjeta TTS:   Cod.Autoriza:</span></td>
        <td width="208" class="celdalCELEST">
        <input name="tarjTTS10" size="1" type="text" onkeyup="cargaTTS();" class="seleccionTurist_90" id="tarjTTS10" ><div id="showTTS">{CODIGO_TTS}</div>
        <input name="codAuto1" size="1" type="text" class="seleccionTurist_90" id="codAuto1" >
        
        
        </td>       
        <!--
<td width="69" class="celdalazul_peque"><span class="celdalazul_peque">Cod.Autoriza</span></td>
-->
        
      </tr>
      <tr>
        <td class="celdalazul_peque">Tipo de Reserva </td>
        <td class="celdalCELEST">
		<select name="tipo" class="seleccionTurist_180" >
            <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
            <!-- START BLOCK : tipo -->
            <option value="{CODIGO_TR}" class="seleccion2" {SELECCIONAR_C}>{GLOSA_TR}</option>
            <!-- END BLOCK : tipo -->
          </select>       
		  <input name="guardar" type="hidden" id="guardar2">          
		  <input name="user" type="hidden" id="user">
		<!--<input name="glosa" type="text" id="glosa" value="{GLOSA}">-->
		</td>
		  		
		  <!--///////////MODIFICACION 01032012////////////////////////////////////-->
      <td class="celdalazul_peque">Forma de Pago </td>
         <td colspan="7" class="celdalCELEST">
    		<select name="forma_pago" class="seleccionTurist_180" >
                <option value="0" class="seleccion2" >--(SELECCIONAR)--</option>
                <!-- START BLOCK : forma_pago -->
                <option value="{Cod_Fop}" class="seleccion2" {SELECCIONAR_FOP}>{Fop}</option>		
                <!-- END BLOCK : forma_pago -->
              </select>
		  </td>
          
		  <!--///////////MODIFICACION 01032012////////////////////////////////////-->
      </tr>
    </table>
    <div align="center"><br>
      <input name="Submit" type="button" class="BotonTurist_Celest" value="Aceptar" onClick="Aceptar();">
      &nbsp;
      <input name="Submit2" type="submit" class="BotonTurist_Celest" value="Cancelar" onClick="Cancelar()">
    </div>
  </form>
</div>
<div id="Layer2" style="position:absolute; left:5px; top:11px; width:439px; height:89px; z-index:2">
  <table width="430" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="80" rowspan="4"><div id="Layer3" style="position:absolute; left:456px; top:23px; width:533px; height:59px; z-index:3">
        <table width="532" border="0" cellpadding="0" cellspacing="0">
          <tr class="celdalazul">
            <td width="194" class="celdalazul">Proveedor</td>
            <td width="134" class="celdalazul"><div align="center">Vehiculo</div></td>
            <td width="91" class="celdalazul"><div align="center">Capacidad</div></td>
            <td width="113" class="celdalazul"><div align="center">Usuario</div></td>
          </tr>
          <tr class="celdalCELEST">
            <!-- START BLOCK : buses -->
            <td class="celdalCELEST">{proveedor}</td>
            <td class="celdalCELEST">{vehiculo}</td>
            <td class="celdalCELEST">{capacidad}</td>
            <td class="celdalCELEST">{usr_exc}&nbsp;</td>
          </tr>
          <!-- END BLOCK : buses -->
        </table>
      </div>        <img src="../Imagenes/IMG_6902.jpg" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="400">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="Estilo1">Toma de Reservas de Excursiones</span></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
</body>
</html>
