<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#Layer1 {
	position:absolute;
	left:16px;
	top:159px;
	width:580px;
	height:109px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:18px;
	top:60px;
	width:414px;
	height:62px;
	z-index:14;
}
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}

#Layer4 {
	position:absolute;
	left:-1px;
	top:122px;
	width:430px;
	height:131px;
	z-index:15;
}
#Layer5 {
	position:absolute;
	left:15px;
	top:305px;
	width:436px;
	height:22px;
	z-index:10;
}
</style>

<script type="text/JavaScript">
function Consultar()
{
if(document.form1.proveedor.value=='0x')
{
alert('Seleccione el Proveedor');
document.form1.proveedor.focus();
return;
}
if(document.form1.ID.value=='')
{
alert('Ingrese el ID de la Tarjeta');
document.form1.ID.focus();
return;
}
else
{
var largo_ID=document.form1.ID.value.length;
		if(largo_ID!=12)
		{
		alert('Ingrese nuevamente el ID,el largo de esta es:'+largo_ID+' y tiene que ser de 12 caracteres');
		document.form1.ID.value='';
		document.form1.ID.focus();
		return;
		}
}
if(document.form1.PIN.value=='')
{
alert('Ingrese el PIN de la Tarjeta');
document.form1.PIN.value='';
document.form1.PIN.focus();
return;
}
else
{
		var largo=document.form1.PIN.value.length;
		if(largo!=8)
		{
		alert('Ingrese nuevamente el PIN,el largo de esta es:'+largo+' y tiene que ser de 8 caracteres');
		document.form1.PIN.focus();
		return;
		}
}
document.form1.consultar.value='1';
document.form1.submit();
}

function ver(codigo)
{
	alert(codigo);
	var pregunta=confirm('Esta Seguro de Utilizar el servicio?');
	if(pregunta)
	{
	document.form1.servicio.value=codigo;
	document.form1.submit();
	}
}

</script>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Ingreso de Tarjeta</title>
<style type="text/css">

</style>
</head>
<body>
<div id="Layer2"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118" /></div>
<div id="Layer1">
  <form id="form1" name="form1" method="post" action="">
    <table width="417" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="celdalazul">Proveedor </td>
        <td class="celdalCELEST"><label>
          <select name="proveedor" class="seleccionTurist_180" id="proveedor" {DESHABILIT}>
          <option value="0x">--Seleccionar--</option>
           <!-- START BLOCK : PROVEEDORES -->
		  <option value="{CODIGO_PROV}" {SELECCIONAR}>{NOMBRE_PROV}</option>
		   <!-- END BLOCK : PROVEEDORES -->
          </select>
        </label></td>
      </tr>
      <tr>
        <td class="celdalazul">ID Tarjetas </td>
        <td class="celdalCELEST"><label>
          <input name="ID" type="text" class="seleccionTurist_180" id="ID" value="{ID}" maxlength="12" />
          <input name="servicio" type="hidden" id="servicio">
        </label></td>
      </tr>
      <tr>
        <td width="150" class="celdalazul">PIN</td>
        <td width="267" class="celdalCELEST"><label>
          <input name="PIN" type="text" class="seleccionTurist_180" id="PIN" value="{PIN}" maxlength="8" />
          &nbsp;&nbsp;<img src="../Imagenes/120px-Crystal_Clear_action_build19x19.png" alt="Consultar Tarjeta" width="19" height="19" style="cursor:hand" onClick="Consultar()" />
          <input name="consultar" type="hidden" id="consultar">
        </label></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <div id="Layer4">
      <table width="418" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="31" class="celdalazul">&nbsp;</td>
          <td width="68" class="celdalazul">Codigo</td>
          <td width="319" class="celdalazul">Descripcion Servicio </td>
        </tr>
        <!-- START BLOCK : TABLA-->
        <tr>
          <td class="celdalCELEST"><label>
            <input type="checkbox" name="checkbox" value="{CODIGO}" onClick="ver('{CODIGO}')">
          </label></td>
          <td class="celdalCELEST">{CODIGO}</td>
          <td class="celdalCELEST">{DESCRIPCION_SERV}</td>
          <!--END BLOCK : TABLA -->
        </tr>
      </table>
    </div>
  </form>
</div>
<div class="TituloPlomo" id="Layer3">
  <table width="338" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="81" rowspan="4"><img src="../Imagenes/tarjeta3.jpg" width="80" height="80" /></td>
      <td width="13">&nbsp;</td>
      <td width="244">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Validar Tarjeta </strong></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><span class="TituloFecha">{fecha}</span></td>
    </tr>
    
    <tr>
      <td class="TituloFecha">&nbsp;</td>
      <td height="22" class="TituloFecha">&nbsp;</td>
    </tr>
  </table>
</div>
<div id="Layer5">
  <table width="418" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="418" class="celdalCELEST"><div align="center">No Existen Registros </div></td>
    </tr>
  </table>
</div>
</body>
</html>
