<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Documento sin t&iacute;tulo</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
</head>

<body>

<div id="Layer1" style="position:absolute; left:347px; top:8px; width:202px; height:150px; z-index:1">
  <div class="TituloPlomo" id="Layer3">
    <table width="200" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><div align="center"><img src="../Imagenes/turistik107_118.jpg" width="107" height="118"></div></td>
      </tr>
    </table>
    <div align="center"></div>
  </div>
</div>
<div id="Layer2" style="position:absolute; left:17px; top:9px; width:864px; height:490px; z-index:2">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p align="center"><strong>VOUCHER DE SERVICIO <br>
    Cod.Autorizaci&oacute;n {codigo} </strong></p>
  <p align="center">&nbsp;</p>
  <h2><font size="2" face="Arial, Helvetica, sans-serif">Estimado(a)
        {nombre}
  </font></h2>
  <p>Agradecemos t&uacute; compra de
    <?=$cantidad?>
    ticket(s) "
    <?=$elproducto?>
" <br>
El valor total de tu compra es de
<?=$st_monto?>
pesos chilenos.<br>
El servicio ser&aacute; utilizado el
<?=strftime("%A %d ,%B %Y ",strtotime($fecha))?>
.<br>
Tu direcci&oacute;n/ hotel el d&iacute;a que har&aacute;s uso del servicio es
<?=$direccion?>
.<br>
Si requerimos contactarte lo haremos a
<?=$email?>
<br>
<br>
<br>
Nombre:
<?=$nombre_comprador?>
<br>
Cod. Autorizaci&oacute;n:
<?=$linea?>
<br>
Fecha:
<?=$fecha?>
<br>
Direcci&oacute;n:
<?=$direccion?>
</p>
  <p><font face="Arial, Helvetica, sans-serif" size="2">*** Para hacer uso del servicio deber&aacute;s llevar una copia de esta confirmaci&oacute;n. </font>*** </p>
  <p align="center">&nbsp;</p>
</div>
</body>
</html>
