div.autosuggest {
	position: absolute;
	z-index:9000;
	background-image: url(img/puntero.gif);
	background-position: top;
	background-repeat: no-repeat;
	padding: 10px 0 0 0;
	font:normal 11px Tahoma, Geneva, sans-serif;
}
div.autosuggest div.as_header, div.autosuggest div.as_footer {
	position: relative;
	padding:0;
	height:1px;
	background:url(img/ul_t.gif) repeat-x top;
	overflow: hidden;
}
div.autosuggest div.as_footer {
	background:url(img/ul_b.gif) repeat-x bottom;
}
div.autosuggest div.as_header div.as_corner, div.autosuggest div.as_footer div.as_corner, div.autosuggest div.as_header div.as_bar, div.autosuggest div.as_footer div.as_bar{
	display:none;
}
div.autosuggest ul {
	list-style: none;
	margin: 0;
	padding:4px 0;
	overflow: hidden;
	background:#fff url(img/ul.gif) repeat-y right;
}
div.autosuggest ul li {
	color: #333;
	padding: 0;
	margin: 0 4px;
	text-align: left;
	border-bottom:1px solid #ECEEF4;
}
div.autosuggest ul li a {
	color: #333;
	display: block;
	text-decoration: none;
	background-color: transparent;
	position: relative;
	padding: 0;
	width: 100%;
}
div.autosuggest ul li a:hover {
	background-color: #405997;
}
div.autosuggest ul li.as_highlight a:hover {
	background-color: #405997;
}
div.autosuggest ul li a span {
	display: block;
	padding: 3px 6px;
	font-weight: bold;
}
div.autosuggest ul li a span small {
	font-weight: normal;
	color: #515151;
	/*pais*/
}
div.autosuggest ul li.as_highlight a span small {
	color: #eee;
	/*pais over*/
}
div.autosuggest ul li.as_highlight a {
	color:#fff;
	background-color: #405997;
	background-image: url(img/hl_corner_br.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}
div.autosuggest ul li.as_highlight a span {
	background-image: url(img/hl_corner_bl.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
}
div.autosuggest ul li a .tl, div.autosuggest ul li a .tr {
	background-image: transparent;
	background-repeat: no-repeat;
	width: 6px;
	height: 6px;
	position: absolute;
	top: 0;
	padding: 0;
	margin: 0;
}
div.autosuggest ul li a .tr {
	right: 0;
}
div.autosuggest ul li.as_highlight a .tl {
	left: 0;
	background-image: url(img/hl_corner_tl.gif);
	background-position: bottom left;
}
div.autosuggest ul li.as_highlight a .tr {
	right: 0;
	background-image: url(img/hl_corner_tr.gif);
	background-position: bottom right;
}
div.autosuggest ul li.as_warning {
	font-weight: bold;
	text-align: center;
	color:#f90;
	border-bottom:none;
}
div.autosuggest ul em {
	font-style: normal;
	color: #09c;
}
div.autosuggest ul li.as_highlight em {
	color: #fc9;
}
.acc{position: relative;}