.rofInput{
	background:url(rof_inp.png) no-repeat center right;
	padding:0 9px 0 0;
	float:left;
}
.rofSelect{
	background:url(rof_sel.png) no-repeat center right;
	padding:0 20px 0 0;
	float:left;
}
.rofInput input, .rofSelect input{
	display: inline-block;
 	background:url(rof_bg.png) no-repeat center left;
	padding:4px 2px 4px 10px;
	border:none;
	color:#333;
	font:normal 11px Arial, Helvetica, sans-serif;
	margin:0;
	height:15px;
}
.rofSelect input{
	cursor:default;
}
.rofOPTIONS{
	display: inline-block;
	position:absolute;
	width:175px;
	background:#fff;
	overflow:auto;
	_height:120px  !important;
	max-height:120px;
	border:1px solid #ccc !important;
	border-top:none !important;
	display:none;
	padding:0 0 1px 0 !important;
	margin-left:8px !important;
	text-align:left !important;
	z-index:9001;
	left :10;
}
.rofOPTIONS a{
	display:block;
	padding:3px 2px 3px 4px;
	color:#333;
	font:normal 11px Arial, Helvetica, sans-serif;
	text-decoration:none;
	margin-right:1px;
	border:0;
}
.rofOPTIONS a:hover{
	color:#fff;
	background:#405997;
	text-decoration:none;
}