.dCAL {
	background-color:#dbdbdb;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#dbdbdb, endColorstr=#b0b0b0);
	background-image:-moz-linear-gradient(top, #dbdbdb 0%, #cccccc 43%, #777777 44%, #e3e3e3 100%);
	background-image:-o-linear-gradient(top, #dbdbdb 0%, #cccccc 43%, #777777 44%, #e3e3e3 100%);
	background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%, #dbdbdb), color-stop(43%, #cccccc), color-stop(44%, #777777), color-stop(100%, #e3e3e3));
	background-image:linear-gradient(top, #dbdbdb 0%, #cccccc 43%, #777777 44%, #e3e3e3 100%);
	
	padding:3px;
	border:1px solid #ccc;
}

.dCAL a, .dCAL tbody span {	
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

.dCAL a {
	/*background-color:#7EC5E7; original*/
	background-color:#D31923;
}

.dCAL a:hover {
	background-color:#008BCC;
}

.dCAL_multiple {
	border-top:1px solid #aaa;
	border-left:1px solid #aaa;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
}

.dCAL_header {
	/*background-color:#BED9E4;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#eeeeee, endColorstr=#cccccc);
	background-image:-moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
	background-image:-o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
	background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
	background-image:linear-gradient(top, #eeeeee 0%, #cccccc 100%);
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;*/
	background-color:#BED9E4;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#eeeeee, endColorstr=#cccccc);
	background-image:-moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
	background-image:-o-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
	background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
	background-image:linear-gradient(top, #eeeeee 0%, #cccccc 100%);
	border-top:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
}

#dCAL_btn_a, #dCAL_btn_s, .dCAL a:hover {
	-webkit-box-shadow:0 0 1px #666;
	-moz-box-shadow:0 0 1px #666;
	box-shadow:0 0 1px #666;
}

#dCAL_btn_a {
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
}

#dCAL_btn_s {
	-webkit-border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
}

#dCAL_ftitulo_a, #dCAL_ftitulo_s {
	text-shadow:1px 1px 1px #fff;
}

.dCAL_hoy {
	/*background-color:#09C !important; Original*/
	background-color:#7B070D !important;
}