
/*comun*/
.m { cursor:pointer; }

.ast {
	color:#c00;
	margin:4px;
	font:normal 13px Verdana, Arial, Helvetica, sans-serif;
}

.input,
.inputErr,
.area,
.select {
	background:#ffffff;
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#333;
}

.input,
.inputErr,
.area {
	border:1px solid #ccc;
	padding-left:4px;
}

.area {
	border:2px solid #D4D5D4;
	width:520px;
	height:70px;
	margin:0 1px;
	padding:2px 4px;
}

.input { height:18px; }

.select {
	padding:0;
	margin:0;
	border:1px solid #ccc;
}

a.opaque:hover img {
	opacity:1.0;
}
a.opaque img {
	opacity:0.70;
}

.psp { padding:15px 0 0 10px; }

.hr {
	background:url(dot.gif) repeat-x center;
	height:18px;
}

#Steps {
	background:#fff url(bg_solapas.jpg) repeat-x top;
	border:1px solid #CECECE;
	width:416px;
	height:40px;
	padding:6px 15px 1px 15px;
	float:left;
	display:block;
	cursor:default;
}

#Steps span {
	float:left;
	font:bold 13px Arial, Helvetica, sans-serif;
	color:#008BCC;
	margin-right:25px;
}

#Steps strong {
	display:block;
	background:url(step_n.png) no-repeat center top;
	color:#fff;
	padding:2px 0 0 0;
	height:20px;
	width:20px;
	font-size:12px;
}

#Steps span.activo { color:#241A61; }

#Steps .activo strong { background:url(step_a.png) no-repeat center top; }

#Motor { overflow:hidden; }

.motorSolapas {
	list-style:none !important;
	padding:8px 0 2px 0 !important;
	margin:0 !important;
	overflow:hidden;
}

.motorSolapas li {
	float:left;
	margin-right:2px;
	padding:0 !important;
}

.motorSolapas li span,
.motorSolapas li a {
	float:left;
	background-image:url(sol_b1.png);
	background-repeat:no-repeat;
	background-position:0 0;
	background-color:#241A61;
	color:#fff;
	cursor:default;
	text-decoration:none;
}

.motorSolapas li span { cursor:pointer; }

#priSolapa span,
#priSolapa a { background-image:url(sol_b3.png); }

.motorSolapas li a {
	background-color:#405997;
	color:#ddd;
	cursor:pointer;
}

.motorSolapas li a:hover {
	background-color:#4EA8CD;
	color:#fff;
	text-decoration:none;
}

.motorSolapas li strong {
	float:left;
	background:url(sol_b2.png) no-repeat top right;
	padding:9px 8px 7px 8px;
	width:75px;
	font:bold 13px Arial, Helvetica, sans-serif;
	text-align:center;
}

.motorSolapas li.solFin strong { width:152px; }

#mdiv1,
#mdiv2,
#mdiv3,
#mdiv4,
#mdiv5,
#mdiv6 { display:block; }

#textAge1,
#textAge2,
#pq_textAge1,
#pq_textAge2 { visibility:hidden; }

.tipo {
	clear:both;
	background:#E4E7E6;
}

.tipo div {
	background-color:#241A61;
	color:#fff;
	float:left;
	width:173px;
	padding:0 10px;
	font:bold 12px Arial, Helvetica, sans-serif;
	margin-right:2px;
}

.tipo div.desact {
	background-color:#405997;
	color:#ddd;
}

.motorSolapas li.solFin,
#stepFin,
#tipoV3 { margin:0 !important; }

#tipoV3 { width:190px; }

.MotorC {
	clear:both;
	background:#DDE2E6;
}

.MotorC span {
	display:block;
	margin:0 0 4px 8px;
}

.MotorC acronym {
	font-size:10px;
	float:left;
	clear:both;
	margin-left:8px;
}

.MotorC span acronym {
	font-size:10px;
	float:none;
	clear:none;
	margin:0;
}

.MotorC .hr {
	background:url(bg_hrm.gif) repeat-x center;
	height:2px;
}

.MotorC td {
}


.flmi,
.flmc,
.flmf {
	float:left;
	width:80px;
	height:57px;
}

.flmc {
	height:28px;
	padding:10px 0 0 0;
}

.flmf { height:17px; }

.dph { width:455px; }

#Ofertas {
	padding:12px 1px 12px 0;
	background:#fff;
}

.OfertasHome {
	vertical-align:top;
	border-right:12px solid #fff;
}

.OfertasHome div { width:306px; }

.OfertasHome h3 {
	color:#1294BF;
	font:bold 13px Arial, Helvetica, sans-serif;
	margin:0 0 6px 0;
}

.OfertasHome h6 {
	background:#8C9FA5;
	border-top:1px solid #c8c8c8;
	padding:0 6px 1px 6px;
	margin:0 0 10px 0;
	width:295px;
	float:left;
}

.OfertasHome h6 strong {
	color:#fff;
	font:normal 11px Arial, Helvetica, sans-serif;
	float:left;
}

.OfertasHome h6 span {
	color:#fff;
	font:normal 11px Arial, Helvetica, sans-serif;
	float:right;
}

.OfertasHome a {
	font:normal 11px Arial, Helvetica, sans-serif;
	display:block;
	padding:3px 4px 4px 4px;
	border-bottom:1px solid #c8c8c8;
	float:left;
	cursor:pointer;
	color:#565656;
}

.OfertasHome a:link {
	color:#565656;
	text-decoration:none;
}

.OfertasHome a span {
	float:left;
	width:238px;
}

.OfertasHome a strong {
	color:#9A9797;
	font:normal 13px Arial, Helvetica, sans-serif;
	float:right;
	width:60px;
	text-align:right;
}

.OfertasHome a:hover {
	background:#E5F3F8;
	text-decoration:none;
	color:#333;
}

#cubW {
	background:#fff;
	vertical-align:top;
	padding:10px;
	border:1px solid #241A61;
}

#Hlog a {
	color:#425F9C;
	text-decoration:underline;
	font-size:10px;
}

#Hlog a:hover { color:#337DAA; }

#Hlog a strong { font-size:11px; }

/*MENU*/
#menuTS {
	float:right;
	margin:10px 0 0 0;
	height:18px;
	width:229px;
	padding:0 20px 0 0;
}



p.bv_nota {
	padding:7px 2px;
	color:#333;
	font:normal 11px Arial, Helvetica, sans-serif;
}

.tipimg {
	position:absolute !important;
	z-index:4000;
	left:190px;
	margin-top:22px !important;
}

#mpaisTIP,
#mciudadTIP { display:none; }

.Data,
.DataB {
	background:#E4E7E6;
	clear:both;
	padding:8px 10px;
}

.DataB { background:#fff; }

.DataF {
	background:#fff;
	clear:both;
	padding:8px 10px 1px 10px;
}

.padf {
	padding:13px;
	line-height:14px;
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#676767;
}

.padf_ {
	padding:13px;
	line-height:14px;
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#CC0000;
}

.MotorC code {
	color:#c00;
	margin:4px;
	font:normal 13px Verdana, Arial, Helvetica, sans-serif;
	position:absolute;
	margin:7px 0 0 -16px;
}

.msjF div {
	background:#FFFFD9;
	padding:4px 10px;
	font:bold 10px Verdana, Arial, Helvetica, sans-serif;
	color:#c00;
	margin:5px 0;
}

.formFin { padding:16px; }

.formFin div {
	font:bold 12px Verdana, Arial, Helvetica, sans-serif;
	color:#008CCC;
	padding:10px;
	line-height:16px;
	text-align:center;
	background:#fff;
}

.sub,
.subl,
.suba,
.spag,
.pay {
	border:0;
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#fff;
	letter-spacing:1px;
	background:#3DA0C3 url(bg_sub.jpg) no-repeat right;
	height:21px;
	width:84px;
	cursor:pointer;
}

.subl {
	background:#3DA0C3 url(bg_subl.jpg) no-repeat right;
	width:94px;
}

.suba {
	background:#3DA0C3 url(bg_suba.jpg) no-repeat right;
	width:94px;
}

.spag {
	background:#FFFFFF url(../imagenes/html/btn_servipag_2.png) no-repeat right;
	width:119px;
	height:39px;
}

.pay {
	background:#FFFFFF url(../imagenes/html/btn_webpay_2.png) no-repeat right;
	width:119px;
	height:39px;	
}

.titDH { padding:0 1px 10px 0; }

.titDH div {
	background:#fff;
	padding:10px 10px 10px 0;
}

.subir { height:20px; }

.titFormu {
	padding:6px 13px;
	background:#008BCC;
	font:bold 16px Tahoma, Arial, sans-serif;
	color:#ffffff;
}

.titFormu_1 {
	padding:6px 13px;
	background:#008BCC;
	font:bold 12px Tahoma, Arial, sans-serif;
	color:#ffffff;
}


.nota {
	padding:4px 6px;
	background:#ffe;
	color:#c00;
	font:bold 10px Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #ddd;
}

#tc {
	background:#fff;
	width:572px;
	overflow:auto;
	padding:5px;
	height:105px;
	margin:0 4px;
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#333;
	border:1px solid #5FB6E0;
}

#tc span {
	display:inline;
	float:none;
	margin:0;
	padding:0;
}

.secBook {
	padding:5px 10px;
	font-weight:bold;
	color:#333;
}

.user {
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#999;
	padding:0 0 5px 0;
	border-bottom:1px solid #d4d4d4;
}

.user span {
	font:bold 11px Arial, Helvetica, sans-serif;
	color:#008CCC;
}

.precioBook {
	text-align:right;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#1D7694;
}

.precioBook small { color:#666; }
