
#PL_Contenido { overflow:hidden; }

#PL_data {
	padding:8px 8px 0 8px;
	text-align:center;
	border:10px solid #DDE2E6;
	background:#FFF;
}

#PL_body {
	padding:8px;
	border:10px solid #DDE2E6;
	background:#FFF;
}

#PL_bar {
	background:#fff url(load.gif) no-repeat center bottom;
	height:125px;
}

#PL_process {
	text-decoration:blink;
	color:#008BCC;
	font:bold 14px Tahoma, Geneva, sans-serif;
}

#PL_msj {
	color:#999;
	font:normal 11px Tahoma, Geneva, sans-serif;
	padding:10px 0;
}

.PL_btn {
	background:#E7E7E7;
	text-align:center;
	padding:0 0 5px 0;
}

.PL_btn img { cursor:pointer; }

.PL_err #PL_process {
	text-decoration:none;
	color:#f60;
	font-size:13px;
	padding:6px 0;
}

.PL_ok #PL_process {
	text-decoration:none;
	color:#6C0;
	padding:15px 0 10px 13px;
	background:url(ok.png) no-repeat 5px 17px;
}

.PL_err #PL_msj {
	color:#C30;
	padding:5px 0;
}

/*gmaps*/
#PL_maps_sv {
	width:570px;
	height:300px;
	background:#000;
}

#PL_svdescripcion {
	border:4px solid #999;
	background:#fff;
}

#PL_svdescripcion a.gmapstreet,
#PL_svdescripcion div.hcomparador { display:none !important; }

#PL_svdescripcion .GmapWindowHtml { width:552px; padding:5px; }

/*enviar por email e imprimir*/
#WIN_step1 { height:310px; }

#WIN_step2,
#WIN_step3,
#WIN_step4,
#WIN_step5,
#WIN_step6,
#WIN_step7,
#WIN_step8,
#WIN_step9,
#WIN_step10 {
	display:none;
	height:310px;
}