@charset "utf-8";
/* CSS Document */
body{margin:0px auto; padding:0px; background:#D5D7D4; font-family:Arial, Helvetica, sans-serif;}
a{outline:none;}
a img{border:none;}
p{font-family:Arial, Helvetica, sans-serif;}
h1{font-family:'Bliss2Bold', Arial, 'HelveticaRegular', sans-serif;}
/*HEADER*/
#header{width:100%; height:131px; display:block; overflow:hidden; margin:0px auto; padding:0px; background:url(../imagenes/html/bg-header.jpg) 0px 0px repeat-x;}
#header .contenido{width:946px; height:131px; display:block; margin:0px auto; padding:0px 7px;}
#header .contenido ul#topmenu{width:946px; height:35px; display:block; list-style:none; float:left; margin:0px; padding:0px 0px 1px 0px; background:url(../imagenes/html/logo-topmenu.gif) 793px 10px no-repeat;}
#header .contenido ul#topmenu li{overflow:hidden; float:left; margin:0px; padding:0px;}
#header .contenido ul#topmenu li a{font:11px Arial, Helvetica, sans-serif; text-align:center; margin:0px; padding:13px 10px 8px 10px; display:block; color:#666; text-transform:uppercase; text-decoration:none;}
#header .contenido ul#topmenu li a:hover{padding-bottom:3px;}
#header .contenido ul#topmenu li.selected a{background:url(../imagenes/html/bg-topmenu-selected.jpg) 0px 0px repeat-x; border:1px solid #CCC; border-bottom:none; padding:12px 10px 8px 10px; margin-top:1px;}
#header .contenido ul#topmenu li.selected a:hover{border-bottom:none!important; padding-bottom:8px;}
#header .contenido ul#topmenu li#banco a:hover{border-bottom:5px solid #632084;}
#header .contenido ul#topmenu li#inversiones a:hover{border-bottom:5px solid #E60D2E;}
#header .contenido ul#topmenu li#seguros a:hover{border-bottom:5px solid #EE5400;}
#header .contenido ul#topmenu li#factoring a:hover{border-bottom:5px solid #632084;}
#header .contenido ul#topmenu li#corredora a:hover{border-bottom:5px solid #EE5400;}
#header .contenido ul#topmenu li#inmobiliaria a:hover{border-bottom:5px solid #0099CC;}
#header .contenido ul#topmenu li#travel a:hover{border-bottom:5px solid #0099CC;}
#header .contenido ul#topmenu li#grupo a{color:#6D951A;}
#header .contenido ul#topmenu li#grupo a:hover{border-bottom:5px solid #6D951A;}
#header .contenido .logo{width:300px; height:45px; display:block; float:left; margin:0px; padding:10px 0px;}
#header .contenido .logo img, #header .contenido .logo a img{float:left; margin:0px; padding:0px; outline:none; border:none;}
#header .contenido .logo img, #header .contenido h2{float:left; margin:0px; padding:0px 0px 0px 20px; display:block; font:14px 'HelveticaRegular', Arial, sans-serif; color:#666; line-height:65px;}
#header .contenido .reservas{width:200px; height:55px; display:block; float:right; margin:0px; padding:10px 16px 0px 0px;}
#header .contenido .reservas p{color:#666; text-align:right; margin:0px; padding:0px;}
#header .contenido .reservas p strong{width:200px; height:29px; overflow:hidden; float:left; clear:left; margin:0px; padding:0px; font-size:30px; line-height:30px; font-weight:normal;}
#header .contenido .reservas p small{width:200px; height:12px; font-size:12px; float:left; clear:left; margin:0px; padding:0px;}
#header .contenido .auxiliar{width:946px; height:30px; display:block; float:left; clear:left; margin:0px; padding:0px;}
#header .contenido ul#auxiliar li{overflow:hidden; float:left; margin:0px; padding:0px;}
#header .contenido ul#auxiliar li a{font:11px Arial, Helvetica, sans-serif; text-align:center; margin:0px; padding:13px 10px 8px 10px; display:block; color:#666; text-transform:uppercase; text-decoration:none;}
#header .contenido ul#auxiliar li a:hover{padding-bottom:3px;}
#header .contenido ul#auxiliar li.selected a:hover{border-bottom:none!important; padding-bottom:8px;}
#header .contenido ul#auxiliar li{overflow:hidden; float:left; margin:0px; padding:0px;}
#header .contenido  ul#auxiliar li#cssusurario a:hover{border-bottom:5px solid #0099CC;}
#header .contenido  ul#auxiliar li#cssinicio a:hover{border-bottom:5px solid #0099CC;}
#header .contenido  ul#auxiliar li#csscontacto a:hover{border-bottom:5px solid #0099CC;}
#header .contenido  ul#auxiliar li#csscanasta a:hover{border-bottom:5px solid #0099CC;}

/*SIDEBAR*/
#sidebar {
	width:305px;
	display:block;
	margin:0px;
	padding:10px 0px 0px 15px;
	float:left;
	position:relative;
	z-index:4;
}

#sidebar #buscador {
	width:305px;
	overflow:hidden;
	display:block;
	float:left;
	margin:0px;
	padding:0px 0px 20px 0px;
	background:url(../imagenes/html/bg-buscador.jpg) left bottom no-repeat #DDE2E6;
}


#sidebar #tabs_buscador {
	width:305px;
	overflow:hidden;
	display:block;
	float:left;
	margin:0px;
	padding:0px;
	display:block;
}

#sidebar #tabs_buscador ul.tabs {
	width:306px;
	height:74px;
	display:block;
	float:left;
	margin:0px;
	padding:0px;
	float:left;
	list-style:none;
}

#sidebar #tabs_buscador ul.tabs li {
	width:61px;
	height:74px;
	display:block;
	float:left;
	margin:0px;
	padding:0px;
	font-size:10px;
	text-align:center;
}

#sidebar #tabs_buscador ul.tabs li a {
	width:61px;
	height:20px;
	display:block;
	float:left;
	margin:0px;
	padding:50px 0px 0px 0px;
	color:#FFF;
	text-decoration:none;
}

#sidebar #tabs_buscador ul.tabs li a.current {
	color:#0470a0;
}

#sidebar #tabs_buscador ul.tabs li a:hover{
	color:#FFFFFF;
}

#sidebar #tabs_buscador ul.tabs li.aereo a {
	background:url(../imagenes/html/bg-tab-aereo.jpg) top center no-repeat;
}

#sidebar #tabs_buscador ul.tabs li.aereo a.current {
	background:url(../imagenes/html/bg-tab-aereo.jpg) bottom center no-repeat;
}

#sidebar #tabs_buscador ul.tabs li.aereo a:hover {
	background:url(../imagenes/html/bg-tab-aereo.jpg) center center no-repeat;
}

#sidebar #tabs_buscador ul.tabs li.hotel a {
	background:url(../imagenes/html/bg-tab-hotel.jpg) top center no-repeat;
}

#sidebar #tabs_buscador ul.tabs li.hotel a.current {
	background:url(../imagenes/html/bg-tab-hotel.jpg) bottom center no-repeat;
}

#sidebar #tabs_buscador ul.tabs li.hotel a:hover {
	background:url(../imagenes/html/bg-tab-hotel.jpg) center center no-repeat;
}

#sidebar #tabs_buscador ul.tabs li.programas a {
	background:url(../imagenes/html/bg-tab-programas.jpg) top center no-repeat;
}

#sidebar #tabs_buscador ul.tabs li.programas a.current {
	background:url(../imagenes/html/bg-tab-programas.jpg) bottom center no-repeat;
}

#sidebar #tabs_buscador ul.tabs li.programas a:hover {
	background:url(../imagenes/html/bg-tab-programas.jpg) center center no-repeat;
}

#sidebar #tabs_buscador ul.tabs li.rent a {
	background:url(../imagenes/html/bg-tab-rent.jpg) top center no-repeat;
}

#sidebar #tabs_buscador ul.tabs li.rent a.current {
	background:url(../imagenes/html/bg-tab-rent.jpg) bottom center no-repeat;
}

#sidebar #tabs_buscador ul.tabs li.rent a:hover {
	background:url(../imagenes/html/bg-tab-rent.jpg) center center no-repeat;
}

#sidebar #tabs_buscador ul.tabs li.seguros a {
	background:url(../imagenes/html/bg-tab-seguros.jpg) top center no-repeat;
}

#sidebar #tabs_buscador ul.tabs li.seguros a.current {
	background:url(../imagenes/html/bg-tab-seguros.jpg) bottom center no-repeat;
}

#sidebar #tabs_buscador ul.tabs li.seguros a:hover {
	background:url(../imagenes/html/bg-tab-seguros.jpg) center center no-repeat;
}

#sidebar #buscador .panes {
	width:285px;
	overflow:hidden;
	display:block;
	float:left;
	margin:0px;
	padding:10px;
}

#sidebar #buscador .panes .aereo {
	width:285px;
	overflow:hidden;
	display:block;
	float:left;
	margin:0px;
	padding:0px;
}

#sidebar #buscador .panes .tablaBuscador {
	margin:0px;
	padding:0px;
}

#sidebar #buscador .panes .tablaBuscador label {
	font:11px Arial, Helvetica, sans-serif;
	text-align:left;
	color:#0470a0;
	float:left;
	clear:right;
	width:100%;
	padding:8px 0px 2px 0px;
}

#sidebar #buscador .panes .tablaBuscador p {
	font:11px Arial, Helvetica, sans-serif;
	text-align:left;
	color:#0470a0;
	float:left;
	clear:right;
	width:100%;
	padding:0px;
	margin:0px;
}

#sidebar #buscador .panes .tablaBuscador label.label1 {
	float:none!important;
	clear:none!important;
	padding:0px!important;
}

#sidebar #buscador .panes .tablaBuscador label.label3 {
	width:235px!important;
}

#sidebar #buscador .panes .tablaBuscador .input1 {
	width:275px;
	height:18px;
	border:1px solid #7A8C94;
	font:11px Arial, Helvetica, sans-serif;
	text-align:left;
	color:#0470a0;
}

#sidebar #buscador .panes .tablaBuscador .input1 {
	width:275px;
	height:18px;
	border:1px solid #7A8C94;
	float:left;
	clear:left;
	font:11px Arial, Helvetica, sans-serif;
	text-align:left;
	color:#0470a0;
}

#sidebar #buscador .panes .tablaBuscador .input2 {
	width:95px;
	height:18px;
	border:1px solid #7A8C94;
	float:left;
	clear:left;
	font:11px Arial, Helvetica, sans-serif;
	text-align:left;
	color:#0470a0;
}

#sidebar #buscador .panes .tablaBuscador .input3 {
	width:85px;
	height:18px;
	border:1px solid #7A8C94;
	float:left;
	clear:none;
	font:11px Arial, Helvetica, sans-serif;
	text-align:left;
	color:#0470a0;
}

#sidebar #buscador .panes .tablaBuscador .input4 {
	width:235px;
	height:18px;
	border:1px solid #7A8C94;
	float:left;
	clear:none;
	font:11px Arial, Helvetica, sans-serif;
	text-align:left;
	color:#0470a0;
}

#sidebar #buscador .panes .tablaBuscador .calendario {
	float:right;
	margin:0px;
	padding:3px 15px 0px 0px;
}

#sidebar #buscador .panes .tablaBuscador div {
	width:92px;
	float:left;
	margin:0px;
	padding:0px;
}

#sidebar #buscador .panes .tablaBuscador div p {
	width:92px;
	float:left;
	clear:left;
	margin:0px;
	padding:0px;
}

#sidebar #buscador .panes .tablaBuscador .btnBuscar {
	width:94px;
	height:30px;
	display:block;
	float:left;
	cursor:pointer;
	margin:5px 0px;
	padding:0px;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#FFF;
	text-align:center;
	padding-left:20px;
	background:url(../imagenes/html/bg-boton-form.gif) 0px 0px no-repeat;	
	border:none;
	background-color:transparent;
}

#sidebar #buscador .panes .tablaBuscador .btnBuscar1 {
	width:94px;
	height:30px;
	display:block;
	float:left;
	cursor:pointer;
	margin:5px 0px;
	padding:0px;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#FFF;
	text-align:center;
	padding-left:20px;
	background:url(../imagenes/html/bg-boton-form_over.gif) 0px 0px no-repeat;	
	border:none;
	background-color:transparent;
}

   
#sidebar #buscador .panes .tablaBuscador .btnPrograma {
	width:29px;
	height:32px;
	cursor:pointer;
	margin:-4px 0 0 5px;
	padding:0px;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#FFF;
	text-align:center;
	background:transparent url(../imagenes/html/boton-buscar-programas.jpg) 0px 0px no-repeat;
	border:none;
}

#sidebar #buscador .panes .panel {
	height:340px;
}

#sidebar .mis_compras {
	width:305px;
	height:43px;
	display:block;
	float:left;
	margin:0px;
	padding:15px 0px 0px 0px;
}

#sidebar .mis_compras a {
	width:295px;
	height:43px;
	display:block;
	float:left;
	margin:0px;
	padding:0px 0px 0px 10px;
	font:18px 'Bliss2Bold', Arial, 'HelveticaRegular', sans-serif;
	text-align:left;
	line-height:43px;
	color:#c53e00;
	text-decoration:none;
	background:url(../imagenes/html/bg-btn-compras.jpg) 0px 0px no-repeat;
}

#sidebar .mis_compras a:hover {
	text-decoration:underline;
}

#sidebar ul#menu_sidebar {
	width:305px;
	overflow:hidden;
	display:block;
	float:left;
	margin:0px;
	padding:10px 0px 0px 0px;
	list-style:none;
}

#sidebar ul#menu_sidebar li {
	width:305px;
	height:78px;
	display:block;
	float:left;
	clear:left;
	margin:0px;
	padding:0px;
	border-bottom:1px solid #CCC;
}

#sidebar ul#menu_sidebar li a {
	width:285px;
	height:78px;
	display:block;
	float:left;
	margin:0px;
	padding:0px 10px;
	text-decoration:none;
	font:17px 'Bliss2Bold', Arial, 'HelveticaRegular', sans-serif;
	color:#727171;
	line-height:78px;
}

#sidebar ul#menu_sidebar li a:hover {
	color:#999;
}

#sidebar ul#menu_sidebar li.itinerario a {
	background:url(../imagenes/html/bg-li-sidebar-itinerario.jpg) top right no-repeat;
}

#sidebar ul#menu_sidebar li.contacto a {
	background:url(../imagenes/html/bg-li-sidebar-contacto.jpg) top right no-repeat;
}

#sidebar ul#menu_sidebar li.buenviaje a {
	background:url(../imagenes/html/bg-li-sidebar-buenviaje.jpg) top right no-repeat;
}

#sidebar ul#menu_sidebar li.emergencia {
	height:84px;
}

#sidebar ul#menu_sidebar li.emergencia a {
	background:url(../imagenes/html/bg-li-sidebar-emergencia.jpg) top right no-repeat;
	line-height:20px;
	padding-top:12px;
	height:72px;
}

#sidebar ul#menu_sidebar li.emergencia a span {
	font-size:15px;
	color:#B4B4B4;
}

#sidebar ul#menu_sidebar li.emergencia a span.fono {
	font-size:20px;
	color:#d8070c;
}

#sidebar #tagCloud {
	width:305px;
	overflow:hidden;
	display:block;
	float:left;
	margin:0px;
	padding:15px 0px;
	text-align:justify;
}

#sidebar #tagCloud h2 {
	width:305px;
	display:block;
	float:left;
	margin:0px;
	padding:0px;
	font:normal 14px/14px Helvetica, Arial, sans-serif;
	color:rgb(4,135,183);
	height:35px;
	text-align:left;
}

#tagCloud a {
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    margin-right: 5px;
    text-decoration: none;
    text-transform: lowercase;
}

#sidebar #tagCloud a:hover {
	text-decoration:underline;
}

#tagCloud a.weight1
{
	color: #06F;
	font-size: 14pt;
	font-weight:bold;
}
#tagCloud a.weight2
{
	color: #4169e1;
	font-size:11pt;
	font-weight:bold;
}
#tagCloud a.weight3
{
	color: #09F;
	font-size: 11pt;
	font-weight:bold;
}
#tagCloud a.weight4
{
	color: #039;
	font-size: 10pt;
}
#tagCloud a.weight5
{
	color: #83bcd8;
	font-size: 10pt;
}

/*CONTENIDOS GENERALES*/
#main{width:100%; overflow:hidden; display:block; margin:0px auto; padding:0px; background:url(../imagenes/html/bg.jpg) 0px 0px repeat-x;}
#main #contenido{width:960px; overflow:hidden; display:block; margin:0px auto; padding:0px 0px 20px 0px; background:#FFF; position:relative;}
#main #contenido1{width:943px;
	overflow:hidden;
	display:block;
	margin:0px auto;
	padding:0px 0px 20px 0px;
	background:#FFF;
	position:relative;}
#centro{width:600px; overflow:hidden; display:block; float:left; margin:0px; padding:12px 20px;}

/*HOME*/
#slider{width:960px; height:282px; display:block; float:left; margin:0px; padding:0px; display:block; position:absolute; top:0; left:0; z-index:2;}
#slider ul{height:282px; display:block; float:left; margin:0px; padding:0px; list-style:none;}
#slider ul li, #slider ul li a{width:960px; height:282px; display:block; float:left; margin:0px; padding:0px;}
#controls{list-style:none; margin:0px; padding:0px; position:absolute; top:254px; left:550px; z-index:3;}
#controls li{width:16px; height:16px; display:block; float:left; margin:0px; padding:0px 6px;}
#controls li a{width:16px; height:16px; display:block; float:left; margin:0px; padding:0px; font:9px Arial, Helvetica, sans-serif; text-align:center; line-height:16px; color:#FFF; text-decoration:none; background:url(../imagenes/html/bg-btn-slider.png) top left no-repeat;}
#controls li.current a{background:url(../imagenes/html/bg-btn-slider.png) top right no-repeat;}
#centro.home{margin-top:294px; z-index:1;}
#centro.home .ofertas_destacadas{width:600px; overflow:hidden; display:block; float:left; margin:0px; padding:0px;}
#centro.home .ofertas_destacadas h1{width:576px; height:35px; display:block; float:left; margin:0px; padding:0px 10px; background:url(../imagenes/html/bg-h1-ofertas-destacadas.jpg) 0px 0px no-repeat; font-size:18px; text-transform:uppercase; color:#FFF; line-height:35px;}
#centro.home .ofertas_destacadas ul{width:600px; overflow:hidden; display:block; float:left; margin:0px; padding:15px 0px; list-style:none; background:url(../imagenes/html/separa-horizontal.jpg) bottom center no-repeat;}
#centro.home .ofertas_destacadas ul li{width:170px; overflow:hidden; display:block; float:left; margin:0px; padding:0px 42px 0px 0px; background:url(../imagenes/html/separa-vertical.jpg) 195px center no-repeat;}
#centro.home .ofertas_destacadas ul li.last{background:none; width:170px; padding-right:0px;}
#centro.home .ofertas_destacadas ul li h2{width:170px; display:block; float:left; margin:0px; padding:0px; font:16px 'HelveticaRegular', Arial, sans-serif; text-align:left; color:#666; line-height:35px;}
#centro.home .ofertas_destacadas ul li h3{width:170px; display:block; float:left; margin:0px; padding:0px; font:12px 'HelveticaRegular', Arial, sans-serif; text-align:left; color:#666;}
#centro.home .ofertas_destacadas ul li p{width:170px; display:block; float:left; margin:0px; padding:5px 0px; font:bold 16px 'HelveticaRegular', Arial, sans-serif; text-align:left; color:#0099CC;}
#centro.home .ofertas_destacadas ul li .iconos{width:170px; overflow:hidden; display:block; float:left; margin:0px; padding:5px 0px; margin-bottom:10px;}
#centro.home .ofertas_destacadas ul li .iconos img{float:left; margin:0px; padding:0px 5px 0px 0px;}
#centro.home .banners{width:600px; overflow:hidden; display:block; float:left; margin:0px; padding:20px 0px;}
#centro.home .banners ul{width:600px; overflow:hidden; display:block; float:left; margin:0px; padding:10px 0px 20px 0px; list-style:none; background:url(../imagenes/html/separa-horizontal.jpg) bottom center no-repeat;}
#centro.home .banners ul li{width:200px; overflow:hidden; display:block; float:left; margin:0px; padding:0px 1px 0px 0px;}
#centro.home .banners ul li.last{width:190px;}

#centro.home .otras_ofertas{width:600px; overflow:hidden; display:block; float:left; margin:0px; padding:5px 0px 30px 0px; background:url(../imagenes/html/separa-horizontal.jpg) bottom center no-repeat;}
#centro.home .otras_ofertas h1{width:600px; height:30px; display:block; float:left; margin:0px; padding:5px 0px 0px 0px; font-size:18px; text-transform:uppercase; color:#666; line-height:30px;}
#centro.home .otras_ofertas h1 span{color:#008CCC;}
#centro.home .otras_ofertas ul{width:278px; overflow:hidden; display:block; float:left; margin:0px; padding:0px; list-style:none;}
#centro.home .otras_ofertas ul li{width:278px; overflow:hidden; display:block; float:left; margin:0px; padding:0px; border-top:6px solid #FFF;}
#centro.home .otras_ofertas ul li.titulo{padding:3px 0px; color:#FFF;}
#centro.home .otras_ofertas ul li h2{margin:0px; padding:0px; float:left; width:278px; font:14px 'HelveticaRegular', Arial, sans-serif; text-align:left; color:#FFF;}
#centro.home .otras_ofertas ul li p{margin:0px; padding:5px; width:190px; float:left; font:11px 'HelveticaRegular', Arial, sans-serif;}
#centro.home .otras_ofertas ul li p a{text-decoration:none;}
#centro.home .otras_ofertas ul li p a:hover{text-decoration:underline;}
#centro.home .otras_ofertas ul li span{width:78px; text-align:left; float:left; margin:0px; padding:5px 0px;  font:11px 'HelveticaRegular', Arial, sans-serif;}
#centro.home .otras_ofertas ul.hoteles{padding-right:18px!important;}
#centro.home .otras_ofertas ul.hoteles li h2{color:#008BCC; background:#FFF;}
#centro.home .otras_ofertas ul.hoteles li.titulo{background:#008BCC; color:#FFF;}
#centro.home .otras_ofertas ul.hoteles li{background:#D7F1FD; color:#0376AC;}
#centro.home .otras_ofertas ul.hoteles li a{color:#0376AC;}
#centro.home .otras_ofertas ul.programas li h2{color:#2B0E62; background:#FFF;}
#centro.home .otras_ofertas ul.programas li.titulo{background:#2B0E62; color:#FFF;}
#centro.home .otras_ofertas ul.programas li{background:#E0DBFC; color:#1A0E62;}
#centro.home .otras_ofertas ul.programas li a{color:#1A0E62;}



/*INTERIOR*/
#centro.interior{margin-top:20px; z-index:1; width:900px;}
/*FOOTER*/
#footer{width:960px; overflow:hidden; display:block; margin:0px auto; padding:0px; border-top:1px solid #DDD; clear:left;}
#footer #mapa_footer{width:920px; height:205px; display:block; float:left; margin:0px; padding:15px 20px 0px 20px; background:url(../imagenes/html/bg-mapa-footer.jpg) 0px 0px repeat-x #FFF;}
#footer #mapa_footer ul{width:192px; overflow:hidden; display:block; float:left; margin:0px; padding:0px; list-style:none; font-family:'HelveticaRegular', Arial, sans-serif; color:#666;}
#footer #mapa_footer ul.terminos{width:162px;}
#footer #mapa_footer ul.terminos li{width:162px;}
#footer #mapa_footer ul.empresas{width:132px; float:right;}
#footer #mapa_footer ul.empresas li{width:132px;}
#footer #mapa_footer ul li{width:192px; height:18px; display:block; float:left; clear:left; margin:0px; padding:0px; text-align:left; line-height:11px;}
#footer #mapa_footer ul li.auto{height:36px!important;}
#footer #mapa_footer ul li h2{width:192px; height:16px; float:left; margin:0px; padding:0px; font-size:11px;}
#footer #mapa_footer ul li a{color:#666; text-decoration:none; font-size:11px; margin:0px; padding:0px;}
#footer #mapa_footer ul li a:hover{text-decoration:underline;}
#footer #pie{width:920px; height:39px; display:block; float:left; margin:0px; padding:29px 20px; background:#696969;}
#footer #pie .logo{width:181px; height:39px; display:block; float:left; margin:0px; padding:0px;}
#footer #pie .reservas{width:200px; height:39px; display:block; float:right; margin:0px; padding:0px;}
#footer #pie .reservas p{color:#FFF; text-align:right; margin:0px; padding:0px;}
#footer #pie .reservas p strong{width:200px; height:29px; overflow:hidden; float:left; clear:left; margin:0px; padding:0px; font-size:30px; line-height:30px; font-weight:normal;}
#footer #pie .reservas p small{width:200px; height:12px; font-size:12px; float:left; clear:left; margin:0px; padding:0px;}

a.boton {display: block;width: 132px;height: 21px;line-height: 21px;background: url(../imagenes/html/bg-boton-vermas.jpg) no-repeat;color: #888;text-decoration: none;text-align: center;font-size: 11px;clear:both;}
a.boton:hover{color:#000; }

a.boton_ {display: block;width: 98px;height: 24px;line-height: 24px;background: url(../base/sub_con.jpg) no-repeat;color: #888;text-decoration: none;text-align: center;font-size: 11px;clear:both;}
a.boton_:hover{color:#000; }

/*LUCY*/


#centro  .inferior h1 { 
	font-size:20px; 
	color: #0099CC; 
	}

#centro  .inferior h2 { 
	font-size:14px; 
	color: #0099CC; 
	}
	
#centro  .inferior .bloques div h2{
	font:normal 18px/18px Helvetica, Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	color: #666666; 
}

#centro  .inferior .bloques div .boton {
	position:relative;
	bottom:0px;
	margin:10px 0px 0px 0px;
	color:#666666;
}

#centro  .inferior p { 
	font-size:12px; 
	color: #666666; 
	}

#centro  .inferior a { 
	font-size:12px; 
	color: #0099CC;
	text-decoration: none;	
	}

#centro  .inferior a:hover { 
	color: #084A6A;
	text-decoration: none;	
	}

#centro  .inferior hr { 
	height: 1px;
	border: 0;
	color: #cc0000;
	background-color: #0099CC;
	width: 100%;
	}

	.contorno{
	border:1px #FFFFFF solid;
}

h3 {
	top:0px;
	color:#0575c1;
}
