.linetit a{	
	color:#9c9c9c;
	font:normal 11px Tahoma, Arial, sans-serif;
	text-decoration:none;
	float:right;
	padding:2px 10px 0px 20px;
	background-position:0 0;
	background-repeat:no-repeat;
	margin:0 0 0 8px;
}
.linetit a:hover{
	color:#769FC1;
	text-decoration:underline;
	background-position:0 -20px;
}
a.icoExm{background-image:url(bg_ico_rmail.gif);}
a.icoImp{background-image:url(bg_ico_print.gif);}
a.icoNtp{background-image:url(bg_ico_ntp.gif);}

#Stitulo{
	border-bottom:1px solid #91CBDA;
	vertical-align:top;
	padding-top:10px;
}
#Stitulo h3{
	margin:0;
	padding:0 7px 1px 7px;
	font:normal 21px Tahoma, Arial, sans-serif;
	letter-spacing:1px;
	color:#1D7694;
	float:left;
}
#Stitulo div, .titulo div{
	float:left;
	width:118px;
	height:18px;
	margin:3px 4px 0 0;
}
#Sprincipal{
	vertical-align:top;
	padding:8px 0 0 2px;
}
.Sdesc{
	padding:6px 0 16px 2px;
	line-height:14px;
	text-align:justify;
}	
.Sdesc p{
	margin:0 0 12px 0;
	padding:0;
}
.Sdesc a img, .Sdesc span img, .thumbDet{
	width:120px;
	height:90px;
	border-right:8px solid #fff;
}
.Sinfo{
	padding:0;
	clear:both;
}
.Sinfo div{	
	color:#595E69;
	padding:6px 5px 12px 16px;
	text-align:justify;
}
.Sinfo div p{
	margin:0 0 10px 0;	
}
.Sinfo h5, .Sserv h4{
	font:bold 14px Tahoma, Arial, sans-serif;
	color:#1D7694;
	border-bottom:1px solid #B1D8E2;
	margin:0;
	padding:3px 0 2px 16px;
	background:url(dwn.gif) no-repeat 3px 8px;
	letter-spacing:1px;
}
.Sserv h4{
	font-size:12px;
	border-bottom:none;
	margin-bottom:2px;
}

.Sserv ul, .Sserv ol{
	padding:0;
	margin:0;
	list-style:none;
}
.Sinfo div ul, .Sinfo div ol{
	padding:0 0 0 20px;
	margin:0 0 10px 0 !important;
}
	
.Sinfo div.Stcr{
	border-top:2px solid #EEEFF1;
	line-height:17px;
	padding-left:2px;
}
.Sinfo div.Stcr a{
	color:#A05547;
	font:normal 10px Arial, Helvetica, sans-serif;
	text-decoration:none;
	background:url(li3.gif) no-repeat 2px 3px;
	padding:0 0 0 10px;
	float:left;
}
.Sinfo div.Stcr a:hover{
	color:#c00;
}
#Slateral{
	vertical-align:top;
	padding:15px 2px 0 0;
}

.np{
	padding:8px 2px 0 0;
}
.thin{
	padding:8px 2px 0 0 !important;
	width:143px !important;
}
.Stab{
	background:#fefefe url(bg_tab_c_r.jpg) repeat-x top;
	margin-bottom:20px;
	width:256px;
}
.Stab .tit, .Stabg .tit{
	background:url(bg_tab_sq.gif) no-repeat top right;
}
.Stab .tit strong, .Stabg .tit strong{
	float:left;
	padding:5px 10px;
	color:#fff;
	font:bold 13px Tahoma, Arial, sans-serif;
	letter-spacing:1px;
}
.Stab .tit strong{background:#65C4DD url(bg_tab_c.jpg) repeat-x;}
.Stabg .tit strong{background:#a2a2a2 url(bg_tab_g.jpg) repeat-x;padding:4px 10px;}
.Stabg{
	background:#fefefe url(bg_tab_g_r.jpg) repeat-x top;
	margin-bottom:20px;
	width:256px;
}
.cont, .contrb{
	border:1px solid #D3E9EF;
	border-top:none;
	padding:8px 7px 11px 7px;
}
.Stabg .cont{
	padding:8px 4px;
}
.cont p, .localizacion p{
	margin:3px 0 10px 0;
	color:#436374;
	font:normal 11px Arial, Helvetica, sans-serif;
}
.cont p span, .localizacion p span{
	color:#666;
	font:normal 9px Tahoma, Arial, sans-serif;
	line-height:17px;
}
.cont td{
	vertical-align:top;
}
#print_galeria_fotos{display:none;}
#print_galeria_fotos img{margin:0 0 6px 6px; width:50px; float:left;}

.mapaThumb{
	width:100px;
}
a.mapa img{
	border:3px solid #BCDCE7;
}
a:hover.mapa img{
	border:3px solid #D5AE8C;
}
a.zoom, a.galeria, a.video{
	font:normal 9px Arial, Helvetica, sans-serif;
	color:#67B8CC;
	text-decoration:underline;	
	padding-left:15px;
	margin-top:3px;
}
a.zoom{background:url(ico_zoom.gif) no-repeat;float:left;}
a.galeria{background:url(ico_foto.gif) no-repeat;float:right;}
a.video{background:url(ico_video.gif) no-repeat;float:left;}
a:hover.zoom, a:hover.galeria, a:hover.video{
	color:#D5AE8C;
}
.Sserv{
	margin-bottom:20px;
	width:256px;
}
.Sserv table{
	background:#F3FAFC;
	width:100%;
	border:1px solid #D3E9EF;
}
.Sserv td{
	vertical-align:top;
	padding-left:2px;
}
.Sserv strong{
	color:#666;
	font:bold 11px Arial, Helvetica, sans-serif;
}
.Sserv ul{
	margin:3px 0 0 0  !important;
	list-style:none !important;
	padding:0;
}
.Sserv li{
	background:url(li.gif) no-repeat 0 3px;
	padding:0 0 0 8px;
	font:normal 10px Arial, Helvetica, sans-serif;
}
.Sserv .priul{
	border-right:1px solid #D3E9EF;
	width:50%;
}

.grid1, .grid2{
	background:#fff;
	border:1px solid #9EBFE0;
	padding:8px;
	margin-bottom:10px;
}
.titulo{vertical-align:top;}
.titulo h3{
	margin:0;
	padding:4px 7px 0 2px;
	font:bold 14px Tahoma, Arial, sans-serif;
	letter-spacing:1px;
	color:#1D7694;
	display:block;
}
.ciudad2{
	padding:2px;
	font:bold 10px Verdana, Arial, Helvetica, sans-serif;
	color:#999;
}
.foto{
	width:121px;
	vertical-align:top;
}
.foto img{
	width:120px;
	height:90px;
}
.foto .lupa{
	position:absolute;
	margin-top:71px;
	width:120px;
	height:19px;
}
.desc div{
	padding:4px 0 6px 4px;
	text-align:justify;
	overflow:hidden;
	height:21px;
}
.precio{
	padding-left:8px;
	text-align:right;
	color:#1D7694;
	font:bold 15px Arial, Helvetica, sans-serif;
}
.precio small{
	font:normal 10px Arial, Helvetica, sans-serif;
	color:#868686;
}
.precio span{
	font-size:12px;
	color:#63C3DC;
	text-transform:uppercase;
}

.Sgrid{
	padding:4px 4px 0 4px;
	border:1px solid #efefef;
	background:#F2F9FB;
}
.Sgrid h3{
	font-size:11px;
}
.Sgrid .foto{
	width:64px;
}
.Sgrid .foto img{
	width:60px;
	height:42px;
}
.Sgrid .ciudad{
	padding-left:2px;
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#777;
}

#Sprincipal .ciudad{
	color:#AEB4BB;
	padding:3px 0 4px 0;
	font:bold 13px Verdana, Arial, Helvetica, sans-serif;
	background:url(bg_city.gif) repeat-x center;
}
#Sprincipal .ciudad span{
	background:#fff;
	float:left;
	padding:0 5px 0 0;
}
.detBus h5{
	font:bold 13px Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	padding:0 0 5px 0;
	color:#4B799A;
}
.detBus{
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
	color:#4B799A;
}
.detBus ul{
	padding:0;
	margin:0;
	list-style:none;
}
.detBus li{
	background:url(li.gif) no-repeat 0 3px;
	padding:0 0 0 8px;
	font:normal 10px Tahoma, Arial, sans-serif;
}
.contrb{
	background:#88D1E4;
	border:none;
	border-top:1px solid #A1DBEA;
}
.contrb td{
	vertical-align:middle;
}
.contrb hr{
	border:none;
	height:2px;
	border-top:1px solid #83C1D1;
	border-bottom:1px solid #99D7E7;
}
.localizacion{padding-left:8px;}
.hTar{
	background:#ECF5F9 url(bg_htar.jpg) repeat-x;
	border-top:4px solid #EEEFF1;
}
.tarNoches span{
	color:#1D7694;
	font:normal 10px Verdana, Arial, Helvetica, sans-serif;
}
.gridHtar{
	padding:2px 4px;
	display:none;
}
.gridHtar th{
	text-align:left;
	background:#DAE9EE;
	color:#026D8F;
	padding-left:4px;
}
.gridHtar td{
	background:#fff;
	color:#666;
	font:normal 10px Tahoma, Arial, sans-serif;
	padding-left:4px;
}
.gridHtar span{color:#D5D500;}
.gridHtar strong{color:#6c0;font-weight:normal;}
.hestado{
	background:#F7F7F8;
}
.hestado span, .hestado strong{
	display:block;
	padding:2px 0 2px 18px;
	background-image:url(dispo.gif);
	background-position:0 2px;
	background-repeat:no-repeat;
	color:#6c0;
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
}
.hestado strong{
	background-image:url(onrequest.gif);
	color:#D5D500;
}
a.disponibilidad{
	font:normal 9px Arial, Helvetica, sans-serif;
	color:#689D48;
	text-decoration:underline;
	float:left;
	padding-left:15px;
	margin-top:3px;
	background:url(ico_dispo.gif) no-repeat;
}
a:hover.disponibilidad{
	color:#D5AE8C;
}




.step{
	padding:4px 0 6px 18px;
	font:bold 12px Tahoma, Arial, sans-serif;
	background:url(dwnb.gif) no-repeat 4px 9px;
	color:#5482BA;
}
.bookHab{
	background:#fff;
}
.bookHab th{
	background:url(bg_tit_bhab.jpg) repeat-x;
	color:#4F9FB8;
	font:bold 11px Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	padding:5px 4px;
}
.bhab label{
	display:block;
	margin:0;
	padding:5px;
}
.bhab label.habN{
	background:#F1FAFC;
}
.bhab label.habO{
	background:#E0F3F8;
}
.refD{
	 background:#6c0;
	 width:5px;
}
.refA{
	 background:#D5D500;
	 width:5px;
}
.formB{
	background:#ECF8FB;
	padding:4px;
}
.formB div{
	background:#AADFEC;
	padding:10px;
}
.formB hr{
	border-bottom:1px solid #C6EAF2;
	border-top:1px solid #85AFB9;
	height:2px;
}
.formB .input, .formB .inputErr{
	width:220px;
}
.TC h5{
	font:bold 10px Verdana, Arial, Helvetica, sans-serif;
	margin:0 0 10px 0;
	padding:0;
	color:#666;
}
.TC div{
	font:normal 10px Arial, Helvetica, sans-serif;
	padding:4px;
	color:#666;
	background:#fff;
	overflow:auto;
	height:120px;
	border:1px solid #85AFB9;
}
.TC label{
	font:bold 10px Verdana, Arial, Helvetica, sans-serif;
}
.bNota{
	background:#ffe;
	font:normal 10px Arial, Helvetica, sans-serif;
	padding:4px;
	color:#CC3300;
	border:1px solid #dcdcdc;
}



#Disponibilidad{
	background:#B0BDD0;
	border:1px solid #B0BDD0;
	margin:0;
	padding:3px 1px 1px 1px;
	height:430px;
}
#DisponibilidadHab{
	text-align:right;
	padding:0 0 6px 0;
	margin:0;
}
.mesesDispo a{
	color:#fff;
	text-decoration:none;
	font:bold 13px Tahoma, Arial, sans-serif;
	float:left;
	padding:2px 15px 3px 15px;
}
.mesesDispo a:hover{
	text-decoration:underline;
	color:#ffc;
}
.mesesDispo .mesAnt a{
	background:url(bg_dispo_mant.gif) no-repeat;
}
.mesesDispo .mesSig a{
	float:right;
	background:url(bg_dispo_msig.gif) no-repeat right;
}
.mesesDispo .mesAnt, .mesesDispo .mesSig{
	width:130px;
}
.mesesDispo h3{
	font:normal 22px Arial, Helvetica, sans-serif;
	color:#fff;
	margin:0;
	padding:0;
}
.diasDispo td{
	background:#E9F5F9;
	width:14%;		
	text-align:center;
	color:#666;
	font:normal 10px Arial, Helvetica, sans-serif;
}
.diasDispo td span, .diasDispo td strong{
	display:block;
	color:#090;
	font:bold 27px Arial, Helvetica, sans-serif;
	padding:4px;
	background-color:#fff;	
	background-repeat:repeat-x;
	background-position: bottom;
	height:53px;
}
.diasDispo td span{
	background-image:url(bg_dispo_ok.jpg);
}
.diasDispo td strong{
	color:#B0BDD0;
	padding:16px 4px 4px 4px;
	height:41px;
	background-image:url(bg_dispo_no.jpg);
}
.diasDispo td acronym{
	display:block;
	color:#000;
	font:normal 11px Arial, Helvetica, sans-serif;
}
.diasDispo .finde span, .diasDispo .finde strong{
	background-color:#fafafa;
}
.diasDispo .hoy{
	border:1px solid #090;
}
#Paginador{
	width:100%;
	background:#fff;
}
.tabV{width:100%; background:#fff;}