#mEsq{
	 background:url(bg_m.gif) no-repeat bottom left;
	 padding-bottom:5px;
}
.subM{
	background:#306B8B;
	color:#ffffff;
	border:0;
	width:53px;
	height:18px;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}

.tit_{
	color:#88793C;
	font:bold 12px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background: url(li1.gif) no-repeat 0 4px;
	padding-left:7px;
	vertical-align:top;
}
.grid1 .tit div, .grid2 .tit div{
	overflow:hidden;
	width:195px;
	height:14px;
}
.fotoMarco{
	background:#fff;
	border:1px solid #9EBFE0;
	width:104px;
}
.fotoDet img{
	margin:2px 2px 6px 2px;
	border:1px solid #9EBFE0;
}
.grid1 .overF5{
	overflow:hidden;
	height:60px;
	font:10px Arial, Helvetica, sans-serif;
	color:#79891D;
	padding:2px 2px 2px 3px;
	line-height:12px;
}
.fotoMarco img{
	margin:2px;
}
.grid2 .tit{
	color:#447E82;
	font:bold 12px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background: url(li2.gif) no-repeat 0 4px;
	padding-left:7px;
}
.grid2 .overF5{
	overflow:hidden;
	height:60px;
	font:10px Arial, Helvetica, sans-serif;
	color:#417072;
	margin:2px 2px 2px 3px;
	line-height:12px;
}
.star{
	width:74px;
	padding:2px 0 0 4px;
	background:url(bg_star.gif) no-repeat 4px 2px;
	vertical-align:top;
}
.precio{
	text-align:right;
	color:#669900;
	font:bold 15px Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.moneda{
	color:#9C9258;
	font:bold 11px Arial, Helvetica, sans-serif;
}
.desde{
	font:normal 10px Tahoma, Arial, sans-serif;
	color:#999;
}
/*grilla precios*/
.cat{
	border-left:1px dashed #E8E3CE;
	width:63px;
	height:17px;
	text-align:right;
	padding-right:4px;
	color:#669966;
}
.cat span{
	text-transform:uppercase;
	color:#AAB96F;
}
.catit{
	border-left:1px solid #ffffff;
	width:66px;
	height:18px;
	text-align:right;
	padding-right:4px;
	color:#258EB1;
	background:#DEEEF3;
}
.vigencia{
	 width:62px;
	 color:#669966;
	 vertical-align:top;
	 text-align:center;
	 padding:2px;
}
#tabTidDet{
	color:#237C7D;
	font-weight:bold;
}
a.info{
    position:relative;
    z-index:24;
    color:#996600;
    text-decoration:none;
	cursor:help;
	display:block;
	padding-top:3px;
}

a.info:hover{z-index:25;background:transparent;}

a.info span{display:none;}

a.info:hover span{
    display:block;
    position:absolute;
    top:20px; 
	left:-100px;
	width:120px;
    background:#ffffdd;
	border:1px solid #ddddff;
	padding:3px;
	font-size:10px; 
	color:#006699;
    text-align: center;
}
.dotR{
	background:url(bg_dot.gif) repeat-y top right;
}
/**/
.paginador{
	padding:4px 0 0 0;
}
.titDET{
	color:#333;
	padding:4px;
	font:bold 11px Geneva, Arial, Helvetica, sans-serif;
	background:#ECF2F9;
}
.titDET span{
	color:#557884;
}
.dataDET{
	padding:5px 5px 20px 5px;
}
.resultBus{	
	background:#fff;
	border:1px solid #241A61;
	padding:2px;
	margin:10px 0 0 0;
}
.resultBus span{
	color:#5E5A8C;
	display:block;
	margin:0 0 0 10px;
}
.categoriaBus{
	color:#5F7F70;
	background:#DCE7D0;
	border-bottom:1px solid #fff;
}
.resultDet{
	background:#E3EFF4 url(tri1.gif) no-repeat top right;
	color:#657C8D;
}
.resultBusDet{
	background:#F4F2EA;
	line-height:15px;
}
.Estado{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#0066CC;
	font-weight:bold;
	font-size:10px;
	text-align:right;
	width:80px;
}
.h2hSub2{
	background:#B2744B url(bg_sub.jpg) repeat-x;
	font-size: 11px;
	color:#ffffff;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	width:58px;
	height:18px;
	border:none;
	cursor:pointer;
}
.h2hSub3{
	background:#6589BE url(bg_sub1.jpg) repeat-x;
	font-size: 10px;
	color:#ffffff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	width:52px;
	height:16px;
	border:none;
	cursor:pointer;
}
.subP{
	background:#aaa;
	font-size: 10px;
	color:#fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	width:78px;
	height:17px;
	border:none;
	cursor:pointer;
	margin:0 10px 0 0;
}
.preciosRes{
	background:#F2F2F2;
	border:1px solid #BDDEE9;
}
.disponible{
	color:#009933;
}
.nodisponible{
	color:#CC0000;
}
.requerir{
	color:#FF6600;
	background:#ffd;
	border:1px solid #ddd;
	display:block;
	padding:1px;
}
.titForm{
	color:#006699;
	background:#DFE7F4;
	padding:5px;
}
.bodyForm{
	color:#006699;
	background:#C3D2E9;
}
.bodyFormLog{
	color:#006699;
	background:#F2F8FA url(bg_candado.jpg) no-repeat right;
}
.tip{
	color:#666666;	
	font-weight:normal;
	font-size:10px;
	background:#fafafa;
	padding:3px 0 3px 0;
}
/*Noticias*/
.grid1 .tit, td.tit{
	color:#446D7D;
	font:bold 14px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background: url(li1.gif) no-repeat left center;
	padding-left:10px;
}
.grid1 .fecha{
	color:#446D7D;
	font:bold 10px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-align:right;
}
#grilla .grid2{
	background:#ffffff url(bg_grid1.gif) repeat-x top;
	padding:2px 2px 2px 3px;
	border-bottom:5px solid #ffffff;
}
.grid2 .tit{
	color:#447E82;
	font:bold 12px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	background: url(li2.gif) no-repeat 0 4px;
	padding-left:7px;
}
.grid2 .fecha{
	color:#88793C;
	font:bold 10px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-align:right;
}
.gridRes1{
	background:#F4F2E9;
}
.gridRes2{
	background:#EFECDC;
}