
body {
	color: #666;
	font: 12px Helvetica, Arial, sans-serif;
	background-position:0 131px;
}

table td {
	padding:0;
}

p.clear {
	clear: both;
	margin: 0px;
	padding: 0px;
}

#derecha {
	width:600px;
	overflow:hidden;
	display:block;
	float:left;
	margin:0px;
	padding:12px 20px;
}

.auxiliar img {
	margin-top:7px;
}

/*Sidebar*/
.menu_sidebar_item {
	border-bottom: #ccc 1px solid;
	clear:both;
	padding-top:10px;

}

.menu_sidebar_item .titulo {
	font-size: 14px;
	color:rgb(4,135,183);
}

.menu_sidebar_item p {
	margin:0;
	line-height:1.3em;
	padding:0 0 3px 0;
}

.menu_sidebar_item a {
	color: rgb(4,135,183);
	text-decoration: none;
}

.menu_sidebar_item img {
	float:right;
}

/**/

/* Bloques */
#tit_od {
	width:576px;
	height:45px;
	margin:0px;
	padding:0px 10px;
	background:url(../imagenes/html/bg-h1-ofertas-destacadas.jpg) 0px 0px no-repeat;
	font-size:18px;
	font-family:'Bliss2Bold', Arial, 'HelveticaRegular', sans-serif;
	text-transform:uppercase;
	color:#FFF;
	line-height:35px;
}

.bloques {
	clear:left;
	margin:0px;
	padding:0px;
}

.bloques p {
	text-align: left;
	margin:0px;
	padding:0px;
}

.bloques .border {
	border: 0px #ccc solid;
}

.bloques div {
	width: 173px;
	position: relative;
	float: left;
	margin: 0 0 20px 0;
	padding: 0 0 0 40px;
	background: url(../contenido/rayita-bloques.gif) 12px center no-repeat;
	font-family:Helvetica, Arial, sans-serif;
	line-height:1.6em;
}

.bloques div  A:link {text-decoration: none; color: #999999; }
.bloques div  A:visited {text-decoration: none; color: #999999; }
.bloques div  A:active {text-decoration: none; color: #999999;}
.bloques div  A:hover {text-decoration: none; color: #008BCC;}

.bloques div.first {
	padding: 0;
	background: none;
}

.bloques div h3 {
	margin:0px!important;
	padding:0px!important;
	border:0;
	color:#0099CC
}

.bloques div h2, .bloquesgrandes div h2 {
	font:normal 18px/18px Helvetica, Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	height:40px;
}

.bloques div h1 {
	line-height:20px;
	margin:0px!important;
	height:50px;
	text-align:center;
	font-size:20px;
}

.bloques div .boton {
	position:relative;
	bottom:0px;
	margin:10px 0px 0px 0px;
}

.bloquesgrandes {
	background-image:url(../contenido/bgtabla.jpg);
	background-repeat:no-repeat;
	width:596px;
	height:180px;
}

.bloquesgrandes div {
	text-align:center;
	float:left;
	width:396px;
	font-family:Helvetica, Arial, sans-serif;
	line-height:1.6em;
}

.bloquesgrandes #destacado {
	text-align:left;
	width:180px;
	padding-top:20px;
	padding-left:20px;
}

.bloquesgrandes div h2 {
	padding-top:8px;
}

.bloquesgrandes div p, .bloquesgrandes div h3, .bloques h3 {
	line-height:1.3em;
}

.bloquesgrandes #precio_destacado {
	padding:0px;
}

.bloquesgrandes #precio_destacado h1 {
	position:relative;
	top:-10px;
}

.bloquesgrandes p {
	margin:0px;
}

.bloquesgrandes div #dias{
margin-top:-20px;

}

.bloquesgrandes h3 {
	top:0px;
	margin:0px;
	color:#0575c1;
	line-height:0px;
	padding:0px;
}

.bloquesgrandes h1 {
	margin:0px;
	line-height:10px;
	color:#006390;
	line-height:0px;
	padding:17px;
	border:0px;
	font-size:30px;
}

.bloquesgrandes h4 {
	margin:0px;
	line-height:0;
	padding:0px;
	border:0px;
}

a.boton_ {display: block;width: 132px;height: 21px;line-height: 21px;background: url(../imagenes/html/bg-boton-vermas_.jpg) no-repeat;color: #888;text-decoration: none;text-align: center;font-size: 11px;clear:both;}
a.boton_:hover{color:#000; }

.bloquesgrandes div p .boton_ {
	position:relative;
	bottom:-10px;
	margin:0px auto;
}

.bloquesgrandes div p .boton {
	position:relative;
	bottom:-10px;
	margin:0px auto;
}

.bloquestriples {
	margin:0 0 20px 0;
	font-size: .9em;
}

.bloquestriples div {
	background: none;
	width: 190px;
	padding: 0 0 0 15px;
}

.bloquestriples div h3 {
	font-size: 1em;
	font-weight: normal;
	color: #000;
}

.bloques2 div {
	width: 180px;
	height: 190px;
	position: relative;
	float: left;
	background: url(../contenido/rayita-bloques.gif) 12px center no-repeat;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 20px;
	margin-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 25px;
}
.bloques2 div.first {
	padding: 0;
	background: none;
}
/**/

#footer .wrap {
	width: 960px;
}

#footer .enlaces {
	background: #fff url(../contenido/bg-footer.jpg) top repeat-x;
	font-size: 11px;
	line-height: 16px;
}

#footer .enlaces ul {
	padding: 10 0px;
	width: 152px;
	float: left;
	list-style:none;
}

#footer .enlaces ul li {
	padding:1px 0;
}

#footer .enlaces ul li.tit {
	font-weight: bold;
	margin:0;
}

#footer .enlaces ul li a {
	color: #666;
	text-decoration: none;
}

#footer .enlaces ul li a:hover {
	text-decoration: underline;
}

#footer .enlaces ul li a sup {
	color: #900;
	vertical-align: text-top;
}

#footer .bottom {
	padding:5px 20px;
	background: #696969 url(../contenido/footer_travel.jpg) 20px 20px no-repeat;
	color: #fff;
}

#footer .bottom span {
	display: block;
	width: 200px;
	float: right;
	text-align: right;
	padding:14px 0 0 0;
}

#footer .bottom span strong {
	display: block;
	font: 30px/30px Arial, sans-serif;
}

#footer .bottom span small {
	font: 12px/12px Arial, sans-serif;
}

/*Motor*/
.inputCalendario {
	width:60px;
	height:18px;
	border:1px solid #7A8C94;
	cursor:default;
	font:normal 11px/16px Arial, Helvetica, sans-serif !important;
	text-align:right;
	color:#0470a0;
	float:left;
	margin-right:2px;
}

.inputCalendario:focus, .input:focus, .select:focus {
	outline:none;
}

.calendario {
	float:left !important;
	padding:3px 0 0 0 !important;
	height:18px;
	width:18px;
}

.tablaBuscador label {
	padding-top:7px !important;
}

.tablaBuscador label, .tablaBuscador p {
	padding-left:7px !important;
}

#tdRooms span {
	width:70px;
	float:left;
}

.divRoom {
	width:285px !important;
	float:none;
	height:25px;
	overflow:hidden;
	display:none;
}

.busvac {
	padding:50px 11px 0 11px;
}

.tag_certifica {
	height:0px;
	overflow:hidden;
	position:absolute;
}

.encabezado, .breadcrumb {
	font: 11px/16px Helvetica, Arial, sans-serif;
	color: #999;
	margin: 0 0 5px 0;
	letter-spacing: 1px;
}

.encabezado h2 {
	display:block;
	font:32px/32px Helvetica, Arial, sans-serif;
	color:#757575;
	margin:0;
	padding:0 0 5px 0;
	border-bottom:1px solid #F3F3F3;
}

.breadcrumb a {
	font: 11px/16px Helvetica, Arial, sans-serif;
	color: #084A6A;
	margin: 0 0 5px 0;
	letter-spacing: 1px;
}



.fila {
	border-bottom:2px dotted #efefef;
	height: 150px;
	padding: 20px;
}

.celda {
	background-color:#efefef;
	height: 95px;
	width: 150px;
	padding: 10px;
	padding-left: 20px;
	float:left;
	margin-left:5px;
}

.celda img {
	margin-bottom:5px
}

.celdaV {
	background-color:#efefef;
	height: 15px;
	width: 150px;
	padding: 10px;
	padding-left: 20px;
	float:left;
	margin-left:5px;
	margin-top:80px;
}

.bv_nota {
	font-size:12px !important;
}

.area {
	resize:vertical;	
}

.MotorC code {
	position:static;
	line-height:23px;
}

/*TABLA*/

table{}

.contorno{
	border:1px #FFFFFF solid;
}

.td_titulo{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	padding-left: 20px;
	color: #FFFFFF;
	height: 30px;
	background-color: #008CCC;
	line-height: 10px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}

.td_titulo_icon{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
	height: 30px;
	background-color: #008CCC;
	line-height: 10px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}

.td_contenido{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #2B0D61;
	background-color:#CCE8F5;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}

.td_contenido_icon{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #2B0D61;
	background-color:#CCE8F5;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}

.td_contenido_2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #2B0D61;
	background-color: #B2DCF0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}

.td_contenido_2_icon{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #2B0D61;
	background-color: #B2DCF0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}

.td_contenido_final{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #2B0D61;
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}
.td_contenido_final_{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-top: 11px;
	color: #2B0D61;
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}

.td_contenido_final_icon{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #2B0D61;
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}


a.pagar {
width:78px;
height:30px;
display:block;
float:right;
margin:0px;
padding:7px 0px 0px 0px;
color:#FFF;
text-decoration:none;
background:url(../carro/btn_pagar.png) no-repeat;
}

a.pagar:hover{
background:url(../carro/btn_pagar_.png) no-repeat;
}

.texto_tabla {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2B0D61;
}

#slide{width:960px; height:282px; overflow:hidden; display:block; float:left; margin:0px; padding:0px; position:absolute; top:0; left:0; z-index:900;}
#slide #imagenes{clear:both; margin:0px; margin-bottom:0px; overflow:hidden; height:288px; position:relative;}
#slide #imagenes img{height:282px; width:auto; margin:0 auto; display:block; position:absolute; top:0; left:0px;}
#slide #controls{position:absolute; right:10px; bottom:10px; z-index:999;}
#slide #controls ul{list-style:none; margin:0px; padding:0px; overflow:hidden;}
#slide #controls ul li{width:16px; height:16px; display:block; float:left; margin:0px; padding:0px 2px; font:10px Arial, Helvetica, sans-serif; color:#FFF; text-align:center; line-height:16px;}
#slide #controls ul li a{width:16px; height:16px; display:block; float:left; margin:0px; padding:0px; font:10px Arial, Helvetica, sans-serif; color:#FFF; text-align:center; text-decoration:none; line-height:16px; background:url(../images/bg-btn-slider.png) top left no-repeat; outline:none;}
#slide #controls ul li a:hover{background:url(../images/bg-btn-slider.png) top center no-repeat;}
#slide #controls ul li.current a{background:url(../images/bg-btn-slider.png) top right no-repeat;}



