
.dCAL {
	position:absolute;
	z-index:99999;
	top:-400px;
	left:0;
	cursor:default;
	border:1px solid #ccc;
}

.dCAL table {
	width:186px;
	border-spacing:3px;
}

.dCAL td {
	padding:0;
}

.dCAL th {
	width:14%;
}

.dCAL a, .dCAL tbody span {
	display:block;
	height:20px;
	text-align:center;	
}

.dCAL th, .dCAL a, .dCAL tbody span {
	font-weight:normal;
	font-size:12px;
	line-height:20px;
	font-family:Arial, Helvetica, sans-serif;
}

.dCAL a {
	background-color:#999;
}

.dCAL a:hover {	
	background-color:#000;	
	font-weight:bold;
}

.dCAL a, .dCAL a:hover {
	text-decoration:none;
	color:#fff;
}

.dCAL_div {
	background-color:#fff;
}

.dCAL_multiple {
	overflow:hidden;
	min-width:372px;
	/*width:372px;*/
	width:374px;
	border:1px solid #ccc;
}

* html .dCAL_multiple {
	height:100%;
}

.dCAL_multiple table {
	float:left;
}

.dCAL_header {
	background-color:#eee;
	position:relative;
	height:27px;
}

.dCAL_header a, .dCAL_header select, .dCAL_header span {
	position:absolute;
	top:3px;
}

.dCAL_header select {
	border:1px solid #aaa;
	background-color:#fff;
	padding:0;
	margin:0;
	height:20px;
	color:#333;
	font:normal 11px/11px Arial, Helvetica, sans-serif;
}

.dCAL_header select:focus {
	outline:none;
}

#dCAL_btn_a {
	left:3px;
}

#dCAL_btn_s {
	right:3px;
}

#dCAL_combo_mes, #dCAL_ftitulo_a {
	left:26px;
}

#dCAL_combo_anio, #dCAL_ftitulo_s {
	right:26px;
}

#dCAL_ftitulo_a, #dCAL_ftitulo_s {
	font:bold 12px/22px Arial, Helvetica, sans-serif;
	color:#666;
	width:130px;
	text-align:center;
}

.dCAL_header a {
	display:inline-block;
	font-size:18px !important;
	line-height:18px !important;
	width:20px;
	height:20px;
	text-align:center;
}

.dCAL tbody span {
	color:#bbb;
	background-color:#efefef;
}

.dCAL_hoy {
	background-color:#666 !important;
}

.dCAL_semana_disable {
	text-decoration:line-through;
}

.dCAL_btn_disable, .dCAL_semana_disable {
	color:#ccc;
}

.dCAL_dia_disable, .dCAL_btn_disable {
	background-color:#dedede !important;
}
