#pago_m {
	background-color: #fff;
	color: #Da1d1d;
	bottom: 0;	
	font: 10px "Lucida Grande", Helvetica, Arial, Sans-serif;
	float: left;
	<!--width: 100%;
	height: 100%;-->
	display: block;
	}
	#pago_m {
	background-color: #fff;
	color: #Da1d1d;
	bottom: 0;
	height: 100%;
	font: 10px "Lucida Grande", Helvetica, Arial, Sans-serif;
	float: left;
	width: 100%;
	display: block;
	}
	#pago_m p {
		text-align: left; color: #555;
		height: 18px;
		font: 12px Arial, Helvetica, Sans-serif;
	}
	p {
		text-align: left; color: #555;
		height: 18px;
		font-family: Arial, Helvetica, Sans-serif; 
	}
	#pago_m table{
		 
		 background-color: #fff;
		 cellpadding: 0; 
		 cellspacing: 0;
	}
	#pago_m table td {
		width: 250;
		text-align: left; color: #555;
		background-color: #fff;
		font: 12px Arial, Helvetica, Sans-serif;	
	}
	#pago_m table tr {
		border-bottom: 1px solid #d4d3e3;
	}
	#pago_m table td h3{
		text-align: left; color: #555;
		font: 12px Arial, Helvetica, Sans-serif;
	}