

/* Default styles */


#pago table{
	background-color: red;
}

#pago table td{
	text-align: left;
	font-family: "Lucida Grande", Helvetica, Arial, Sans-serif; 
}

#pago p{
	font-family: "Lucida Grande", Helvetica, Arial, Sans-serif; 
}





