

/* Default styles */
@import "css/reset.css";

/*-------------------------------------------------------------------------------------------

INDEX:

1. SETUP
-1.1 Defaults
-1.2 Hyperlinks

2. SITE STRUCTURE & APPEARANCE
-2.1 Containers & Columns
-2.2 Navigation
-2.2.1 Drop-down menus
-2.3 Header
-2.4 Featured Slider
-2.5 Content
-2.6 Sidebar
-2.7 Footer

3. POSTS
-3.1 Typographic Elements
-3.2 Images
-3.3 Pagination / WP-Pagenavi

4. WIDGETS
-4.1 Generic Widgets
-4.2 Specific Widgets

5. COMMENTS
-5.1 Comments
-5.2 Pingbacks / Trackbacks
-5.3 Comments Form

6. MISC
-6.1 Buttons
-6.2 Info Boxes
-6.3 Conatct Form 


-------------------------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------------------------*/
/* 1. SETUP */
/*-------------------------------------------------------------------------------------------*/

/* 1.1 Defaults */

body  { color: #555; font: 13px/1.4 Helvetica,Arial,Sans-serif;
	background-color: #ecf0f6;
}

h1, h2, h3, h4, h5, h6  { margin: 0; font-family: "Lucida Grande", Helvetica, Arial, Sans-serif; }
h1  {font-size: 30px; color: #da1d1d;
} h2  {font-size: 24px;
	color: #da1d1d;
} h3  {font-size: 20px;} h4  {font-size: 18px;} h5  {font-size: 14px;} h6  {font-size: 12px;}

p  {margin: 0;}

hr { background-color: #e6e6e6;	border:0; height: 1px; margin-bottom: 20px; }
div.hr { margin: 20px 0; height:2px; background: url(images/bg-hr.png) repeat-x;}
div.hr hr { display: none; }

/* 1.2 Hyperlinks */

a:link, a:visited  { text-decoration: none; }
a:hover  { text-decoration: underline;
	color: #000;
}

h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited, h5 a:link, h5 a:visited, h6 a:link, h6 a:visited  { text-decoration: none; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover  {text-decoration: none;}



/*-------------------------------------------------------------------------------------------*/
/* 2. SITE STRUCTURE & APPEARANCE */
/*-------------------------------------------------------------------------------------------*/

/* 2.1 Containers & Columns */
#container  {
}

.col-left { float: left; }
.col-right { float: right; }
.derecha { float: right; }
.col-full  { width: 940px; margin: 0 auto; }

/* 2.2 Navigation */
#navigation  { height: 38px; width: 886px; padding: 0 26px; margin-bottom: 10px; font-size: 12px; font-weight: bold; font-family: "Lucida Grande", Helvetica, Arial, Sans-serif; text-transform: uppercase; border: 1px solid #fff; background: #fff url(images/navtile.jpg) repeat-x left top; }

#navigation .search  { float: right; margin: 0; width:142px; }
#navigation .search #searchform  { margin: 5px 0 0 0; }
#navigation .search input#s  { float: left; width: 108px; padding: 6px 0 6px 10px; background: url(images/searchinput.png) no-repeat left top; border: none; color:#777; }
#navigation .search input.submit  { float: right; padding: 6px 0 0 4px; }

#nav  { float: left; height: 36px; }
#nav, #nav ul  { z-index:100; margin:0; padding:0; list-style:none; line-height:1; }

#traductor  { z-index:100; margin: 8px 0 4px 8px; padding: 0;
	background-color: transparent;
	float: left;
	height: 26px;
	width: 110px;
}
#qtranslate-5-chooser.qtrans_language_chooser {
	display: inline;
	height: 28px;
}
a.qtrans_flag.qtrans_flag_es {
	float: left;
	display: inline;
	width: 26px;
	margin-right: 3px;
	margin-left: 3px;
	height: 21px;
}
a.qtrans_flag.qtrans_flag_en {
	float: left;
	display: inline;
	width: 26px;
	margin-right: 3px;
	margin-left: 3px;
	height: 21px;
}	
a.qtrans_flag.qtrans_flag_pt {
	float: left;
	display: inline;
	width: 26px;
	margin-right: 3px;
	margin-left: 3px;
	height: 21px;
}

#nav a  { display:block; z-index:100; padding: 0 6px; line-height:28px; color: #999; line-height: 38px; }
#nav a:hover, #nav .current_page_item a  { color: #DA1D1D; text-decoration: none; }
#nav li  { float:left; width: auto; margin: 0 14px 0 0; }

/* 2.2.1 Drop-down menus */
#nav li ul  { position: absolute; left: -999em; width: 240px; border: 1px solid #F7F6F6; }
#nav li ul li  {  background: #fff url(images/navtile.jpg) repeat-x left top; border-width: 0 1px 1px; margin:0; padding:0; }
#nav li ul li a  { width: 230px; line-height:30px; font-size:11px; color:#555; }
#nav li ul li a:hover  {background: #e8e8e8; }
#nav li ul ul  { margin: -32px 0 0 250px; }
#nav li ul ul li a  {  }
#nav li ul li ul li a  {  }

#nav li:hover,#nav li.hover  { position:static; }

#nav li:hover ul ul, #nav li.sfhover ul ul,
#nav li:hover ul ul ul, #nav li.sfhover ul ul ul,
#nav li:hover ul ul ul ul, #nav li.sfhover ul ul ul ul { left:-999em; }
#nav li:hover ul, #nav li.sfhover ul,
#nav li li:hover ul, #nav li li.sfhover ul,
#nav li li li:hover ul, #nav li li li.sfhover ul,
#nav li li li li:hover ul, #nav li li li li.sfhover ul  { left:auto; }


/* 2.3 Header */
#header{padding: 0;clear:both;position:relative;
}

#logo  { float:left;}
#logo img  {
	margin-bottom: -55px;
	margin-top: 5px;
}
#logo .site-title { margin-top:10px; }
#logo .site-title, #logo .site-description  { display: none; }
#logo .site-title a { font-size:42px; font-weight:bold; letter-spacing:-1px; line-height:40px; text-transform:uppercase;  }
#logo .site-title a:hover { text-decoration:none; }
#logo .site-description { color:#555; text-transform:uppercase; font-size:12px;}


#topad { float: right; text-align: right;
	margin-top: 22px;
} 
#address  { float: right; text-align: right;
margin: 40px 5px 0 0; color: #555;  }
#address .name  { text-transform: uppercase; font-weight: bold; }
#address .telephone, #address .email, #address .street  { font-size: 12px; line-height: 15px; }

/* 2.4 Featured Slider */


#loopedSlider  { position: relative; z-index: 1; margin:0 auto;
}
#loopedSlider .alignright {margin: 0 0px 8px 20px;float: right;}
#loopedSlider .nav-buttons { list-style-type:none; margin:0; padding:0; position:relative;}
#loopedSlider li#p { position:absolute; top:70px; left:-30px; }
#loopedSlider li#n { position:absolute; top:70px; right:-30px; }

#loopedSlider .container { width:940px; min-height:250px; height: 275px; overflow:hidden; position:relative;  font-size: 16px; color: #919191; background: #f7f7f7;}
#loopedSlider .slides { position:absolute; top:0; left:0; }
#loopedSlider .slides div.slide { position:relative; top:0; padding: 20px 40px 15px; width:860px; display:none;
	height: 240px;
}
#loopedSlider .nav-buttons { list-style-type:none; margin:0; padding:0; position:relative; z-index: 2;}

#loopedSlider .button  { margin: 10px 10px 0 0; padding: 8px 14px 8px; line-height:16px; }

.slider-nav  { position: relative; z-index: 0; text-align: center; width: 910px; height: 49px; }
.slider-nav ul li  { display: inline; }
.slider-nav ul li a  { z-index: 9999;position: relative; margin: 0 20px; padding: 19px 0 16px 0; line-height: 47px; font-weight: bold; font-size: 15px; font-family: "Lucida Grande", Helvetica, Arial, Sans-serif; }
.slider-nav ul li.active a, .slider-nav ul li a:hover  { color: #fff; background: url(images/slider-nav-active.png) no-repeat center top; }

.slider-image {	border: 1px solid #ccc;
	padding: 5px;
}

#featured  { margin-bottom: 10px; }
#featured h2  { margin: 0 0 10px 0; font-size: 35px; color: #434343;  }
#featured h4 { font-size:18px; color:#333; font-family:Arial, Helvetica, sans-serif; line-height:22px; letter-spacing:1px; }
#featured p { font-size:14px; color:#666; line-height:20px; margin-bottom:20px;}

#loopedSlider .slides ol, #loopedSlider .slides ul { line-height: 18px; }
#loopedSlider .slides ul { padding-left: 20px; }
#loopedSlider .slides ul li { list-style: dot; padding: 3px 0; }
#loopedSlider .slides ol { padding-left: 20px; }
#loopedSlider .slides ol li { list-style: decimal; padding: 3px 0; }


/* 2.5 Content */
#content{padding:0;}

#main{width:580px;}

#map{width:580px;}

#main.box  { width: 540px; background: #fff;
	margin-bottom: 10px;
	padding: 20px 20px 0;
}
	
#map.box  { width: 540px; background: #fff;
	padding: 20px 20px 0;
	margin-bottom: 25px;
	}
	
#video  { width: 320px; background: #fff;
	padding: 20px 20px 0;
	margin-bottom: 25px;	
}

#main.fullwidth  { width: 900px; }

#main.punto  { width: 900px; }

/* 2.6 Sidebar */
#sidebar{width:340px;}

#sideblock{width:300px; background: #fff;
	padding: 20px 20px 0;
	margin-bottom: 25px;
	}
	
	
#sideblock ul li  { border-bottom: 1px solid #eee; background: url(images/widgetbullet.png) no-repeat 7px 12px; }

#sideblock h3  { margin: 0; padding: 0 0 10px; font-size: 16px; text-transform:uppercase; border-bottom: 1px solid #eee;  }
	
#sideblock ul li a  { padding: 0 0 0 20px; line-height: 30px; text-decoration: none; color:#666;  }
#sideblock ul li a:hover  { color: #000; }
#sideblock ul ul  { padding: 0 0 0 15px; border-top: none; }

/* 2.7 Footer */
#footer  { font-size: 11px; padding: 10px 0 0;
}
#footer a:hover { text-decoration:underline; }
#footer h3  { margin: 10px 0;
	color: #fff;
}
#footer p  { margin: 0 0 18px 0;
}
#footer .top  { margin: 0 10px; padding: 0 0 20px 0; }
#footer .bottom  { margin: 0 10px; padding: 5px 10px 25px; font-size: 12px; text-transform: uppercase; }
#footer .bottom p  { margin: 0; }
#footer #widget-left  { width: 550px; margin: 0 0 0 10px; }
#footer #widget-right  { width: 310px; margin: 0 10px 0 0; }
#footer #credit img  { vertical-align: bottom; }
#footer #credit span  { display: none; }
#footer #credit  { margin-top: -3px; }
#footer .widget { padding:0; margin:0 0 20px; background:none; }

/* My Comment 

#footer .widget ul li  { line-height: 25px; }
#footer .widget a:link, #footer .widget a:visited  { }
#footer .widget a:hover  {  }

*/
#footer .widget ul li  { border-bottom: 1px solid #eee; background: url(images/widgetbullet2.png) no-repeat 7px 12px;
	color: #fff;
	font-size: 14px;
}
#footer .widget ul li a  { padding: 0 0 0 20px; line-height: 30px; text-decoration: none; color: #ccc;  }
#footer .widget ul li a:hover  { color: #000; }
#footer .widget ul ul  { padding: 0 0 0 15px; border-top: none; }

/* My Comment */

#footer #wp-calendar th  {  }
#footer #wp-calendar caption  { margin-top: -22px; }
#footer #wp-calendar th, #footer #wp-calendar td  {  }

#footer .widget_tag_cloud div  { margin: 0; }

#footer .widget_woo_twitter ul  { }
#footer .widget_woo_twitter li  { padding: 4px 0 4px 10px; }

#footer .widget input#s, .widget input.field  { width: 190px; background-color: #fff; }

#footer .widget_woo_flickr .wrap  { margin: 0; }
#footer .widget_woo_flickr a img  { float: left;  margin: 0 0 10px 0; padding: 0; display: block; }
#footer .widget_woo_flickr a:hover img  {  }

#footer .widget_woo_news ul li .meta  { padding: 0 10px 0 0; }

/*-------------------------------------------------------------------------------------------*/
/* 3. POSTS */
/*-------------------------------------------------------------------------------------------*/

#breadcrumb { display: block; width: 100%; margin:0 0 30px; padding:0 0 10px; font-size: 14px; font-weight: bold; border-bottom:#EBEBEB 1px solid;}

.archive_header  { display: block; float: left; width: 100%; margin:0 0 30px; padding:0 0 10px; font-size: 18px; font-weight: bold; border-bottom:#EBEBEB 1px solid; }
.archive_header .catrss a  { font-size: 14px; text-decoration: none; line-height: 28px; }

.destacados  { margin: 0; padding: 0 0 20px; background: none;
	height: 120px;
}

.post  { margin: 0; padding: 0 0 20px; background: none;
}

.post.home { padding: 0; margin:0; background: none !important; }

.post .title, .page .title  { position:relative; margin: 0 0 10px 0; line-height: 25px; font-size: 26px;
	color: #d61c1c;
}
.post .title a:link, .post .title a:visited  { color: #d61c1c; text-shadow: 1px 1px 0 #fff; }
.page .title  { margin: 0 0 20px 0; }

.post-meta{ margin: 0 0 15px 0; text-transform: uppercase; font-size: 11px; color: #595959; font-weight: bold; }
.post-meta span  { padding: 0; background:none !important;}
.post-meta .bull  { padding: 0; color:blue;}
.post-meta .date  { padding-left: 0; }
.post-meta .comments  { background: none; }

.post p.tags{background:url(images/ico-tag.png) no-repeat center left;padding-left:25px;clear:both;}

.entry  {}

/* 3.1 Typographic Elements */
.entry h1 { font-size: 20px; }  .entry h2 { font-size: 18px; }  .entry h3 { font-size: 16px; }  .entry h4 { font-size: 14px; }  .entry h5 { font-size: 12px; }  .entry h6 { font-size: 12px; }
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6  {	margin: 0 0 15px 0; }

.entry p  { margin: -9px 15px 15px 0;
	font-size: 13px;
	line-height: 1.4;
}

.arc p  {
	font-size: 13px;
	line-height: 1.4;
	margin-right: 15px;
	margin-top: 3px;
	margin-left: 15px;
}

.entry blockquote  { font-style: italic; margin: 25px 0 25px 10px; padding: 0px 20px; color: #666; }
.entry blockquote p  {}

.entry ul  { margin: 0 0 15px 0; padding: 0 0 0 15px; }
.entry ul ul  { margin: 0; }
.entry ul li  {	list-style-type: circle; }
.entry ul ul li  { list-style-type: disc; }

.entry ol  { margin: 0 0 15px 0; padding: 0 0 0 20px; }
.entry ol ol  { margin: 0; }
.entry  ol li  { list-style-type: upper-latin; }
.entry  ol li ol li  { list-style-type: lower-latin; }

/* 3.2 Images */
.img.thumbnail  { padding: 5px;	border: 1px solid #ccc; }

.entry img { padding: 5px;	border: 1px solid #ccc;
	margin-top: 10px;
	margin-bottom: 10px;
}

.post.home .entry img { border:none; }
img.wp-smiley  { padding: 0; border: none; }

.alignleft  { float: left; width: auto; margin: 2px 15px 10px 0; padding: 5px;	border: 1px solid #ccc; }
.alignright  { float: right; width: auto; margin: 2px 0 10px 15px; }
.aligncenter  { text-align: center; }

.entry .wp-caption { padding: 1px; text-align:center; background:#F8F8F4; border: solid 1px #e6e6e6; }
.entry .wp-caption img  { margin:0; padding:4px 0; background:none; border:0; }
.entry .wp-caption-text { margin:0; padding:0; font-size:11px; text-align:center; }

/* 3.3 Pagination / WP-Pagenavi */
.more_entries {font-size:15px!important; margin: 10px 0 15px;
	border-top-color: #e6e6e6;
	border-top-width: 1px;
}
.wp-pagenavi {font-size:15px!important; margin: 10px 0 15px;
}

.more_entries a { display: block; text-decoration:none; }
.more_entries a:hover { text-decoration:underline; }
.wp-pagenavi { margin: 0 !important; padding: 7px 0 5px 0; background: #fff; 
}
.wp-pagenavi a:link,
.wp-pagenavi a:visited { display: inline !important; text-decoration: none !important;color: #666 !important; padding: 3px 7px !important; border:none!important; }
.wp-pagenavi .current, 
.wp-pagenavi .on,
.wp-pagenavi a:hover { font-weight: bold; padding: 3px 7px !important; border: none!important; }
.wp-pagenavi .extend, .wp-pagenavi span.pages { padding: 0 15px 0 15px!important; background:none !important;  color: #434343!important; font-size: 12px; line-height: 25px; border: NONE!important; }


/*-------------------------------------------------------------------------------------------*/
/* 4. WIDGETS */
/*-------------------------------------------------------------------------------------------*/

/* 4.2 Generic Widgets */


.widget  { margin: 0 0 10px; padding: 15px 15px 20px; background: #fff;  }
.widget ul  { clear:both;}
#sidebar .widget h3  { margin: 0; padding: 0 0 10px; font-size: 16px; text-transform:uppercase; border-bottom: 1px solid #eee;  }
#sidebar .widget ul li  { border-bottom: 1px solid #eee; background: url(images/widgetbullet.png) no-repeat 7px 12px; }
#sidebar .widget ul li a  { padding: 0 0 0 20px; line-height: 30px; text-decoration: none; color:#666;  }
#sidebar .widget ul li a:hover  { color: #000; }
#sidebar .widget ul ul  { padding: 0 0 0 15px; border-top: none; }

#sidebar .widget_recent_comments li  { padding-left: 20px!important; background: url(images/widgetbullet.png) no-repeat 7px 12px!important; }
#sidebar .widget_recent_comments li, #sidebar .widget_woo_twitter li  { padding: 6px 0; line-height: 18px; border-bottom: 1px solid #eee; } /* RESET LI STYLING FOR RECENT COMMENT & TWITTER */
#sidebar .widget_recent_comments li a, .widget_woo_twitter a  { display: inline; padding: 0!important; line-height: 18px!important; background: none!important; border: none!important; } /* RESET <A> STYLING FOR RECENT COMMENT & TWITTER */

/* 4.X Right panel */
.right  { margin: 0 0 20px 0; padding: 15px 15px 20px; background: #fff;  }
.right ul  { clear:both;}
#sidebar .right h3  { margin: 0; padding: 0 0 10px; font-size: 16px; text-transform:uppercase; border-bottom: 1px solid #eee;  }
#sidebar .right ul li  { border-bottom: 1px solid #eee; background: url(images/rightbullet.png) no-repeat 7px 12px; }
#sidebar .right ul li a  { padding: 0 0 0 20px; line-height: 30px; text-decoration: none; color:#666;  }
#sidebar .right ul li a:hover  { color: #000; }
#sidebar .right ul ul  { padding: 0 0 0 15px; border-top: none; }

#sidebar .right_recent_comments li  { padding-left: 20px!important; background: url(images/rightbullet.png) no-repeat 7px 12px!important; }
/* End 4.X Right panel */

/* 4.2 Specific Widgets */

/* NEWS WIDGET */
.widget_woo_news  {  }
.widget_woo_news h3 { float: left;}
.widget_woo_news a.rss  { float: right; display: block; height: 20; overflow: hidden; margin: 3px 10px 0 0; width: 21px;}
#sidebar .widget_woo_news ul li a  { padding: 0; background: none; }
#sidebar .widget_woo_news ul li  { padding: 0 0 0 20px; }
.widget_woo_news ul li .meta  { float: right; padding: 9px 10px 0 0; font-size: 10px; text-transform: uppercase; color:#666;  }

/* WIDGET FORMS */
#searchform  { margin: 15px 0 6px 0; }
.widget input#s, .widget input.field  { float: left; width: 180px; padding: 6px 0 6px 5px; border: 1px solid #d0d0d0; background: #eee; margin:0; }
.widget input.submit  { margin: 0px 0 0 10px; }
.widget input.submit  {}
.widget .screen-reader-text  { display: none; }

/* TAG CLOUD */
.widget_tag_cloud div  { margin: 10px; }

/* TWITTER */
.widget_woo_twitter  { background: #fff url(images/ico-twitter.png) no-repeat 287px 13px; }
#sidebar .widget_woo_twitter li  { padding-left: 5px; background: none!important; }

/* FLICKR */
.widget_woo_flickr h3  {}
.widget_woo_flickr h3 span{color:#0061D8;}
.widget_woo_flickr h3 span span{color:#FF1183;}
.widget_woo_flickr .wrap  { margin: 10px 0 0 0!important; }
.widget_woo_flickr .flickr_badge_image  { width: 75px; float: left; margin: 4px 10px; }

.widget_woo_flickr .wrap  { margin-left: -5px; position: relative; margin-bottom: 25px; padding: 0; }
.widget_woo_flickr a img  { float: left;  margin: 0 0 10px 10px;  display: block; padding: 3px;}
.widget_woo_flickr a:hover img  {  }

/* ADS */

.adspace-widget h3  { text-align: left!important; margin-bottom: 10px!important; }
.adspace-widget { text-align:center; }

/* LIFESTREAM */
.widget_lifestream ul li  { border-bottom: 1px solid #e0e6e6; }
.widget_lifestream ul li a  { border:none; background:none!important; }
.widget_lifestream ul .lifestream_meta  { color: inherit; }

/* CALENDAR */
#wp-calendar  { width:100%;margin-bottom:15px;clear:both;padding:0;border: 1px solid #E7E7E7;}
#wp-calendar caption{ 	padding:10px; text-transform: uppercase; font-size: 11px; }
#wp-calendar th,#wp-calendar td{text-align:center;background:#E7E7E7;color:#9E9E9E;padding:5px 0 1px 0;border: 1px solid #E7E7E7;}
#wp-calendar td{background:transparent;}
#wp-calendar #prev  { padding: 0 0 0 10px; text-align: left; text-transform: uppercase; font-weight: bold; font-size: 11px; }


/*-------------------------------------------------------------------------------------------*/
/* 5. COMMENTS */
/*-------------------------------------------------------------------------------------------*/

/* 5.1 Comments */
#comments {margin-top:20px;padding:0; zoom:1;}
#comments h3 { float: left; }
#comments .commentlist  { margin: 30px 0 0 0; }
#comments .leavecomment  { float: right; padding: 10px 14px 7px; }
#comments .comment { width:100%;list-style-type:none; }
#comments .comment.depth-1  { border:0 !important; }
#comments .avatar-box  { float: left; width: 61px; background: url(images/commentbg.png) no-repeat right 10px; }
#comments .avatar-box img  {  }
#comments .comment .comment-container  { margin: 0px 0 20px 60px; padding: 10px; border: 1px solid #eee; }
#comments .comment-head  { margin: 0 0 15px 0; }
#comments .comment-head .avatar img{margin: 0 10px 0 0;vertical-align: middle;border:3px solid #eee;}
#comments .comment-head .name  { display: block; margin: 0 0 -5px 0; font-weight: bold; font-size: 15px; }
#comments .comment-head .date, #comments .comment-head .edit, #comments .comment-head .perma { font-size: 11px; }
#comments .comment-entry p  { margin: 0 0 10px 0;}

#comments ul.children{margin:0 0 0 25px;padding:0;}
 #comments .comment-reply-link  { margin-bottom: 10px; }
#comments .cancel-comment-reply{ font-size: 11px; text-transform: uppercase; }
.reply a  { padding: 4px 6px 1px!important; }

#comments .navigation { }
#comments .navigation a{ display: block; margin: 15px 0 0 0; text-decoration: none; }
#comments .navigation a:hover{}

/* 5.2 Pingbacks / Trackbacks */
h3#pings  { margin: 20px 0 10px 0; }
.pinglist li  { margin: 0 0 0 20px; list-style-type: decimal; }
.pinglist li .author  { font-weight: bold; font-size: 15px; }
.pinglist li .date  { font-size: 11px; }
.pinglist li .pingcontent  { display: block; margin: 10px 0; }
.pinglist { clear:both; }

/* 5.3 Comments Form */
#respond  { margin: 15px 0 0 0; }
#respond h3  { float: none; }

#commentform  {	margin: 15px 0; padding: 20px 10px 5px; }
#commentform label  { font-size: 11px; text-transform: uppercase; }
#commentform input.txt  { width: 300px; margin: 0 5px 10px 0; padding: 7px 5px; }
#commentform textarea  { width: 97.5%!important; padding: 5px; }
#commentform #submit  { float: right; margin: 8px 0 5px; }


/*-------------------------------------------------------------------------------------------*/
/* 6. MISC */
/*-------------------------------------------------------------------------------------------*/

/* 6.1 Buttons */
.button, .button:visited, .reply a{ background: url(images/alert-overlay.png); display: inline-block; padding: 8px 14px 9px; color: #fff !important; text-decoration: none; border:none; position: relative; cursor: pointer; text-transform:uppercase; }
.button, .button:visited, .reply a{ }
.button:hover, .reply a:hover { color: #fff !important; text-decoration:none; }
.button:active, .reply a:active { top: 1px; }
.small.button, .small.button:visited, .reply a { font-size: 10px; padding: 2px 6px 3px; text-transform:uppercase;}
.button, .button:visited, .medium.button, .medium.button:visited { font-size: 13px; font-weight: bold; line-height: 1; }
.large.button, .large.button:visited { font-size: 14px; padding: 10px 18px 11px; }
input.button { padding: 5px 9px 6px; }

/* 6.2 Info Boxes */
p.alert, p.download, p.info, p.note, p.tick {  margin:10px 0 20px 0; padding:9px 10px 9px 50px; }
p.alert { border-top:1px solid #f0baa2; border-bottom:1px solid #f0baa2; background:#ffd9c8 url(images/ico-alert.png) no-repeat 20px 13px; }
p.download { border-top:1px solid #d4ebaf; border-bottom:1px solid #d4ebaf; background:#edfcd5 url(images/ico-download.png) no-repeat 20px 13px; }
p.tick { border-top:1px solid #d4ebaf; border-bottom:1px solid #d4ebaf; background:#edfcd5 url(images/ico-tick.png) no-repeat 20px 13px; }
p.info { border-top:1px solid #ccc; border-bottom:1px solid #ccc; background:#eee url(images/ico-info.png) no-repeat 20px 13px; }
p.note { border-top:1px solid #efe3ae; border-bottom:1px solid #efe3ae; background:#fef6d2 url(images/ico-note.png) no-repeat 20px 13px; }

/* 6.3 Contact Form */
#contact-page .screenReader { left: -9999px; position: absolute; top: -9999px; }
#contact-page ol.forms{float:left;list-style:none;width:100%;margin:10px 0 0;}
#contact-page ol.forms li{clear:both;float:left;margin-bottom:18px;position:relative;width:100%}
#contact-page ol.forms label{cursor:pointer;display:block;float:left;font-weight:700;padding-right:20px;width:100px;}
#contact-page ol.forms input.txt{width:214px;}
#contact-page ol.forms input#sendCopy{border:none;}
#contact-page ol.forms textarea{height:300px;width:400px;}
#contact-page ol.forms li .error{font-size:12px;display:block;margin-left:120px;color:red;}
#contact-page ol.forms li.textarea .error{display:block; margin-left:120px}
#contact-page ol.forms li.screenReader{margin-bottom:0;}
#contact-page ol.forms li.buttons .submit{margin: 15px 0 0 120px; }
#contact-page ol.forms li.inline input{width:auto;margin-left:120px;}
#contact-page ol.forms li.inline label{display:inline;float:none;width:auto;}

.video {
	display: block;
	float: left;
	overflow: hidden;
	width: 288px;
	margin: 0 0 10px 0;
	padding: 2px 5px 10px 5px;
	text-align: center;
	}
.video div {
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	display: block;
	}
object { padding: 0; margin: 0; }

.cat  { display: block; float: left; width: 100%; margin:0 0 20px; padding:0 0 10px; font-size: 16px; font-weight: bold; border-bottom:#EBEBEB 1px solid; }








