body {
	background-color: #FFFFFF;/*themecolour4;*/
	background: url("/images/bg_gfi.gif");
	background-repeat:no-repeat;
	background-position: center;

	color: #333333;/*themecolour4%0;*/
        padding: 0;
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        font-family: arial, verdana, sans-serif;
        font-size: 11px;
}
textarea:focus, input:focus, select:focus {
	        background-color: #EFEA8D;
	}
table {
	font: 8pt  arial, sans-serif;
	color: #333333;
}
p {
	margin-top: 0px;
	margin-bottom: 0px;
}
blockquote {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 15px;
	color: #333333;/*themecolour4%0;*/
}
ol {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 25px;
	color: #333333;/*themecolour3%0;*/
}
ul {
	color: #333333;/*themecolour4%0;*/
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	list-style-image: url(../index_files/index_bullet.gif);
	
}
.panelright ul {
	color: #333333;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	list-style-image: url(../index_files/index_bullitt2.gif);
	
}
.panelmid ul {
	color: #333333;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	list-style-image: url(../index_files/index_bullitt2.gif);
	
}
.panelleft ul {
	color: #333333;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	list-style-image: url(../index_files/index_bullitt2.gif);
	
}
h1 {
	font-size: 16px;
	color: #333333;/*themecolour5%0;*/
	margin-top: 0px;
	margin-bottom: 1px;
}
h2 {
	font-size: 16px;
	color: #c3cace;/*themecolour1;*/
	margin-top: 3px;
	margin-bottom: 3px;
}
h3 {
	font-size: 14px;
	color: #c3cace;/*themecolour1;*/
	margin-top: 3px;
	margin-bottom: 3px;
	padding-left: 12px;
}
h4 {
	font-size: 14px;
	color: #a29393;/*themecolour9;*/
	margin-top: 3px;
	margin-bottom: 3px;
	padding-left: 12px;
}

.leftcoltext {
	padding-left: 0px;
	padding-right: 10px;
	color: #333333;/*themecolour4%0;*/
}
.sidenav {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
}
.divider {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #c3cace;/*themecolour1;*/
}
.rightborder {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
}

.panelleft {
	background-color: #fafbfc;/*themecolour1$ 88.8%, 93.7%;*/
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #999999;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
}
.panelmid {
	background-color: #fafbfc;/*themecolour1$ 88.8%, 93.7%;*/
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
}
.panelright {
	background-color: #fafbfc;/*themecolour1$ 88.8%, 93.7%;*/
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #999999;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
}
.scanlines
{
	background-image: url(../index_files/index_topstrip.gif);
	background-repeat: repeat-x;

}
.rightcoltext {
	padding-left: 10px;
	padding-right: 10px;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #999999;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	color: #333333;/*themecolour4%0;*/
}
.imageborder {
	border: 1px solid #FFFFFF;
}
 a:link {
	color: #666666;/*themecolour5%0;*/
}
 a:visited {
	color: #999999;
}
 a:link:hover {
	color: #ff4000;/*themecolour2;*/
}
.toppanel
{
	background-color:#c3cace;/*themecolour1;*/
}
.topleft {
	background-image: url(../index_files/index_top_left.gif);
	background-repeat: repeat-x;
}
.paraleft {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	background-color:#e1e5e6;/*themecolour1%151;*/
}
.paramid {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	background-color:#e1e5e6;/*themecolour1%151;*/
}
.pararight {
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	background-color:#c3cace;/*themecolour1;*/
}
.leftcolumn {
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #999999;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	color: #333333;/*themecolour4%0;*/
}
.rightcolumn {
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #999999;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
}
.centercolumn {
	padding-left: 10px;
	padding-right: 5px;
	color: #333333;/*themecolour4%0;*/
}

.imagebox {
	padding-top: 3px;
	color: #c3cace;/*themecolour1;*/
	font-weight: bold;
	font-size: 8pt;
}
.highlightbox {
	border: 1px solid #c3cace;/*themecolour1;*/
	background-color: #fafbfc;/*themecolour1$ 88.8%, 93.7%;*/
	padding: 6px;
	color: #333333;
}
.hnavbg  { background-color: #6F6FCE;/*themecolour6;*/ }
.hnavbg2 { background-color: #abb3c3; }
.hnavbg3 { background-color: #d1d1ed; }
.topstrip {
	background-color: #c3cace;/*themecolour1;*/
}
.tituloblanco {  font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 11px; 
		font-style: normal; 
		font-weight: bold; 
		font-variant: normal; 
		color: #FFFFFF}
.titulorojo {  font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 11px; 
		font-style: normal; 
		font-weight: bold; 
		font-variant: normal; 
		color: #A52A2A}
.contenidorojo {  font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 11px; 
		font-style: normal; 
		font-weight: bold; 
		font-variant: normal; 
		color: #FF0000}
.tituloblanco10 {  font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 10px; 
		font-style: normal; 
		font-weight: bold; 
		font-variant: normal; 
		color: #FFFFFF}
.tituloblanco12 {  font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 13px; 
		font-style: normal; 
		font-weight: bold; 
		font-variant: normal; 
		color: #FFFFFF}
.tituloazul {  font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 13px; 
		font-style: normal; 
		font-weight: bold; 
		font-variant: normal; 
		color: navy}
.titulo1 {  font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 11px; 
		font-style: normal; 
		font-weight: bold; 
		font-variant: normal; 
		color: #003399}
.titulogris { font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 11px; 
		font-style: normal; 
		font-weight: bold; 
		font-variant: normal ; 
		color: #666666}
.titulonegro { font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 11px; 
		font-style: normal; line-height: normal; font-weight: bold; font-variant: normal ; color: #000000}
.fondoamarillo { font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 11px;background-color: #EFEA8D;
		font-style: normal; line-height: normal; font-weight: bold; font-variant: normal ; color: #000000}

.titulonegro12 { font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 13px; 
		font-style: normal; 
		font-weight: bold; 
		font-variant: normal ; 
		color: #000000}
.contenidogris { font-family: Verdana, Arial, Helvetica, sans-serif; 
		font-size: 11px; 
		font-style: normal; 
		line-height: normal; 
		font-weight: normal; 
		font-variant: normal ; 
		color: #333333}
.contenidonegro { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal ; color: #000000}
.contenidonegro9 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal ; color: #000000}
.contenidonegro12 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal ; color: #000000}
.contenidoblanco { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal ; color: #FFFFFF}
.tituloruta {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; color: #000066}
.tituloazulbig {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 15px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; color: #000066}

.blanco {
        background: #ffffff;
        padding: 0;
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        font-family: arial, verdana, sans-serif;
        font-size: 11px;
}
.gris {
        background: #787878;
        padding: 0;
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        font-family: arial, verdana, sans-serif;
        font-size: 11px;
}

a {	text-decoration:none; 
	color:#006666; 
	font-family:tahoma,verdana;
	font-size:13px;
}
a:hover {
	color:#1e3ca0; 
	text-decoration:underline; 
	}*/
H1.SaltoDePagina { PAGE-BREAK-AFTER: always; }


/* CSS Document */

.to_continue
{
	font-size: 9px;
}

A.minicalendar 
{ 
	color: #000000; 
	font-size: 9px;
	
}

A.bminicalendar 
{ 
	color: #336699; 
	font-style: italic;
	font-weight: bold;
	font-size: 9px; 
}

A.minicalendargrey 
{ 
	color: #999999; 
	font-size: 10px;
	font-weight: bold;
}

A.bminicalendargrey 
{ 
	color: #336699; 
	font-style: italic; 
	font-size:10px; 
}

A.minicalhol
{ 
	padding-left:3px;
	padding-right:3px;
	background: #dab0b0;
	color: #000000; 
	font-size: 10px; 
}

A.bminicalhol
{ 
	padding-left:3px;
	padding-right:3px;
	background: #dab0b0;
	color: #336699; 
	font-size: 10px; 
}

A.minicalgreyhol
{ 
	padding-left:3px;
	padding-right:3px;
	background: #dab0b0;
	color: #999999; 
	font-size: 10px; 
}

A.bminicalgreyhol
{ 
	padding-left:3px;
	padding-right:3px;
	background: #dab0b0;
	color: #999999; 
	font-size: 10px; 
}


.event-on
{ 
	background: #D3DCE3;
	border: #E8F0F0 1px solid;
}

.event-off
{ 
	background: #E8F0F0;
	border: #D3DCE3 1px solid;
}

.event-holiday
{
	font-size: 100%;
	background: #dac0c0;
	color:#000000;
	vertical-align: middle;
}

.time
{
	background: #D3DCE3;
	color:#000000;
	font-size: 10px;
	font-weight: bold;
	vertical-align: middle;
	width: 5.2%;
	text-align: right;
	padding-right: 5px;
	line-height: 11px;
	border: #E8F0F0 1px solid;
}


.planner-cell
{
	cursor: pointer;
	cursor: hand;
	border: thin solid black;
}

/* common */
.calendar_link_print
{
	text-align: center;
	font-size: 10px;
}

//Mini Calendar

.calendar_minical_table
{
	width: 180px;
	font-weight: bold;
}

.calendar_minical_daytable
{
	width: 100%;
}

.calendar_minical_dayname
{
	font-size: 9px;
	text-align: right;
}

.calendar_minical_hrule
{
	width: 96%;
}

/* Header */
.calendar_dropbuttons
{
	align: center;
	text-align: center;
	vertical-align: bottom;
	font-weight: bold;
	font-size: 8px;
}

.calendar-weekidentifier
{
	font-size:16px;
	font-weight: bold;
	text-align: center;
}

.calendar_header
{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.calendar_dayview_table_header
{
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}

.calendar_dayview_todo_header
{
	margin: 0px; 
	padding: 2px;
	font-weight: bold;
}

/* week view */
.calendar_week_identifier_table
{
	border: 0px solid black;
	width: 100%;
}

.calendar_week_identifier
{
	font-size: 13px;
	text-align: center;
	font-weight: bold;
}

.calendar_weekview_daytitle
{
	font-weight: bold;
	font-size: 12px;
	background: #D3DCE3;
}

.calendar_m_w_table
{
	table-layout:fixed;
	overflow:auto;
	height: 100%;
	width: 100%;
	border: 0px #000000 solid;
}

.calendar_m_w_table_row
{
	height: 80px;
}

.calendar_m_w_tablecell
{
	vertical-align: top;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 6px;
}

A.event_entry
{
	font-size:10px;
}

/* month view */

.calendar_month_identifier
{
	font-size:14px;
	font-weight: bold;
}

.calendar_user_identifier
{
	font-size:12px;
	color: #009999;
	font-weight: bold;
}

.calendar_week_minical_table
{
	width:100%;
	border: 0px solid #000000
}

.calendar_weekinfo
{
	color: #000000;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 10px;
	font-weight: bold;
	font-style: italic;
}

.row_on  { color: #000000; background-color: #DDDDDD; }
.gris  { color: #000000; background-color: #d3d3d3; }
.row_off { color: #000000; background-color: #E8F0F0; }
.th 	 { color: #000000; background-color: #D3DCE3; }
.mnav div a:hover {
	background-color: #D3D3D3;
	border: 1px solid #1e3ca0;
	border-bottom: 1px solid #1e3ca0;
	text-decoration:none; 
	color: #000000;
}

.tabla { width:100%; align:right; padding: 0em 5em 0em;color: #000000; background-color: #D3DCE3;}

div#commentForm
{
  margin: 0px 20px 0px 20px;
  display: none;
}
.celda_bordes {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	color: #266199;
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	border: 1px solid #266199;
}
.celda_bordes_rojos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	color: #266199;
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	border: 1px solid #A52A2A;
}
.celda_bordes2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	color: #266199;
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	border: 2px solid #266199;
}
.celda_bordesinteriorportal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	color: #266199;
	background-color: #FFFFFF;
	background-repeat: repeat-x;
	border: 0px solid #cccccc;
	padding: 0px;
	margin: 0px;
	background-image: url(../images/nubes.gif);
	background-position: top;
}