html, body
{
	height: 100%;
    background: #F5F5F5;
	font-family: Arial;
	font-size: 16px;
	margin:0;
	padding: 0;
	text-align: center;
	width: 100%;
}

fieldset
{
	background: white;
	height: 90%;
	width: 30%; 
    font-family: arial;
    font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
    padding-top: 20px;

}

legend 
{
    font-family: arial;
	text-align: left;
	font-size: 0.7em;
    
}
button 
{
	background: #DC143C;
	color: white;
	border: 1px solid;
	width: 300px;
	height: 40px;
	border-radius: 10px;
}
button:hover
{
	background: 	#8B0000;
}