
<html xmlns="http://www.w3.org/1999/xhtml">
<link href="../estilos1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:389px;
	top:183px;
	width:415px;
	height:155px;
	z-index:13;
}
#Layer3 {
	position:absolute;
	left:174px;
	top:144px;
	width:198px;
	height:161px;
	z-index:14;
}
-->
</style>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Autentificación</title>
<style type="text/css">
<!--
#Layer2 {	position:absolute;
	left:831px;
	top:53px;
	width:132px;
	height:116px;
	z-index:1;
}
.Estilo1 {
	color: #FF0000;
	font-weight: bold;
	font-size: 36pt;
}
-->
</style>
<script Language="Javascript" SRC="http://www.searchnc.com/cgi-bin/myip.pl"></script>
<script type="text/JavaScript">

function cerrar()
{
window.close();
}

function Auntentificar(){
		if (document.form1.login.value==''){
				alert("Ingresar Usuario");
				document.form1.login.focus();
				return;
			}
		if (document.form1.pass.value==''){
				alert("Ingresar Contrase&ntilde;a");
				document.form1.pass.focus();
				return;
			}     
	document.form1.auntentificar.value="si";
	document.form1.submit();
}

function submitenter(myfield,e)
	{
		var keycode;
		if (window.event) keycode = window.event.keyCode;
		else if (e) keycode = e.which;	
		else return true;

		if (keycode == 13)
			{
				myfield.form.submit();
				return false;
			}
		else
		return true;
	}
	
function iSubmitEnter(oEvento, oFormulario)
	{ 
    	var iAscii; 
     	if (oEvento.keyCode) 
         	iAscii = oEvento.keyCode; 
     	else 
			if (oEvento.which) 
         		iAscii = oEvento.which; 
     		else 
         		return false; 
		if (iAscii == 13) 
			Auntentificar();

     return true; 
} 
</script>
</head>
<body>
<div id="Layer1">
  <form id="form1" name="form1" method="post" action="" onSubmit="Auntentificar();">
    <table width="385" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="2" class="celdalazul"><label></label></td>
      </tr>
      <tr>
        <td width="115" class="celdalazul"><label>Usuario :           
        &nbsp;&nbsp;</label></td>
        <td width="270" class="celdalCELEST">
        <input name="login" type="text" id="campo1">
        </td>
    </tr>
      <tr>
        <td class="celdalazul"><label>Password :</label></td>
        <td class="celdalCELEST"><input name="pass" type="password" id="campo2" onkeypress="iSubmitEnter(event, document.form1)" >
        </td>
      </tr>
      <tr><!--
        <td class="celdalazul">Contrase&ntilde;a Seguridad 
          Mes</td>-->
        <td class="celdalCELEST" colspan="3" align="center"><!--<input name="contrasena" type="password" id="contrasena">-->
        <center>
        <input name="Submit" type="button" class="BotonTurist_Celest" value="Aceptar" onClick="Auntentificar()">
        </center>
        </td>
      </tr>
      <tr>
        <td colspan="2"></td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
    </table>
    <p>&nbsp;</p>	
	<input type="hidden" name="auntentificar" />
	<div class="celdalazul" id="flag" style="position:absolute; left:-15px; top:-44px; width:355px; height:22px; z-index:3; border:0pt black solid;">
          <table width="311" height="29" border="0" align="center" cellpadding="2" cellspacing="2">
            <tr> {flag} </tr>
          </table>
    </div>
  </form>
</div>
<div id="Layer5"></div>
<div class="TituloPlomo" id="Layer3">
  <table width="200" border="0" cellpadding="0" cellspacing="0">    
    <tr>
      <td><div align="center"><img src="../Imagenes/turistik146_164.jpg" width="146" height="164"></div></td>
    </tr>
  </table>
</div>
</body>
</html>
