<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Construccion</title>
<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	left:82px;
	top:36px;
	width:418px;
	height:396px;
	z-index:1;
}
#Layer2 {
	position:absolute;
	left:391px;
	top:301px;
	width:520px;
	height:137px;
	z-index:2;
}
.Estilo1 {
	font-size: 24px;
	font-weight: bold;
	color: #FF0000;
}
.Estilo5 {font-size: 18px}
-->
</style>
</head>

<body>
<div id="Layer1"><img src="../Imagenes/turistik332_360.jpg" width="302" height="360" /></div>
<div id="Layer2">
  <p><img src="../Imagenes/contru.gif" width="114" height="123" /><span class="Estilo1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sitio en Construcci&oacute;n  </span><br />
    </p>
  <p><span class="Estilo5">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Disculpe las Molestias <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Estamos Trabajando para usted </span><br />
  </p>
</div>
</body>
</html>
